<!DOCTYPE html>
<html data-ng-app="Proulex">
    <head>
        <title>Liverpool Portal Único</title>
        <meta charset="UTF-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        <meta name="viewport" content="width=1024">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />   
        <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="css/sidebar.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/morris.css" />
        <link rel="stylesheet" type="text/css" href="css/circle.css" /> 
        <link rel="stylesheet" type="text/css" href="css/emails.css" /> 
    </head>
    <body>
        <section id="main-wrapper">
            <header id="header" class="header-top navbar">
                <div class="brand">
                    <img src="img/logo.png" alt="Liverpool" />
                    <button id="toggle-left" class="sidebar-toggle visible-xs">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-left">
                    <li class="breadcrumb-wrapper hidden-xs">
                        <ol class="breadcrumb">
                            <li>
                                <a>Dashboard</a>
                            </li>
                            <li class="active">
                                Clima
                            </li>
                        </ol>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown profile hidden-xs">
                        <span class="meta">
                            <span class="text">Bienvenido <span>Jorge</span></span>
                        </span>
                    </li>
                    <li class="dropdown profile hidden-xs">
                        <span class="meta">
                            <span class="link">
                                <a data-ng-click="logout()">
                                    <i class="fa fa-times"></i> Cerrar
                                </a>
                            </span>
                        </span>
                    </li>
                </ul>
            </header>
            
            <aside class="side-navigation-wrap sidebar sidebar-left">                
                <nav>
                    <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
                        <li>
                            <a href="#" title="Clima">
                                <i class="fa fa-2x fa-cloud"></i> Clima
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Resultado Seguimiento">
                                <i class="fa fa-2x fa-list-alt"></i> Resultado Seguimiento
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Matriz de Resultados">
                                <i class="fa fa-2x fa-th"></i> Matriz de Resultados
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Debilidades/Fortalezas">
                                <i class="fa fa-2x fa-list-ul"></i> Debilidades/Fortalezas
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Respuestas Abiertas">
                                <i class="fa fa-2x fa-question"></i> Respuestas Abiertas
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Histórico">
                                <i class="fa fa-2x fa-history"></i> Histórico
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Búsqueda">
                                <i class="fa fa-2x fa-search"></i> Búsqueda
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Avance">
                                <i class="fa fa-2x fa-line-chart"></i> Avance
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Plan de acción">
                                <i class="fa fa-2x fa-paper-plane"></i> Plan de acción
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Correo">
                                <i class="fa fa-2x fa-envelope"></i> Correo
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>
            
            <!-- Pagina "Emails" -->
            <div class="main-content-wrapper">
                <div class="content">

                    <div class="row">
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
                                <div class="form-group">
                                    <label class="blue-title" for="q1">Tipo de encuesta</label>
                                    <select id="q1" class="form-control selects">
                                        <option>Encuesta Clima Corporativo</option>
                                        <option>otros</option>
                                    </select>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="blue-title" for="q2">Encuesta</label>
                                    <select id="q2" class="form-control selects">
                                        <option>Encuesta Clima Corporativo 2016</option>
                                        <option>otros</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 bq-ficha white-box">
                                <div class="row rows-ficha">
                                    <div class="col-xs-12 col-sm-5 col-md-3 text-right">
                                        <label class="blue-title">Fecha de envío</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-5">
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3"></div>
                                </div>
                                <div class="row rows-ficha">
                                    <div class="col-xs-12 col-sm-5 col-md-3 text-right">
                                        <label class="blue-title">Correos enviados</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-5">
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3">
                                        <button class="btn btn-primary btn-blue col-xs-12" data-toggle="modal" data-target="#modal-emails">Detalles</button>
                                    </div>
                                </div>
                                <div class="row rows-ficha">
                                    <div class="col-xs-12 col-sm-5 col-md-3 text-right">
                                        <label class="blue-title">Correos sin enviar</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-5">
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3">
                                        <button class="btn btn-primary btn-blue col-xs-12" data-toggle="modal" data-target="#modal-emails">Detalles</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <div id="modal-emails" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header tab-title">
                        <button type="button" class="close btn-modal-close" data-dismiss="modal">&times;</button>
                        <h4 class="nomargin">Correos enviados</h4>
                    </div>
                    <div class="modal-body nopadding">
                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table table-lp table-striped nomargin">
                                <thead class="tb-white-head">
                                    <tr>
                                        <th class="col-sm-2">Num. de Empleado</th>
                                        <th class="col-sm-2">Nombre</th>
                                        <th class="col-sm-3">Correo</th>
                                        <th class="col-sm-1">Función</th>
                                        <th class="col-sm-2">Mensaje de error</th>
                                        <th class="col-sm-2">Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            12345
                                        </td>
                                        <td class="text-center">
                                            Daniel Morales  
                                        </td>
                                        <td class="text-center">
                                            dmorales@liverpool.com.mx
                                        </td>
                                        <td class="text-center">
                                            R.H.
                                        </td> 
                                        <td class="text-center">
                                            -
                                        </td> 
                                        <td class="text-center">
                                            25/9/2016
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            12345
                                        </td>
                                        <td class="text-center">
                                            Daniel Morales  
                                        </td>
                                        <td class="text-center">
                                            dmorales@liverpool.com.mx
                                        </td>
                                        <td class="text-center">
                                            R.H.
                                        </td> 
                                        <td class="text-center">
                                            -
                                        </td> 
                                        <td class="text-center">
                                            25/9/2016
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            12345
                                        </td>
                                        <td class="text-center">
                                            Daniel Morales  
                                        </td>
                                        <td class="text-center">
                                            dmorales@liverpool.com.mx
                                        </td>
                                        <td class="text-center">
                                            R.H.
                                        </td> 
                                        <td class="text-center">
                                            -
                                        </td> 
                                        <td class="text-center">
                                            25/9/2016
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            12345
                                        </td>
                                        <td class="text-center">
                                            Daniel Morales  
                                        </td>
                                        <td class="text-center">
                                            dmorales@liverpool.com.mx
                                        </td>
                                        <td class="text-center">
                                            R.H.
                                        </td> 
                                        <td class="text-center">
                                            -
                                        </td> 
                                        <td class="text-center">
                                            25/9/2016
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            12345
                                        </td>
                                        <td class="text-center">
                                            Daniel Morales  
                                        </td>
                                        <td class="text-center">
                                            dmorales@liverpool.com.mx
                                        </td>
                                        <td class="text-center">
                                            R.H.
                                        </td> 
                                        <td class="text-center">
                                            -
                                        </td> 
                                        <td class="text-center">
                                            25/9/2016
                                        </td>                                        
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <br>
                            <div class="row text-center nomargin">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination pagination-sm">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">< Ant.</span>
                                            </a>
                                        </li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">Sig. ></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>

                            </div>
                            <br>
                            <div class="row text-center nomargin">
                                <button type="button" class="btn btn-green"><img src="img/icon_guardar.png"></button>
                                <button type="button" class="btn btn-blue"><img src="img/icon_recargar.png"></button>
                                <button type="button" class="btn btn-red"><img src="img/icon_cerrar.png"></button>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="js/components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="js/components/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/components/navgoco/jquery.navgoco.min.js"></script>
        <script type="text/javascript" src="js/components/chartjs/Chart.min.js"></script>
        <script type="text/javascript" src="js/components/chartjs/chartnew.js"></script>
        <script type="text/javascript" src="js/components/morris/morris.min.js"></script>
        <script type="text/javascript" src="js/components/morris/raphael.2.1.0.min.js"></script>
        <script type="text/javascript" src="js/liverpool/general.js"></script>

    </body>
</html>