<!DOCTYPE html>
<html data-ng-app="Proulex">
    <head>
        <title>Liverpool Portal Único</title>
        <meta charset="UTF-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        <meta name="viewport" content="width=1024">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />   
        <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="css/sidebar.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/morris.css" />
        <link rel="stylesheet" type="text/css" href="css/circle.css" /> 
    </head>
    <body>
        <section id="main-wrapper">
            <header id="header" class="header-top navbar">
                <div class="brand">
                    <img src="img/logo.png" alt="Liverpool" />
                    <button id="toggle-left" class="sidebar-toggle visible-xs">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-left">
                    <li class="breadcrumb-wrapper hidden-xs">
                        <ol class="breadcrumb">
                            <li>
                                <a>Dashboard</a>
                            </li>
                            <li class="active">
                                Clima
                            </li>
                        </ol>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown profile hidden-xs">
                        <span class="meta">
                            <span class="text">Bienvenido <span>Jorge</span></span>
                        </span>
                    </li>
                    <li class="dropdown profile hidden-xs">
                        <span class="meta">
                            <span class="link">
                                <a data-ng-click="logout()">
                                    <i class="fa fa-times"></i> Cerrar
                                </a>
                            </span>
                        </span>
                    </li>
                </ul>
            </header>
            
            <aside class="side-navigation-wrap sidebar sidebar-left">                
                <nav>
                    <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
                        <li>
                            <a href="#" title="Clima">
                                <i class="fa fa-2x fa-cloud"></i> Clima
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Resultado Seguimiento">
                                <i class="fa fa-2x fa-list-alt"></i> Resultado Seguimiento
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Matriz de Resultados">
                                <i class="fa fa-2x fa-th"></i> Matriz de Resultados
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Debilidades/Fortalezas">
                                <i class="fa fa-2x fa-list-ul"></i> Debilidades/Fortalezas
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Respuestas Abiertas">
                                <i class="fa fa-2x fa-question"></i> Respuestas Abiertas
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Histórico">
                                <i class="fa fa-2x fa-history"></i> Histórico
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Búsqueda">
                                <i class="fa fa-2x fa-search"></i> Búsqueda
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Avance">
                                <i class="fa fa-2x fa-line-chart"></i> Avance
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Plan de acción">
                                <i class="fa fa-2x fa-paper-plane"></i> Plan de acción
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Correo">
                                <i class="fa fa-2x fa-envelope"></i> Correo
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>
            
            <div class="main-content-wrapper">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="c100 p86 big pull-right">
                                <span>86%</span>
                                <div class="slice"><div class="bar"></div>
                                <div class="fill"></div></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <p class="rised" style="font-size: 20px; font-weight: bold; padding-top: 50px;">
                                Encuesta de<br />
                                Clima Organizacional<br />
                                2015
                            </p>
                        </div>
                    </div>
                    
                    <div class="row charts">
                        <div class="col-md-3">
                            <div class="chart-title">
                                Organización
                            </div>
                            <canvas id="bar1" height="140"></canvas>
                        </div>
                        <div class="col-md-3">
                            <div class="chart-title">
                                DESARROLLO Y CRECIMIENTO
                            </div>
                            <canvas id="bar2" height="140"></canvas>
                        </div>
                        <div class="col-md-3">
                            <div class="chart-title">
                                CLIENTES
                            </div>
                            <canvas id="bar3" height="140"></canvas>
                        </div>
                        <div class="col-md-3">
                            <div class="chart-title">
                                TRABAJO EN EQUIPO
                            </div>
                            <canvas id="bar4" height="140"></canvas>
                        </div>
                    </div>
                    
                    <div class="separator"></div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive" style="border-radius: 4px;">
                                <table class="table table-lp table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-3">Nivel 1</th>
                                            <th class="col-sm-3">Nivel 1</th>
                                            <th class="col-sm-3">Nivel 1</th>
                                            <th class="col-sm-3">Nivel 1</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="control">
                                                <select class="form-control">
                                                    <option value="">---</option>
                                                </select>
                                            </td>
                                            <td class="control">
                                                <select class="form-control">
                                                    <option value="">---</option>
                                                </select>
                                            </td>
                                            <td class="control">
                                                <select class="form-control">
                                                    <option value="">---</option>
                                                </select>
                                            </td>
                                            <td class="control">
                                                <select class="form-control">
                                                    <option value="">---</option>
                                                </select>
                                            </td>                                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive" style="border-radius: 4px;">
                                <table class="table table-lp table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-3">Nivel 5</th>
                                            <th class="col-sm-3">Nivel 6</th>
                                            <th class="col-sm-3">Nivel 7</th>
                                            <th class="col-sm-3">Nivel 8</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="control">
                                                <select class="form-control">
                                                    <option value="">---</option>
                                                </select>
                                            </td>
                                            <td class="control">
                                                <select class="form-control">
                                                    <option value="">---</option>
                                                </select>
                                            </td>
                                            <td class="control">
                                                <select class="form-control">
                                                    <option value="">---</option>
                                                </select>
                                            </td>
                                            <td class="control">
                                                <select class="form-control">
                                                    <option value="">---</option>
                                                </select>
                                            </td>                                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive" style="border-radius: 4px;">
                                <table class="table table-lp table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-3">Encuestas a realizar</th>
                                            <th class="col-sm-3">Encuestas realizadas</th>
                                            <th class="col-sm-3">% Encuesta</th>
                                            <th class="col-sm-3">Calificación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">
                                                44.456
                                            </td>
                                            <td class="text-center">
                                                56.584
                                            </td>
                                            <td class="text-center">
                                                78.236
                                            </td>
                                            <td class="text-center">
                                                85.631
                                            </td>                                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <script type="text/javascript" src="js/components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="js/components/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/components/navgoco/jquery.navgoco.min.js"></script>
        <script type="text/javascript" src="js/components/chartjs/Chart.min.js"></script>
        <script type="text/javascript" src="js/components/chartjs/chartnew.js"></script>
        <script type="text/javascript" src="js/components/morris/morris.min.js"></script>
        <script type="text/javascript" src="js/components/morris/raphael.2.1.0.min.js"></script>
        <script type="text/javascript" src="js/liverpool/general.js"></script>
    </body>
</html>