<div class="row">
    <div class="col-xs-6">
        <label class="label label-primary lbl-medium lbl-opaque">Solicita: ${challenge.userId} - ${challenge.fullName}</label>
    </div>
    <div class="col-xs-6">
        <label class="label label-primary lbl-medium lbl-opaque" id="status">
            #{if challenge.status == '4'}
            EN PROCESO
            #{/if}
            #{elseif challenge.status == '5'}
            CERRADA - SI PROCEDE IMPUGNACION - 
            #{/elseif}
            #{elseif challenge.status == '6'}
            CERRADA - NO PROCEDE IMPUGNACION
            #{/elseif}
            #{elseif challenge.status == '7'}
            CERRADA - NO PROCEDE IMPUGNACION<br>
            REPLICA
            #{/elseif}
            #{elseif challenge.status == '8' || challenge.status == '10'}
            CERRADA - NO PROCEDE IMPUGNACION<br>
            SI PROCEDE REPLICA - 
            #{/elseif}
            #{elseif challenge.status == '9' }
            CERRADA - NO PROCEDE IMPUGNACION<br>
            NO PROCEDE REPLICA
            #{/elseif}
            #{else}

            #{/else}
        </label>
    </div>
    <div class="col-xs-6">
        <label class="label label-primary lbl-medium lbl-opaque">Fecha de Impugnación: 
            #{if challenge.dateImpugn != null}
            ${challenge.dateImpugn.format("dd/MM/yy")}
            #{/if}
            #{else}
            ${new Date().format("dd/MM/yy")}
            #{/else}
        </label>
    </div>
    <div class="col-xs-6" id="tmp">
        &nbsp;
    </div>
    <div class="col-xs-6" id="registryQ" style="display: none">
        <label class="label label-primary lbl-medium lbl-opaque">Respuestas Original</label>
        <label class="label label-primary lbl-medium lbl-opaque">Pregunta 1: #{if challenge.original1 != null} ${challenge.original1} #{/if}
            Pregunta 2: #{if challenge.original2 != null} ${challenge.original2} #{/if}</label>
    </div>
    <div class="col-xs-12" id="registryC" style="display: none">
        <label class="label label-primary lbl-medium lbl-opaque"></label>
        <label class="label label-primary lbl-medium lbl-opaque">Empleado anterior: #{if challenge.original1 != null} ${challenge.original1} #{/if}
            Área anterior: #{if challenge.original2 != null} ${challenge.original2} #{/if}  Práctica anterior:#{if challenge.original3 != null} ${challenge.original3} #{/if}</label>
    </div>
    <div class="col-xs-6">
        <label class="label label-warning lbl-medium lbl-opaque">Solicita:</label>
        <select id="typeC" name="typeC" class="form-control">
            <option value="-">Elige una opción</option>
            <option value="2">Eliminar evaluación</option>
            <option value="3">Cambio de calificación</option>
            <option value="4">Reasignar a otra área o empleado</option>
        </select>
    </div>
    <div class="col-xs-6" id="change" style="display: none">
        <label class="label label-warning lbl-medium lbl-opaque">Pregunta 1</label>
        <select class="form-control input-filter" id="qualif1">
            <option value="10">10</option>
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
            <option value="0">0</option>
        </select>
        <label class="label label-warning lbl-medium lbl-opaque">Pregunta 2</label>
        <select class="form-control input-filter" id="qualif2">
            <option value="10">10</option>
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
            <option value="0">0</option>
        </select>
    </div>
    <div class="col-xs-6" id="re-asign" style="display: none">
        <input class="form-control input-msg" id="asignNumber" name="idEmployee" placeholder="Ingrese numero de empleado">
        <span class="error" style="display: none" id="label"><label>Número de empleado no valido</label></span>
        #{select 'areas', items:areas, valueProperty:'idArea', labelProperty:'desc',
                value:challenge.idArea ,class:'form-control input-filter', id:'areaId' /}
        <select class="form-control input-filter" id="practiceId" style="display: none" >
            <option value="-">Seleccione una opción</option>
            #{list items:practices, as:'practice'}
                <option value="${practice.practice}">${practice.desc}</option>
            #{/list}          
        </select>
    </div>
</div>
<br>
<div class="row" id="val-select" style="display: none;">
    <div class="col-xs-12">
        <div style="max-width: 400px;" class="alert alert-danger fade in alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
            <div id="msg-validation"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="chat-zone">
            #{list items:challenge.challenges, as:'chall'}    
            <label class="label label-success lbl-medium lbl-opaque">${chall.date.format('dd/MM/yyyy HH:mm:ss')}</label>
            - ${chall.username} - ${chall.text}<hr />
            #{/list}

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">

        #{if challenge.status == '4' } <!--y privilegios de contestar impugnacion-->
                #{secure.check "impugnar/respond,impugnar/respondall"}
                    <input class="input-msg" id="in" placeholder="Escribir mensaje">
                #{/secure.check}    
            #{/if}
            #{elseif challenge.status == '5' || challenge.status == '8' || challenge.status == '10'}

            #{/elseif}
            #{elseif challenge.status == '6'}
                #{secure.check "replica/senduser,replica/sendall"}
                    <input class="input-msg" id="in" placeholder="Escribir mensaje">
                #{/secure.check}
            #{/elseif}
            #{elseif challenge.status == '7'}
                #{secure.check "replica/respondall"}
                    <input class="input-msg" id="in" placeholder="Escribir mensaje">
                #{/secure.check}     
            #{/elseif}
            #{elseif challenge.status == '9'}
                #{secure.check "replica/respondall"}
                    <input class="input-msg" id="in" placeholder="Escribir mensaje">
                 #{/secure.check}
            #{/elseif}
            #{else} <!--y tiene privilegios de impugnar -->
                #{secure.check "impugnar/send,impugnar/sendall"}
                    <input class="input-msg" id="in" placeholder="Escribir mensaje">
                #{/secure.check}
            #{/else}
    </div>
</div>
<div class="row" style="margin-left: 0;">
            #{if challenge.status == '4' } <!--y privilegios de contestar impugnacion-->
                #{secure.check "impugnar/respond,impugnar/respondall"}
                    <button class="btn-liv-small challenge" id="procede">Si Procede</button>
                    <button class="btn-liv-small challenge" id="no-procede">No procede</button>
                #{/secure.check}    
            #{/if}
            #{elseif challenge.status == '5' || challenge.status == '8' || challenge.status == '10'}

            #{/elseif}
            #{elseif challenge.status == '6'}
                #{secure.check "replica/senduser,replica/sendall"}
                    <button class="btn-liv-small challenge" id="enviar">Enviar</button>
                #{/secure.check}
            #{/elseif}
            #{elseif challenge.status == '7'}
                #{secure.check "replica/respondall"}
                    <button class="btn-liv-small challenge" id="procede">Si Procede</button>
                    <button class="btn-liv-small challenge" id="no-procede">No procede</button>
                #{/secure.check}     
            #{/elseif}
<!--            #{elseif challenge.status == '9'}
                #{secure.check "replica/respondall"}
                    <button class="btn-liv-small challenge" id="procede">Si Procede</button>
                    <button class="btn-liv-small challenge" id="no-procede">No procede</button>
                 #{/secure.check}
            #{/elseif}-->
            #{else} <!--y tiene privilegios de impugnar -->
                #{secure.check "impugnar/send,impugnar/sendall"}
                    <button class="btn-liv-small challenge" id="enviar">Enviar</button>
                #{/secure.check}
            #{/else}

            <input type="hidden" id="status-input" value="${challenge.status}" />
    
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var status      = '';
        var q1          = '';
        var q2          = '';
        status      = ${challenge.status} != null ? ${challenge.status} : ''; 
        q1          = ${challenge.qualif1 };
        q2          = ${challenge.qualif2 };
        
        if(typeC){
            if(typeC === '5' || typeC === '8' || typeC === '10'){
                $('status').append(" " + $('#typeC').val(t).text());
            }
        }
        
        // back to normal when clicked:
        $(".input-msg, #asignNumber").click(function() {
            $(".input-msg").css({
                backgroundColor: "#FFF",
                color: "#000"
            }).attr("placeholder", "Escribir mensaje");
        });

        
        $("#typeC").change(function() {
            var v = $(this).val();

            if(v == "2") {
                $("#change").hide(200);
                $("#re-asign").hide(200);
            } else if(v == "3") {
                $("#change").show(200);
                $("#re-asign").hide(200);
                $('#qualif1').val(q1);
                $('#qualif2').val(q2);
            } else if(v == "4"){// "-1"
                //var area = ${challenge.idArea};
                //$('#areaId').val(area);
                $("#change").hide(200);
                $("#re-asign").show(200);
            }
        });
        
        $('.challenge').click(function(){
            if($("#in").val().trim().length == 0) {
                $("#in").css({
                    color: "#A94442",
                    backgroundColor: "#EBCCD1"
                }).attr("placeholder", "Campo requerido");
                return false;
            } else if($("#typeC").val() == '-') {
                $("#msg-validation").html("Seleccione una opción del combo");
                $("#val-select").fadeIn(200);
                setTimeout(function(argument) {
                    $("#val-select").fadeOut(200);
                }, 3000);
                return false;
            } else {
                if(true) { // (${challenge.status} >= 4) {// "EN PROCESO"

                    // Aditional validations:               
                   if($("#typeC").val() == "3") {
                        if($("#qualif1").val() == "-" ||
                        $("#qualif2").val() == "-") {
                            /*
                            $("#msg-validation").html("Seleccione ambas calificaciones");
                            $("#val-select").fadeIn(200);
                            setTimeout(function(argument) {
                                $("#val-select").fadeOut(200);
                            }, 3000);
                            return false;
                            */
                        }
                    } else if($("#typeC").val() == "4") {
                        /*if($("#asignNumber").val().trim().length == 0) {
                            $("#asignNumber").css({
                                color: "#A94442",
                                backgroundColor: "#EBCCD1"
                            }).attr("placeholder", "Campo requerido");
                            return false;
                        }*/
                    }
                }
            }
            
            if($("#typeC option:selected").val() == "-") {
                $("label#select_error").show(); // show Warning 
                $("select#typeC").focus();  // Focus the select box      
                return false;
            }
            
            var clickedID   = this.id;
            var text        = '';
            var type        = '';
            var typeC       = '';
            
            var id          = '';
            var aId         = '';
            var idA         = '';
            var idP         = '';
                                   
            text        = $('#in').val();
            typeC       = $( "#typeC" ).val();
            id          = $( "#asignNumber" ).val();
            aId         = $( "#areaId" ).val();
            idP         = $( "#typeC" ).val();
            idAnswer    = ${challenge.idAnswer}; 
            q1          = $('#qualif1 option:selected').val();
            q2          = $('#qualif2 option:selected').val();
            if(typeC){
                switch(typeC){
                    case '2':
                       
                        break;
                    case '3':
                        /*
                        if($("#qualif1 option:selected").val() == "-") {
                            $("label#select_error").show(); // show Warning 
                            $("select#qualif1").focus();  // Focus the select box      
                            return false;
                        }
                        if($("#qualif2 option:selected").val() == "-") {
                            $("label#select_error").show(); // show Warning 
                            $("select#qualif2").focus();  // Focus the select box      
                            return false;
                        }
                        */
                        break;
                    case '4':
                        /*
                        if($("input#asignNumber").val() == '' ){
                            $("input#asignNumber").focus();      
                                return false;
                        }
                        */
                       
                        /*    $("select#areaId").focus();  // Focus the select box   
                         var valid = "";   
                        $.ajax({
                            url: 'employeeIdValid' + '?idEmployee=' + id,
                            success: function(data) {
                                valid = data;
                            },
                            async:false
                          });    
                        if( valid !== "true" ){
                            $('#label').show(200);
                            $("input#asignNumber").focus();
                            return false;
                        }*/
                        break;
                    default:
                        break;
                }
                if($("input#in").val() == '' ){
                    $("input#in").focus();      
                        return false;
                }
            }
            
            localStorage.setItem("row",idAnswer);
            
            if (clickedID === 'enviar'){
                if( status == '5' || status == '6'){
                    type = 'replica';
                }else{
                    type = 'impugnar';
                }
            } else if (clickedID === 'procede'){
                if( status == '4' || status == '7' ){
                    type = 'procede';
                }
            } else if (clickedID === 'no-procede'){
                if( status == '4' || status == '7' ){
                    type = 'no-procede';
                }
            }
            
            var s = baseUrl + 'evaluations/challengesdetail' + '?rowId=' + idAnswer + '&type=' +typeC+
                    '&operation=' + type + '&text=' + text + '&status=' + status + 
                    '&qualif1=' +q1+  '&qialif2=' +q2+ '&idEmployee=' +id+ '&idArea='+aId+
                    '&practice=' + idP;
            $.get(s
                    ,
                    function(data, textStatus, jqXHR) {
                    $("#c-panel-" + ${challenge.idAnswer}).html(
                            data

                            );
                            location.reload();
                            
                    });
        });
        var t = ${challenge.type};
        if( t != null){
            $('#typeC').val(t);
            var disabled = ${challenge.impug}
            if(!disabled) {
                //$('#typeC').prop('disabled','disasbled');
            }
            if( t == 3){
                var q1 = ${challenge.qualif1};
                var q2 = ${challenge.qualif2};
                
                $('#tmp').hide();
                $('#registryQ').show();
                $('#change').show();
                $('#qualif1').val(q1);
                $('#qualif2').val(q2);
            }else if( t == 4){
                
                $('#practiceId').show();
                $( "#asignNumber" ).val(${challenge.idEmployee});
                $('#registryC').show();
                $('#re-asign').show();
            }
            
        }
        
        $("input#asignNumber").keypress(function(event) {
            /^[+-]?\d+$/i.test(String.fromCharCode(event.keyCode));              // Revision
        });
        
    });
</script>