<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
<div class='play-liv-control' data-audio-src='${audio}' data-id-answer='${rowId}'></div>
    </div>
</div>
<div class="form-horizontal sub-row details-container">
    <div class="row" id="row-questions"></div>
    <div id="row-panels"></div>
</div>

<script type="text/javascript">
    var questions = [
        {
            q: "",//"¿Cómo califica el servicio que le brindó el asesor durante su entrega de mercancía en Liverpool / Fabricas de Francia__?",
            data: {
                number: 1,
                kind:'${cat1}'
            },
            kindNumber: 1, 
            score: '${calif1}',
            a: '${desc1}',
            short: "Servicio"
        },
        {
            q: "",//"¿Recomendaría el servicio de entrega de Liverpool / Fabricas de Francia_ a un familiar o amigo?",
            data: {
                number: 2,
                kind: '${cat2}'
            },
            kindNumber: 2,
            score: '${calif2}',
            a: '${desc2}',
            short: "Recomendación"
        }
    ];

    $(document).ready(function() {
        $("#row-questions").html("");
        for(var i = 0; i < questions.length; i++) {
            var e = questions[i];
            var clazz = "green-score";
            
            if(e.score <= 8) {
                clazz = "amber-score";
            }

            $("#row-questions").append(
                "<div class='row row-question'>" +
                    "<div class='col-xs-8'>" +
                        "<div class='col-xs-2'>" +
                            "<label class='small-lbl control-label'>" +
                                e.short +
                            "</label>" +
                        "</div>" +
                        "<div class='col-xs-1 text-center " + clazz + "'>" +
                            "<span class='score " + clazz + "'>" +
                                e.score +
                            "</span>" +
                        "</div>" +
                        "<div class='col-xs-9'>" +
                            "<label class='small-lbl'>" + e.q + " " + e.a + "</label>" +
                        "</div>" +
                    "</div>" +
                    "<div class='col-xs-4'>" +
                        "<label class='small-lbl'>" +
                            e.data.number + " (" + e.data.kind + ")" +
                        "</label>" +
                    "</div>" +
                "</div>"
            );
        }
        var klass = 'col-xs-6';
        if( ${calif1} > 8 && ${calif2} > 8){
            klass = 'col-xs-12';
        }
        //Left panel:
        $.get("@{Evaluations.challengesDetail()}", {
            rowId: ${rowId}
        },
        function(data, textStatus, jqXHR) {
            $("#row-panels").append(
                "<div class='"+klass+" panel-container'>" +
                    "<div class='panel panel-success panel-chall'>" +
                        "<div class='panel-heading'>Impugnaciones</div>" +
                        "<div class='panel-body' id='c-panel-"+${rowId}+"'>" +
                            data +
                        "</div>" +
                    "</div>" +
                "</div>"
            );

            if( ${calif1} < 9 || ${calif2} < 9){
            //Right panel:
                $.get("@{Evaluations.tracingDetail()}", {
                    rowId: ${rowId}
                },
                function(data, textStatus, jqXHR) {
                    if( data !== 'No permitido' ){
                        $("#row-panels").append(
                        "<div class='col-xs-6 panel-container'>" +
                            "<div class='panel panel-warning panel-tracing'>" +
                                "<div class='panel-heading'>Seguimiento</div>" +
                                "<div class='panel-body' id='panel-"+${rowId}+"'>" +
                                    data +
                                "</div>" +
                            "</div>" +
                        "</div>"
                        );
                    }
                });
            }
            
        });
        
        Liverpool.initAudioControls();
    });
</script>
