#{extends 'Layout/default.html' /}
#{set title: 'NPS - Evaluaciones' /}
#{set location: 'Evaluaciones' /}

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/circle.css'}" />

<style type="text/css">
    .table-tracking [data-target] {
        cursor: pointer;
    }
    
    .filter-breadcrumb li {
        color: #2e2e32;
        font-size: 12px;
        font-weight: bold;
        text-transform: capitalize !important;
    }
    
    .filter-breadcrumb {
        padding-left: 0;
    }
    
    .filter-breadcrumb > li + li:before {
        content: '';
        padding: 0 0 0 3px;
    }
    
    .filter-breadcrumb li:not(:last-child) {
        cursor: pointer;
    }
    
    .filter-breadcrumb li:last-child {
        color: #306898;
    }
    
    #breadcrumb-dates li {
        cursor: default;
    }
    
    .graphs {
        margin-bottom: 10px;
        padding: 5px;
    }
    
    .td-text-left {
        text-align: left !important;
    }
    
    #current-level {
        font-weight: bold;
        margin-bottom: 10px;
    }
</style>
#{/set}

<div class="form-horizontal">
    <div class="row" style="margin-top: -10px;">
        <div class="form-group">
            <div class="row" style="height: 0">
                <div class="col-xs-12">
                    <div style="margin-left: 10px;" class="row">
                        <div class="form-group">
                            <div class="col-xs-8">
                                <label class="normal-lbl">
                                    Información <span class="glyphicon glyphicon-chevron-right"></span>
                                </label>
                                <label id="regM" class="normal-lbl">Mensual <span class="glyphicon glyphicon-chevron-right"></span></label>
                                <label class="normal-lbl">
                                    <span id="range" style="color: #306898; font-weight: bold;">${session.get("month")} / ${session.get("year")}</span>
                                </label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul id="levels-breadcrumb" class="list-unstyled breadcrumb filter-breadcrumb">
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-sm-offset-6">
                <div class="col-xs-12">
                    <label id="records" class="normal-lbl" style="color: #888;"></label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <div class="col-xs-12">
                    <button title="Exportar" class="btn btn-primary pull-right" id="export">Exportar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="min-width: 100%; max-width: 100%; overflow-x: auto;">
        <div class="form-group">
            <div class="col-xs-12">
                <table id="table-eva" class="highest-table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Canal</th>
                            <th>Ubicación</th>
                            <th>Área</th>
                            <th>Nombre</th>
                            <th>#Vendedor</th>
                            <th>Sección</th>
                            <th>Grabación</th>
                            <th>Seguimiento</th>
                            <th>Impugnacion</th>
                            <th>Pregunta 1</th>
                            <th>Pregunta 2</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="@{'/public/assets/js/components/liveQuery/jquery.livequery.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts-more.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/solid-gauge.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/calls_nps.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/controlls-evaluation.js'}"></script>

<script type="text/javascript">
    
    var oTable         = null;
    var totalRows      = 0;
    
    function checkStores(){
        if(zoneStore !== null && zoneStore !== []) {
            strs = [];

            for (var i = 0; i < zoneStore.length; i++) {
                var stores = zoneStore[i].stores;
                if (stores) {
                    for (var j = 0; j < stores.length; j++) {
                        strs.push(stores[j].id);
                    }
                }
            }
            //getEvsStores();
        }
    }
    
    function checkChiefs() {
        if(zoneStore !== null && zoneStore !== []) {
            chfs = [];
            
            for (var i = 0; i < zoneStore.length; i++) {
                var stores = zoneStore[i].stores;
                if (stores) {
                    for (var j = 0; j < stores.length; j++) {
                        var managers = stores[j].managers;
                        if (managers) {
                            for (var k = 0; k < managers.length; k++) {
                                var chiefs = managers[k].chiefs;
                                if (chiefs) {
                                    for (var l = 0; l < chiefs.length; l++) {
                                        chfs.push(chiefs[l].id);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    function checkSection() {
        if(zoneStore !== null && zoneStore !== []) {
            sections = [];
            
            for (var i = 0; i < zoneStore.length; i++) {
                var stores = zoneStore[i].stores;
                if (stores) {
                    for (var j = 0; j < stores.length; j++) {
                        
                    var managers = stores[j].managers;
                    if (managers) {
                        for (var k = 0; k < managers.length; k++) {
                            var chiefs = managers[k].chiefs;
                            if (chiefs) {
                                for (var l = 0; l < chiefs.length; l++) {
                                    var secs = chiefs[l].sections;
                                    if (secs) {
                                        for (var m = 0; m < secs.length; m++) {
                                            sections.push(secs[m].id);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    }
                }
            }
        }
    }
    
    function checkFilters(level){
        if(zoneStore !== null && zoneStore !== []) {
            switch (level){
                case '| Comparativa Ubicaciones':
                    checkStores();
                    break;
                case '| Comparativa Jefes':
                    checkStores();
                    checkChiefs();
                    break;
                case '| Comparativa Secciones':
                    checkStores();
                    checkChiefs();
                    checkSection();    
                    break;      
            }
            
        }
    }
    
//    $('#btn-groups:visible').livequery(function() {
//        if(bsns !== null && bsns !== ''){
//            createZones();
//        }
//    });
    
    function openRow(){
        var id = localStorage.getItem("row");
        
        $("#table-eva tr").each(function(index, value) {
            var tr = $(value);
            var index = tr.data("row-id");
            if(index == id) {
                
                tr.click();
            }
        });
        $('html, body').animate({
            scrollTop: $(".dataTables_wrapper").offset().top
            }, 'slow'); 
    } 
     
    function openDetails(row) {
        var actual      = row;
        var id          = $(row).data("row-id");
        var calif1      = $(row).data("servicio-calif");
        var calif2      = $(row).data("recomendacion-calif");
        var califDesc1  = $(row).data("servicio-desc");
        var califDesc2  = $(row).data("recomendacion-desc");
        var califType1  = $(row).data("servicio-cat");
        var califType2  = $(row).data("recomendacion-cat");
        var $childRow   = $("tr[id-child='" + id + "']");
        var audio       = $(row).data("audio-name");
                
        $("tr[id-child]").remove();

        if($childRow.length > 0) {
            //Hide and delete:
            $childRow.hide(500, function() {
                $childRow.remove();
            });
        } else {
            //Create and show:
            Liverpool.loading("show");
            $.get("@{Evaluations.detailsEvaluation()}", {
                rowId: id,
                calif1 : calif1,
                calif2 : calif2,
                desc1 : califDesc1,
                desc2 : califDesc2,
                cat1 : califType1,
                cat2 : califType2,
                audio : audio
            },
            function(data, textStatus, jqXHR) {
                Liverpool.loading("hide");
                $childRow = $(
                    "<tr style='display: none;' id-child='" + id + "'>" +
                        "<td colspan='19' class='sub-row'>" +
                            data +
                        "</td>" +
                    "</tr>"
                );

                $(row).after($childRow);
                $childRow.show(500);
            });
        }
    }

    var setTable = function(params) {
        if (oTable !== null) {
            oTable.fnDestroy();
        }
        
        var url = '@{Evaluations.getEvaluations()}' + queryParams(params);
        
        oTable = $('#table-eva').dataTable({
            "iDisplayLength": localStorage.getItem("filterLenghtEvas") || 30,
            "bScrollInfinite": true,
            "bScrollCollapse": true,
            //"bFilter": false,
            "lengthMenu": [[30, 100, 200, -1], [30, 100, 200, "Todos"]],
            "bAutoWidth": false,
            "bDestroy": true,
            "bSort": true,
            "bInfo": false,
            "oLanguage": {
                "sZeroRecords": "No hay evaluaciones",
                "sInfo": "Mostrando planes de _START_ al _END_ de _TOTAL_ totales",
                "sInfoEmpty": "0 Respuestas",
                 "sPaginatePrevious": "Previous page",
                 "sProcessing": "Cargando...",
                 "sSearch": "Busqueda _INPUT_",
                 "sLengthMenu": "Mostrar _MENU_ registros",
                 "oPaginate": {
                    "sFirst":    "<<",
                    "sLast":     ">>",
                    "sNext":     ">",
                    "sPrevious": "<"
                }
            },
            "fnCreatedRow": function(nRow, aData, iDataIndex) {
                var aud = aData[10].split("|");
                $(nRow).attr('data-row-id', aData[0]);
                $(nRow).attr('data-servicio-calif', aData[13]);
                $(nRow).attr('data-recomendacion-calif', aData[14]);
                $(nRow).attr('data-servicio-desc', aData[15]);
                $(nRow).attr('data-recomendacion-desc', aData[16]);
                $(nRow).attr('data-servicio-cat', aData[17]);
                $(nRow).attr('data-recomendacion-cat', aData[18]);
                $(nRow).attr("onclick","openDetails(this)");
                $(nRow).css("cursor", "pointer");
                $(nRow).attr('data-audio-name', aud[0]);
                
                $('td:eq(0)', nRow).html(aData[1]); //date
                $('td:eq(1)', nRow).html(aData[4]); //channel
                $('td:eq(2)', nRow).html(aData[5]);//store
                $('td:eq(3)', nRow).html(aData[6]);//area            .addClass('text-center');
                $('td:eq(4)', nRow).html(aData[7]);//name             .addClass('colored-td');
                $('td:eq(5)', nRow).html(aData[8]);//seller
                $('td:eq(6)', nRow).html(aData[9]);//section
                
                $('td:eq(7)', nRow).html(aud[1]);//record
                $('td:eq(8)', nRow).html("<div style='margin-top: 10px;' class='col-xs-12'>" +
                                aData[11] + "</div>");//tracing
                $('td:eq(9)', nRow).html("<div style='margin-top: 10px;' class='col-xs-12'>" +
                            aData[12] +   "</div>");//challenge            .addClass('text-center');
                
                $('td:eq(10)', nRow).html(aData[13]);//answer1            .addClass('colored-td');
                $('td:eq(11)', nRow).html(aData[14]);//answer2
                

            },
            "fnDrawCallback": function (oSettings) {
                Liverpool.loading('hide');
                
                Table.applyBlueShades("#table-eva");
                
                openRow();
            },
            "bProcessing": true,
            "bServerSide": true,
            "bStateSave" : true,
            "sAjaxSource": url,
            "pagingType": "full_numbers"
        });
    };
    
    var queryParams = function (params) {
        var queryString = '?firstDate=' + from + '&lastDate=' + to +
                '&group=' + grp + '&business=' + bsns + 
                '&chief='+ chfs  + '&store='+ strs  +
                '&section='+ sections;
        
        if(params) {
            for(k in params) {
                queryString += '&' + k + "=" + params[k];
            }
        }
        
        return queryString;
    }
    
    var countRows = function (params, cb) {
        $.ajax({
            url: '@{Evaluations.getCount()}' + queryParams(params),
        }).done(function (rowsCount) {
            totalRows = rowsCount;
            cb && cb(rowsCount);
            $('#records').text(totalRows + '  Registros');
        });
    }

    function openMainTable(params) {
        countRows(params, function (rows) {
            if (typeof params == 'undefined') {
                params = {
                    'totalRows': rows
                };
            } else {
                params['totalRows'] = rows;
            }
            
            setTable(params);
        });
    }

    $(document).ready(function() {
        //createEvas("");
        
        loadData();
        
        $('#export').click(function () {
            
            var url = baseUrl + 'evaluations/downloadEvaluations?firstDate=' + from + '&lastDate=' + to +
                '&group=' + grp + '&business=' + bsns + 
                '&chief='+ chfs  + '&store='+ strs  +
                '&manager=' + managers + '&section='+ sections + '&search=' + $('.dataTables_filter :input').val();
            
            window.location.href = url;
        });
        $('#table-eva')
        .on('search.dt',   function () { Liverpool.loading('show'); })
        .on('order.dt', function () { Liverpool.loading('show'); })
        .on('page.dt',   function () { Liverpool.loading('show');})
        .on( 'length.dt', function (e, settings, length) {
                if (length !== -1) {
                    localStorage.setItem("filterLenghtEvas", length);
                }
                Liverpool.loading('show');})
        .dataTable();

        $('#levels-breadcrumb').on('click', 'li', function () {
            if (!$(this).is(':last-child')) {
                loadTable($(this).data('level'));
                //removeFromStorage($(this).data('level'));
            }
        });
    });
</script>

#{set 'scripts'}

#{/set}
