<div class="row">
    <div class="col-xs-6">
        <label class="label label-primary lbl-medium lbl-opaque">Nombre del Cliente:${aT.nameClient} </label>
    </div>
    <div class="col-xs-3">
        <label class="label label-primary lbl-medium lbl-opaque">IP:${aT.ip} </label>
    </div>
    <div class="col-xs-3">
        <label class="label label-warning lbl-medium lbl-opaque">
            #{if aT.idFollow == '1'}
                ABIERTO
            #{/if}
            #{elseif aT.idFollow == '2'}
                SEGUIMIENTO
            #{/elseif}
            #{elseif aT.idFollow == '3'}
                CERRADO
            #{/elseif}
            #{else}
                
            #{/else}
        </label>
    </div>
    <div class="col-xs-6">
        <label class="label label-primary lbl-medium lbl-opaque">Telefono:${aT.phone} </label>
    </div>
    <div class="col-xs-6">
        <label class="label label-primary lbl-medium lbl-opaque">SKU: ${aT.sku}</label>
    </div>
    <div class="col-xs-6">
        <label class="label label-primary lbl-medium lbl-opaque">E-mail:${aT.email} </label>
    </div>
    <div class="col-xs-6">
        <label class="label label-primary lbl-medium lbl-opaque">Descripción: ${aT.description}</label>
    </div>
    <div class="col-xs-6">
        <label class="label label-primary lbl-medium lbl-opaque">DOCT: ${aT.doc}</label>
    </div>
    <div class="col-xs-6">
        &nbsp;
    </div>
    <div class="col-xs-6">
        <label class="label label-primary lbl-medium lbl-opaque">TERM: ${aT.terminal}</label>
    </div>
    <div class="col-xs-6">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="chat-zone">
            #{list items:tracings, as:'tracing'}    
            <label class="label label-success lbl-medium">
                ${tracing.date.format('dd/MM/yyyy')} - </label>
                - ${tracing.userName} - ${tracing.text}<hr />
            #{/list}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <input id="inT" class="input-msg" placeholder="Escribir mensaje" >
    </div>
</div>
#{secure.check "seguimiento/makeall,seguimiento/make"}
    <div class="row" style="margin-left: 0;">
        <button class="btn-liv-small tracing" id="process">Seguimiento</button>
        <button class="btn-liv-small tracing" id="closed">Solucionado</button>
    </div>
#{/secure.check}
<script type="text/javascript">
    $(document).ready(function() {
        $("#inT").click(function() {
            $("#inT").css({
                backgroundColor: "#FFF",
                color: "#000"
            }).attr("placeholder", "Escribir mensaje");
        });

        $('.tracing').click(function(){

            if($("#inT").val().trim().length == 0) {
                $("#inT").css({
                    color: "#A94442",
                    backgroundColor: "#EBCCD1"
                }).attr("placeholder", "Campo requerido");
                return false;
            }
            
            var clickedID   = this.id;
            var text        = '';
            var type        = '';
            var status      = '';
            var id          = '';
                        
            if( clickedID === 'process' ){
                type = 'process';
            }else if( clickedID === 'closed' ){
                type = 'closed';
            }
            
            text    = $('#inT').val();
            id      = ${aT.idAnswer};
            status  = ${aT.idFollow};
            var url = baseUrl + 'evaluations/tracingdetail' + '?rowId=' + id + '&operation=' 
                      + type + '&text=' + text + '&status=' + status;
            localStorage.setItem("row",id);
            
             
                
            if($("input#inT").val() == '' ){
                $("input#in").focus();      
                    return false;
            }
            
            
            $.get(url
                
            ,
            function(data, textStatus, jqXHR) {
                $("#panel-"+${aT.idAnswer}).html(
                    
                                data
                            
                );
                location.reload();
            });
        });
    });
</script>