#{extends 'Layout/login.html' /}
#{set title: 'Recuperar contraseña' /}
%{
    session.clear();
}%

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/sweetalert.css'}" />
#{/set}

<div class="login-wrapper">
    <div class="logo-small">
        <img src="@{'/public/assets/img/logo.png'}" alt="Liverpool Portal Único" />
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="right">
                <div class="login-actions">
                    <ul>
                        <li style="width: 100%;">
                            <a class="active" style="width: 100%;">
                                Recuperar Contraseña
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="form-fields">                
                    <div class="form-group">
                        <input type="password" id="pws" name="pws" maxlength="50" class="form-control" placeholder="Nueva Contraseña"  />
                    </div>
                    <div class="form-group">
                        <input type="password" id="confirmPsw" name="confirmPsw" maxlength="50" class="form-control" placeholder="Confirmar Contraseña"  />
                        <p id="validate-status"></p>
                    </div>
                    <div class="alert alert-warning alert-dismissible" id="pass-msg" style="display: none;">
                        Las contraseñas no coinciden
                    </div>
                    <div class="alert alert-warning alert-dismissible" id="pass-len-msg" style="display: none;">
                        Por favor, ingrese su nueva contraseña
                    </div>
                    <div class="alert alert-warning alert-dismissible" id="pass-req" style="display: none;">
                        <label>La contraseña debe cumplir con lo siguiente:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="glyphicon glyphicon-remove large-span" style="color: #F00;"></span>
                                6 dígitos como mínimo
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="glyphicon glyphicon-remove lower-span" style="color: #F00;"></span>
                                Al menos una letra minúscula
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="glyphicon glyphicon-remove upper-span" style="color: #F00;"></span>
                                Al menos una letra mayúscula
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="glyphicon glyphicon-remove number-span" style="color: #F00;"></span>
                                Al menos un número
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-3">
                            <button id="change-btn" type="button" onclick="showLogin()">
                                <img src="@{'/public/assets/img/arrow-back.png'}" alt="Liverpool Entrar" />
                            </button>
                        </div>
                        <div class="col-xs-3">
                            <button class="btn-center" id="change-pass-btn" onclick="updatePassword()">
                                <img src="@{'/public/assets/img/arrow-right.png'}" alt="Liverpool Entrar" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/javascripts/sweetalert.min.js'}"></script>

<script type="text/javascript">
    var userId = '${employeeClima.userId}';
    var passOk = false;
    var pass1  = "";
    var pass2  = "";;
    
    function validatePassword() {
        var pass1 = $("#pws").val();
        var pass2 = $("#confirmPsw").val();
        
        if(pass1 !== pass2) {
            passOk = false;
            $("#pass-msg").show();
            $("#pass-req").hide();
            $("#pass-len-msg").hide();
        } else {
            $("#pass-msg").hide();
            
            if ($.trim(pass1).length === 0) {
                passOk = false;
                $("#pass-len-msg").show();
            } else {
                passOk = true;
                $("#pass-len-msg").hide();                
            }
        }
    }
    
    function updatePassword() {
        validatePassword();
        
        if (passOk) {
            $.ajax({
                url: "@{ChangePassword.changePsw()}",
                data: {
                    userId: userId,
                    psw: $("#pws").val()
                },
                type: 'POST',
                success:function(data) {
                    if(data == 1){
                        swal({
                            title: "Mensaje",
                            text: "Se actualizó la contraseña con éxito",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "OK",
                            closeOnConfirm: false
                        },
                        function(){
                            showLogin();
                        });
                    }
                }
            });
        }
    }

    function meetsTheRequirements(pass) {
        var req = {
            large: false,
            lower: false,
            upper: false,
            number: false
        };

        if(pass.length >= 6) {
            req.large = true;
        }

        for(var i = 0; i < pass.length; i++) {
            var char = pass.charAt(i);

            //At least one lower case and upper case:
            if(char.match(/[a-zA-Z]/i)) {
                if(char == char.toLowerCase()) {
                    req.lower = true;
                }

                if(char == char.toUpperCase()) {
                    req.upper = true;
                }
            } else if(!isNaN(char)){
                //At least one number:
                req.number = true;
            }
        }

        for(k in req) {
            var e = req[k];

            if(e) {
                $("span." + k + "-span")
                .removeClass("glyphicon-remove").addClass("glyphicon-ok")
                .css("color", "#080");
            } else {
                $("span." + k + "-span")
                .removeClass("glyphicon-ok").addClass("glyphicon-remove")
                .css("color", "#F00");
            }
        }

        return req.large &&
        req.lower &&
        req.upper &&
        req.number;
    }

    function showLogin() {
        location.href = "/secure/login";
    }
</script>
#{/set}