<div class="logo" style="text-align: center;">
    <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
        <img src="${baseUrl}/public/assets/img/logo.png" alt="Liverpool Portal Único" width="229" height="48" />
    </span>
</div>
<div class="container survey-information">
    <p>
        <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;"> </span>
    </p>
    <p>
        <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
            Estimado Colaborador ${employee.firstName}:
        </span>
        
    </p>
    <p>
        <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
            Hemos recibido una petición de cambio de contraseña.
        </span>
    </p>
    <p>
        <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
            Cambia tu contraseña en el siguiente enlace:
        </span>
        <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
            <a href="${baseUrl}/changepassword/change/${utils.Misc.md5(employee.userId?.toString())}">
                <strong>Restablecer contraseña</strong>
            </a>
        </span>
    </p>
    <br />
    <p>
        <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
            Si no solicitaste un cambio de contraseña puedes ignorar este correo electrónico y tu contraseña no se cambiará.
        </span>
    </p>
</div>
