#{extends 'Layout/default.html' /}
#{set title: 'Cambio de contraseña' /}
#{set location: 'Cambio de contraseña' /}
<div class="login-wrapper">
    <div class="form-fields form-horizontal">
        <div class="form-group">
            <div class=" col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
                <div class="login-actions text-center">
                    <label>Cambio de contraseña</label>
                </div>

                <div class="form-group">
                    <input type="password" id="pwsOld" name="pwsOld" maxlength="50" class="form-control" placeholder="Contraseña Actual"  />
                </div>
                <div class="form-group">
                    <input type="password" id="pws" name="pws" maxlength="50" class="form-control" placeholder="Nueva Contraseña"  />
                </div>
                <div class="form-group">
                    <input type="password" id="confirmPsw" name="confirmPsw" maxlength="50" class="form-control" placeholder="Confirmar Nueva Contraseña"  />
                    <p id="validate-status"></p>
                </div>
                <div class="form-group">
                    <div class="alert alert-warning alert-dismissible" id="pass-current" style="display: none;">
                        Por favor, ingrese su contraseña actual
                    </div>
                    <div class="alert alert-warning alert-dismissible" id="pass-msg" style="display: none;">
                        La nueva contraseña y su confirmación no coinciden
                    </div>
                    <div class="alert alert-warning alert-dismissible" id="pass-len-msg" style="display: none;">
                        Por favor, ingrese su nueva contraseña
                    </div>
                    <div class="alert alert-warning alert-dismissible" id="pass-req" style="display: none;">
                        <label>La nueva contraseña debe cumplir con lo siguiente:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="glyphicon glyphicon-remove large-span" style="color: #F00;"></span>
                                6 dígitos como mínimo
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="glyphicon glyphicon-remove lower-span" style="color: #F00;"></span>
                                Al menos una letra minúscula
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="glyphicon glyphicon-remove upper-span" style="color: #F00;"></span>
                                Al menos una letra mayúscula
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="glyphicon glyphicon-remove number-span" style="color: #F00;"></span>
                                Al menos un número
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button type="button" class="btn btn-custom btn-cancel" onclick="history.back()">
                                Cancelar
                            </button>
                            <button class="btn btn-primary" id="btn-change-password" onclick="updatePassword()">
                                Cambiar Contraseña
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>          
</div>
<script type="text/javascript">
    var passOk = false;
    var pass1  = "";
    var pass2  = "";
    var pwsOld = "";

    function validatePassword() {
        pass1  = $("#pws").val();
        pass2  = $("#confirmPsw").val();
        pwsOld = $("#pwsOld").val();
        
        if ($.trim(pwsOld) === '') {
            $('.alert').hide();
            $("#pass-current").show();
            passOk = false;
            
            return;
        } else {
            $("#pass-current").hide();
        }

        if(pass1 !== pass2) {
            passOk = false;
            $("#pass-msg").show();
            $("#pass-req").hide();
            $("#pass-len-msg").hide();
        } else {
            $("#pass-msg").hide();
            
            if ($.trim(pass1).length === 0) {
                passOk = false;
                $("#pass-len-msg").show();
            } else {
                passOk = true;
                $("#pass-len-msg").hide();                
            }
        }
    }

    function updatePassword() {
        validatePassword();
        
        if(passOk) {
            $.ajax({
                url: "@{ChangePassword.changeNewPws()}",
                data: {
                    pwsOld: pwsOld,
                    psw: pass1
                },
                type: 'GET',
                success:function(data) {
                    if(data == 1){
                        swal({
                            title: "Mensaje",
                            text: "Se actualizó la contraseña con éxito",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "OK",
                            closeOnConfirm: false
                        },
                        function(){
                            showLogin();
                        });
                    } else if (data == 0){
                        sweetAlert("Error", "Contraseña anterior incorrecta", "error");
                    }
                }
            });
        }
    }

    function meetsTheRequirements(pass) {
        var req = {
            large: false,
            lower: false,
            upper: false,
            number: false
        };

        if(pass.length >= 6) {
            req.large = true;
        }

        for(var i = 0; i < pass.length; i++) {
            var char = pass.charAt(i);

            //At least one lower case and upper case:
            if(char.match(/[a-zA-Z]/i)) {
                if(char == char.toLowerCase()) {
                    req.lower = true;
                }

                if(char == char.toUpperCase()) {
                    req.upper = true;
                }
            } else if(!isNaN(char)){
                //At least one number:
                req.number = true;
            }
        }

        for(k in req) {
            var e = req[k];

            if(e) {
                $("span." + k + "-span")
                .removeClass("glyphicon-remove").addClass("glyphicon-ok")
                .css("color", "#080");
            } else {
                $("span." + k + "-span")
                .removeClass("glyphicon-ok").addClass("glyphicon-remove")
                .css("color", "#F00");
            }
        }

        return req.large &&
        req.lower &&
        req.upper &&
        req.number;
    }

    function showLogin() {
        location.href = "/secure/login";
    }
</script>