<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="survey-questions-form" action="@{Questions.saveQuestion()}" method="post">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span id="modal-title" class="modal-title">
                    Editar pregunta
                </span>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="inner-message"></div>
                
                <div class="row">
                    #{if question.survey.surveyType.id != 5}
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                Factor
                            </label>
                            <select id="question-subfactor" class="form-control" name="question.subFactor.id">
                                <option value="" data-has-question="false">Seleccionar Factor</option>
                                #{list items: factors, as: 'factor'}
                                <optgroup label="${factor.description}">
                                    #{list items: factor?.subfactors, as: 'subfactor'}
                                        <option value="${subfactor.id}" ${question.subFactor?.id == subfactor.id ? "selected" : ""}>${subfactor.description}</option>
                                    #{/list}
                                </optgroup>
                                #{/list}
                            </select>
                        </div>
                    </div>
                    #{/if}
                    
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                Orden
                            </label>
                            <input type="number" id="question-order" class="form-control numeric number" name="question.order" value="${question.order}" max="999" step="1" />
                        </div>
                    </div>                    
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">
                                Pregunta
                            </label>
                            <textarea id="question-question" class="form-control input-sm required" name="question.question" rows="1">${question.question}</textarea>
                        </div>
                    </div>                    
                </div>
                
                #{if question.questionType.name == 'NUMERICA'}
                <div id="alternative-question" class="row">                    
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">
                                Pregunta Alternativa (En caso de que el cliente conteste entre 0 y 8)
                            </label>
                            <textarea id="question-alternative-question" class="form-control input-sm required" name="question.alternativeQuestion" rows="1">${question.alternativeQuestion}</textarea>
                        </div>
                    </div>                    
                </div>
                #{/if}
                
                <div class="form-group">
                    <label class="control-label">
                        Respuesta Requerida
                    </label>
                    <div>
                        <label class="radio-inline"> <input type="radio" value="1" id="question-required-yes" name="question.required" ${question.required == true ? "checked" : ""}> Si </label>
                        <label class="radio-inline"> <input type="radio" value="0" id="question-required-no" name="question.required" ${question.required == false ? "checked" : ""}> No </label>
                    </div>
                </div>
                
                #{if question.questionType.hasChoices}
                <div id="choices">                    
                    <div class="table-responsive">
                        <table id="table-choices" class="table table-lp table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Opción</th>
                                    <th>Valor</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                #{list items: question.choices, as: 'choice'}
                                <tr>
                                    <td class="col-md-6">
                                        <input type="text" id="choice-text-${choice_index}" class="form-control input-sm required" name="choices[${choice_index}][choiceText]" value="${choice.choiceText}" />
                                    </td>
                                    <td>
                                        <input type="text" id="choice-value-${choice_index}" class="form-control input-sm" name="choices[${choice_index}][choiceNumericValue]" value="${choice.choiceNumericValue}" />
                                    </td>
                                    <td class="col-md-1 text-center">
                                        <button type="button" class="btn btn-red btn-sm delete-choice">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                #{/list}
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-green" id="add-question">
                            <i class="glyphicon glyphicon-plus"></i> Agregar Respuesta
                        </button>
                    </div>
                </div>
                #{/if}
                
                <div class="hidden">
                    <input type="hidden" id="question-type" value="${question.questionType.id}" />
                    <input type="hidden" id="question-id" name="question.id" value="${question.id}" />
                    <input type="hidden" id="survey-id" name="question.survey.id" value="${question.survey.id}" />
                    <input type="hidden" name="oldSubfactor" value="${question.subFactor?.id}" />
                </div>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="submit" class="btn btn-green" id="save">Aceptar</button>
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </form>
    </div>
</div>