<table id="question-list-edit" class="table table-lp left-align-text table-striped table-condensed">
    <thead>
        <tr>
            <th>Tipo de Pregunta</th>
            <th>Pregunta</th>
            <th>Subfactor</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        #{list items: questions, as: 'question'}
        <tr>
            <td>${question.questionType.name}</td>
            <td>${question.question}</td>
            <td>${question.subFactor.description}</td>
            <td>
                <input type="text" 
                    value="${question.weighing}"
                    data-pk="${question.id}"
                    data-subfactor="${question.subFactor.id}"
                    data-points="${question.subFactor.points}"
                    class="form-control input-sm"
                />
            </td>
        </tr>
        #{/list}
    </tbody>
</table>