#{include 'SurveyCSI/survey.html' /}

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/liverpool/csi-survey.js'}"></script>
<script type="text/javascript">
    new AnswerSurvey(true);
</script>
#{/set}