#{extends 'Layout/default.html' /}
#{set title: 'Encuestas' /}
#{set location: 'Encuestas / Test' /}

#{if place == 'NPS' }
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
#{/if}

<div id="mdl-add-edit" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade"></div>
<div id="mdl-preview" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade"></div>

<fieldset>
    <legend>
        Encuesta
        <span class="pull-right">
            <a href="@{csi.SurveysGenerator.preview(survey.id)}" target="_blank" class="btn btn-warning">
                <i class="glyphicon glyphicon-eye-open"></i> Vista Previa
            </a>
        </span>
    </legend>
    <div class="information">
        <ul class="list-unstyled survey-information">
            <li>Nombre: <span>${survey.name}</span></li>
            <li>Tipo: <span>${survey.surveyType?.subType}</span></li>
            <li>Enlace: <span>${ play.mvc.Http.Request.current().getBase() + "/csi.survey/" + survey.id }</span></li>
        </ul>
    </div>
</fieldset>

<fieldset class="mt-20">
    <legend>
        Texto de Bienvenida
        <span class="pull-right">
            <a href="@{SurveysGenerator.editSurveySection('initial', survey.id)}" data-section="initial-section" class="btn btn-info edit-section">
                <i class="glyphicon glyphicon-pencil"></i> Editar
            </a>
        </span>
    </legend>
    <div id="initial-section">
        #{if survey.initialSection == null || survey.initialSection.equals("") }
        <div class="alert alert-warning">
            <i class="fa fa-exclamation-circle"></i> No se ha definido el texto de bienvenida
        </div>
        #{/if}
        #{else}
        <div class="alert alert-success">
            <i class="fa fa-check"></i> Texto de bienvenida ingresado
        </div>
        #{/else}
    </div>
</fieldset>

<fieldset class="mt-20">
    <legend>
        Texto de Despedida
        <span class="pull-right">
            <a href="@{SurveysGenerator.editSurveySection('end', survey.id)}" data-section="end-section" class="btn btn-info edit-section">
                <i class="glyphicon glyphicon-pencil"></i> Editar
            </a>
        </span>
    </legend>
    <div id="end-section">
        #{if survey.endSection == null || survey.endSection.equals("") }
        <div class="alert alert-warning">
            <i class="fa fa-exclamation-circle"></i> No se ha definido el texto de despedida
        </div>
        #{/if}
        #{else}
        <div class="alert alert-success">
            <i class="fa fa-check"></i> Texto de despedida ingresado
        </div>
        #{/else}
    </div>
</fieldset>

<fieldset class="mt-20">
    <legend class="hidden">
        Preguntas, Factores y Subfactores        
    </legend>
    
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="hidden"><a href="#factors-subfactors" aria-controls="factors-subfactors" role="tab" data-toggle="tab">Factores y Subfactores</a></li>
        <li role="presentation" class="active"><a href="#questions-list" aria-controls="questions-list" role="tab" data-toggle="tab">Preguntas</a></li>        
    </ul>
    
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="questions-list">
            <div id="list-all-questions" class="questions" style="position: relative;">
                <div style="position: absolute; right: 0; z-index: 1001;">
                    <span class="pull-right">
                        <a href="@{csi.SurveysGenerator.editSurveySection('questions', survey.id)}" class="btn btn-green add-question">
                            <i class="glyphicon glyphicon-plus"></i> Agregar
                        </a>
                        <button id="enable" class="btn btn-info hidden">
                            <i class="glyphicon glyphicon-pencil"></i> <span>Editar valores</span>
                        </button>
                    </span>
                </div>
                <div class="table-responsive">
                    <table id="question-list" class="table table-lp left-align-text table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Orden</th>
                                <th>Tipo de Pregunta</th>
                                <th>Pregunta</th>
                                <th>Valor</th>
                                <th>Fecha Modificación</th>
                                <th>Autor Modificación</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>                
                </div>
            </div>
        </div>
        
        <div role="tabpanel" class="tab-pane hidden" id="factors-subfactors">
            <div class="col-sm-5">
                <div class="clearfix">
                    <span class="pull-right">
                        <a href="@{Factors.formFactor(survey.id)}" class="btn btn-green add-factor">
                            <i class="glyphicon glyphicon-plus"></i> Agregar Factor
                        </a>
                    </span>
                </div>
                <div class="table-responsive mt-10">
                    <table id="factors-list" class="table table-lp left-align-text table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Factor</th>
                                <th>Porcentaje</th>
                                <th>Puntos</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="clearfix">
                    <span class="pull-right">
                        <a href="@{Factors.formSubFactor(survey.id)}" class="btn btn-green add-subfactor">
                            <i class="glyphicon glyphicon-plus"></i> Agregar Subfactor
                        </a>
                        <button id="enableEditSubfactors" class="btn btn-info">
                            <i class="glyphicon glyphicon-pencil"></i> <span>Editar puntos subfactor</span>
                        </button>
                    </span>
                </div>
                <div class="subfactors-edit-actions hidden">
                    <button class="btn btn-sm btn-success save-subfactors">
                        <i class="glyphicon glyphicon-floppy-disk"></i> <span>Guardar</span>
                    </button>
                    <button class="btn btn-sm btn-red cancel-edit">
                        <i class="glyphicon glyphicon-remove"></i> <span>Cancelar</span>
                    </button>
                </div>
                <div class="table-responsive mt-10">
                    <table id="subfactors-list" class="table table-lp left-align-text table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Factor</th>
                                <th>Subfactor</th>
                                <th>Porcentaje</th>
                                <th>Puntos</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</fieldset>

<hr />

<div class="text-right">
    <a href="@{csi.SurveysCSI.surveys()}" class="btn btn-sm btn-blue" title="Editar"><i class="fa fa-arrow-left"></i> Regresar</a>
</div>

<input type="hidden" id="survey-id" value="${survey.id}" />

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/js/components/select2/select2.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/select2/select2-bootstrap3.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/bootstrap-editable.css'}" />
#{/set}

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/tinymce/tinymce.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/select2/select2.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/select2/select2_locale_es.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/xeditable/bootstrap-editable.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/surveys.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/surveys-generator-factors.js'}"></script>
#{/set}