<div class="form-horizontal">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-lp table-striped" id="table-details-row">
                <thead>
                    <tr>
                        <th>Subáreas de ${direction}</th>
                        <th>Calificación CSI</th>
                        <th>Detractores</th>
                        <th>Neutros</th>
                        <th>Promotores</th>
                        <th>Pregunta 1</th>
                        <th>Pregunta 2</th>
                        <th>Pregunta abierta 1 (detalle)</th>
                        <th>Pregunta abierta 2 (detalle)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var data = [
        "Compras diversos",
        "Compras deportes",
        "Compras niños",
        "Compras ellos",
        "Compras ellas"
    ];

    function getRandomQual() {
        var qual = Math.random() * 35 + 65;
        var cls = "detractor";

        if(qual >= 70) {
            cls = "neutral";

            if(qual >= 80) {
                cls = "promoter";
            }
        }

        return "<div class='label-qual " + cls + "'>" +
            "<div>" + qual.toFixed(2) + "</div>" +
        "</div>";
    }

    $(document).ready(function() {
        for(var i = 0; i < data.length; i++) {
            var e = data[i];

            $("#table-details-row tbody").append(
                "<tr>" +
                    "<td>" +
                        e +
                    "</td>" +
                    "<td>" +
                        getRandomQual() +
                    "</td>" +
                    "<td>" +
                        getRandomQual() +
                    "</td>" +
                    "<td>" +
                        getRandomQual() +
                    "</td>" +
                    "<td>" +
                        getRandomQual() +
                    "</td>" +
                    "<td>" +
                        getRandomQual() +
                    "</td>" +
                    "<td>" +
                        getRandomQual() +
                    "</td>" +
                    "<td>" +
                        "<button class='btn btn-link'>Comentario</button>" +
                    "</td>" +
                    "<td>" +
                        "<button class='btn btn-link'>Comentario</button>" +
                    "</td>" +
                "</tr>"
            );
        }
    });
</script>