#{extends 'Layout/default.html' /}
#{set title: 'Monitor de Correos' /}
#{set location: 'CSI / Monitor de Correos' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />

<div class="form-horizontal">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="form-group">
                <label>Monitor de Correo electrónico</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="form-group">
                <label class="blue-title">Encuesta</label>
                <select class="form-control">
                    <option>Seleccionar encuesta</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="form-group">
                <div style="margin-top: 40px;" class="panel panel-default">
                    <div class="panel-body" style="height: 163px;">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-4 text-right">
                                    <label class="blue-title">Fecha de envío</label>
                                </div>
                                <div class="col-xs-6">
                                    <input class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-4 text-right">
                                    <label class="blue-title">Correos enviados</label>
                                </div>
                                <div class="col-xs-6">
                                    <input class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-4 text-right">
                                    <label class="blue-title">Correos no enviados</label>
                                </div>
                                <div class="col-xs-6">
                                    <input class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#nav-environment").hide();
        $("#nav-csi").fadeIn(200);

        $(".content").css("background-color", "#F9F9F9");
    });
</script>