#{extends 'Layout/default.html' /}
#{set title: 'Envío de Correos' /}
#{set location: 'CSI / Envío de Correos' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />

<div class="form-horizontal">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="form-group">
                <label class="blue-title">Encuesta</label>
                <select class="form-control">
                    <option>Encuesta - CSI</option>
                    <option>Encuesta - 2</option>
                    <option>Encuesta - 3</option>
                    <option>Encuesta - 4</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="form-group">
                <label class="blue-title">Empleados (dejar vacío para enviar a todos)</label>
                <input class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9">
            <div class="form-group">
                <button class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-envelope"></span>
                    Enviar encuesta
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#nav-environment").hide();
        $("#nav-csi").fadeIn(200);

        for(var i = 0; i < 30; i++) {
            $("#table-structure tbody").append(
                "<tr>" +
                    "<td>" +
                        (i + 1) +
                    "</td>" +
                "</tr>"
            );
        }

        var tableStructure = $('#table-structure').DataTable({
            "oLanguage": {
                "sZeroRecords": "Ningún Registro",
                "sInfo": "Mostrando del _START_ al _END_ de _TOTAL_",
                "sInfoEmpty": "0 Eventos",
                "sPaginatePrevious": "Previous page",
                "sProcessing": "Cargando...",
                "oPaginate": {
                    "sFirst":    "<<",
                    "sLast":     ">>",
                    "sNext":     ">",
                    "sPrevious": "<"
                }
            }
        });

        $("#table-structure_paginate").css("padding", 0);
        $("#table-structure_info").css("font-size", 12);
        $("#table-structure_length").hide();
        $("#table-structure_length select").css({
            paddingTop: "0",
            paddingBottom: "0",
            height: "32px",
            fontSize: "12px"
        });
        $("#table-structure_filter").hide();

        //$(".content").css("background-color", "#F9F9F9");
    });
</script>