#{extends 'Layout/default.html' /}
#{set title: 'Plantillas de Correo' /}
#{set location: 'CSI / Plantillas de Correo' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />

<div class="form-horizontal">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="form-group">
                <label>Plantillas de Correo Electrónico</label>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <table class="table table-lp table-striped" id="table-email">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Encuesta</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#nav-environment").hide();
        $("#nav-csi").fadeIn(200);

        for(var i = 0; i < 30; i++) {
            $("#table-email tbody").append(
                "<tr>" +
                    "<td>" +
                        "NPS Web" +
                    "</td>" +
                    "<td>" +
                        "NPS" +
                    "</td>" +
                    "<td>" +
                        "<button class='btn btn-success'>" +
                            "<span class='glyphicon glyphicon-eye-open'></span>" +
                        "</button>" +
                        "<button class='btn btn-primary'>" +
                            "<span class='glyphicon glyphicon-pencil'></span>" +
                        "</button>" +
                    "</td>" +
                "</tr>"
            );
        }

        var tableEmail = $('#table-email').DataTable({
            "oLanguage": {
                "sZeroRecords": "Ningún Registro",
                "sInfo": "Mostrando del _START_ al _END_ de _TOTAL_",
                "sInfoEmpty": "0 Eventos",
                "sPaginatePrevious": "Previous page",
                "sProcessing": "Cargando...",
                "oPaginate": {
                    "sFirst":    "<<",
                    "sLast":     ">>",
                    "sNext":     ">",
                    "sPrevious": "<"
                }
            }
        });

        $("#table-email_paginate").css("padding", 0);
        $("#table-email_info").css("font-size", 12);
        $("#table-email_length").hide();
        $("#table-email_length select").css({
            paddingTop: "0",
            paddingBottom: "0",
            height: "32px",
            fontSize: "12px"
        });
        $("#table-email_filter").hide();

        //$(".content").css("background-color", "#F9F9F9");
    });
</script>