<div class="row">
    <div class="col-md-12">
        <table id="history-table" class="liverpool-table">
            <thead>
                <tr>
                    <th rowspan="2" class="wide-td">Areas</th>
                    <th colspan="3">Acumulado</th>
                    %{
                        for(int i = 1; i <= 12; i++) {
                            }%
                                <th colspan="3">${MONTHS[i - 1]}</th>
                            %{
                        }
                    }%
                </tr>
                <tr>
                    <th>${currYear}</th>
                    <th>${prevYear}</th>
                    <th>Crec.</th>
                    %{
                        for(int i = 1; i <= 12; i++) {
                            }%
                                <th>${currYear}</th>
                                <th>${prevYear}</th>
                                <th>Crec.</th>
                            %{
                        }
                    }%
                </tr>
            </thead>
            <tbody>
                #{list items: list, as: 'row'}
                    <tr data-group-id="${groupId}" data-level-id="${row.levelId}" data-label-time-line="${row.groupName}">
                        <td>${row.groupName}</td>
                        <td>${row.acum == 0 ? '-' : row.acum.format('###.00')}</td>
                        <td>${row.acumPrevYear == 0 ? '-' : row.acumPrevYear.format('###.00')}</td>
                        <td>${(row.acum - row.acumPrevYear).format('###.00')}</td>
                        %{
                            for(int i = 1; i <= 12; i++) {
                                Object ref = null;
                                
                                for(Object block: row.data) {
                                    if(block.monthNumber == i) {
                                        ref = block;
                                        break;
                                    }
                                }

                                if(ref != null) {
                                    }%
                                        <td>${ref.score == 0 ? '-' : ref.score.format('###.00')}</td>
                                        <td>${ref.scorePrev == 0 ? '-' : ref.scorePrev.format('###.00')}</td>
                                        <td>${(ref.score - ref.scorePrev)?.format('###.00')}</td>
                                    %{
                                } else {
                                    }%
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    %{
                                }
                            }
                        }%
                    </tr>
                #{/list}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function loadLevel2(row) {
        getHistoryReport({
            groupId: $(row).data("group-id"),
            businessId: $(row).data("level-id"),
            level: "zone",
            labelTimeLine: $(row).data("label-time-line"),
            startDate : from,
            endDate : to
        });
    }
</script>