<div class="row">
    <div class="col-md-12">
        <table id="history-table" class="liverpool-table">
            <thead>
                <tr>
                    <th rowspan="2" class="wide-td">Zona</th>
                    <th colspan="3">Acumulado</th>
                    %{
                        for(int i = 1; i <= 12; i++) {
                            }%
                                <th colspan="3">${MONTHS[i - 1]}</th>
                            %{
                        }
                    }%
                </tr>
                <tr>
                    <th>${currYear}</th>
                    <th>${prevYear}</th>
                    <th>Crec.</th>
                    %{
                        for(int i = 1; i <= 12; i++) {
                            }%
                                <th>${currYear}</th>
                                <th>${prevYear}</th>
                                <th>Crec.</th>
                            %{
                        }
                    }%
                </tr>
            </thead>
            <tbody>
                #{list items: list, as: 'row'}
                    <tr data-level-id="${row.levelId}" data-group-id="${groupId}" data-business-id="${businessId}" onclick="loadLevel3(this)" class="row-pointer" data-label-time-line="${row.groupName}">
                        <td>${row.levelId}</td>
                        <td>${row.acum == 0 ? '-' : row.acum.format('###.00')}</td>
                        <td>${row.acumPrevYear == 0 ? '-' : row.acumPrevYear.format('###.00')}</td>
                        <td>${(row.acum - row.acumPrevYear).format('###.00')}</td>
                        %{
                            for(int i = 1; i <= 12; i++) {
                                Object ref = null;
                                
                                for(Object block: row.data) {
                                    if(block.monthNumber == i) {
                                        ref = block;
                                        break;
                                    }
                                }

                                if(ref != null) {
                                    }%
                                        <td>${ref.score == 0 ? '-' : ref.score.format('###.00')}</td>
                                        <td>${ref.scorePrev == 0 ? '-' : ref.scorePrev.format('###.00')}</td>
                                        <td>${(ref.score - ref.scorePrev)?.format('###.00')}</td>
                                    %{
                                } else {
                                    }%
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    %{
                                }
                            }
                        }%
                    </tr>
                #{/list}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function loadLevel3(row) {
        getHistoryReport({
            groupId: $(row).data("group-id"),
            businessId: $(row).data("business-id"),
            zoneId: $(row).data("level-id"),
            level: "store",
            labelTimeLine: $(row).data("label-time-line"),
            startDate : from,
            endDate : to
        });
    }

    //update area combo:
    $("#places-select").html('<option value="-1">Todas las Áreas</option>');

    #{list items: areas, as: 'areaRow'}
    $("#places-select").append(
        '<option data-group-id="${groupId}" data-business-id="${businessId}" value="${areaRow[1]}" class="row-pointer"' +
        ' data-level-id="${levelId}">' +
            '${areaRow[0]}' +
        '</option>'
    );
    #{/list}
    
    #{if area != null && area != ""}
    $("#places-select").val('${area}');
    #{/if}
        
    $("#places-select").unbind("change").change(function() {
        var v = $(this).val();

        if(v == "-1") {
            $(".timeline-item:nth-child(" + (timeLineLinks.length - 1) + ")").click();
        } else {
            getHistoryReport({
                groupId: $("#places-select option:selected").data("group-id"),
                businessId: $("#places-select option:selected").data("business-id"),
                area: v,
                level: "zone",
                isSelect: true,
                currLevel: "business",
                labelTimeLine: $("option:selected", this).text()
            });
        }
    });
</script>