#{list items:_questions, as:'question'}
    <div class="question">
        <span class="question-number">${_counter + question_index}-</span> ${question.question}
    </div>
    <div class="choices">
        #{list items:question.choices, as:'choice'}
        <div class="choice">
            <label class="checkbox-inline">
                <input type="checkbox" name="answers[${question.id}]][]" value="${choice.choiceText}|${choice.id}" class="required" autocomplete="off" />
                <span></span>
                ${choice.choiceText}
            </label>
        </div>
        #{/list}
    </div>
#{/list}