#{list items:_questions, as:'question'}
<div class="question">
    <span class="question-number">${_counter + question_index}-</span> ${question.question}
</div>
<div class="choices">
    <textarea name="answers[${question.id}]" class="form-control input-sm" placeholder="Escribre tus comentarios" autocomplete="off" maxlength="512"></textarea>
</div>
#{/list}