<table class="table table-lp table-condensed table-striped">
    <thead>
        <tr>
            <th>Variable</th>
            <th>Definición</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>%collaborator.name%</td>
            <td>Nombre del colaborador</td>
        </tr>
        <tr>
            <td>%store%</td>
            <td>Nombre de la tienda</td>
        </tr>
        <tr>
            <td>%collaborator.fullName%</td>
            <td>Nombre completo del colaborador</td>
        </tr>
        <tr>
            <td>%survey.name%</td>
            <td>Nombre de la encuesta</td>
        </tr>        
        <tr>
            <td>%survey.start%</td>
            <td>Fecha de Inicio</td>
        </tr>
        <tr>
            <td>%survey.end%</td>
            <td>Fecha de finalización</td>
        </tr>
        <tr>
            <td>%survey.link%</td>
            <td>Enlace a la encuesta</td>
        </tr>
        <tr>
            <td>%usersTable%</td>
            <td>Lista de empleados</td>
        </tr>
    </tbody>
</table>