<div class="row">
    <div class="col-xs-12">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="normal-lbl">Fecha</label>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-xs-3">
                    <label class="normal-lbl">Tipo de archivo</label>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="normal-lbl">Estatus</label>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-xs-3">
                    <label class="normal-lbl">Usuario</label>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="normal-lbl"># de registros</label>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-xs-3">
                    <label class="normal-lbl">Registros con error</label>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="normal-lbl">Detalle del proceso</label>
                </div>
                <div class="col-xs-9">
                    <textarea class="form-control" rows="4"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <table id="table-results-window" class="liverpool-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Comentario</th>
                                <th>Empleado ID</th>
                                <th>Área</th>
                                <th>Práctica</th>
                                <th>Año</th>
                                <th>Mes</th>
                                <th>Día</th>
                                <th>Per. Evaluada</th>
                                <th>Pregunta 1</th>
                                <th>Pregunta 2</th>
                                <th>Pregunta 2.1</th>
                                <th>ID Grabación</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        for(var i = 0; i < 32; i++) {
            $("#table-results-window tbody").append(
                "<tr>" +
                    "<td>" +
                        (i + 1) +
                    "</td>" +
                    "<td>" +
                        "Error de estructura" +
                    "</td>" +
                    "<td>" +
                        "2345435" +
                    "</td>" +
                    "<td>" +
                        "Vendedor" +
                    "</td>" +
                    "<td>" +
                        "Ventas" +
                    "</td>" +
                    "<td>" +
                        "2016" +
                    "</td>" +
                    "<td>" +
                        "02" +
                    "</td>" +
                    "<td>" +
                        "07" +
                    "</td>" +
                    "<td>" +
                        "T" +
                    "</td>" +
                    "<td>" +
                        "8" +
                    "</td>" +
                    "<td>" +
                        "7" +
                    "</td>" +
                    "<td>" +
                        "El Vendedor no fue muy atento" +
                    "</td>" +
                    "<td>" +
                        "24554645" +
                    "</td>" +
                "</tr>"
            );        
        }

        ut.init("table-results-window", {
            tableStyling: false,
            pageSize: 3,
            disableSearch: true
        });
    });
</script>
