#{extends 'Layout/default.html' /}
#{set title: 'Panel de errores y monitor de perocesos' /}
#{set location: 'Panel de errores y monitor de perocesos' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/circle.css'}" />

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-4">
                    <label class="normal-lbl">Tipo de archivo</label>
                </div>
                <div class="col-xs-8">
                    <select class="form-control">
                        <option value="-1">Seleccione una opción</option>
                        <option value="rrhh">Estructura RRHH</option>
                        <option value="bd">BD Resultados (txt)</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-4">
                    <label class="normal-lbl">Nombre de usuario</label>
                </div>
                <div class="col-xs-8">
                    <select class="form-control">
                        <option value="-1">Seleccione una opción</option>
                        <option value="1">Usuario 1</option>
                        <option value="2">Usuario 2</option>
                        <option value="3">Usuario 3</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-4">
                    <label class="normal-lbl">Rango de fecha</label>
                </div>
                <div class="col-xs-4">
                    <label class="normal-lbl">De:</label>
                    <input type="text" class="form-control" id="date-from">
                </div>
                <div class="col-xs-4">
                    <label class="normal-lbl">Hasta:</label>
                    <input type="text" class="form-control" id="date-to">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-4">
                    <label class="normal-lbl">Estatus</label>
                </div>
                <div class="col-xs-8">
                    <select class="form-control">
                        <option value="-1">Seleccione una opción</option>
                        <option value="1">En proceso</option>
                        <option value="2">Finalizado sin errores</option>
                        <option value="3">Finalizado con errores</option>
                        <option value="4">No finalizado por error</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="form-horizontal">
            <div class="form-group">
                <table id="table-results" class="liverpool-table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Tipo de archivo</th>
                            <th># Registros</th>
                            <th>Estatus</th>
                            <th>Comentario</th>
                            <th>Usuario</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts-more.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/solid-gauge.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/errorAndTaskMonitor.js'}"></script>

#{set 'scripts'}

#{/set}
