#{extends 'Layout/login.html' /}
#{set title: 'Iniciar Sesión' /}
%{
    session.clear();
}%
<div class="login-wrapper">
    <div class="logo-small">
        <img src="@{'/public/assets/img/logo.png'}" alt="Liverpool Portal Único" />
    </div>
    <table class="login-centered">
        <tbody>
            <tr>
                <td>
                    <div id="sessionInit" class="right">
                    #{form @authenticate(), class:'login-form'}
                        <div class="login-actions">
                            <ul>
                                <li>
                                    <a class="active">
                                        Iniciar Sesión
                                    </a>
                                </li>
                                <li class="hidden">
                                    <a>
                                        Crear Cuenta
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="form-fields">
                            #{if flash.success}
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                &{flash.success}
                            </div>
                            #{/if}
                            
                            #{if flash.error || error}
                            <div class="alert alert-warning">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                &{flash.error}
                            </div>
                            #{/if}
                            
                            <div class="form-group">
                                <input type="text" id="username" name="username" maxlength="50" required oninvalid="this.setCustomValidity('Debe capturar usuario y contraseña')" placeholder="Usuario" value="${flash.username}" oninput="setCustomValidity('')" />
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" name="password" maxlength="50" required oninvalid="this.setCustomValidity('Debe capturar usuario y contraseña')" placeholder="Contraseña" oninput="setCustomValidity('')"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="forgot-password">
                                <a href="#" onclick="hiddenLogin();">¿Olvidaste tu contraseña?</a>
                            </p>
                            <button id="login-btn">
                                <img src="@{'/public/assets/img/arrow-right.png'}" alt="Liverpool Entrar" />
                            </button>
                        </div>        
                    #{/form}
                </div>        
                </td>
            </tr>
        </tbody>
    </table>

    <div id="changePws" class="right" style="display: none;">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <form id="form-recover-pass">        
                   <div class="login-actions">
                        <label class="active">
                            <a href="#" style="text-decoration: none;">Recuperar contraseña</a>
                        </label>
                    </div>
                    <div class="form-fields">
                        #{if flash.success}
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            &{flash.success}
                        </div>
                        #{/if}
                        
                        #{if flash.error || error}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            &{flash.error}
                        </div>
                        #{/if}

                        <div class="alert alert-success alert-dismissible" id="alert-sent" style="display: none;">
                            Se ha enviado un correo que te permitirá reinicializar tu contraseña.
                        </div>
                        <div class="alert alert-warning alert-dismissible" id="alert-required" style="display: none;">
                            Por favor introduza un email válido
                        </div>
                        
                        <div class="form-group">
                            <input type="text" class="form-control" id="emailSend" name="emailSend" maxlength="50" required oninvalid="this.setCustomValidity('Debe capturar un email válido')" placeholder="Email"  />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-3 col-xs-offset-3">
                                <button id="change-btn" type="button" onclick="showLogin()">
                                    <img src="@{'/public/assets/img/arrow-back.png'}" alt="Liverpool Entrar" />
                                </button>
                            </div>
                            <div class="col-xs-3">
                                <button id="change-btn" type="button" onclick="sendMail()">
                                    <img src="@{'/public/assets/img/arrow-right.png'}" alt="Liverpool Entrar" />
                                </button>
                            </div>
                        </div>
                    </div>        
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" >
    window.localStorage.clear();
    
    function sendMail() {
        $("#form-recover-pass").submit(function() {
            return true;
        });

        var email= $("#emailSend").val().toUpperCase();

        if (validateEmail(email)) {
             $.ajax({
                url: "@{ChangePassword.sendEmail()}",
                data: {email: email},
                type: 'POST',
                success:function(data) {
                    $("#alert-required").hide(200, function() {
                        $("#alert-sent").show(200);         
                    });
                }
            });        
        } else {
            $("#alert-sent").hide(200, function() {
                $("#alert-required").show(200);         
            });
        }
    }

    function hiddenLogin(){
        $("#sessionInit").hide();
        $("#changePws").show();

        $("#alert-sent").hide();
        $("#emailSend").val("");
    }

    function showLogin() {
        location.href = "/secure/login";
    }


    function validateEmail( email ) {
        var regex = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        return regex.test(email);
    }
</script>