#{extends 'Layout/default.html' /}
#{set title: 'Carga de archivos' /}
#{set location: 'Carga de archivos' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />

<div class="form-horizontal white">
    #{form @FileLoadNPS.uploadFile(), enctype:'multipart/form-data',id:'formPlay'}
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="col-xs-8 col-xs-offset-2 white">
                    <div class="col-xs-5">
                        <label class="normal-lbl">Tipo de archivo</label>
                    </div>
                    <div class="col-xs-5">
                        <select id="typeO" name="typeO" class="form-control">
                            <option value="-1">Seleccione una opción</option>
                            <option value="sap">Estructura SAP</option>
                            <option value="bd">BD Resultados (.txt)</option>
                            <option value="ct">Catálogo de Tiendas</option>
                            <option value="ca">Catálogo de Areas</option>
                            <option value="cp">Catálogo de Prácticas</option>
                            <option value="cs">Catálogo de Secciones</option>
                            <option value="cf">Catálogo de Funciones</option>
                            <option value="cnv">Catálogo de No Ventas</option>
                        </select>
                    </div>
                    <div class="col-xs-2">
                        <button id="btn-download" title="Descargar catálogo" type="button" class="btn btn-primary col-xs-12" style="display: none;">
                            <span class="glyphicon glyphicon-download-alt"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row load-row" style="display: none;">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="col-xs-5">
                        <div id="load-type" class="visible-lg-inline-block">
                            <label class="normal-lbl">Carga:</label>
                            <div class="radio inline-radio">
                                <label><input type="radio" checked value="partial" name="load_sap">Parcial</label>
                            </div>
                            <div class="radio inline-radio">
                                <label><input type="radio" value="complete" name="load_sap">Completa</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="col-xs-5">
                        <label class="normal-lbl">Seleccione un archivo</label>
                    </div>
                    <div class="col-xs-5">
                        <input id="inputFront" class="form-control" name="title">
                    </div>
                    <div class="col-xs-2">
                        <input type="file" class="fixedfileinput" id="file" name="file">
                        <button class="btn btn-primary col-xs-12 btn-sm">
                            <span class="glyphicon glyphicon-option-horizontal"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="col-xs-10">
                        <div class="progress m-4">
                            <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" id="progressbar-file"
                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                Progress 0%
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <button title="Subir archivo" class="btn btn-primary btn-sm col-xs-12" form="formPlay">
                            <span class="glyphicon glyphicon-open"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="col-xs-12 col-xs-offset-2">
                    <label class="normal-lbl" style="margin-left: 13px;">Eliminación de evaluaciones:</label>
                </div>
            </div>
        </div>
    </div>
    #{/}
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="col-xs-5">
                        <input id="deleteM" type="text" class="form-control" placeholder="Mes">
                    </div>
                    <div class="col-xs-5">
                        <input id="deleteY" type="text" class="form-control" placeholder="Año">
                    </div>
                    <div class="col-xs-2">
                        <button id="btnDelete" style="margin-top: 4px;" class="btn btn-danger btn-sm col-xs-12">
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-xs-offset-2">
                <label class="normal-lbl"  id="message" style="margin-left: 13px;"></label>
            </div>
        </div>        
    </div>
</div>

<br>

<div class="form-horizontal">
    <div class="row">
        <div class="form-group" id="message">
            <label></label>
        </div>
    </div>
</div>

<script src="@{'/public/javascripts/libs/jquery-form/jquery.form.js'}" type="text/javascript" ></script>

<script src="@{'/public/assets/js/components/loadFiles/fileUploadScript.js'}" type="text/javascript"></script>
<script src="@{'/public/assets/js/components/loadFiles/progressbar.js'}" type="text/javascript"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>

<script type="text/javascript">
    var uploadProgress = 0;
    var months = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
                    "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
    $(document).ready(function() {
    $("#nav-environment").hide();
    $("#side-bar-nps").show();
    $("#nav-csi").fadeIn(200);
    $("#inputFront").keydown(function(evt) {
    return false;
    });
    $("#typeO").change(function() {
    var v = $(this).val().toLowerCase();
    if (v.startsWith("c")) {
    $("#btn-download").fadeIn(200);
    } else {
    $("#btn-download").fadeOut(200);
    }
    });
    $('#btn-download').click(function () {

    var url = baseUrl + 'fileloadnps/downloadCatalog?type=' + $('#typeO option:selected').val();
    window.location.href = url;
    });
//
//        $("input[name=load_sap]").change(function(evt) {
//            var _this = $(this);
//            var v = _this.val();
//
//            if(v == "complete") {
//                swal({
//                    title: "Mensaje",
//                    text: "¿Confirma que desea subir el registro completo? Este proceso de ejecutará hoy de manera nocturna",
//                    type: "warning",
//                    showCancelButton: true,
//                    confirmButtonColor: "#337AB7",
//                    confirmButtonText: "Entendido",
//                    cancelButtonText: "Cancelar",
//                    closeOnConfirm: true,
//                    closeOnCancel: true
//                },
//                function(isConfirm){
//                    if (isConfirm) {
//                    } else {
//                        $("input[value=partial]").prop("checked", true);
//                    }
//                });
//            }
//        });

    $(".fixedfileinput").change(function(evt) {
    $("#progressbar-file").css("width", "0%").attr("aria-valuenow", 0);
    //           uploadProgress = 0;

    var files = evt.target.files;
    for (var i = 0; i < files.length; i++) {
    var f = files[i];
    $("#inputFront").val(f.name);
    }


//            var intervalFunction = function() {
//                uploadProgress += 5;
//
//                if(uploadProgress >= 100) {
//                    uploadProgress = 100;
//                    clearInterval(intervalId);
//                    $("#file-table").fadeIn(200);
//                }
//
//                var prgs = uploadProgress + "%";
//
//                $("#progressbar-file").css("width", prgs)
//                .attr("aria-valuenow", uploadProgress).html(prgs);
//            };

    //var intervalId = setInterval(intervalFunction, 100);
    });
    $("#deleteM").datepicker({
    format: " MM",
            viewMode: "months",
            minViewMode: "months",
            language: 'es',
            autoclose: true
    });
    $("#deleteY").datepicker({
    format: " yyyy",
            viewMode: "years",
            minViewMode: "years",
            language: 'es',
            autoclose: true
    });
    $("#btnDelete").click(function() {
    if ($("#deleteM").val().trim().length == 0 ||
            $("#deleteY").val().trim().length == 0) {
    swal("Debe seleccionar año y mes");
    } else {
    swal({
    title: "Mensaje",
            text: "¿Confirma la eliminación de los registros?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Aceptar",
            cancelButtonText: "Cancelar",
            closeOnConfirm: true
    },
            function(isConfirm){
            if (isConfirm) {
            var month = $("#deleteM").data('datepicker').
                    getFormattedDate('mm');
            var year = $("#deleteY").data('datepicker').
                    getFormattedDate('yyyy');
            var action = baseUrl + 'fileloadnps/eraserMonth?' + 'month=' + month + '&year=' + year;
            Liverpool.loading("show");
            $.ajax({
            url: action,
                    success: function (data) {
                        $('#message').text(data + " registros eliminados del mes " + months[(Number(month) - 1)] + " del año " + year);
                        Liverpool.loading("hide");
                    }
            });
            }
            });
    }
    });
    });
</script>