@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 400;
  src: url(../themes.googleusercontent.com/static/fonts/monda/v1/jTmvG8tSl8y7Cw0ieRkwGA.eot)/*tpa=http://themes.googleusercontent.com/static/fonts/monda/v1/jTmvG8tSl8y7Cw0ieRkwGA.eot*/;
  src: local('Monda Regular'), local('Monda-Regular'), url(../themes.googleusercontent.com/static/fonts/monda/v1/jTmvG8tSl8y7Cw0ieRkwGA.eot)/*tpa=http://themes.googleusercontent.com/static/fonts/monda/v1/jTmvG8tSl8y7Cw0ieRkwGA.eot*/ format('embedded-opentype'), url(http://themes.googleusercontent.com/static/fonts/monda/v1/sk05J8GA1NvUxDnk43EgAQ.woff) format('woff');
}
