/* ngCloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}


div.bloque{
    padding:15px;
    margin: 15px;
    border:2px solid #ddd;

}

/*******************************************************************************
Toolbar
*******************************************************************************/
.action-nav-normal .action-nav-button.btn-default a, .action-nav-normal .action-nav-button.btn-red a, .action-nav-normal .action-nav-button.btn-green a, .action-nav-normal .action-nav-button.btn-blue a, .action-nav-normal .action-nav-button.btn-gray a, .action-nav-normal .action-nav-button.btn-black a, .action-nav-normal .action-nav-button.btn-lightblue a, .action-nav-normal .action-nav-button.btn-gold a, .action-nav-normal .action-nav-button.btn-sea a, .action-nav-normal .action-nav-button.btn-brown a, .action-nav-normal .action-nav-button.btn-twitter a, .action-nav-normal .action-nav-button.btn-facebook a {
    color: #fff;
    text-shadow: 0 1px rgba(51, 51, 51, 0.5);
}
.action-nav-normal .action-nav-button.btn-default a i, .action-nav-normal .action-nav-button.btn-red a i, .action-nav-normal .action-nav-button.btn-green a i, .action-nav-normal .action-nav-button.btn-blue a i, .action-nav-normal .action-nav-button.btn-gray a i, .action-nav-normal .action-nav-button.btn-black a i, .action-nav-normal .action-nav-button.btn-lightblue a i, .action-nav-normal .action-nav-button.btn-gold a i, .action-nav-normal .action-nav-button.btn-sea a i, .action-nav-normal .action-nav-button.btn-brown a i, .action-nav-normal .action-nav-button.btn-twitter a i, .action-nav-normal .action-nav-button.btn-facebook a i {
    color: #fff;
    text-shadow: 0 1px rgba(51, 51, 51, 0.5);
}
.action-nav-normal .action-nav-button.btn-default a:active, .action-nav-normal .action-nav-button.btn-red a:active, .action-nav-normal .action-nav-button.btn-green a:active, .action-nav-normal .action-nav-button.btn-blue a:active, .action-nav-normal .action-nav-button.btn-gray a:active, .action-nav-normal .action-nav-button.btn-black a:active, .action-nav-normal .action-nav-button.btn-lightblue a:active, .action-nav-normal .action-nav-button.btn-gold a:active, .action-nav-normal .action-nav-button.btn-sea a:active, .action-nav-normal .action-nav-button.btn-brown a:active, .action-nav-normal .action-nav-button.btn-twitter a:active, .action-nav-normal .action-nav-button.btn-facebook a:active {
    box-shadow: 0 0 2px #707070 inset, 0 1px 0 white;
}
.action-nav-normal {
    margin: 0 20px 0 20px;
    text-align: left;
}
.action-nav-normal.rounded .action-nav-button {
    margin-left: 10px;
    margin-right: 10px;
}
.action-nav-normal.rounded .action-nav-button a {
    border-radius: 50%;
    min-width: auto;
    padding: 16px;
}
.action-nav-normal.rounded .action-nav-button a i {
    height: 40px;
    line-height: 40px;
}
.action-nav-normal .action-nav-button {
    display: inline-block;
    margin: 5px 5px 15px;
    padding-right: 0;
    position: relative;
    text-align: center;
}
.action-nav-normal .action-nav-button a {
    background: #ececec -moz-linear-gradient(center top , #fafafa, #ececec) repeat scroll 0 0 / 100% auto;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #fafafa inset, 0 1px 1px 0 #dddddd;
    box-sizing: border-box;
    color: #626262;
    display: block;
    font-weight: 600;
    padding: 10px 10px;
    text-decoration: none;
    white-space: nowrap;
}
.action-nav-normal .action-nav-button a:hover {
    background: #f2f2f2 -moz-linear-gradient(center top , #f7f7f7, #f2f2f2) repeat scroll 0 0 / 100% auto;
}
.action-nav-normal .action-nav-button a:active {
    background: #f7f7f7 -moz-linear-gradient(center top , #f4f4f4, #f7f7f7) repeat scroll 0 0 / 100% auto;
    box-shadow: none;
}
.action-nav-normal .action-nav-button a > span {
    display: block;
    font-weight: 600;
    padding-top: 4px;
}
.action-nav-normal .action-nav-button a > i {
    color: #808080;
    font-size: 32px;
}
.action-nav-normal .action-nav-button.btn-default a {
    background: #d4d4d4 -moz-linear-gradient(center top , #f8f8f8, #d4d4d4) repeat scroll 0 0 / 100% auto;
    border: 1px solid #d9d9d9;
    box-shadow: 0 1px 2px 0 #f8f8f8 inset;
}
.action-nav-normal .action-nav-button.btn-default a:hover {
    opacity: 0.95;
    transition: opacity 0.2s ease-in-out 0s;
}
.action-nav-normal .action-nav-button.btn-default a:active {
    background: #e4e4e4 none repeat scroll 0 0;
}
.action-nav-normal .action-nav-button.btn-red a {
    background: #a54747 -moz-linear-gradient(center top , #c27272, #a54747) repeat scroll 0 0 / 100% auto;
    border: 1px solid #ac4a4a;
    box-shadow: 0 1px 2px 0 #c27272 inset;
}
.action-nav-normal .action-nav-button.btn-red a:hover {
    opacity: 0.95;
    transition: opacity 0.2s ease-in-out 0s;
}
.action-nav-normal .action-nav-button.btn-red a:active {
    background: #b65555 none repeat scroll 0 0;
}
.action-nav-normal .action-nav-button.btn-green a {
    background: #6d963b -moz-linear-gradient(center top , #91be5a, #6d963b) repeat scroll 0 0 / 100% auto;
    border: 1px solid #729d3e;
    box-shadow: 0 1px 2px 0 #91be5a inset;
}
.action-nav-normal .action-nav-button.btn-green a:hover {
    opacity: 0.95;
    transition: opacity 0.2s ease-in-out 0s;
}
.action-nav-normal .action-nav-button.btn-green a:active {
    background: #7dac43 none repeat scroll 0 0;
}
.action-nav-normal .action-nav-button.btn-blue a {
    background: #337ca1 -moz-linear-gradient(center top , #53a1c9, #337ca1) repeat scroll 0 0 / 100% auto;
    border: 1px solid #3682a9;
    box-shadow: 0 1px 2px 0 #53a1c9 inset;
}
.action-nav-normal .action-nav-button.btn-blue a:hover {
    opacity: 0.95;
    transition: opacity 0.2s ease-in-out 0s;
}
.action-nav-normal .action-nav-button.btn-blue a:active {
    background: #3b8eb8 none repeat scroll 0 0;
}
.action-nav-normal .action-nav-button.btn-gray a {
    background: #626e7f -moz-linear-gradient(center top , #8692a2, #626e7f) repeat scroll 0 0 / 100% auto;
    border: 1px solid #667384;
    box-shadow: 0 1px 2px 0 #8692a2 inset;
}
.action-nav-normal .action-nav-button.btn-gray a:hover {
    opacity: 0.95;
    transition: opacity 0.2s ease-in-out 0s;
}
.action-nav-normal .action-nav-button.btn-gray a:active {
    background: #6f7d90 none repeat scroll 0 0;
}
.action-nav-normal .action-nav-button.btn-black a {
    background: #5a5a5a -moz-linear-gradient(center top , #7e7e7e, #5a5a5a) repeat scroll 0 0 / 100% auto;
    border: 1px solid #5f5f5f;
    box-shadow: 0 1px 2px 0 #7e7e7e inset;
}
.action-nav-normal .action-nav-button.btn-black a:hover {
    opacity: 0.95;
    transition: opacity 0.2s ease-in-out 0s;
}
.action-nav-normal .action-nav-button.btn-black a:active {
    background: #6a6a6a none repeat scroll 0 0;
}
.action-nav-normal .action-nav-button.btn-lightblue a {
    background: #3692bb -moz-linear-gradient(center top , #65b1d3, #3692bb) repeat scroll 0 0 / 100% auto;
    border: 1px solid #3898c3;
    box-shadow: 0 1px 2px 0 #65b1d3 inset;
}
.action-nav-normal .action-nav-button.btn-lightblue a:hover {
    opacity: 0.95;
    transition: opacity 0.2s ease-in-out 0s;
}
.action-nav-normal .action-nav-button.btn-lightblue a:active {
    background: #45a1ca none repeat scroll 0 0;
}
.action-nav-normal .action-nav-button.btn-gold a {
    background: #a87a27 -moz-linear-gradient(center top , #d3a044, #a87a27) repeat scroll 0 0 / 100% auto;
    border: 1px solid #b08029;
    box-shadow: 0 1px 2px 0 #d3a044 inset;
}
.action-nav-normal .action-nav-button.btn-gold a:hover {
    opacity: 0.95;
    transition: opacity 0.2s ease-in-out 0s;
}
.action-nav-normal .action-nav-button.btn-gold a:active {
    background: #c18c2d none repeat scroll 0 0;
}
.action-nav-normal .action-nav-button.btn-sea a {
    background: #39534f -moz-linear-gradient(center top , #567d78, #39534f) repeat scroll 0 0 / 100% auto;
    border: 1px solid #3d5955;
    box-shadow: 0 1px 2px 0 #567d78 inset;
}
.action-nav-normal .action-nav-button.btn-sea a:hover {
    opacity: 0.95;
    transition: opacity 0.2s ease-in-out 0s;
}
.action-nav-normal .action-nav-button.btn-sea a:active {
    background: #456561 none repeat scroll 0 0;
}
.action-nav-normal .action-nav-button.btn-brown a {
    background: #856733 -moz-linear-gradient(center top , #b88e48, #856733) repeat scroll 0 0 / 100% auto;
    border: 1px solid #8c6c36;
    box-shadow: 0 1px 2px 0 #b88e48 inset;
}
.action-nav-normal .action-nav-button.btn-brown a:hover {
    opacity: 0.95;
    transition: opacity 0.2s ease-in-out 0s;
}
.action-nav-normal .action-nav-button.btn-brown a:active {
    background: #9b783c none repeat scroll 0 0;
}
.action-nav-normal .action-nav-button.btn-twitter a {
    background: #2189ff -moz-linear-gradient(center top , #69afff, #2189ff) repeat scroll 0 0 / 100% auto;
    border: 1px solid #2c8eff;
    box-shadow: 0 1px 2px 0 #69afff inset;
}
.action-nav-normal .action-nav-button.btn-twitter a:hover {
    opacity: 0.95;
    transition: opacity 0.2s ease-in-out 0s;
}
.action-nav-normal .action-nav-button.btn-twitter a:active {
    background: #4099ff none repeat scroll 0 0;
}
.action-nav-normal .action-nav-button.btn-facebook a {
    background: #2d4479 -moz-linear-gradient(center top , #4061ad, #2d4479) repeat scroll 0 0 / 100% auto;
    border: 1px solid #2f4880;
    box-shadow: 0 1px 2px 0 #4061ad inset;
}
.action-nav-normal .action-nav-button.btn-facebook a:hover {
    opacity: 0.95;
    transition: opacity 0.2s ease-in-out 0s;
}
.action-nav-normal .action-nav-button.btn-facebook a:active {
    background: #35508f none repeat scroll 0 0;
}
.action-nav-normal .badge, .action-nav-normal .label {
    box-shadow: none;
    display: block;
    padding: 3px 5px;
    position: absolute;
    right: 3px;
    top: 3px;
}
.action-nav-normal.action-nav-line .action-nav-row {
    margin-right: 0;
}
.action-nav-normal .triangle-button {
    border-top-right-radius: 3px;
    pointer-events: none;
}
.action-nav-normal .triangle-button i {
    right: 4px;
    top: 3px;
}
.triangle-button {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 32px;
    line-height: 16px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: none;
    top: 0;
    width: 32px;
}
.triangle-button i, .triangle-button .inner {
    position: absolute;
    right: 3px;
    top: 2px;
    z-index: 1;
}
.triangle-button::before {
    border-bottom: 32px solid transparent;
    border-right: 32px solid;
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}
.triangle-button:hover, .triangle-button:active {
    color: #fff;
}
.triangle-button.red::before {
    border-right-color: #aa433a;
}
.triangle-button.red:hover::before {
    border-right-color: #b5473e;
}
.triangle-button.red:active::before {
    border-right-color: #9f3f36;
}
.triangle-button.green::before {
    border-right-color: #8fae53;
}
.triangle-button.green:hover::before {
    border-right-color: #96b35d;
}
.triangle-button.green:active::before {
    border-right-color: #87a44d;
}
.triangle-button.blue::before {
    border-right-color: #7fb3d4;
}
.triangle-button.blue:hover::before {
    border-right-color: #8abad8;
}
.triangle-button.blue:active::before {
    border-right-color: #74acd0;
}
.triangle-button.orange::before {
    border-right-color: #cf6e20;
}
.triangle-button.orange:hover::before {
    border-right-color: #dc7522;
}
.triangle-button.orange:active::before {
    border-right-color: #c2671e;
}

/*******************************************************************************
Activitities
*******************************************************************************/
.activities-list {
    min-height: 400px;
}

.activity {
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: move;
    display: inline-block;
    margin: 0 5px 10px;
    height: 100px;
    overflow: hidden;
    position: relative;
    width: 100px;
}

.activity > .activity-type {
    display: block;
    font-size: 28px;
    padding-top: 23px;
    text-align: center;
}

.activity > .activity-name {
    bottom: 0;
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: 40px;
    overflow: hidden;
    padding: 4px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.activity > .select-activity {
    height: 20px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.activity > .select-activity > span {
    padding: 0 4px 0;
}


/*******************************************************************************
Activitities Preview
*******************************************************************************/
.activity-preview {
    overflow: hidden;
    position: relative;
    min-height: 442px;
}
.ipad {
    background: url(../img/containers/ipad.png);
    background-size: cover;
    height: 442px;
    position: absolute;
    width: 299px;
}

.iphone {
    background: url(../img/containers/iphone.png);
    background-size: cover;
    bottom: 0;
    height: 372px;
    left: 310px;
    position: absolute;
    width: 185px;
}

.ipad iframe {
    backface-visibility: hidden;
    background-color: white;
    border: medium none;
    height: 1542px;
    margin-left: 16px;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    top: 44px;
    transform: scale(0.23);
    transform-origin: 0 0 0;
    transform-style: preserve-3d;
    transition: all 0.3s ease-in-out 0s;
    width: 1159px;
}

.iphone iframe {
    backface-visibility: hidden;
    background-color: white;
    border: medium none;
    height: 640px;
    margin-left: 11px;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    top: 42px;
    transform: scale(0.450);
    transform-origin: 0 0;
    transform-style: preserve-3d;
    transition: all 0.3s ease-in-out 0s;
    width: 360px;
}

/* ANIMATION STYLINGS
TRANSICIONES EN ACTIVIDADES
============================================================================= */
#signup-form            { position:relative; min-height:300px; overflow:hidden; padding:30px; }
#form-views             { width:auto; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
                            transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}

/* enter animation */
#form-views.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease; 
}

/* leave animation */
#form-views.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;   
}

/* ANIMATIONS 

============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}

/* Animations
RESPUESTAS DE PARAMETROS */
.animate-show-item.ng-hide-add,
.animate-show-item.ng-hide-remove {
    -webkit-transition:0.33s ease all;
    transition:0.2s linear all;

    /* remember to add this */
    display:block!important;
    position: relative;
    top: 0;
    opacity:1;
}
.animate-show-item.ng-hide {
    top: -15px;
    opacity:0;
}



/*
.no-margin{
    margin:0;
}*/
.no-padding{
    padding:0;
}
.no-width{
    width:0;
}

.paddingleft20{
    padding-left:20px;
}

.padding-10{
    padding:10px;
}

label.radio{
    /*padding-left: 0px;*/
}

.selected,label.selected {
    border: 2px solid #BDCB19;
}

.btn-category-type {
    margin: 10px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}