body{
    background-color: #f9f9f9;
}

/* Reutilizable */
    .content{
        background-color: transparent;
    }

    .nomargin{margin: 0;}
    .nopadding{padding: 0;}

    .selects{
        border: 1px solid #dbd7d9;
        height: 34px;
        font-size: 14px;
        font-weight: normal;
        -moz-appearance: none;
        -webkit-appearance:none;
        background: #fff url("../img/angle_down.png") 98% 15px no-repeat;
    }
    .selects::-ms-expand {
        display: none;
    }

    hr{margin: 2px 0px;}

    /* Butons */
    .btn{
        margin-left: 3px;
        margin-right: 3px;
        min-width: 78px;
        border: 0;
    }

    .btn-green{
        background-color: #79d77d;
    }
    .btn-green:hover{
        background-color: #68c36c;
    }

    .btn-blue{
        background-color: #306898;
    }
    .btn-blue:hover{
        background-color: #285b86;
    }

    .btn-red{
        background-color: #ff616c;
    }
    .btn-red:hover{
        background-color: #e6535d;
    }
    /* End butons */

    .blue-title{
        color: #306898 !important;
        font-size: 14px;
        font-weight: bold !important;
    }
    
    .white-box{
        background-color: #ffffff;
        box-shadow: 0px 1px 0.13em rgba(0,0,0,0.2);
        border-radius: 4px;
    }

    .btn-modal-close{
        position: absolute;
        top: 10px;
        right: 13px;
        z-index: 9;
    }

/* Page */
.rows-ficha{
    margin: 0px 0px 10px 0px;
}

.bq-ficha{
    padding: 38px 0px;
    margin-top: 45px;
}

@media screen and (max-width: 999px){
    .bq-ficha .btn{ margin: 12px 0px; }
}
/* End */

/* Table */
.tab-title{
    padding: 13px 15px;
    background-color: #306898;
}

.tab-title h4{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.table-lp .tb-white-head tr th{
    color: #306898;
    font-size: 14px;
    border-bottom: 1px solid #e6eef8;
    background: #ffffff;
}

.table-lp tbody tr td{
    border-top: 0;
    font-size: 15px;
}

.table-striped > tbody > tr:nth-of-type(2n+1){
    background-color: #f4f7f9;
}
/* End Table */

/* Pagination */
.pagination{
    margin: 0;
}

.pagination li{
    display: inline-block;
}

.pagination li:first-child{
    margin-right: 7px;
}

.pagination li:last-child{
    margin-left: 7px;
}

.pagination li a{
    padding: 0px 1px;
    margin: 0px 1px;
    border: 0;
    border-radius: 50%;
    min-width: 22px;
    height: 22px;
    line-height: 24px;
}

.pagination li a:hover{
    background-color: transparent;
}

.pagination .active a{
    padding-right: 1px;
    background-color: #83acdb !important;
}
/* End pagination */
