html, body {
  height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: #f9f9f9;
    font-family: Arial;
    font-size: 14px;
}

.page-wrapper {
    min-height: 100%;
    margin-bottom: -40px;
    padding-bottom: 40px; 
}

.page-wrapper:after {
  content: "";
  display: block;
}

.page-wrapper:after {
  height: 40px; 
}

header {
    background: #fff;
    border-bottom: 1px solid #83acdb;
    height: 110px;
    padding: 30px;
    text-align: center;
}

#main-menu {
    padding-top: 100px;
}

.section-wrapper {
    text-align: center;
}

.section-wrapper .section-link {
    padding: 20px;
}

.section-wrapper .section-link > a {
    border: 1px solid #83acdb;
    border-radius: 15px;
    color: #316495;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    width: 118px;  
}

.section-wrapper .section-link > a:hover {
    background: #6d9dd4;
    color: #fff; 
}

footer {
    background: #316495;
    color: #fff;
    height: 40px;
}

footer p  {
    padding-top: 10px;
}

footer p a {
    color: #fff;
    text-decoration: none;
}