/* 
    Created on : 10/08/2016, 11:02:33 AM
    Author     : Jorge Perales <jperales@syesoftware.com>
*/

html, body {
    font-family: Arial;
    height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

.login-wrapper {
    position: relative;
    min-height: 100%;
}

.left {
    background: url(../img/bg-left-login.jpg) no-repeat scroll center center / cover;
    height: 100%;
    padding: 45px;
    position: fixed;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 50%;
    
}

.right {
    float: right;
    padding: 80px 115px 80px 115px;
    transition: all 0.4s ease 0s;
    width: 50%;
}

.logo {
    margin-bottom: 100px;
    text-align: center;
}

.login-form .form-group {
    border-bottom: 1px solid #7f7f7f;
    padding: 10px;
    text-align: center;
}

.login-actions {
    margin-bottom: 30px;
    text-align: center;
}

.login-actions > ul {
    list-style-type: none;
    padding: 0;
}

.login-actions > ul > li {    
    display: inline-block;
    width: 128px;
}

.login-actions > ul > li > a {
    color: #83acdb;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    width: 125px;
}

.login-actions > ul > li > a.active, .login-actions > ul > li > a:hover {
    color: #316495;
}

.login-form input[type=text], .login-form input[type=password] {
    border: none;
    height: 36px;
    padding-left: 45px;
}

.login-form  input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #55565a;
}

.login-form  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #55565a;
   opacity: 1;
}

.login-form  input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #55565a;
   opacity: 1;
}

.login-form  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #55565a;
}

.login-form  input:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #55565a;
}

.login-form #username {
    background: url(../img/icon-user.png) no-repeat;
    background-position: center left;
    width: 110px;
}

.login-form #password {
    background: url(../img/icon-key.png) no-repeat;
    background-position: center left;
    width: 136px;
}

.login-form #login-btn {
    background: none;
    border-color: transparent;
}

.login-form .form-group:last-child {
    border-bottom: none;
    padding-top: 0;
}

.forgot-password {
    margin-bottom: 20px;
}

.forgot-password a {
    color: #55565a;
    font-size: 11px;
    text-decoration: none;
}

@media (max-width: 1023px) {
    .left {
        display: none;
    }
    
    .right {
        width: 100%;
    }
}

@media (max-width: 767px) {   
    .right {
        padding: 50px;
    }
}
