html {
    height: 100%;
    font-size: 100%;
}

body {
    color: #565656;
    font-family: Arial;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a:link, a:visited {
    text-decoration: none;
    outline: none;
    color: #2e2e32;
}

a:hover, a:active {
    outline: none;
    text-decoration: none;
    color: #999999;
}

#main-wrapper {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}
.main-content-wrapper {
    margin-right: 10px;
    padding: 0 20px;
    position: relative;
}
.main-content-wrapper #main-content {
    padding: 15px 15px 0 15px;
    width: 100%;
}
.main-content-wrapper #main-content .h1 {
    margin: 0;
    padding: 0px 10px 40px 10px;
    float: left;
    line-height: 10px;
    font-weight: 300;
    font-size: 1.5em;
}
.main-content-toggle-left {
    margin-left: 0;
}
.main-content-toggle-right {
    margin-right: 240px;
}
.pageheader {
    padding: 15px;
    border-bottom: 1px solid #dce0e6;
    border-top: 1px solid #eee;
    background: #F6F8F8;
    position: relative;
}
.pageheader h2 {
    font-weight: 300;
    margin: 0;
}
.pageheader .description {
    margin: 0;
    margin-top: 5px;
    color: #999;
}
.pageheader .breadcrumb-wrapper {
    position: absolute;
    top: 13px;
    right: 25px;
}
.pageheader .breadcrumb-wrapper .label {
    color: #999;
    text-transform: uppercase;
    font-size: 0.688em;
    font-weight: normal;
    display: inline-block;
}
.pageheader .breadcrumb {
    background: none;
    display: inline-block;
    padding: 0;
}
.pageheader .breadcrumb li {
    font-size: 0.75em;
}
.pageheader .breadcrumb li.active {
    color: #333;
}
.pageheader .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #515050;
    font-family: FontAwesome;
    content: "\f105";
}
@media (max-width: 767px) {
    .main-content-wrapper {
        margin-left: 0;
    }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
    /* Main Content */
    #main-content .h1 {
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 660px) {
    .main-content-toggle-left {
        margin-left: 660px;
    }
}

/*******************************************************************************
Header
*******************************************************************************/
#header {
    background: #fff;
    border-bottom: 1px solid #83acdb;
    border-radius: 0;
    height: 80px;
    margin-bottom: 0;
    padding-right: 20px;
    z-index: 1001;
}

#header .brand {  
    height: 80px;
    float: left;
    padding-left: 20px;
    padding-top: 25px;
    text-align: center;
    width: 170px;
}

#header .brand img {
    width: 100%;
    height: auto;
}

#header.navbar {
    margin-bottom: 0;
}

.navbar-right {
    margin-top: 25px;
}

.navbar-right .profile {
    padding: 5px 15px 5px 15px;;
}

.navbar-right .profile:first-child {
    border-right: 1px solid #d6d6d6;
}

.profile .meta {
    text-align: right;
}

.profile .meta .text {
    color: #306898;
    display: block;
    font-size: 14px;
}

.profile .meta .text > span {
    font-weight: bold;
}

.profile .meta .link {
    color: #003465;
    display: block;
    font-size: 12px;
}

.profile .meta .link > a {
    cursor: pointer;
}

.nav > .notifications {
    padding-top: 10px;
}

.nav > .notifications > a:hover,
.nav > .notifications > a:focus {
    background: none;
}

.notifications .dropdown-menu {
    margin-top: 15px;
    padding: 0;
    width: 220px;
}

.notifications .dropdown-menu .heading {
    background: #338bca;
    color: #fff;
    padding: 10px;    
}

.notifications .dropdown-menu .heading h5 {
    margin: 0;
}
/*******************************************************************************
Sidebar
*******************************************************************************/
.sidebar-left {
    background: #306898;
}

.sidebar-left a {
    color: #fff;
}

.sidebar-left .nav-pills {
    margin-left: 0px;
    margin-right: 0px;
}

.sidebar-left .profile-image {
    background: url(../img/bg-profile-image.jpg) no-repeat;
    height: 165px;
    padding-top: 20px;
}

.sidebar-left .profile-image .image {
    background: url(../img/frame-image-profile.png) no-repeat;
    display: block;
    height: 85px;
    padding: 9px 8px;
    overflow: hidden;
    margin: 0 auto;
    width: 85px;
}

.sidebar-left .profile-image .image img {
    border-radius: 100%;
    width: 68px;
    height: auto;
}

.sidebar-left .user-name {
    color: #003f74;
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}

.sidebar .nav a {
    font-weight: normal;
}

.sidebar-left .nav > li {
    border-radius: 0;
}

.sidebar .nav-pills > li > a {
    padding-left: 40px;
}

.sidebar-left .nav > li > a {
    border-radius: 0;
    color: #fff;
    font-size: 11px;
    position: relative;
}

.sidebar-left .nav > li > a > i.fa {
    left: 10px;
    position: absolute;
    top: 11px;
}

.sidebar-left .nav > li > a > span {
    color: #b8d010;
    float: right;
}

.sidebar-left .nav > li > a:hover, .sidebar-left .nav > li > a:focus {
    background: #83acdb;
}

.sidebar-left .nav .open > a,
.sidebar-left .nav .open > a:hover,
.sidebar-left .nav .open > a:focus {
    background: none;
}

.sidebar-left .nav-dropdown {
    border-radius: 0;
}

.sidebar-left .nav-dropdown.open ul {
    background: #2b80c4;
}

/*******************************************************************************
Reactive List
*******************************************************************************/
ul[dnd-list], ul[dnd-list] > li {
    position: relative;
}
.dropzone ul[dnd-list] {
    margin: 0;
    min-height: 42px;
    padding-left: 0;
}
.dropzone li {
    display: block;
}
.dropzone .dndDragging {
    opacity: 0.7;
}
.dropzone .dndDraggingSource {
    display: none;
}
.dropzone .dndPlaceholder {
    background-color: #ddd !important;
    border-radius: 4px;
    display: block;
    height: 100px;
    position: relative;
    width: 100px;
}
.dropzone .reactive-list {
    min-height: 120px !important;
}
.dropzone .reactive-list > li {
    float: left;
}
.dropzone .container-element {
    margin: 10px;
}

/*******************************************************************************
Main contents
*******************************************************************************/
#toast-container > div {
    opacity: 1;
}

#toast-container > div.ng-enter,
#toast-container > div.ng-leave
{ 
    -webkit-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 

.breadcrumb-wrapper {
    padding: 30px 30px 0 30px;
}

.breadcrumb {
    background: none;
    font-size: 12px;
    text-transform: uppercase;
}

.breadcrumb > li > a {
    color: #55565a;       

}

.breadcrumb > li.active {
    color: #55565a;
    font-weight: bold;
}

.page-header {
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.page-header h1 {
    color: #008dcd;
    font-family: 'BrandonBlack';
    font-size: 28px;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}

.form-control {
    border: 1px solid #d3d1d1;
}

.form-group > label {
    color: #2782c3;
    font-weight: normal;
}

.content {
    background: #fff;
    border-radius: 4px;
    margin-top: 30px;
    padding: 20px;
}

.content > .row {
    margin: 0;
}

.actions {
    margin-bottom: 30px;
}

.plx-btn {
    background: #ccc;
    border: none;
    border-radius: 15px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    height: 30px;
    padding: 0 20px 0 20px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}

.plx-btn:hover, .plx-btn:focus {
    color: #fff;
}

.plx-btn > .icon + span {
    display: inline-block;
    padding-top: 6px;
}

.btn-green {
    background: #b9cc00;
}

.btn-blue {
    background: #077fc1;
}

.btn-purple {
    background: #674da0;
}

.btn-navy {
    background: #4257a6;
}

.plx-btn > .icon {
    display: inline-block;
    height: 20px;
    margin-bottom: -5px;
    margin-right: 5px;
    width: 20px;
}

.icon-plus {
    background: url(../img/icon-plus.png) no-repeat;
}

.icon-copy {
    background: url(../img/icon-duplicate.png) no-repeat;
}

.icon-delete {
    background: url(../img/icon-delete.png) no-repeat;
}

.action, a.action {
    background: none;
    border: none;
    display: inline-block;
    color: #077fc1;
    font-size: 16px;
    height: 20px;
    width: 20px;
}

.bottom-actions {
    margin-top: 30px;
}

.back, .next {    
    color: #003465;
    display: inline-block;
    font-family: 'GothamBook';
    font-size: 12px;
    height: 60px;
    padding-top: 40px;
    text-align: center;
    width: 50px;    
}

.back {
    background: url(../img/arrow-left.png) no-repeat top center;
}

.next {
    background: url(../img/arrow-right.png) no-repeat top center;
    margin-left: 15px;
}

/*******************************************************************************
Categories
*******************************************************************************/
.categories {
    margin-top: 50px;
    text-align: center;
}

.category-wrapper {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    cursor: pointer;
    display: inline-block;
    height: 195px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 170px;
}

.category-image {
    background: #4257a6;
    height: 127px;
    max-width: 170px;
    padding-top: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.category-image.second-step {
    border-radius: 4px;
    margin: 15px auto;
    position: relative;
}

.category-image img {
    height: 87px;
    width: 87px;
}

.category-name {
    bottom: 0;
    color: #003466;
    display: block;
    height: 70px;
    font-family: 'BrandonLight'; 
    font-size: 20px;
    line-height: 22px;
    padding: 10px 5px 0;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.category-wrapper > .overlay {    
    background: url(../img/content-types/bg-selected.png);
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1001;
}

.category-wrapper:hover > .overlay, .category-wrapper.active > .overlay {
    display: block;
}

.type-wrapper {
    cursor: pointer;
    display: inline-block;
    height: 165px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    width: 130px;
}

.type-image {
    opacity: 0.5;
    height: 90px;
}

.type-name {
    color: #003466;
    font-family: 'BrandonLight'; 
    font-size: 19px;
    height: 40px;
    text-transform: uppercase;
    word-wrap: break-word;
}

.type-wrapper:hover > .type-image, .type-wrapper.active > .type-image {
    opacity: 1;
}

.type-wrapper:hover > .type-name, .type-wrapper.active > .type-name {
    font-weight: bold;
}

label.help-block {
    color: #e32;
    font-weight: normal;
}

.answer-tables tbody > tr > td {
    border-top: none;
}

.select-word {
    cursor: pointer;
    margin: 5px;
}

.selected-word {
    background-color: #428bca;
};

/*******************************************************************************
Tables
*******************************************************************************/
.table > thead > tr > th {
    
}

.table-lp > thead > tr > th {
    background-color: #306898;
    border-bottom-color: #fff;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.table-lp .control > .form-control {
    margin: 0 auto;
    width: 80%;
}

/*******************************************************************************
Misc
*******************************************************************************/
.separator {
    border: 1px solid #83acdb;
    margin: 25px 0 25px;
}

/*******************************************************************************
Charts
*******************************************************************************/
.charts {
    margin-top: 20px !important;
}

.chart-title {
    border-bottom: 1px solid #d2d2d3;
    color: #336797;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}