#{extends 'Layout/default.html' /}
#{set title: 'Búsqueda De Resultados' /}
#{set location: 'Búsqueda De Resultados' /}

<div class="row">
    <div class="col-md-6">
        <h2 class="page-heading">Búsqueda de Resultados</h2>
    </div>
</div>

<div class="separator"></div>

<div class="row">
    <div class="col-md-2">
        <label for="structureDate">Fecha de estructura</label>
        <select class="form-control" id="structureDate">
            #{list items: structureDates, as: 'date'}
            <option value="${date}">${date}</option>
            #{/list}
        </select>
    </div>
    <div class="col-md-3">
        <label for="structureDate">Buscar</label>
        <input type="text" class="form-control" id="search" name="search" placeholder="Nombre de usuario ó número de empleado" />
    </div>
    <div class="col-md-5">
        <label>&nbsp;</label>
        <div>
            <button title="Buscar" id="search-btn" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Buscar
            </button>
            <button title="Exportar" id="export" class="btn btn-primary">
                <span class="glyphicon glyphicon-download-alt"></span> Exportar
            </button>
        </div>        
    </div>
</div>

<div class="separator"></div>

<div class="row mt-20">
    <div class="col-md-12" id="usuarios-list">
        <div class="table-responsive">
            <table id="search-table" class="table table-lp left-align-text table-striped">
                <thead>
                    <tr>
                        <th>Núm. Empleado</th>
                        <th>Nombre</th>
                        <th>Puesto</th>
                        <th>Num. Encuestas</th>
                        <th>Calificación Clima</th>
                        <th>Calificación Liderazgo</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/liverpool/search-results.js'}"></script>
#{/set}