<div class="survey-end">
    ${_end?.raw()}
</div>
<div class="text-center">
    <a href="http://www.liverpool.com.mx" id="close-survey" data-logout-url="@{Secure.logout()}" class="btn btn-survey">Cerrar</a>
</div>