<div class="initial-information">
    <p>
        La persona a la que evalúas es: <strong>${_manager}</strong>
    </p>
    <p class="text-start">
        <strong>A continuación estás por iniciar la encuesta:</strong>
        <br />
    </p>
</div>
