<div class="table-responsive faces-table table-reflow">
    <div class="row">
        <div class="col-sm-6 faces-heading">
            Preguntas
        </div>
        <div class="col-sm-6 faces-options">
            <table class="table nps-options-table">
                <thead>
                    <tr>
                        <th class="text-center" colspan="7">
                            <img src="@{'/public/assets/img/numeric/red.png'}" />
                        </th>
                        <th class="text-center" colspan="2">
                            <img src="@{'/public/assets/img/numeric/orange.png'}" />
                        </th>
                        <th class="text-center" colspan="2">
                            <img src="@{'/public/assets/img/numeric/green.png'}" />
                        </th>
                    </tr>
                    <tr>
                        #{list items: 0..10, as: 'i'}
                        %{
                            cssClass = 'green-range';
                            cssClass = i < 7 ? 'red-range' : cssClass;
                            cssClass = i > 6 && i < 9 ? 'yellow-range' : cssClass;
                        }%                        
                        <td class="text-center">
                            <p class="${cssClass}">${i}</p>
                        </td>
                        #{/list}
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="faces-questions">
        #{list items:_questions, as:'question'}
            %{
                questionId = question.id.toString() + '_' + _evaluatedId.toString();
            }%
            <div class="row">
                <div class="col-sm-6 face-question">
                    <span class="question-number">${_counter + question_index}-</span> ${question.question}
                    <span id="error-numeric-nps-${questionId}" style="display: block;"></span>
                </div>
                <div class="col-sm-6 face-question-answers">
                    <table class="table nps-options-table">
                        <tbody>
                            <tr>
                                #{list items: 0..10, as: 'i'}
                                <td class="text-center">
                                    <label class="radio-inline" style="padding-left: 20px;">
                                        <input type="radio" name="answers[${questionId}]" value="${i}" class="${utils.Survey.isRequired(question?.required)} numeric-nps" data-question="${questionId}" autocomplete="off" />
                                        <span></span>
                                    </label>
                                    <br />
                                </td>
                                #{/list}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" id="alternative-${questionId}">
                <div class="face-question" style="margin-bottom: 10px;">
                    <div class="questions">
                    <span class="question-number">${_counter + question_index + 0.1}-</span> ${question.alternativeQuestion}
                    </div>
                    <div class="choices">
                        <textarea name="answersAlternative[${questionId}]" class="form-control input-sm" placeholder="Escribre tus comentarios" autocomplete="off" maxlength="512"></textarea>
                    </div>
                </div>                
            </div>
        #{/list}
    </div>
</div>