#{list items:_questions, as:'question'}
%{
    questionId = question.id.toString() + '_' + _evaluatedId.toString();
}%
<div class="question">
    <span class="question-number">${_counter + question_index}-</span> ${question.question}
</div>
<div class="choices">
    <textarea name="answers[${questionId}]" class="${utils.Survey.isRequired(question?.required)} form-control input-sm" placeholder="Escribre tus comentarios" autocomplete="off" maxlength="512"></textarea>
</div>
#{/list}