<div class="survey-welcome">
    ${_welcome?.raw()}
    <p>Las personas a evaluar son:</p>
    <ul class="list-unstyled">
        #{list _evaluated, as: 'person'}
        <li><strong>${person[1]} ${person[2]}</strong></li>
        #{/list}
    </ul>
</div>
<div class="survey-actions">
    <button type="button" id="start-survey" class="btn btn-survey">
        Iniciar Encuesta
    </button>
</div>
