#{extends 'Layout/default.html' /}
#{set title: 'Histórico' /}
#{set location: 'Histórico' /}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="form-group">
            <div class="col-xs-4">
                <label>Nivel: </label>
            </div>
            <div class="col-xs-8">
                <select id="select-level" class="form-control">
                    <option value='-1'>Seleccione una opción</option>
                    <option value='A'>Almacén</option>
                    <option value='BD'>Centro de Distribución</option>
                    <option value='AD'>ADCON</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-offset-6">
        <div class="form-group">
            <button title="Exportar" id="d-excel" class="btn btn-primary col-xs-12 col-sm-12">
                <span class="glyphicon glyphicon-download-alt"></span>
            </button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="form-group">
            <div class="table-responsive">
                <table id="table-results" class="table-condensed history-results-table">
                    <thead>
                        <tr class="head-table">
                            <th>NIVEL</th>
                            <th colspan="2" class="text-center col-results env">CLIMA</th>
                            <th class="col-separator"></th>
                            <th colspan="2" class="text-center col-results leads">LIDERAZGO</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts.js'}"></script>
#{/set}
<script type="text/javascript">

    function loadEnvironmentResults() {
        Liverpool.loading('show');

        $.ajax({
            "url": "@{getResults()}",
            "data": {
                "option": $("#select-level").val(),
                "twoYearsAgo": new Date().getFullYear() - 2
            }
        })
        .done(function (data, textStatus, jqXHR) {
            Liverpool.loading('hide');
    
            if (data && data.length === 0) {
                swal({
                    title: "Aviso",
                    text: "No hay registros para " +
                            $("#select-level option:selected").text() +
                            " / Resultados Clima",
                    type: "warning"
                });
                
                return;
            }

            $("#table-results tbody").empty();
            
            for (var i = 0; i < data.length; i++) {
                var row = data[i];
                $("#table-results tbody").append(
                    '<tr>' +
                    '   <td>' + row.level + '</td>' +
                    '   <td class="text-center colored-td">' + getValue(row.envFirstPercent) + '</td>' +
                    '   <td class="text-center colored-td">' + getValue(row.envSecondPercent) + '</td>' +
                    '   <td class="col-separator"></td>' +
                    '   <td class="text-center colored-td">' + getValue(row.leadFirstPercent) + '</td>' +
                    '   <td class="text-center colored-td">' + getValue(row.leadSecondPercent) + '</td>' +
                    '</tr>'
                );
            }
            
            $('.level-name').text($('#select-level option:selected').text());
            
            ut.refresh("table-results");
            Table.applyBlueShades("#table-results");
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
            Liverpool.loading('hide');
        });
    }
    
    function getValue(value) {
        return value === 0 ? '-' : value;
    }
    
    $(document).ready(function () {
        var currentYear = new Date().getFullYear();        
        var subHead     = "<tr class='sub-head-table'>" +
                          " <th class='level-name'>" +
                          "      Centro" +
                          " </th>" +
                          " <th class='text-center'>" +
                                (currentYear - 2) +
                          " </th>" +
                          " <th class='text-center'>" +
                                (currentYear - 1) +
                          " </th>" +
                          " <th class='col-separator'></th>" +
                          " <th class='text-center'>" +
                                (currentYear - 2) +
                          " </th>" +
                          " <th class='text-center'>" +
                                (currentYear - 1) +
                          " </th>" +
                          "</tr>";

        $("#table-results thead").append(subHead);

        ut.init("table-results", {
            disableSearch: true,
            tableStyling: false,
            pageSize: 20
        });

        $("#select-level").change(function () {
            var v = $(this).val();

            if (v != "-1") {
                loadEnvironmentResults();
            }

        }).val("A").change();

        $("#d-excel").click(function () {
            location.href = '@{generateExcel()}?option=' + $("#select-level").val() + 
                            '&twoYearsAgo=' + (new Date().getFullYear() - 2) +
                            '&levelName=' + $('#select-level option:selected').text();
        });
    });
</script>