<div id="mdl-copy-stores" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form id="copy-store-form" action="@{copy()}" enctype="multipart/form-data" method="POST">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <span class="modal-title" style="color: #fff;">
                        Copiar Tiendas
                    </span>
                </div>
                <div class="modal-body" id="modal-body">
                    <div class="inner-message"></div>
                    <div class="form-group">
                        <label class="control-label">
                            Periodo a copiar
                        </label>
                        #{duplicates_vacancies/periods 
                            structureDates: null,
                            id: 'source-period',
                            name: 'sourcePeriod',
                            label: false
                        /}
                    </div>

                    <div class="form-group">
                        <label class="control-label">
                            Copiar en periodo
                        </label>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" id="dest-period" name="destPeriod" class="form-control input-sm date-picker required" maxlength="9" data-date-format="mm/yyyy">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>               
                </div>
                <div class="modal-footer" id="modal-footer">
                    <button type="submit" class="btn btn-green" id="copy">Copiar</button>
                    <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
