<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="store-form" action="@{save()}" enctype="multipart/form-data" method="POST">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span class="modal-title" style="color: #fff;">
                    ${store == null ? 'Agregar Tienda' : 'Editar Tienda'}
                </span>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="inner-message"></div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            #{if store != null}
                                <input type="hidden" name="structureDate" value="${store?.structureDate?.format('MM/yyyy')}" />
                            #{/if}
                                
                            #{duplicates_vacancies/periods 
                                structureDates: structureDates,
                                id: 'structure-date',
                                name: 'structureDate',
                                selected: store?.structureDate?.format('MM/yyyy'),
                                edit: store != null
                            /}
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Número de tienda
                            </label>
                            <input type="text" class="form-control required" name="store.idStore" id="id-store" value="${store?.idStore}" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Nombre
                            </label>
                            <input type="text" class="form-control required" name="store.descriptionStore" id="description-store" value="${store?.descriptionStore}" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                País
                            </label>
                            <input type="text" class="form-control required" name="store.country" id="country" value="${store == null ? 'MX' : store?.country}" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">
                                Subdivisión
                            </label>
                            <select class="form-control required" name="store.subDivision" id="subdivision" data-subdivision="${store?.subDivision}">
                                <option value="">Seleccionar</option>
                                #{list items: storesSubDiv, as: 'subdiv'}
                                    <option value="${subdiv[0]}">${subdiv[1]}</option>
				#{/list}
                            </select>

                            <input type="hidden" name="store.descriptionSubdivision" value="${store?.descriptionSubdivision}" id="description-subdivision" />
                        </div>
                
                        <div class="form-group">
                            <label class="control-label">
                                Encargado
                            </label>
                            <input type="text" class="form-control" name="store.storeHead" id="store-head" value="${store?.storeHead}" />
                        </div>
                
                        <div class="form-group">
                            <label class="control-label">
                                Recursos Humanos
                            </label>
                            <input type="text" class="form-control" name="store.humanResources" id="human-resources" value="${store?.humanResources}" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Otro
                            </label>
                            <input type="text" class="form-control" name="store.other" id="other" value="${store?.other}" />
                        </div>
                    </div>
                </div>                
            </div>
            <div class="modal-footer" id="modal-footer">
                <input type="hidden" id="id" name="store.id" value="${store?.id}" />
                <input type="hidden" id="original-store-id" value="${store?.idStore}" />
                <input type="hidden" name="isEdit" value="${store == null ? false : true}" />
                <button type="submit" class="btn btn-green" id="save">Aceptar</button>
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </form>
    </div>
</div>