#{extends 'Layout/default.html' /}
#{set title: 'Tiendas' /}
#{set location: 'Tiendas' /}

<div class="row">
    <div class="col-md-6">
        <h2 class="page-heading">Tiendas</h2>
    </div>
    <div class="col-md-6">
        <div class="export text-right">
            #{secure.check "stores/add"}
            <button id="copy-stores" class="btn btn-warning" title="Copiar"><i class="fa fa-files-o"></i> Copiar Tiendas</button>
            <button id="add" class="btn btn-green" title="Agregar"><i class="glyphicon glyphicon-plus"></i> Agregar Tienda</button>
            #{/secure.check}
        </div>
    </div>
</div>

<div class="separator"></div>
<div class="message"></div>

<div class="row mt-20">
    <div class="col-md-12">        
        <div id="stores-filters" class="form-horizontal">
            <div class="row">
                <div class="col-md-3">        
                    <div class="form-group">
                        <label class="control-label col-sm-2 text-right" for="period">Periodo:</label>
                        <div class="col-sm-10">
                            #{duplicates_vacancies/periods 
                                structureDates: structureDates,
                                id: 'period',
                                name: 'period',
                                label: false
                            /}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-sm-2 text-right" for="search">Buscar:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="search">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-lp left-align-text table-striped">
                <thead>
                    <tr>
                        <th>Número de tienda</th>
                        <th>Nombre</th>
                        <th>País</th>
                        <th>Sub División</th>
                        <th>Recursos Humanos</th>
                        <th>Director/Encargado</th>
                        <th>Otro</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="mdl-add-edit" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade"></div>
#{include 'Stores/copy-modal-form.html' /}

#{secure.check "stores/edit"}
<input type="hidden" id="can-edit" value="true" />
#{/secure.check}
#{secure.check "stores/delete"}
<input type="hidden" id="can-delete" value="true" />
#{/secure.check}

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/js/components/select2/select2.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/select2/select2-bootstrap3.css'}" />
#{/set}

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/select2/select2.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/select2/select2_locale_es.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/stores.js'}"></script>
#{/set}