#{extends 'Layout/default.html' /}
#{set title: 'Agregar Usuario' /}
#{set confSecurity: ' configuration-security' /}
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Inicio</a>

            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>

        <li>
            <a href="#">Configuración</a>

            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>
        <li class="active configuration">Agregar Usuario</li>
    </ul>
</div>
<!--Contenedor de mensajes-->
<div id="message-container">
    #{if flash.success}
    <div class="crudFlash flashSuccess">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${flash.success}
    </div>
    #{/if}
    #{if flash.error || error}
    <div class="crudFlash flashError">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${error ?: flash.error.nl2br()}
    </div>
    #{/if}
</div>
<!--Fin contenedor mensajes-->
<div class="page-content" style="background: none;">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header position-relative">
                <h1>
                   Agregar Usuario
                </h1>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <form id="user-form" action="@{saveUsuario()}" enctype="multipart/form-data" method="POST" class="form-horizontal">
                        <fieldset>
                            <div class="row-fluid">
                                <div class="span8 offset2">
                                    <div class="control-group">
                                        <label class="control-label">Usuario</label>
                                        <div class="controls">
                                            <input type="text" name="usuario.username" id="username" value="${oUsuario?.username}" class="span12 alphanumeric" maxlength="10" />
                                        </div>
                                    </div>
                                    
                                    <div class="control-group">
                                        <label class="control-label">Nombre</label>
                                        <div class="controls">
                                            <input type="text" name="usuario.nombre" id="nombre" value="${oUsuario?.nombre}" class="span12" />
                                        </div>
                                    </div>
                                    
                                    <div class="control-group">
                                        <label class="control-label">Apellidos</label>
                                        <div class="controls">
                                            <input type="text" name="usuario.apellidos" id="apellidos" value="${oUsuario?.apellidos}" class="span12" />
                                        </div>
                                    </div>
                                    
                                    <div class="control-group">
                                        <label class="control-label">Departamento</label>
                                        <div class="controls">
                                            <input type="text" name="usuario.departamento" id="departamento" value="${oUsuario?.departamento}" class="span12" />
                                        </div>
                                    </div>
                                    
                                    <div class="control-group">
                                        <label class="control-label">Roles</label>
                                        <div class="controls">
                                            <span class="lst-roles">
                                                #{list items:lstRoles, as:'rol'}
                                                <label class="checkbox">
                                                    <input type="checkbox" class="user-roles" name="usuario.roles.id" id="rol${rol[0]}" value="${rol[0]}" ${rol[2] != 0 ? "checked='checked'" : ""} style="opacity: 1; margin-top: 2px">
                                                    ${rol[1]}
                                                </label>
                                                #{/list}                                                
                                            </span>
                                            <input type="hidden" name="usuario.roles.id" id="usuario.roles.id" value="" />
                                        </div>
                                    </div>

                                    <div class="row-fluid">
                                        <div class="export text-right">
                                            <label>&nbsp;</label>
                                            <button id="update" class="sis-btn btn-custom btn-ok"><i class="icon-ok"></i> Aceptar</button>
                                            <button type="button" id="cancel" class="sis-btn btn-custom btn-cancel" onclick="location.href = '@{usuarios()}'"><i class="icon-remove"></i> Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#user-form').validate({
            ignore: '',
            errorClass: 'validation-error',
            onkeyup: false,
            onfocusout: false,
            onfocusin: false,
            rules: {
                'usuario.username'     : {required:true,
                                          remote: {
                                              url: '@{verify_username}',
                                              type: 'POST',
                                              data: {
                                                  id: function() {
                                                      return $('#id').val();
                                                  },
                                                  username: function() {
                                                      return $('#username').val();
                                                  }
                                              }
                                          },
                                          maxlength: 10
                                         },
                'usuario.nombre'       : {required:true},
                'usuario.apellidos'    : {required:true},
                'usuario.departamento' : {required:true}
            },
            messages: {
                'usuario.username'     : {required: "Debe ingresar el nombre de usuario de acceso a SIS (Login)",
                                          remote: "El usuario ya existe",
                                          maxlength: "La longitud máxima es de 10 caracteres alfanúmericos"
                                         },
                'usuario.nombre'       : {required: "Debe ingresar el nombre"},
                'usuario.apellidos'    : {required: "Debe ingresar los apellidos"},
                'usuario.departamento' : {required: "Debe ingresar el departamento"}
            },
            submitHandler: function(form) {
                if ($('.user-roles:checked').length == 0) {
                    alert('Debe seleccionar al menos un rol para el usuario');
                    return false;
                }
                
                form.submit();
            }
        });
    });
</script>