#{extends 'Layout/default.html' /}
#{set title: 'Agregar rol a Usuario' /}
#{set confSecurity: ' configuration-security' /}
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Inicio</a>

            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>

        <li>
            <a href="#">Configuración</a>

            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>
        <li class="active configuration">Asignar rol</li>
    </ul>
</div>
<!--Contenedor de mensajes-->
<div id="message-container">
    #{if flash.success}
    <div class="crudFlash flashSuccess">
        <button type="button" class="btn btn-primary" data-dismiss="alert">&times;</button>
        ${flash.success}
    </div>
    #{/if}
    #{if flash.error || error}
    <div class="crudFlash flashError">
        <button type="button" class="btn btn-primary" data-dismiss="alert">&times;</button>
        ${error ?: flash.error.nl2br()}
    </div>
    #{/if}
</div>
<!--Fin contenedor mensajes-->
<div class="page-content" style="background: none;">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Asignar Rol a Usuario</h3>
            </div>
            <div class="panel-body">
                <form id="user-form" action="@{updateUsuario()}" enctype="multipart/form-data" onsubmit="return validateForm()" method="POST">
                    <fieldset>
                        <div class="row-fluid">
                            <div class="span8 offset2">
                                <div class="form-group">
                                    <div class="col-xs-12 form-horizontal">
                                        <div class="form-group">
                                            <div class="col-xs-12 col-sm-3">
                                                <label>Usuario</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-9">
                                                <input type="text" name="usuario.username" id="username" value="${oUsuario?.username}" class="form-control" maxlength="10" readonly />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-12 col-sm-3">
                                                <label>Nombre</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-9">
                                                <input type="text" name="usuario.nombre" id="nombre" value="${oUsuario?.nombre}" class="form-control" readonly="" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-12 col-sm-3">
                                                <input type="text" class="form-control search-perm" placeholder="Buscar roles...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label class="control-label">Roles</label>
                                <div class="roles-area">
                                    <span class="lst-roles">
                                        #{list items:lstRoles, as:'rol'}
                                        <div class="form-group role-item">
                                            <div class="col-xs-1">
                                                <input type="checkbox" class="user-roles" name="usuario.roles.id" id="rol${rol[0]}" value="${rol[0]}" ${rol[7] != 0 ? "checked='checked'" : ""} style="opacity: 1; margin-top: 2px">
                                            </div>
                                            <div class="col-xs-11 role-name">
                                                ${rol[1]}
                                            </div>
                                        </div>
                                        #{/list}
                                    </span>
                                </div>
                                <input type="hidden" name="usuario.roles.id" id="usuario.roles.id" value="" />

                                <br />
                                <div class="export text-right">
                                    <label>&nbsp;</label>
                                    <button id="update" class="btn btn-primary"><i class="icon-ok"></i> Guardar</button>
                                    <button type="button" id="cancel" class="btn btn-primary" onclick="location.href = '@{usuarios()}'"><i class="icon-remove"></i> Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <input type="hidden" name="usuario.id" id="id" value="${oUsuario?.id}" />
                </form>  
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        //If redirected from CSI:
        var key = Liverpool.getSearchElem("place");
        
        if(key && key.length > 0) {
            $("#nav-environment").hide();
            $("#nav-csi").fadeIn(200);
        }

        $(".search-perm").keyup(function(evt) {
                var v = $(this).val().trim().toLowerCase();

                if(v && v.length > 0) {
                    $(".role-name").each(function() {
                        var content = $(this).html().trim().toLowerCase();

                        if(content.indexOf(v) != -1) {
                            $(this).parent().show();
                        } else {
                            $(this).parent().hide();
                        }
                    });
                } else {
                    $(".role-item").show();
                }
            });
    });

    function validateForm(){
        if($('input:checkbox:checked').length== 0){
               alert("No selecciono ningún rol");
        }
    }

    
    $(function(){});
</script>
