<form id="formUsuario"  action="@{saveUsuario()}" method="post" accept-charset="utf-8" style="margin-bottom: 0;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Agregar/Editar Usuario</h3>
    </div>
    <div class="modal-body row-fluid">
        <div class="span10 offset1">
            <label>Nombre de Usuario</label>
            <input type="text" name="usuario.username" id="username" value="${oUsuario?.username}" class="span12" />

            <label>Nombre</label>
            <input type="text" name="usuario.nombre" id="nombre" value="${oUsuario?.nombre}" class="span12" />

            <label>Apellidos</label>
            <input type="text" name="usuario.apellidos" id="apellidos" value="${oUsuario?.apellidos}" class="span12" />

            <label>Departamento</label>
            <input type="text" name="usuario.departamento" id="departamento" value="${oUsuario?.departamento}" class="span12" />

            <label>Roles</label>
            #{list items:lstRoles, as:'rol'}
            <span class="lst-roles">
                <label class="checkbox">
                    <input type="checkbox" name="usuario.roles.id" id="rol${rol[0]}" value="${rol[0]}" ${rol[2] != 0 ? "checked='checked'" : ""} style="opacity: 1; margin-top: 2px">
                    ${rol[1]}
                </label>
                #{/list}
                <input type="hidden" name="usuario.roles.id" id="usuario.roles.id" value="" />
            </span>

            <input type="hidden" name="usuario.id" id="id" value="${oUsuario?.id}" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="afe-btn afe-ok" id="mdl-agregar-usuario">Aceptar</button>
        <button class="afe-btn afe-cancel" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    </div>
</form>