#{if mapPermissions.size() > 0}
<ul id="list-permissions">
    <li>
        <span class="strong-14">Liverpool</span>
        <ul>
            #{list mapPermissions.keySet(), as:'key'}
            %{
                actions = mapPermissions.get(key)
            }%
            <li>
                <span class="strong-14">${key}</span>
                <ul>
                    #{list actions.keySet(), as:'key'}
                    %{
                        permissions = actions.get(key)
                    }%
                    <li>
                        <span class="strong">${key}</span>
                        <ul>
                            #{list items:permissions, as:'permission'}
                            <li><span>${permission}</span></li>
                            #{/list}
                        </ul>
                    </li>
                    #{/list}
                </ul>
            </li>
            #{/list}
        </ul>
    </li>
</ul>
#{/if}
#{else}
El rol no tiene permisos asignados
#{/else}
