<form action="@{eliminarUsuario()}" method="POST" name="user-form" id="user-form">
    <div class="table-responsive">
        <table class="table table-lp table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Departamento</th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                #{list items:lstUsuarios, as:'usuario'}
                <tr data-id="${usuario.id}">
                    <td><input type="radio" name="id[]" value="${usuario.id}" class="user" data-user="${usuario.nombre} ${usuario.apellidos} (${usuario.username})" /></td>
                    <td>${usuario.username}</td>
                    <td>${usuario.nombre}</td>
                    <td>${usuario.apellidos}</td>
                    <td>${usuario.departamento}</td>
                    <td>
                        %{
                            ArrayList<String> aRoles =  new ArrayList<String>();
                        }%
                        #{list items:usuario.roles, as:'rol'}
                        %{
                           aRoles.add(rol.nombreRol);
                        }%
                        #{/list}
                        %{out.print(org.apache.commons.lang.StringUtils.join(aRoles.toArray(), ", "))}%
                    </td>
                </tr>
                #{/list}
            </tbody>
        </table>
    </div>
</form>
