<table id="roles-list" class="sis-table selected table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>Rol</th>
            <th>Permisos</th>
        </tr>
    </thead>
    <tbody>
        #{if lstRol.size() > 0}
            #{list items:lstRol, as:'rol'}
            <tr>
                <td style="width:50px;">
                    <input value="${rol.id}" data-name="${rol.nombreRol}" type="radio" name="id[]" />
                </td>
                <td>${rol.nombreRol}</td>
                <td>
                    %{
                        ArrayList<String> aPermisos =  new ArrayList<String>();
                    }%
                    #{list items:rol.acciones, as:'accion'}
                    %{
                       aPermisos.add(accion.nombreAccion);
                    }%
                    #{/list}
                    %{out.print(org.apache.commons.lang.StringUtils.join(aPermisos.toArray(), ", "))}%
                </td>
            </tr>
            #{/list}
        #{/if}
        #{else}
        <tr>
            <td colspan="3">Ningún Rol Encontrado</td>
        </tr>
        #{/else}
    </tbody>
</table>