<div class="perm-table">
    <table id="roles-list" class="sis-table table table-striped table-bordered table-hover table-condensed dataTable table table-lp table-striped">    	
        <tbody>
            #{if lstRol.size() > 0}
                #{list items:lstRol, as:'rol'}
                <tr data-id="${rol.id}" data-rol="${rol.nombreRol}">
                    <td style="width:50px;">
                        <input value="${rol.id}" data-name="${rol.nombreRol}" type="radio" name="roleList" />
                    </td>
                    <td class="rol-name">${rol.nombreRol}</td>                                        
                </tr>
                #{/list}
            #{/if}
            #{else}
            <tr>
                <td colspan="3">Ningún Rol Encontrado</td>
            </tr>
            #{/else}
        </tbody>
    </table>
</div>