#{extends 'Layout/default.html' /}
#{set title: 'Asignar Permisos' /}
#{set confSecurity: ' configuration-security' /}
#{set location: 'Permisos' /}

#{if place == 'CSI' }
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />
#{/if}


<link href="@{'/public/stylesheets/jquery-treetable/jquery.treetable.css'}" rel="stylesheet" type="text/css" />
<link href="@{'/public/stylesheets/jquery-treetable/jquery.treetable.theme.default.css'}" rel="stylesheet" type="text/css" />

#{if place == 'CSI' }
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />
#{/if}
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Inicio</a>

            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>

        <li>
            <a href="#">Seguridad</a>

            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>
        <li class="active configuration">Asignar Permisos</li>
    </ul>
</div>
<!--Contenedor de mensajes-->
<div id="message-container">
    #{if flash.success}
    <div class="crudFlash flashSuccess">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${flash.success}
    </div>
    #{/if}
    #{if flash.error || error}
    <div class="crudFlash flashError">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${error ?: flash.error.nl2br()}
    </div>
    #{/if}
</div>
<!--Fin contenedor mensajes-->
<div class="page-content" style="background: none;">
    <div class="row-fluid">
        <div class="span12">
            <div class="text-center">
                <h4>
                    Asignar Permisos a <strong><span style="color: #306898;">${oRol.nombreRol}</strong>
                </h4>
            </div>

            <form class="row-fluid" id="usuarios-list" onsubmit="return validateForm()" action="@{savePermisos()}" method="post" accept-charset="utf-8">
                <div class="text-right">
                    <a onclick="jQuery('.sis-table').treetable('expandAll'); return false;" href="#">Expandir todo</a> |
                    <a onclick="jQuery('.sis-table').treetable('collapseAll'); return false;" href="#">Colapsar todo</a>
                </div>
                <div class="header-out">
                    Permisos
                </div>
                <div class="perm-table">
                    <div class="span8 offset2">
                        <table style="display: none;" class="sis-table table table-bordered table-hover dataTable table-condensed table table-lp table-striped" id="permissions" style="border: 1px solid #ddd">
                            <tbody>
                                %{rowId = 0}%
                                #{list items:lstSecciones, as:'seccion'}
                                %{
                                    rowSecId = rowId;
                                }%
                                <tr data-tt-id="${rowId++}">
                                    <td>
                                        <strong>${seccion.nombreSeccion}</strong>
                                    </td>
                                </tr>
                                    #{list items:seccion.permisos, as:'permiso'}
                                    %{
                                        rowPerId = rowId


                                        assigned = 0;

                                        for (Object accion : permiso.acciones) {
                                            if (oRol.acciones.contains(accion)) {
                                                assigned++;
                                            }
                                        }
                                    }%
                                    <tr data-tt-id="${rowId++}" data-tt-parent-id="${rowSecId}">
                                        <td style="padding-left: 20px;">
                                            <label class="checkbox" style="display: inline; padding-left: 0; font-size: 11px;">
                                                <input type="checkbox" class="checkbox-table parent" data-parent="${rowPerId}" ${permiso.acciones.size() == assigned ? 'checked' : ''} />
                                                <strong>${permiso.nombrePermiso}</strong>
                                            </label>
                                        </td>
                                    </tr>
                                        #{list items:permiso.acciones, as:'accion'}
                                        <tr data-tt-id="${rowId++}" data-tt-parent-id="${rowPerId}">
                                            <td>
                                                <label class="checkbox" style="display: inline; padding-left: 0; font-size: 11px;">
                                                    <input type="checkbox" name="rol.acciones.id" value="${accion.id}" class="checkbox-table permission" ${oRol.acciones.contains(accion) ? 'checked' : ''}/>
                                                    ${accion.nombreAccion}
                                                </label>
                                            </td>
                                        </tr>
                                        #{/list}
                                    #{/list}
                                #{/list}
                            </tbody>
                        </table>
                        <input type="hidden" name="rol.acciones.id" value="" />
                        <input type="hidden" name="rol.id" value="${oRol.id}" />
                        <br />
                    </div>
                </div>
                <br />
                <div class="text-right">
                    <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Aceptar</button>
                    <button type="button" id="cancel" class="btn btn-primary" onclick="location.href = '@{roles()}'"><i class="icon-remove"></i> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="@{'/public/javascripts/libs/jquery-treetable/jquery.treetable.js'}"></script>
<script type="text/javascript">
    var roles='${oRol.acciones.size()}';

    
    function validateForm(){

        if(roles == '0'&&$('input:checkbox:checked').length== 0){
            alert("No se realizaron cambios");
            return;
        }

        if($('input:checkbox:checked').length== 0){
               alert("No selecciono ningún rol");
        }

    }

    //$(function(){
    $(document).ready(function() {

        Liverpool.loading("show");
        $('.sis-table').treetable({expandable: true, 
            onInitialized:function(){
                $(".sis-table").show(100);
                Liverpool.loading("hide");
            }});
        
        $('.parent').click(function(){
            var parentId = $(this).data('parent');
            var parentIsChecked = $(this).is(':checked');
            
            $('[data-tt-parent-id="' + parentId + '"]').each(function(){
                $('input[type=checkbox]', this).prop('checked', parentIsChecked);
            });
        });
    });
</script>

#{if place == 'CSI' }
<!--<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>-->
#{/if}
