<table id="permisos-rol" class="afe-table table table-bordered table-hover">
    <thead>
        <tr>
            <th>Permisos</th>
        </tr>
    </thead>
    <tbody>
        %{rowId = 0}%
        #{list items:lstSecciones, as:'seccion'}
        %{
            rowSecId = rowId
        }%
        <tr data-tt-id="${rowId++}">
            <td>
                ${seccion.nombreSeccion}
            </td>
        </tr>
            #{list items:seccion.permisos, as:'permiso'}
            %{
                rowPerId = rowId
            }%
            <tr data-tt-id="${rowId++}" data-tt-parent-id="${rowSecId}">
                <td style="padding-left: 20px;">
                    ${permiso.nombrePermiso}
                </td>
            </tr>
                #{list items:permiso.acciones, as:'accion'}
                <tr data-tt-id="${rowId++}" data-tt-parent-id="${rowPerId}">
                    <td>
                        <label class="checkbox" style="display: inline; padding-left: 0;">
                            <input type="checkbox" name="rol.acciones.id" value="${accion.id}" style="opacity: 1; margin-top: -1px; margin-left: 0; position: relative; float: none;" />
                            ${accion.nombreAccion}
                        </label>
                    </td>
                </tr>
                #{/list}
            #{/list}
        #{/list}
    </tbody>
</table>