#{extends 'Layout/default.html' /}
#{set title: 'Permisos especiales' /}
#{set confSecurity: ' configuration-security' /}
#{set location: 'Permisos Especiales' /}
<style media="screen">
   tr {
    cursor: pointer;
}
</style>

#{if place == 'CSI' }
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />
#{/if}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Inicio</a>

            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>

        <li>
            <a href="#">Configuración</a>

            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>
        <li class="active configuration">Asignación de permisos especiales por rol</li>
    </ul>
</div>
<!--Contenedor de mensajes-->
<div id="message-container">
    #{if flash.success}
    <div class="crudFlash flashSuccess">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${flash.success}
    </div>
    #{/if} #{if flash.error || error}
    <div class="crudFlash flashError">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${error ?: flash.error.nl2br()}
    </div>
    #{/if}
</div>
<!--Fin contenedor mensajes-->
<div class="page-content" style="background: none;">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span12">
                    <form id="special-form" enctype="multipart/form-data" method="POST" class="form-horizontal">
                        <fieldset>
                            <input type="hidden" name="roles" id="roles" value="${oRol?.id}" />
                            <input type="hidden" name="lstEspeciales" id="lstEspeciales" value="${lstEspeciales?.id}" />
                            <input type="hidden" name="tipoValor" id="tipoValor" value="${lstEspeciales?.typePermit}" />
                            <input type="hidden" name="permitValue" id="permitValue" value="${lstEspeciales?.permitValue}" />

                            <div class="row">
                                <div class="col-xs-6">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            Rol: ${oRol?.nombreRol}
                                        </li>
                                        <li class="list-group-item" id="div_estructura">
                                            Rol: ${oRol?.nombreRol} puede ver la estructura ${lstEspeciales?.permitValue}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-md-3" style="top: -16px;" id="div_view">
                                    <label class="normal-lbl">Visualización de información</label>
                                </div>
                                <div class="col-xs-12 col-md-3" style="top: -16px;" id="div_select_level">
                                    <label class="normal-lbl" for="">Nivel</label>
                                </div>
                            </div>

                            <br>

                            <div class="row-fluid">
                                <div class="span8 offset2">
                                    <div class="row-fluid">
                                        <div id="control" class="export text-right">
                                            <label>&nbsp;</label>
                                            <button id="update" class="btn btn-primary"><i class="icon-ok"></i> Aceptar</button>
                                            <button type="button" id="cancel" class="btn btn-primary" onclick="location.href = '@{roles()}'"><i class="icon-remove"></i> Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                            </div>
                        </fieldset>
                        <input type="hidden" name="usuario.id" id="id" value="${oUsuario?.id}" />
                    </form>
                    <div id="table-responsive" class="col-md-12">

                        <br>
                        
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <label for="id_views">Agregar usuario por estructura</label>
                            </div>
                        </div>

                        <br>

                        <div class="table-responsive">
                            <form id="filter-form">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="col-sm-4">
                                            <label class="normal-lbl" for="">Fecha estructura</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <select name="structureDate" id="structureDate" class="form-control">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4">
                                        <div class="col-sm-4">
                                            <label class="normal-lbl" for="">Número de Empleado</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="number" name="userNumber" class="form-control input-sm">
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4">
                                        <div class="col-sm-4">
                                            <label class="normal-lbl" for="">Usuario</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" id="userName" name="userName" class="form-control input-sm" maxlength="50">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="col-sm-4">
                                            <label class="normal-lbl" for="">Ubicación</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div id="div_select_location"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="col-sm-4">
                                            <label class="normal-lbl" for="">Departamento</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div id="div_select_department"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="control-label block">&nbsp</label>
                                        <button id="search" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="separator"></div>
                            </form>
                            <table id="table_structure" class="table table-lp table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Empleado</th>
                                        <th>Nombre/s</th>
                                        <th>Apellidos</th>
                                        <th>Función</th>
                                        <th>Departamento</th>
                                        <th>Nivel</th>
                                        <th>Responsable/Jefe</th>
                                        <!--
                                                <th>Plan</th>
                                                <th>Real</th>
                                                -->
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal confirm -->
<div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="confirmMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="confirmOk">Aceptar</button>
                <button type="button" class="btn btn-default" id="confirmCancel">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function getDateStructure() {
        var _this = {};
        _this.cb = null;

        $.ajax({
            url: "@{Structure.getDatesStructures()}",
            type: "GET"
        }).done(function(data, textStatus, jqXHR) {
            var selectLocation = $("#structureDate");
            for (var i = 0; i < data.length; i++) {
                var opt = document.createElement("option");
                opt.text = data[i];
                opt.value = data[i];
                selectLocation.append(opt);
            };

            _this.cb();
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        });

        return {
            done: function(f) {
                _this.cb = f || function(){};
            }
        }
    }

    $(document).ready(function() {
        $("#structureDate").change(function() {
            $('#filter-form').submit();
            setLocation();
            setDepartments();
        });

        getDateStructure().done(function() {
            var oStructureTable = $('#table_structure').dataTable({
            "iDisplayLength": 10,
            "bFilter": false,
            "bLengthChange": false,
            "bAutoWidth": false,
            "bDestroy": true,
            "bSort": true,
            "oLanguage": {
                "sZeroRecords": "Ningún Registro",
                "sInfo": "Mostrando Eventos de _START_ al _END_ de _TOTAL_ totales",
                "sInfoEmpty": "0 Eventos",
                 "sPaginatePrevious": "Previous page",
                 "sProcessing": "Cargando...",
                 "oPaginate": {
                    "sFirst":    "<<",
                    "sLast":     ">>",
                    "sNext":     ">",
                    "sPrevious": "<"
                }
            },
            "columnDefs": [ {
                "visible": false,
                "searchable": false
              }
              ],
            "bProcessing": true,
            "bServerSide": true,
            "bStateSave" : false,
            "sAjaxSource": "@{getStructureData()}",
            "fnServerParams": function ( aoData ) {
                var array = jQuery($('#filter-form')).serializeArray();
                jQuery.each(array, function() {
                    aoData.push({'name': this.name, 'value': this.value});
                });
            },
            "pagingType": "full_numbers",
            "aaSorting": [[ 6, "ASC" ]],
            "createdRow": function(row, data, index){
                $(row).attr("data-userNumber", data[1]);
                $(row).attr("data-lastName", data[2]);
                $(row).attr("data-firstName", data[3]);
                $(row).attr("data-manager", data[7]);
                $(row).attr("data-level", data[6]);
                $(row).attr("data-function", data[4]);
                $(row).attr("data-plan", data[8]);
                $(row).attr('onclick', "openModal("+data[1]+")");
            }
        });$
        //$

        $('#filter-form').submit(function(){
            console.log("submit");
            oStructureTable.fnPageChange(0);
            return false;
        });


            $("#update").click(function () {
                save();
            });



            $.ajax({
                url: "@{getVie()}",
                type:'get',
                async:false,
                success: function (data) {
                    var selectViews= document.createElement("select");
                    selectViews.setAttribute("class","form-control");
                    selectViews.setAttribute("id","id_views");
                    selectViews.setAttribute("onchange","muestraNivel(this)");

                    var opt = document.createElement("option");
                    opt.text = "Seleccione una opción";
                    opt.value = "-1";
                    selectViews.add(opt);

                    for (var i = 0; i < data.length; i++) {
                        opt = document.createElement("option");
                        opt.text = data[i][1];
                        opt.value = data[i][0];
                        selectViews.add(opt, null);
                    };
                    $("#div_view"). append(selectViews);

                    var tipoValor =$("#tipoValor").val();
                    if(tipoValor != "")
                    $("#id_views").val(tipoValor);
                }
            });

            $.ajax({
                url: "@{getLevels()}",
                type:'get',
                async:false,
                success: function (data) {
                    var selectLevel = document.createElement("select");
                    selectLevel.setAttribute("class","form-control");
                    selectLevel.setAttribute("id","id_Levels");
                    var opt = document.createElement("option");
                    opt.text = "Seleccione una opción";
                    opt.value = "-1";
                    selectLevel.add(opt);

                    for (var i = 0; i < data.length; i++) {
                        opt = document.createElement("option");
                        opt.text = "Nivel "+data[i];
                        opt.value = data[i];
                        selectLevel.add(opt, null);
                    };
                    $("#div_select_level"). append(selectLevel);

                    var tipoValor =$("#tipoValor").val();
                    var level =$("#permitValue").val();

                    if(tipoValor == 3){
                        $("#id_Levels").val(level);
                        $("#div_select_level").show();
                    }else{
                        $("#div_select_level").hide();
                    }
                }
            });

            var tipoValor =$("#tipoValor").val();

            if(tipoValor == 4){
                $("#table-responsive").show();
                $("#div_estructura").show();
                $( "#update" ).hide();
                $( "#cancel" ).hide();
            }else{
                 $("#table-responsive").hide();
                $("#div_estructura").hide();
                $( "#update" ).show();
                $( "#cancel" ).show();
            }

            setLocation();
            
            ////Select departments
            var selectDepartment = document.createElement("select");
            selectDepartment.setAttribute("class","form-control");
            selectDepartment.id = "selectDepartment";
            selectDepartment.name = "department";
            var opt = document.createElement("option");
            opt.text = "Seleccione una opción";
            opt.value = "-1";
            selectDepartment.add(opt);
            $("#div_select_department"). append(selectDepartment);
        });
    });

    function setLocation() {
        //Select location
        Liverpool.loading("show");
        $.ajax({
            url: "@{getLocation()}",
            type:'get',
            data: {
                "date": $("#structureDate").val()
            },
            success: function (data) {
                var selectLocation = document.createElement("select");
                selectLocation.name = "location";
                selectLocation.id = "location";
                selectLocation.setAttribute("class","form-control");
                selectLocation.setAttribute("onchange", "setDepartments(this)");
                var opt = document.createElement("option");
                opt.text = "Seleccione una opción";
                opt.value = "-1";
                selectLocation.add(opt);
                for (var i = 0; i < data.length; i++) {
                    opt = document.createElement("option");
                    opt.text = data[i];
                    opt.value = data[i];
                    selectLocation.add(opt, null);
                };
                $("#div_select_location").html(selectLocation);
                Liverpool.loading("hide");
            }
        });
    }

    function muestraNivel(data){

        if(data.value == 3){
            $("#div_select_level").show();
            $("#table-responsive").hide();
            $("#div_estructura").hide();

            $( "#update" ).show();
            $( "#cancel" ).show();

        }else if(data.value == 4){
            var tipoValor =$("#tipoValor").val();
            if(tipoValor ==4){
                $("#div_estructura").show();
            }
            $("#table-responsive").show();
            $("#div_select_level").hide();
            $( "#update" ).hide();
            $( "#cancel" ).hide();
        }else{
            $("#div_select_level").hide();
            $("#table-responsive").hide();
            $("#div_estructura").hide();

            $( "#update" ).show();
            $( "#cancel" ).show();
        }

    }

    function openModal(d){
        confirmDialog("Se asignara al rol ${oRol?.nombreRol} el poder ver la estructura del usuario seleccionado", function(){
        save(d);
    });
    }

    function confirmDialog(message, onConfirm){
    var fClose = function(){
        modal.modal("hide");
    };
    var modal = $("#confirmModal");
    modal.modal("show");
    $("#confirmMessage").empty().append(message);
    $("#confirmOk").one('click', onConfirm);
    $("#confirmOk").one('click', fClose);
    $("#confirmCancel").one("click", fClose);
}


    function save(d){
                var idRol=${oRol?.id};
            var idView=$("#id_views").val();
            var id_Levels=$("#id_Levels").val();

            var especial= {};

            if(idView == -1){
                alert("Seleccionar campo de visualización de información");
                return;

            }

            if(idView == 3 && id_Levels == -1){
                alert("Seleccionar campo de nivel");
                return;
            }

            especial.typePermit=idView;
            if(idView == 3 ){
                especial.permitValue=id_Levels;
            }else if(idView == 4){
                if(d != ""){
                  especial.permitValue=d;
                }
            }else{
                especial.permitValue=idView;
            }


            var id ="";
            id =$("#lstEspeciales").val();

            if(id != "")
            especial.id=$("#lstEspeciales").val();

            $.ajax({
                url: "@{updateSpecial()}",
                type:'get',
                async: false,
                data: {
                    especial: especial,
                    rol:$("#roles").val()
                },
                success: function (data) {
                    if (data != 0) {
                        setMessage($('#message-container'), "Guardado exitoso", "success");
                       // alert("Guardado exitoso");
                    }
                }
            });
    }



    function setDepartments() {

        $.ajax({
            url: "@{getDepartments()}",
            type:'get',
            data:{
                "location": $("#location option:selected").val(),
                "date": $("#structureDate").val()
            },
            success: function (data) {
                var selectDepartment = $("#selectDepartment");
                var opt = document.createElement("option");
                opt.text = "Seleccione una opcion";
                opt.value = "-1";
                selectDepartment.html("");
                selectDepartment.append(opt);
                for (var i = 0; i < data.length; i++) {
                    opt = document.createElement("option");
                    opt.text = data[i];
                    opt.value = data[i];
                    selectDepartment.append(opt);
                };
            }
        });
    }

    function setMessage(container, message, type) {
    var div = $('<div />');
    div.append(message);
    div.addClass('alert alert-' + type).prepend('<button type="button" class="close" data-dismiss="alert">&times;</button>');
    div.css({'margin-left': '20px',
             'margin-right': '20px',
             'margin-top' : '5px'});
    container.html(div);
    $('html, body').animate({scrollTop:0}, 100);
}
</script>

#{if place == 'CSI' }
<!--<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>-->
#{/if}

