#{extends 'Layout/default.html' /}
#{set title: 'Roles de Usuario' /}
#{set confSecurity: ' configuration-security' /}
#{set location: 'Permisos' /}
<link href="@{'/public/stylesheets/jquery-treeview/jquery.treeview.css'}" rel="stylesheet" type="text/css" />

#{if place == 'CSI' }
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />
#{/if}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Inicio</a>

            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>

        <li>
            <a href="#">Seguridad</a>

            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>
        <li class="active configuration">Roles de Usuario</li>
    </ul>
</div>
<!--Contenedor de mensajes-->
<div id="message-container">
    #{if flash.success}
    <div class="crudFlash flashSuccess">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${flash.success}
    </div>
    #{/if}
    #{if flash.error || error}
    <div class="crudFlash flashError">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${error ?: flash.error.nl2br()}
    </div>
    #{/if}
</div>
<!--Fin contenedor mensajes-->

<div class="page-content" style="background: none;">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header position-relative text-center">
                <label>Roles de Usuario</label>
            </div>

            <br>

            <div class="row-fluid"> 
                <div class="span12">                    
                    <div class="export">
                        #{secure.check "seguridad/agregarrol"}
                        <button id="agregar-rol" class="btn btn-primary"><i class="icon-plus-sign"></i> Nuevo</button>
                        #{/secure.check}
                        #{secure.check "seguridad/editarrol"}
                        <button id="edit" class="btn btn-primary"><i class="icon-pencil"></i> Modificar</button>
                        #{/secure.check}
                        #{secure.check "seguridad/permisos"}
                        <button id="asignar-permisos" class="btn btn-primary"><i class="icon-eye-close"></i> Permisos</button>
                        #{/secure.check}
                        #{secure.check "seguridad/permisosespeciales"}
                        <button id="permisos-especiales" class="btn btn-primary"><i class="icon-eye-close"></i> Permisos Especiales</button>
                        #{/secure.check}
                        #{secure.check "seguridad/eliminarrol"}
                        <button id="eliminar-rol" class="btn btn-primary"><i class="icon-remove"></i> Eliminar</button>
                        #{/secure.check}
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <input type="text" class="form-control search-perm" placeholder="Buscar roles...">
                </div>
            </div>

            <br />
            
            <div class="row-fluid">
                <div class="header-out">
                    Roles
                </div>
                <div class="span5" id="roles">
                    Cargando roles...
                </div>
                <div class="span7">
                    <table class="sis-table selected table table-bordered table-condensed dataTable table table-lp table-striped" style="border: 1px solid #ddd">
                        <thead>
                            <tr>
                                <th>Permisos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="load-permissions">
                                    Haga clic en el rol para visualizar sus permisos
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>

<!--Agregar Rol-->

<div id="modal-agregar-rol" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header tab-title">
                <button type="button" class="close btn-modal-close" data-dismiss="modal">&times;</button>
                <h4 class="nomargin">Nuevo</h4>
            </div>
            <div class="modal-body no-padding">
                <form class="form-horizontal">
                    <br />
	                <div class="form-group">
		                <label class="col-sm-3 control-label">Nombre del Rol</label>
		               	<div class="col-sm-6">
		                    <input class="form-control" type="text" name="rol.nombreRol" id="nombreRol" maxlength="200" class="span12 alphanumeric" />
		                	<input type="hidden" name="rol.id" id="idRol" />
		            	</div>
		        	</div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" id="accept">
                    <i class="icon-ok"></i> Aceptar
                </button>
                <button type="button" class="btn btn-primary" id="accept-edit" style="display: none;">
                    <i class="icon-ok"></i> Aceptar
                </button>
                <button type="button" class="btn btn-primary" id="mdl-desasignar-cancelar" data-dismiss="modal" aria-hidden="true">
                    <i class="icon-remove"></i> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<script src="@{'/public/javascripts/libs/jquery-treeview/jquery.treeview.min.js'}"></script>
<script type="text/javascript">
    function verifyRoleName(isEdit) {
        $.ajax({
            url: '@{Seguridad.duplicatedRoleName()}',
            data: {
                "name": $("#nombreRol").val(),
                "roleId": $("input[name=roleList]:checked").val() || -1
            },
            success: function (duplicated) {
                if (!duplicated) {
                    saveOrUpdateRol(isEdit);
                } else {
                    swal("Error", "Ya existe un rol con el mismo nombre.", "error");
                }
            }
        });
    }
    
    function saveOrUpdateRol(isEdit) {
        if ($.trim($('#nombreRol').val()) == "") {
            swal("Mensaje", "Ingrese el nombre del Rol", "warning");
            return false;
        }

        $(this).prop( "disabled", true );

        $.ajax({
            url: '@{Seguridad.saveRol()}',
            type: 'POST',
            data: {
                "rol.nombreRol": $("#nombreRol").val(),
                "rol.id": $("input[name=roleList]:checked").val() || -1,
                "isEdit": isEdit
            },
            success: function(result) {
                //alert( result.error== false);
                if (typeof result.error != 'undefined' && result.error == false) {
                    setMessage($('#message-container'), result.message, result.type);
                    $('#modal-agregar-rol').modal('hide');
                    obtenerRoles();
                    $('#load-permissions').html('Haga clic en el rol para visualizar sus permisos ');
                } else {
                    $('#modal-agregar-rol').modal('hide');
                    swal("Error", result.message, "error");
                    $(this).prop( "disabled", false );
                }
            },
            error: function() {
                alert('Ha ocurrido un error al guardar la información, Por favor intente nuevamente');
                //enable($('#mdl-aceptar-rol'));
                $('#mdl-aceptar-rol').prop( "disabled", false );
            }
        });
    }

    function obtenerRoles() {
        $("#roles").html("Cargando roles...");
        $(".search-perm").val("");
        $(".search-perm").attr("disabled", "disabled");
        $.get('@{Seguridad.obtenerRoles}', function(result){
            $('#roles').html(result);

            $(".search-perm").keyup(function(evt) {
                var v = $(this).val().trim().toLowerCase();

                if(v && v.length > 0) {
                    $("#roles-list tbody tr td.rol-name").each(function() {
                        var content = $(this).html().trim().toLowerCase();
                        						
                        if(content.indexOf(v) != -1) {
                            $(this).parent().show();
                        } else {
                            $(this).parent().hide();
                        }
                    });
                } else {
                    $("#roles-list tbody tr").show();
                }
            });

            $(".search-perm").removeAttr("disabled");
        });
    }

    $(function(){        
        /*
         * Listado de Roles
         */
        obtenerRoles();       
        
        /*
         * Editar
         */
        $('#edit').click(function(){
            $("h4.nomargin").html("Modificar rol");
            var rolToEdit = 0;
            
            $('input[type=radio]').each(function(){
                if ($(this).is(':checked')) {
                    rolToEdit++;
                }
            });

            if (rolToEdit == 0) {
                swal('Mensaje', 'No ha seleccionado el rol a editar', 'warning');
                return false;
            }
            
            var rolId   = $('input:checked').val();
            var rolName = $('input:checked').data('name');
            
            //enable($('#accept'));
            $( "#accept" ).prop( "disabled", false );
            $('#idRol').val(rolId);
            $('#nombreRol').val(rolName);
            $('#modal-agregar-rol').modal('show');
            $("#accept").hide();
            $("#accept-edit").show();
        });

        /*
         * Agregar/Editar Rol
         */
        $('#agregar-rol').click(function(){
            //enable($('#accept'));
            $("h4.nomargin").html("Nuevo rol");
            $( "#accept" ).prop( "disabled", false );
            $('#idRol').val('');
            $('#nombreRol').val('');
            $('#modal-agregar-rol').modal('show');
            $("#accept").show();
            $("#accept-edit").hide();
        });

        $('#accept').click(function(){
            verifyRoleName(false);
        });

        $('#accept-edit').click(function(){
            verifyRoleName(true);
        });

        /*
         * Asignar permisos al rol
         */
         $('#asignar-permisos').click(function(){
            var rolesToAssign = 0;
            $('input[type=radio]').each(function(){
                if ($(this).is(':checked')) {
                    rolesToAssign++;
                }
            });

            if (rolesToAssign == 0) {
                swal('Mensaje', 'No ha seleccionado el rol a asignar permisos', 'warning');
                return false;
            }
            
            var rolId   = $('input:checked').val();

            if("${place}" == "CSI") {
                location.href = '@{RolesCSI.permisos()}?id=' + rolId + "&place=${place}";
            } else {
                location.href = '@{Seguridad.permisos()}?id=' + rolId;
            }
         });

         //Permisos especiales permisos-especiales

        $('#permisos-especiales').click(function(){
            var rolesToAssign = 0;
            $('input[type=radio]').each(function(){
                if ($(this).is(':checked')) {
                    rolesToAssign++;
                }
            });

            if (rolesToAssign == 0) {
                swal('Mensaje', 'No ha seleccionado el rol a asignar permisos', 'warning');
                return false;
            }
            
            var rolId   = $('input:checked').val();
            if("${place}" == "CSI") {
                location.href = '@{RolesCSI.permisosEspeciales()}?id=' + rolId + "&place=${place}";
            } else {
                location.href = '@{Seguridad.permisosEspeciales()}?id=' + rolId;
            }
         });



         /*
          * Eliminar Rol
          */
         $('#eliminar-rol').click(function(){
            var rolesToDelete = 0;
            $('input[type=radio]').each(function(){
                if ($(this).is(':checked')) {
                    rolesToDelete++;
                }
            });

            if (rolesToDelete == 0) {
                swal('Mensaje', 'No ha seleccionado el rol a eliminar', 'warning');
                return false;
            }
            
            swal({
                title: "Mensaje",
                text: "¿Confirma que desea eliminar el Rol seleccionado?",
                type: "warning", 
                showCancelButton: true,
                cancelButtonText: "Cancelar",
                confirmButtonText: "Eliminar",
                closeOnConfirm: true
            }, function() {
                var rolId   = $('input:checked').val();
                
                $.ajax({
                    url: '@{Seguridad.eliminarRol()}',
                    data:{id: parseInt(rolId)},
                    type: 'post',
                    success: function(result) {
                        if (typeof result.error != 'undefined' && result.error == false) {
                            setMessage($('#message-container'), result.message, result.type);
                            obtenerRoles();
                        } else {
                            swal('Mensaje', 'Ocurrió un error al eliminar el rol. Por favor intente nuevamente', 'error');
                        }
                    },
                    error: function() {
                        swal('Mensaje', 'Ocurrió un error al elimnar el rol. Por favor intente nuevamente', 'error');
                    }
                });
            });
         });
         
         $('#roles').on('click', '.sis-table tbody tr', function(){
            var idRol = $(this).data('id');
             
            if (!$(this).hasClass('selected')) {
                //$('.sis-table tbody tr.selected').removeClass('selected');
                //$(this).addClass('selected');
            }
            
            $.ajax({
                   url: '@{Seguridad.getPermissions()}',
                   data:{idRol: parseInt(idRol)},
                   type: 'post',
                   success: function(result) {
                       $('#load-permissions').html(result);
                       $("#list-permissions").treeview({
                           collapsed: false,
                           control: "#tree-controls"
                       });
                   },
                   error: function() {
                       swal('Mensaje', 'Ocurrió un error al obtener los permisos. Por favor intente nuevamente', 'error');
                   }
            });
        });
    });


function setMessage(container, message, type) {
    var div = $('<div />');
    div.append(message);
    div.addClass('alert alert-' + type).prepend('<button type="button" class="close" data-dismiss="alert">&times;</button>');
    div.css({'margin-left': '20px',
             'margin-right': '20px',
             'margin-top' : '5px'});
    container.html(div);
    $('html, body').animate({scrollTop:0}, 100);
}
</script>

#{if place == 'CSI' }
<!--<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>-->
#{/if}
