#{extends 'Layout/default.html' /}
#{set title: 'Usuarios' /}
#{set location: 'CSI / Usuarios' /}

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />
<style type="text/css">
        .liverpool-table th {
                background-color: #306898 !important;
                border-radius: 0 !important;
                color: #FFF !important;
                height: 25px !important;
        }
</style>
#{/set}

<style media="screen">
    .ui-autocomplete{
        width: 41.6667%;
        z-index: 1060;
    }

    .ui-menu-item{
        list-style-type: none;
    }

   tr {
    cursor: pointer;
    }
</style>
 #{if flash.success}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    &{flash.success}
</div>
#{/if}

#{if flash.error || error}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    &{flash.error}
</div>
#{/if}

<form id="filter-form">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="col-xs-4">
                <label class="normal-lbl" for="">Fecha de Estructura</label>
            </div>
            <div class="col-xs-8">
                <select id="structureDate" class="form-control" name="structureDate"></select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="col-xs-4">
                <label class="normal-lbl" for="">Número de Empleado</label>
            </div>
            <div class="col-xs-8">
                <input type="number" name="userNumber" class="form-control input-sm">
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="col-xs-4">
                <label class="normal-lbl" for="">Usuario</label>
            </div>
            <div class="col-xs-8">
                <input type="text" id="userName" name="userName" class="form-control input-sm" maxlength="50">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="col-xs-4">
                <label class="normal-lbl" for="">Ubicación</label>
            </div>
            <div class="col-xs-8">
                <div id="div_select_location">
                    <select class="form-control" >
                        <option value="-1">Seleccione una opción</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="col-xs-4">
                <label class="normal-lbl" for="">Departamento</label>
            </div>
            <div class="col-xs-8" id="div_select_department"></div>
        </div>
    <div class="row">
    </div>
        <div class="col-xs-12 col-sm-4">
            <label class="control-label block">&nbsp</label>
            <button id="search" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="separator"></div>
</form>
                
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table id="table_structure" class="table table-lp table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Empleado</th>
                        <th>Nombre/s</th>
                        <th>Apellidos</th>
                        <th>Función</th>
                        <th>Departamento</th>
                        <th>Nivel</th>
                        <th>Responsable/Jefe</th>
                        <!-- <th>Plan</th> -->
                        <!-- <th>Real</th>
 -->                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal de Cambio de user-rol -->
<div id="modal-user-rol" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header tab-title">
                <button type="button" class="close btn-modal-close" data-dismiss="modal">&times;</button>
                <h4 class="nomargin">Asignación de permiso</h4>
            </div>
            <div class="modal-body no-padding">
                <!-- <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Número de Usuario</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="modalManagerNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Usuario de Aplicación</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalManagerName">
                        </div>
                    </div>
                </form> -->
                 <form id="user-form" action="@{updateUsuario()}" enctype="multipart/form-data" method="POST" class="form-horizontal">
                        <fieldset>
                            <div class="row-fluid">
                                <div class="span8 offset2">
                                    <div class="control-group">
                                        <label class="control-label">Usuario</label>
                                        <div class="controls">
                                            <input type="text" name="usuario.username" id="username" value="${oUsuario?.username}" class="span12" maxlength="10" readonly />
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">Nombre</label>
                                        <div class="controls">
                                            <input type="text" name="usuario.nombre" id="nombre" value="${oUsuario?.nombre}" class="span12" />
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">Apellidos</label>
                                        <div class="controls">
                                            <input type="text" name="usuario.apellidos" id="apellidos" value="${oUsuario?.apellidos}" class="span12" />
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">Departamento</label>
                                        <div class="controls">
                                            <input type="text" name="usuario.departamento" id="departamento" value="${oUsuario?.departamento}" class="span12" />
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">Roles</label>
                                        <div class="controls">
                                            <span class="lst-roles">
                                                #{list items:lstRoles, as:'rol'}
                                                <label class="checkbox">
                                                    <input type="checkbox" class="user-roles" name="usuario.roles.id" id="rol${rol[0]}" value="${rol[0]}" ${rol[2] != 0 ? "checked='checked'" : ""} style="opacity: 1; margin-top: 2px">
                                                    ${rol[1]}
                                                </label>
                                                #{/list}
                                            </span>
                                            <input type="hidden" name="usuario.roles.id" id="usuario.roles.id" value="" />
                                        </div>
                                    </div>

                                    <div class="row-fluid">
                                        <div class="export text-right">
                                            <label>&nbsp;</label>
                                            <button id="update" class="sis-btn btn-custom btn-ok"><i class="icon-ok"></i> Aceptar</button>
                                            <button type="button" id="cancel" class="sis-btn btn-custom btn-cancel" onclick="location.href = '@{usuarios()}'"><i class="icon-remove"></i> Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <input type="hidden" name="usuario.id" id="id" value="${oUsuario?.id}" />
                    </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" id="btn_validate_mamager" class="btn btn-green">Validar</button>
                <button type="button" id="btn_change_mamager" class="btn btn-green" disabled="">
                    <img src="@{'/public/assets/img/icono_validar.png'}" alt="" />
                </button>
                <button type="button" class="btn btn-red" data-dismiss="modal">
                    <img src="@{'/public/assets/img/icon-close.png'}">
                </button>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" >

    function openModal(data) {
        Liverpool.loading("show");
        location.href = "@{editUser}?id=" + $(data).attr("data-userNumber");
        //Liverpool.loading("hide");
    }

    function getDateStructure() {
        Liverpool.loading("show");
        var _this = {};
        _this.cb = null;

        $.ajax({
            url: "@{getDatesStructuresCSI()}",
            type: "GET"
        }).done(function(data, textStatus, jqXHR) {
            var selectLocation = $("#structureDate");
            for (var i = 0; i < data.length; i++) {
                var opt = document.createElement("option");
                opt.text = data[i];
                opt.value = data[i];
                selectLocation.append(opt);
            };

            _this.cb();
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        });

        return {
            done: function(f) {
                _this.cb = f || function(){};
            }
        }
    }

    var oStructureTable;
    $(document).ready(function(){
        
        $("#structureDate").change(function() {
            Liverpool.loading("show");
            $('#filter-form').submit();
            setLocation();
            setDepartments();
            Liverpool.loading("hide");
        });

        getDateStructure().done(function() {        	
            $.fn.dataTable.ext.errMode = 'none';
            oStructureTable = $('#table_structure').dataTable({
                "iDisplayLength": 10,
                "bFilter": false,
                "bLengthChange": false,
                "bAutoWidth": false,
                "bDestroy": true,
                "bSort": false,
                "oLanguage": {
                    "sZeroRecords": "Ningún Registro",
                    "sInfo": "Mostrando Eventos de _START_ al _END_ de _TOTAL_ totales",
                    "sInfoEmpty": "0 Eventos",
                     "sPaginatePrevious": "Previous page",
                     "sProcessing": "Cargando...",
                     "oPaginate": {
                        "sFirst":    "<<",
                        "sLast":     ">>",
                        "sNext":     ">",
                        "sPrevious": "<"
                    }
                },
                "columnDefs": [ {
                    "visible": false,
                    "searchable": false
                  }
                  ],
                "bProcessing": false,
                "bServerSide": true,
                "bStateSave" : false,
                "sAjaxSource": "@{getStructureDataCSI()}",
                "fnServerParams": function ( aoData ) {
                    var array = jQuery($('#filter-form')).serializeArray();
                    jQuery.each(array, function() {
                        aoData.push({'name': this.name, 'value': this.value});
                    });
                },
                "pagingType": "full_numbers",
                "aaSorting": [[ 6, "ASC" ]],
                "createdRow": function(row, data, index){
                    $(row).attr("data-userNumber", data[9]);
                    $(row).attr("data-lastName", data[2]);
                    $(row).attr("data-firstName", data[3]);
                    $(row).attr("data-manager", data[8]);
                    $(row).attr("data-employee", data[1]);
                    $(row).attr("data-function", data[4]);
                    // $(row).attr("data-plan", data[8]);
                    $(row).attr('onclick', "openModal(this)");
                    Liverpool.loading("hide");
                },
                "columns": [
                    { "data": 0},
                    { "data": 1},
                    { "data": 2 },
                    { "data": 3 },
                    { "data": 4 },
                    { "data": 5},
                    { "data": 7 },
                    { "data": 8 }
                ]
                
            });
            
    });
        
      //Filtrado

        $('#filter-form').submit(function(){
        	Liverpool.loading("show");
            console.log("submit");
            oStructureTable.fnPageChange(0);
            return false;
        });

        setLocation();
        
        ////Select departments
        var selectDepartment = document.createElement("select");
        selectDepartment.setAttribute("class","form-control");
        selectDepartment.id = "selectDepartment";
        selectDepartment.name = "department";
        var opt = document.createElement("option");
        opt.text = "Seleccione una opcion";
        opt.value = "-1";
        selectDepartment.add(opt);
        $("#div_select_department"). append(selectDepartment);
    });

    function setLocation() {
        //Select location
        Liverpool.loading("show");
        $.ajax({
            url: "@{getLocationCSI()}",
            type:'get',
            data: {
                "date": $("#structureDate").val()
            },
            success: function (data) {
                var selectLocation = document.createElement("select");
                selectLocation.name = "location";
                selectLocation.id = "location";
                selectLocation.setAttribute("class","form-control");
                selectLocation.setAttribute("onchange", "setDepartments(this)");
                var opt = document.createElement("option");
                opt.text = "Seleccione una opcion";
                opt.value = "-1";
                selectLocation.add(opt);
                for (var i = 0; i < data.length; i++) {
                    opt = document.createElement("option");
                    opt.text = data[i];
                    opt.value = data[i];
                    selectLocation.add(opt, null);
                };
                $("#div_select_location").html(selectLocation);
                Liverpool.loading("hide");
            }
        });
    }

    function setDepartments() {
        $.ajax({
            url: "@{getDepartmentsCSI()}",
            type:'get',
            data:{
                "location": $("#location option:selected").val(),
                "date": $("#structureDate").val()
            },
            beforeSend: function (){
                Liverpool.loading("show");
            },
            complete: function (){
                Liverpool.loading("hide");
            },
            success: function (data) {
                var selectDepartment = $("#selectDepartment");
                var opt = document.createElement("option");
                opt.text = "Seleccione una opción";
                opt.value = "-1";
                selectDepartment.html("");
                selectDepartment.append(opt);
                for (var i = 0; i < data.length; i++) {
                    opt = document.createElement("option");
                    opt.text = data[i];
                    opt.value = data[i];
                    selectDepartment.append(opt);
                };
            }
        });
    }
</script>
