#{extends 'Layout/default.html' /}
#{set title: 'Editar Plantilla' /}
#{set location: 'Editar Plantilla' /}
#{set bodyClass: '' /}

#{if place == 'CSI' }
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />
#{/if}

#{if place == 'NPS' }
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
#{/if}

<div class="container">
    #{if flash.success}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${flash.success}
    </div>
    #{/if}
    #{if flash.error || error}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${error ?: flash.error.nl2br()}
    </div>
    #{/if}
</div>

<div class="row"> 
    <div class="col-md-12 text-center">
        <div class="form-group">
            <label>Plantilla ${type.name} / ${type.subType}</label>
        </div>
    </div>
</div>

<form id="template-form" action="@{EmailTemplates.save()}" method="post" accept-charset="utf-8">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="blue-title" for="template-subject">Asunto</label>
                        <input type="text" id="template-subject" name="template.subject" class="form-control required" value="${template?.subject}" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="blue-title" for="template-body">Cuerpo del Correo</label>
                        <textarea id="template-body" name="template.body" class="form-control required">${template?.body}</textarea>
                    </div>
                    
                    <hr />
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-warning" id="preview">Vista Previa</button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-green" id="save">Aceptar</button>
                                <button type="button" class="btn btn-red" onclick="location.href = '@{EmailTemplates.index()}';">Cancelar</button>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-sm-4">
                    <label class="blue-title" for="template-body">&nbsp;</label>
                    <div class="panel panel-default">                    
                        <div class="panel-heading">
                            Variables de la plantilla
                        </div>
                        <div class="panel-body">
                            #{if surveyTypeId == 1}
                                #{email/stores /}
                            #{/if}
                            #{else}
                                #{email/corporative /}
                            #{/else}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="template-id" name="template.id" value="${template?.id}" />
    <input type="hidden" id="template-type" name="template.type.id" value="${surveyTypeId}" />
</form>

<div id="mdl-preview" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header tab-title">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="nomargin">Vista Previa</h4>
            </div>
            <div class="modal-body">
                <span>Asunto: <label id="preview-subject"></label></span>
                <br />
                <iframe id="preview-iframe" frameborder="0" sandbox="allow-scripts" src=""></iframe>
            </div>
            <div class="modal-footer text-right">
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            </div>
        </div>
    </div>
</div>

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/tinymce/tinymce.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/email-templates-edit.js'}"></script>
#{/set}

#{if place == 'CSI' }
<script type="text/javascript">
    $(document).ready(function() {
        $("#side-bar-nps").hide();
        isCSI = true;
        
        
    });
</script>
#{/if}

#{if place == 'NPS' }
<script type="text/javascript" src="/static/assets/js/liverpool/csi/nps-filters.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#side-bar-nps").hide();
        isNPS = true;
    });
</script>
#{/if}