<table style="width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th style="text-align: center; border: 1px solid #ccc;">Demográfico</th>
            <th style="text-align: center; border: 1px solid #ccc;">Usuario</th>
            <th style="text-align: center; border: 1px solid #ccc;">Contraseña</th>
            <th style="text-align: center; border: 1px solid #ccc;">Jefe a Evaluar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left; border: 1px solid #ccc;">Jefatura Recursos Humanos</td>
            <td style="text-align: center; border: 1px solid #ccc;">Ricardo Martinez</td>
            <td style="text-align: center; border: 1px solid #ccc;">F666BA010A97169962D34FDE20D0489A</td>
            <td style="text-align: left; border: 1px solid #ccc;">Jose Martínez</td>
        </tr>
        <tr>
            <td style="text-align: left; border: 1px solid #ccc;">Jefatura Recursos Humanos</td>
            <td style="text-align: center; border: 1px solid #ccc;">Ricardo Martinez</td>
            <td style="text-align: center; border: 1px solid #ccc;">F666BA010A97169962D34FDE20D0489A</td>
            <td style="text-align: left; border: 1px solid #ccc;">Jose Martínez</td>
        </tr>
        <tr>
            <td style="text-align: left; border: 1px solid #ccc;">Jefatura Recursos Humanos</td>
            <td style="text-align: center; border: 1px solid #ccc;">Ricardo Martinez</td>
            <td style="text-align: center; border: 1px solid #ccc;">F666BA010A97169962D34FDE20D0489A</td>
            <td style="text-align: left; border: 1px solid #ccc;">Jose Martínez</td>
        </tr>
    </tbody>
</table>