#{extends 'Layout/default.html' /}
#{set title: 'Parametrización de email' /}
#{set location: 'Plantillas de Correo' /}

#{if place == 'CSI' }
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />
#{/if}

#{if place == 'NPS' }
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
#{/if}

<div class="row"> 
    <div class="col-md-12 text-center">
        <div class="form-group">
            <label>Plantillas de Correo Electrónico</label>
        </div>
    </div>
</div>

<div class="">
    #{if flash.success}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${flash.success}
    </div>
    #{/if}
    #{if flash.error || error}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${error ?: flash.error.nl2br()}
    </div>
    #{/if}
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-lp table-striped" table-name="table-templates" 
            #{if place == 'CSI' }
                data-edit="@{EmailCSI.edit()}"
                data-preview="@{EmailCSI.preview()}"
                data-source="@{EmailCSI.list()}"
            #{/if}
            #{elseif place == 'NPS' }
                data-edit="@{EmailNPS.edit()}"
                data-preview="@{EmailNPS.preview()}"
                data-source="@{EmailNPS.list()}"
            #{/elseif}
            #{else}
                data-edit="@{EmailTemplates.edit()}"
                data-preview="@{EmailTemplates.preview()}"
                data-source="@{EmailTemplates.list()}"
            #{/else}
            >
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Encuesta</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div id="mdl-preview" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header tab-title">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="nomargin">Vista Previa</h4>
            </div>
            <div class="modal-body">
                <iframe id="preview-iframe" frameborder="0" sandbox="allow-scripts" src=""></iframe>
            </div>
            <div class="modal-footer text-right">
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            </div>
        </div>
    </div>
</div>

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/liverpool/email-templates-index.js'}"></script>
#{/set}

#{if place == 'CSI' || place == 'NPS' }
<script type="text/javascript">
    $(document).ready(function() {
        $("#side-bar-nps").hide();
    });
</script>
#{/if}