<div class="table-responsive faces-table table-reflow">
    <div class="row">
        <div class="col-sm-6 faces-heading">
            Preguntas
        </div>
        <div class="col-sm-6 faces-options">
            <div class="row">
                <div class="cell">
                    <img src="@{'/public/assets/img/rating/4.png'}" />
                    <span>Totalmente de acuerdo</span>
                </div>
                <div class="cell">
                    <img src="@{'/public/assets/img/rating/3.png'}" />
                    <span>De acuerdo</span>
                </div>
                <div class="cell">
                    <img src="@{'/public/assets/img/rating/2.png'}" />
                    <span>En desacuerdo</span>
                </div>
                <div class="cell">
                    <img src="@{'/public/assets/img/rating/1.png'}" />
                    <span>Totalmente en desacuerdo</span>
                </div>
                <div class="cell">
                    <img src="@{'/public/assets/img/rating/0.png'}" />
                    <span>No aplica</span>
                </div>
            </div>
        </div>
    </div>
    <div class="faces-questions">
        #{list items:_questions, as:'question'}
            <div class="row">
                <div class="col-sm-6 face-question">
                    <span class="question-number">${_counter + question_index}-</span> ${question.question}
                    <span class="error-faces" style="display: block;"></span>
                </div>
                <div class="col-sm-6 face-question-answers">
                    <div class="row">
                        %{
                            choices = utils.Survey.sortChoices(question.choices);
                        }%
                        #{list items:choices, as:'choice'}
                            <div class="cell text-center has-control">
                                %{
                                    checked = utils.Misc.checked(question.id, _answers, choice.id) ? "checked" : "";
                                }%
                                <label class="radio-inline">
                                    <input type="radio" name="answers[${question.id}]" value="${choice.choiceText}|${choice.id}" class="${utils.Survey.isRequired(question?.required)} faces" autocomplete="off" ${checked} />
                                    <span></span>
                                </label>
                            </div>
                        #{/list}
                    </div>
                </div>
            </div>      
        #{/list}
    </div>
</div>