#{list items:_questions, as:'question'}
<div class="question">
    <span class="question-number">${_counter + question_index}-</span> ${question.question}
</div>
<div class="choices">
    %{
        text = _answers.get(question.id) != null ? _answers.get(question.id)[1] : "";
    }%
    <textarea name="answers[${question.id}]" class="${utils.Survey.isRequired(question?.required)} form-control input-sm" placeholder="Escribre tus comentarios" autocomplete="off" maxlength="512">${text}</textarea>
</div>
#{/list}