<div class="survey-welcome">
    ${_welcome?.raw()}
</div>
<div class="survey-actions">
    <button type="button" id="start-survey" class="btn btn-survey">
        Iniciar Encuesta
    </button>
</div>
