#{list items:_questions, as:'question'}
<div class="question">
    <span class="question-number">${_counter + question_index}-</span> ${question.question}
</div>
<div class="choices">
    #{list items:question.choices, as:'choice'}
    <label class="radio-inline">
        %{
            checked = utils.Misc.checked(question.id, _answers, choice.id) ? "checked" : "";
        }%
        <input type="radio" name="answers[${question.id}]" value="${choice.choiceText}|${choice.id}" class="${utils.Survey.isRequired(question?.required)}" autocomplete="off" ${checked} />
        <span></span>
        ${choice.choiceText}
    </label>
    #{/list}
</div>
#{/list}