#{extends 'Layout/default.html' /}
#{set title: 'Reporte de Ranking' /}
#{set location: 'Reporte de Ranking' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/circle.css'}" />

<div class="form-horizontal">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-xs-6">
                    <label class="normal-lbl">5 Más Altos NPS</label>
                </div>
                <div class="col-xs-6">
                    <label class="normal-lbl">5 Más Bajos NPS</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 high-nps" id="high-nps">
                    <ul class="nav nav-tabs">
                        <li title="Almacenes" class="active"><a href="#menu1">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                        </li>
                        <li title="Secciones"><a href="#menu2">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </a>
                        </li>
                        <li title="Gerentes"><a href="#menu3">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="menu1" class="tab-pane fade in active">
                            <table class="highest-table">
                                <tbody></tbody>
                            </table>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <table class="highest-table">
                                <tbody></tbody>
                            </table>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <table class="highest-table">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 low-nps" id="low-nps">
                    <ul class="nav nav-tabs">
                        <li title="Almacenes" class="active"><a href="#menu4">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                        </li>
                        <li title="Secciones"><a href="#menu5">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </a>
                        </li>
                        <li title="Gerentes"><a href="#menu6">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="menu4" class="tab-pane fade in active">
                            <table class="lowest-table">
                                <tbody></tbody>
                            </table>
                        </div>
                        <div id="menu5" class="tab-pane fade">
                            <table class="lowest-table">
                                <tbody></tbody>
                            </table>
                        </div>
                        <div id="menu6" class="tab-pane fade">
                            <table class="lowest-table">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <table id="right-table" class="highest-table">
                <thead>
                    <tr>
                        <th>Zona</th>
                        <th>NPS Total</th>
                        <th style="border-right: 10px solid #F7F7F8;">Tendencia</th>
                        <th>Vendedor</th>
                        <th>Crédito</th>
                        <th>Restaurante</th>
                        <th>Mesa de regalos</th>
                        <th>Alteraciones</th>
                        <th>Seguros</th>
                        <th>Centro de diseño</th>
                        <th>Click &amp; Collect</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts-more.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/solid-gauge.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/rankingStructure.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps_utils.js'}"></script>


#{set 'scripts'}

#{/set}
