/*
IE FIXES
*/
select, select[class*="span"], select[class*="span"], option {
    padding: 0px !important;
    vertical-align: middle
}

input[class*="span"] {
    padding: 2px;
    height: 24px !important;
    min-height: 24px !important;
}

span.lbl {
    padding-left: 24px;
    padding-top: 1px;
}

.dataTables_wrapper > .row-fluid {
    background-color: #EFF3F8;
    padding: 12px 0 6px;
}

.sis-table {
    border: medium none;
    margin-bottom: 5px;
}