<div class="modal-dialog modal-md">
    <div class="modal-content">
        <form id="task-form" action="@{save()}" enctype="multipart/form-data" method="POST">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span id="modal-title" class="modal-title">
                    Programar Fecha
                </span>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="inner-message"></div>
                <div class="form-group">
                    <label class="control-label">
                        Periodo de Estructura
                    </label>
                    <select id="structureDate" name="structureDate" class="form-control input-sm required">
                        <option value="">Seleccionar fecha</option>
                        #{list items: structureDates, as: 'date'}
                        <option value="${date}">${date}</option>
                        #{/list}
                    </select>
                </div>
                <div class="input-daterange date">
                    <div class="form-group">
                        <label class="control-label">
                            Día de Ejecución
                        </label>
                        <div class="input-group">
                            <input type="text" id="executionDay" name="executionDay" class="form-control input-sm date-picker required" maxlength="10" data-date-format="yyyy-mm-dd">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar-o"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Hora de Ejecución (HH:MM)
                    </label>
                    <div class="input-group bootstrap-timepicker timepicker">
                        <input type="text" id="executionHour" name="executionHour" class="form-control input-sm required" maxlength="5" />
                        <span class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="submit" class="btn btn-green" id="save">Guardar</button>
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </form>
    </div>
</div>