#{extends 'Layout/default.html' /}
#{set title: 'Plan de Acción' /}
#{set location: 'Plan de Acción' /}

#{set 'styles'}
<style type="text/css">
    .modal-lg {
        width: 1300px;
    }

    .modal-body {
        height: 450px;
        overflow-y: scroll;
    }
</style>
#{/set}

<div class="row form-horizontal">
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            <div class="col-xs-3">
                <label class="normal-lbl">Fecha de Estructura</label>
            </div>
            <div class="col-xs-9">
                <select class="form-control" id="structureDate">
                    #{list items: structureDates, as: 'date'}
                    <option value="${date}">${date}</option>
                    #{/list}
                </select>
            </div>
        </div>
    </div>
</div>

<div class="separator"></div>

<div class="form-horizontal">
    <div id="select-levels-zone">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 1</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_1"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 2</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_2"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 3</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_3"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 4</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_4"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 5</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_5"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 6</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_6"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 7</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_7"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 8</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_8"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="capture-action-plan">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive" style="border-radius: 4px;">
                <table class="table table-lp table-striped">
                    <thead>
                        <tr>
                            <th class="col-sm-3">Encuestas a realizar</th>
                            <th class="col-sm-3">Encuestas realizadas</th>
                            <th class="col-sm-3">% Encuesta</th>
                            <th class="col-sm-3">Calificación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center" id="surveys"></td>
                            <td class="text-center" id="answered_surveys"></td>
                            <td class="text-center" id="percentage_survey"></td>
                            <td class="text-center" id="calificacion"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive" style="border-radius: 4px;">
                <table class="table table-lp table-striped left-align-text">
                    <thead>
                        <tr>
                            <th class="col-sm-3">Plan de acción</th>
                            <th class="col-sm-3">Revisión</th>
                            <th class="col-sm-3"></th>
                            <th class="col-sm-3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select class="form-control" id="select-action-plan">
                                    <option value="">TODOS</option>
                                    <option value="CAPTURADO">Capturados</option>
                                    <option value="PENDIENTE">Pendientes</option>                                    
                                </select>
                            </td>
                            <td>
                                <select class="form-control" id="select-review">
                                    <option value="">TODOS</option>                                    
                                    <option value="PENDIENTE">Pendientes</option>
                                    <option value="APROBADO">Aceptados</option>
                                    <option value="APROBADO|RECHAZADO">Rechazados</option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 tools-action-plan">
            <div class="form-group pull-left">
                Búsqueda:
                <input id="search">                
            </div>
            <div class="form-group pull-right">
                <span class='glyphicon glyphicon-info-sign' title='Información' id='info-icon'></span>
                <button class="btn btn-primary" style="width: 100px;" title="Exportar" id="d-excel">
                    <span class="glyphicon glyphicon-download-alt"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="table-plan" class="table table-lp table-striped">
                    <thead>
                        <tr>
                            <th>Núm.</th>
                            <th>Puesto</th>
                            <th>Nombre</th>
                            <th>Núm. Empleado</th>
                            <th>Núm. Encuestas</th>
                            <th>Calificación</th>
                            <th>Plan de acción</th>
                            <th>Revisión</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="alert-cant-capture" class="alert alert-warning text-center" style="display: none;">
    <i class="fa fa-2x fa-exclamation-circle" style="margin-right: 15px;"></i> No puede capturar planes de acción ya que su calificación está por arriba del plan.
</div>

<div id="mdl-capture-plan" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade"></div>

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/store/store.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/filters.js'}"></script>
<script type="text/javascript">
    $.extend($.validator.messages, {
        required: "Campo requerido.",
        number: "Por favor, ingrese un valor numérico válido."
    });

    var isAdmin        = ${session.get("isAdmin")};
    var sessionLevel   = ${session.get("level")};
    var mainData       = [];
    var department     = -1;
    var mainTableReady = false;
    var filters        = new Filters(sessionLevel, isAdmin);
    var oTable         = null;
    var totalRows      = 0;

    function openToCapture(btn, processStage) {
        Liverpool.loading("show");
        
        var empId = $(btn).data("emp-id");        
        var notCaptured = (processStage && processStage == "notCaptured") ? true : false;

        $.ajax({
            url: "@{openToCapture()}",
            data: {
                "userId": empId,
                "date": $("#structureDate").val(),
                "notCaptured": notCaptured
            },
            type: 'GET'
        }).done(function(data, textStatus, jqXHR) {
            Liverpool.loading('hide');

            if(data.length == 0) {
                swal({
                    title: "Mensaje",
                    text: "La persona seleccionada no aplica para el proceso actual",
                    type: "warning"
                });
                
                return;
            } 

            $('#mdl-capture-plan')
                    .empty()
                    .html(data)
                    .modal();

            $('#form-capture').validate({
                'submitHandler': function (form) {
                    $('button', $(form)).attr('disabled', 'disabled');
                    
                    $.ajax({
                        url: '@{saveAnswers()}',
                        data: $(form).serialize(),
                        type: 'post'
                    }).done(function (data) {
                        $('#mdl-capture-plan').modal('hide');
                        openMainTable({
                            statusPlan: $("#select-action-plan").val(),
                            statusReview: $("#select-review").val(),
                            search: $('#search').val(),
                            statusSelector: "actionPlan"
                        });
                    }).always(function () {
                        $('button', $(form)).removeAttr('disabled');
                    });
                }
            });

            $(".date-capture, .g-p-date").datepicker({
                format: "dd/mm/yyyy",
                language: 'es',
                autoclose: true
            });

            Table.applyBlueShades("#table-cap");
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
            Liverpool.loading("hide");
        });
    }

    function openToReview(btn, processStage) {
        Liverpool.loading("show");
        
        var empId = $(btn).data("emp-id");
        var notReviewed = processStage == "notReviewed" ? true : false;

        $.ajax({
            url: "@{openToReview()}",
            data: {
                "userId": empId,
                "date": $("#structureDate").val(),
                "notCaptured": false
            },
            type: 'GET'
        }).done(function(data, textStatus, jqXHR) {
            Liverpool.loading("hide");

            if(data.length == 0) {
                swal({
                    title: "Mensaje",
                    text: "La persona seleccionada no aplica para el proceso actual",
                    type: "warning"
                });

                return;
            } else {
                $('#mdl-capture-plan')
                    .empty()
                    .html(data)
                    .modal();

                $('#form-capture').validate({
                    'submitHandler': function (form) {
                        $('button', $(form)).attr('disabled', 'disabled');
                        
                        $.ajax({
                            url: '@{saveReview()}',
                            data: $(form).serialize(),
                            type: 'post'
                        }).done(function (data) {
                            $('#mdl-capture-plan').modal('hide');
                            
                            openMainTable({
                                statusPlan: $("#select-action-plan").val(),
                                statusReview: $("#select-review").val(),
                                search: $('#search').val(),
                                statusSelector: "review"
                            });
                        }).always(function () {
                            $('button', $(form)).removeAttr('disabled');
                        });
                    }
                });
            }
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
            Liverpool.loading("hide");
        });
    }

    function searchNextLevel(element) {
        level      = Number($(element).data('level'));
        nextLevel  = level + 1;
        department = $(element).val();

        filters.clearFilters(nextLevel);

        if(department == "-1") {
            if (level > 1) {
                var $prevSelect = $("#level" + (level - 1));

                if($prevSelect && $prevSelect.val() != '-1') {
                    $prevSelect.trigger('change')
                }
                
                return;
            }
            
            if (level == 1) {
                loadInitialData();
            }

            return;  
        }

        Liverpool.loading("show");
        
        filters.fillLevel(
            department,
            $('#structureDate').val(),
            nextLevel,
            function () {
                openMainTable();
                getSumary();
            }
        );
    }

    function canActionPlan() {
        $('#capture-action-plan').hide();

        $.ajax({
            url: "@{canActionPlan()}",
            type: "GET",
            data: {
                date: $("#structureDate").val()
            }
        }).done(function(data, textStatus, jqXHR) {
            if (data === true) {
                $('#capture-action-plan').show();
                $('#alert-cant-capture').hide();
                getSumary();
                openMainTable();
            } else {
                Liverpool.loading('hide');
                $('#alert-cant-capture').show();
                swal("Mensaje", "No puede capturar planes de acción ya que su calificación está por arriba del plan.", "warning");
            }
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        });
    }

    function initMainTable() {        
        mainTableReady = false;
    }

    function openMainTable(params) {
        countRows(params, function (rows) {
            if (typeof params == 'undefined') {
                params = {
                    'totalRows': rows
                };
            } else {
                params['totalRows'] = rows;
            }
            
            setTable(department, params);
        });
    }

    function getLastLevelSelected() {
        var lastLevel = 1;

        for (var level = 8; level > 0; level--) {
            if ($('#level' + level).val() !== '-1') {
                lastLevel = level;
                break;
            }
        }

        return lastLevel;
    }

    function getSumary() {
        $.ajax({
            url:"@{getResume()}",
            data: {
                level: department,
                "structureDate": $("#structureDate").val()
            },
            type: 'GET'
        }).done(function(data, textStatus, jqXHR) {
            if (data.surveys > 2 && data.answers > 0) {
                $("#level").text($("#department_matrix .header_padre").text());
                $("#surveys").text(data.surveys);
                $("#answered_surveys").text(data.answers);
                $("#percentage_survey").text(data.percentage);
                $("#calificacion").text(data.score);
            } else {
                $("#level").text('-');
                $("#surveys").text('-');
                $("#answered_surveys").text('-');
                $("#percentage_survey").text('-');
                $("#calificacion").text('-');
            }                
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        });
    }

    function getSelectedUserId() {
        var userId = $('#level' + getLastLevelSelected()).val();

        if (userId === '-1' && isAdmin) {
            return '50092262';
        }
        
        if (!isAdmin) {
            return $("#level" + getLastLevelSelected()).val()
        }

        return userId;
    }
    
    function print(employee) {
        var url = '@{printActionPlan()}';
        
        window.location.href = url + "?userId=" + employee + "&date="  + $('#structureDate').val();
    }
    
    var setTable = function(department, params) {
        if (oTable !== null) {
            oTable.fnDestroy();
        }
        
        var url = '@{openMainTable()}' + queryParams(params);
        
        oTable = $('#table-plan').dataTable({
            "iDisplayLength": 20,
            "bFilter": false,
            "bLengthChange": false,
            "bAutoWidth": false,
            "bDestroy": true,
            "bSort": false,
            "bInfo": false,
            "oLanguage": {
                "sZeroRecords": "No puede capturar planes de acción ya que su calificación está por arriba del plan",
                "sInfo": "Mostrando planes de _START_ al _END_ de _TOTAL_ totales",
                "sInfoEmpty": "0 Respuestas",
                 "sPaginatePrevious": "Previous page",
                 "sProcessing": "Cargando...",
                 "oPaginate": {
                    "sFirst":    "<<",
                    "sLast":     ">>",
                    "sNext":     ">",
                    "sPrevious": "<"
                }
            },
            "fnCreatedRow": function(nRow, aData, iDataIndex) {
                $('td:eq(0)', nRow).html(aData[14]);
                $('td:eq(1)', nRow).html(aData[2]);
                $('td:eq(2)', nRow).html(aData[0]);
                $('td:eq(3)', nRow).html(aData[1]);
                $('td:eq(4)', nRow).html(aData[13]).addClass('text-center');
                $('td:eq(5)', nRow).html(aData[4]).addClass('colored-td');
                
                var $iconPlan = $("<img alt='icon' class='icon-plan' src=''>");
                var $iconReview = $("<img alt='icon' class='icon-plan' src=''>");
                var $iconTracing = $("<img alt='icon' class='icon-plan' src=''>");

                var $iconRejected = "";
                var htmlRejected = "";

                var $iconPrint = "";
                var htmlPrint = "";

                $iconPlan.css("cursor", "pointer");
                $iconReview.css("cursor", "pointer");
                $iconTracing.css("cursor", "pointer");

                $iconPlan.attr("src", "@{'/public/assets/img/plan-pending.png'}");
                $iconReview.attr("src", "@{'/public/assets/img/minus-icon.png'}");
                $iconTracing.attr("src", "@{'/public/assets/img/minus-icon.png'}");

                if(aData[5] == "CAPTURADO") {
                    $iconPlan.attr("onclick","openToCapture(this)");
                    $iconPlan.attr("src", "@{'/public/assets/img/plan-captured.png'}");
                    $iconReview.attr("src", "@{'/public/assets/img/review-pending.png'}");
                    $iconReview.attr("onclick", "openToReview(this)");

                    $iconPrint = $("<img alt='icon' class='icon-plan' src=''>");
                    $iconPrint.attr("src", "@{'/public/assets/img/print-icon.png'}");
                    $iconPrint.attr("onclick", "print(" + aData[3] + ")");
                    htmlPrint = $iconPrint[0].outerHTML;
                } else if(aData[5] == "PENDIENTE") {
                    $iconPlan.attr("onclick","openToCapture(this, 'notCaptured')");
                }

                if(aData[6].indexOf("APROBADO") != -1) {
                    $iconReview.attr("src", "@{'/public/assets/img/review-captured.png'}");
                    $iconReview.attr("onclick", "openToReview(this)");

                    if(aData[6] == "APROBADO|RECHAZADO") {
                        $iconRejected = $("<img alt='icon' class='icon-plan' src=''>");
                        $iconRejected.attr("src", "@{'/public/assets/img/error-icon.png'}");
                        htmlRejected = $iconRejected[0].outerHTML;
                    }
                }
                
                $iconPlan.attr("data-emp-id", aData[3]);
                $iconReview.attr("data-emp-id", aData[3]);
                
                $('td:eq(6)', nRow).html($iconPlan[0].outerHTML + htmlPrint + htmlRejected);
                $('td:eq(7)', nRow).html($iconReview[0].outerHTML);
            },
            "fnDrawCallback": function (oSettings) {
                Liverpool.loading('hide');
                Table.applyBlueShades("#table-plan");
            },
            "bProcessing": true,
            "bServerSide": true,
            "bStateSave" : false,
            "sAjaxSource": url,
            "pagingType": "full_numbers"
        });
    };
    
    var queryParams = function (params) {
        var queryString = '?userId=' + department + '&date=' + $("#structureDate").val();
        
        if(params) {
            for(k in params) {
                queryString += '&' + k + "=" + params[k];
            }
        }
        
        return queryString;
    }
    
    var countRows = function (params, cb) {
        $.ajax({
            url: '@{getCount()}' + queryParams(params),
        }).done(function (rowsCount) {
            totalRows = rowsCount;
            cb && cb(rowsCount);
        });
    }
    
    var loadInitialData = function () {
        Liverpool.loading('show');
        filters.fillLevel1(function () {
            filters.fillLoggedUser();
            filters.fillSpecialPermissions();
            department = getSelectedUserId();
            canActionPlan();
        });
    };

    $(document).ready(function() {
        $("#info-icon").click(function() {
            BootstrapDialog.alert({
            title: "Simbología",
                message: $('<div></div>').load('@{infoActionPlan()}')
            });
        });

        $("#d-excel").click(function() {
            var url   = '@{export()}';
            
            var filters = {
                statusPlan: $("#select-action-plan").val(),
                statusReview: $("#select-review").val(),
                search: $('#search').val(),
                totalRows: totalRows
            }
            
            window.location.href = url + queryParams(filters);
        });

        $("#select-action-plan").change(function() {
            if ($(this).val() === 'PENDIENTE') {
                $("#select-review").val('');
                $("#select-review").attr('disabled', true);
            } else {
                $("#select-review").removeAttr('disabled');
            }
            
            Liverpool.loading("show");
            
            openMainTable({
                statusPlan: $(this).val(),
                statusReview: $("#select-review").val(),
                statusSelector: "actionPlan",
                search: $('#search').val()
            });
        });

        $("#select-review").change(function() {
            Liverpool.loading("show");
            
            openMainTable({
                statusPlan: $("#select-action-plan").val(),
                statusReview: $(this).val(),
                statusSelector: "review",
                search: $('#search').val()
            });
        });
        
        $('#search').keypress(function (e) {
            if(e.which === 13)
            {
                Liverpool.loading("show");
                openMainTable({
                    statusPlan: $("#select-action-plan").val(),
                    statusReview: $("#select-review").val(),
                    statusSelector: "review",
                    search: $(this).val()
                });
            }
        });

        $("#structureDate").change(function() {
            loadInitialData();
        });

        // Init components
        loadInitialData();
    });
</script>
#{/set}