<table class="table">
    <thead>
        <tr>
            <th>Ícono</th>
            <th>Descripción de la funcionalidad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img alt="icon" src="@{'/public/assets/img/plan-pending.png'}"></td>
            <td><span style="color: green;">Plan de acción pendiente: </span> Este ícono sirve para que el responsable del plan de acción capture el detalle de las acciones a seguir para levantar el promedio de su calificación. Deberá incluir los responsables y la fecha de compromiso de cada actividad. Al final deberá hacer un resumen de sus planes de acción y la fecha término de todo el bloque</td>
        </tr>
        <tr>
            <td><img alt="icon" src="@{'/public/assets/img/plan-captured.png'}"></td>
            <td><span style="color: green;">Plan de acción capturado: </span>Indica que el usuario responsable ya capturó su plan de acción.</td>
        </tr>
        <tr>
            <td><img alt="icon" src="@{'/public/assets/img/review-pending.png'}"></td>
            <td><span style="color: green;">Revisión pendiente: </span>Este ícono sirve para que el jefe inmediato y/o área de RH capture algún comentario de validación del plan de acción del jefe que tuvo una calificación menor a la meta, ya sea en algún factor y/o en su evaluación general</td>
        </tr>
        <tr>
            <td><img alt="icon" src="@{'/public/assets/img/review-captured.png'}"></td>
            <td><span style="color: green;">Revisión capturada: </span>El usuario responsable ya capturó su revisión.</td>
        </tr>
        <tr class="hidden">
            <td><img alt="icon" src="@{'/public/assets/img/tracing-pending.png'}"></td>
            <td><span style="color: green;">Seguimiento pendiente: </span>Este ícono sirve para que el responsable del plan de acción capture algún comentario como evidencia de que dio seguimiento oportuno a las actividades.</td>
        </tr>
        <tr class="hidden">
            <td><img alt="icon" src="@{'/public/assets/img/tracing-captured.png'}"></td>
            <td><span style="color: green;">Seguimiento capturado: </span>El usuario responsable ya capturó su seguimiento.</td>
        </tr>
        <tr>
            <td><img alt="icon" src="@{'/public/assets/img/error-icon.png'}"></td>
            <td><span style="color: green;">Rechazado: </span>Indica que se ha rechazado el proceso actual</td>
        </tr>
        <tr>
            <td><img alt="icon" src="@{'/public/assets/img/minus-icon.png'}"></td>
            <td><span style="color: green;">No aplicable: </span>Indica que la columna no es aplicable para la situación actual</td>
        </tr>
        <tr>
            <td><img alt="icon" src="@{'/public/assets/img/print-icon.png'}"></td>
            <td>Botón para mandar a imprimir</td>
        </tr>
    </tbody>
</table>
