%{
    required = notCaptured ? 'required' : '';
}%
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="form-capture">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span id="modal-title" class="modal-title" style="color: #fff;">
                    Captura de información
                </span>
            </div>
            <div class="modal-body" id="modal-body">            
                <table id="table-cap" class="table table-lp table-striped">
                    <thead>
                        <tr>
                            <th class="col-xs-2">Pregunta</th>
                            <th>Calif.</th>
                            <th>Factor</th>
                            <th>Capturar comentarios</th>
                            <th>Categoría</th>
                            <th>Responsables</th>
                            <th>Fecha compromiso</th>
                            <th>Historial del plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        #{list items: elements, as: 'e'}
                        #{if e[13] != 0}
                        <tr data-id-question="${e[0]}">
                            <td>
                                ${e[0]}
                                <input type="hidden" name="actionPlan[${e_index}].question" value="${e[0]}" />
                                <input type="hidden" name="actionPlan[${e_index}].statusPlan" value="CAPTURADO" />
                                <input type="hidden" name="actionPlan[${e_index}].statusReview" value="PENDIENTE" />
                                <input type="hidden" name="actionPlan[${e_index}].statusTracing" value="PENDIENTE" />
                                <input type="hidden" name="actionPlan[${e_index}].idEmployeeClima" value="${userId}" />
                                <input type="hidden" name="actionPlan[${e_index}].id" value="${e[10]}" />
                            </td>
                            <td class="colored-td">${e[3]?.format('###.00')}</td>
                            <td>${e[2]}</td>
                            <td>
                                <textarea id="comment-${e_index}" class="form-control com-capture ${required}" placeholder="Comentarios respecto a la pregunta" rows="3" name="actionPlan[${e_index}].comments"></textarea>
                            </td>
                            <td>                                
                                <select id="category-${e_index}" class="form-control cat-capture ${required}" name="actionPlan[${e_index}].categoryPlan">
                                    <option value="">Seleccionar categoría</option>
                                    <option value="1" ${e[11] == '1' ? 'selected' : ''}>Juntas de avance</option>
                                    <option value="2" ${e[11] == '2' ? 'selected' : ''}>Capacitación (cursos)</option>
                                    <option value="3" ${e[11] == '3' ? 'selected' : ''}>Reunión de equipo</option>
                                    <option value="4" ${e[11] == '4' ? 'selected' : ''}>Celebraciones</option>
                                    <option value="5" ${e[11] == '5' ? 'selected' : ''}>Integración de equipo</option>
                                    <option value="6" ${e[11] == '6' ? 'selected' : ''}>Retroalimentación</option>
                                    <option value="7" ${e[11] == '7' ? 'selected' : ''}>Programa de estudio (UVL)</option>
                                    <option value="8" ${e[11] == '8' ? 'selected' : ''}>Otros</option>
                                </select>
                            </td>
                            <td>
                                <textarea id="responsibles-${e_index}" class='form-control resp-cap ${required}' name="actionPlan[${e_index}].responsibles" rows="3" placeholder="Introduzca los nombres en forma de lista">${e[7] == 'CAPTURADO' ? e[6] : ''}</textarea>
                            </td>
                            <td>
                                <input id="commit-date-${e_index}" class="form-control date-capture ${required}" value="${e[7] == 'CAPTURADO' ? e[8]?.format('dd/MM/yyyy') : ''}" name="actionPlan[${e_index}].commitDate" />
                            </td>
                            <td>
                                <div style="height: 73px; overflow-y: scroll;">
                                    %{
                                        history = e[5]?.trim();
                                        historyRows = history?.tokenize('|')
                                    }%
                                    <ul class="list-unstyled">
                                        #{list items: historyRows, as: 'hr'}
                                        <li>${hr}</li>
                                        #{/list}
                                    </ul>
                                </div> 
                            </td>
                        </tr>
                        #{/if}
                        #{/list}                    
                    </tbody>
                </table>            
            </div>
            <div class="modal-footer text-right" id="modal-footer">
                <div class="text-right">
                    <input type="hidden" name="employeeId" value="${userId}" />
                    <input type="hidden" name="year" value="${surveyYear}" />
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                    <button id="send-cap" class="btn btn-primary">Enviar revisión</button>
                </div>
            </div>
        </form>
    </div>
</div>