<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="form-capture">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span id="modal-title" class="modal-title" style="color: #fff;">
                    Revisión de información
                </span>
            </div>
            <div class="modal-body" id="modal-body">            
                <table id="table-cap" class="table table-lp table-striped">
                    <thead>
                        <tr>
                            <th class="col-xs-2">Pregunta</th>
                            <th>Factor</th>
                            <th>Historial del plan</th>
                            <th>Responsables</th>
                            <th>Fecha compromiso</th>
                            <th>Aprobar</th>
                            <th>Capturar comentarios</th>
                            <th>Historial revisión</th>
                        </tr>
                    </thead>
                    <tbody>
                        #{list items: elements, as: 'e'}
                        #{if e[12] != 0}
                        <tr data-id-question="${e[0]}">
                            <td>
                                ${e[0]}
                                <input type="hidden" name="actionPlan[${e_index}].question" value="${e[0]}" />
                                <input type="hidden" name="actionPlan[${e_index}].idEmployeeClima" value="${userId}" />
                                <input type="hidden" name="actionPlan[${e_index}].id" value="${e[10]}" />
                            </td>
                            <td>${e[1]}</td>
                            <td>
                                <div style="height: 73px; overflow-y: scroll;">
                                    %{
                                        history = e[5]?.trim();
                                        historyRows = history?.tokenize('|')
                                    }%
                                    <ul class="list-unstyled">
                                        #{list items: historyRows, as: 'hr'}
                                        <li>${hr}</li>
                                        #{/list}
                                    </ul>
                                </div>
                            </td>
                            <td>${e[6]}</td>
                            <td>${e[8]?.format('dd/MM/yyyy')}</td>
                            <td class="col-sm-1">                                
                                <select id="approve-${e_index}" class="form-control approv-rev required" name="actionPlan[${e_index}].statusReview">
                                    <option value="yes">Sí</option>
                                    <option value="no">No</option>
                                </select>
                            </td>
                            <td>
                                <textarea id="comments-review-${e_index}" class='form-control comm-rev' name="actionPlan[${e_index}].comments" rows="3" placeholder="Comentarios"></textarea>
                            </td>
                            <td>
                                <div style="height: 73px; overflow-y: scroll;">
                                    %{
                                        historyReview = e[12]?.trim();
                                        historyReviewRows = historyReview?.tokenize('|')
                                    }%
                                    <ul class="list-unstyled">
                                        #{list items: historyReviewRows, as: 'hrr'}
                                        <li>${hrr}</li>
                                        #{/list}
                                    </ul>
                                </div> 
                            </td>
                        </tr>
                        #{/if}
                        #{/list}                    
                    </tbody>
                </table>            
            </div>
            <div class="modal-footer" id="modal-footer">
                <div class="text-right">
                    <input type="hidden" name="employeeId" value="${userId}" />
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                    <button id="send-cap" class="btn btn-primary">Enviar revisión</button>
                </div>
            </div>
        </form>
    </div>
</div>