<div class="logo" style="text-align: center;">
    <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
        <img src="${baseUrl}public/assets/img/logo.png" alt="Liverpool Portal Único" width="229" height="48" />
    </span>
</div>
<div class="container survey-information">
    <p>
        <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt; font-weight: bold;">
            CLIMA - Plan de acción
        </span>
    </p>
    <p>
        <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
            Estimado Colaborador ${employee.firstName}:
        </span>
    </p>
    <p>
        <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
            Derivado de la evaluación de Clima Organizacional ${year}, te invitamos a revisar y aprobar el <strong>Plan de Acción</strong> que generó tu equipo de trabajo sobre sus áreas de oportunidad, el cual incluye fecha compromiso y responsable.
        </span>
    </p>
    <p>
        <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
            Uno de los propósitos de la Dirección General es la mejora de la Calidad de vida de nuestros colaboradores, por esto es muy importante que los compromisos que se acuerden, sean cumplidos.
        </span>
    </p>
    <br />
    <p style="text-align: center;">
        <span style="font-family: arial,helvetica,sans-serif; font-size: 12pt; font-weight: bold;">
            <a href="${baseUrl}">Portal Clima</a>
        </span>
    </p>
    <br />
    <p>
        <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
            Cualquier duda o comentario estamos a tu servicio.
        </span>
    </p>
    <br />
    <p style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
        José Antonio Romo / Sandra Escobedo<br />
        Enlace 5395 extensión: 1173 / 1175<br />
        Clima Organizacional | CSI<br />
        Dir. Estratégia y Desarrollo Comercial en Recursos Humanos
    </p>
</div>