<div class="logo" style="text-align: center;">
    <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
        <img src="${baseUrl}public/assets/img/logo.png" alt="Liverpool Portal Único" width="229" height="48" />
    </span>
</div>
<div class="container survey-information">
    <p>
        <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt; font-weight: bold;">
            CLIMA - Plan de acción
        </span>
    </p>
    <p>
        <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
            Estimado Colaborador ${employee.firstName}:
        </span>        
    </p>
    <p>
        <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
            El plan de acción ha sido revisado por tu jefe directo y cuenta con algunas observaciones, te invitamos a generar las debidas correcciones para su validación.
        </span>
    </p>
    <p>
        <span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
            Cualquier duda o comentario estamos a tu servicio.
        </span>
    </p>
    <br />
    <p style="font-family: arial,helvetica,sans-serif; font-size: 10pt;">
        José Antonio Romo / Sandra Escobedo<br />
        Enlace 5395 extensión: 1173 / 1175<br />
        Clima Organizacional | CSI<br />
        Dir. Estratégia y Desarrollo Comercial en Recursos Humanos
    </p>
</div>