#{extends 'Layout/default.html' /}
#{set title: 'Avance' /}
#{set location: 'Avance' /}

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/jquery.treetable.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/jquery.treetable.theme.default.css'}" />

<style media="screen">
    th,.centerCss { text-align: center }
    
    .expanded {
        background: #3A7EB8 !important;
        color: #fff;
    }
   
    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }

</style>
#{/set}

<div class="row form-horizontal">
    <div id="select-levels-zone">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Fecha de Estructura</label>
                    </div>
                    <div class="col-xs-9">
                        <select id="structureDate" class="form-control" name="structureDate">
                            #{list items: structureDates, as: 'date'}
                            <option value="${date}">${date}</option>
                            #{/list}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<div class="separator"></div>

<div class="row form-horizontal">
    <div id="select-levels-zone">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 1</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_1"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 2</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_2"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 3</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_3"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 4</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_4"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 5</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_5"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 6</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_6"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 7</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_7"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 8</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_8"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row form-horizontal">
    <div class="col-md-3">
        <div class="form-group">
            <a href="#" id="export" title="Exportar" class="btn btn-block btn-primary">
                <img src="@{'/public/assets/img/icon-save.png'}">
            </a>
        </div>
    </div>
</div>
<div class="separator"></div>

<div class="row">    
    <div class="col-md-12">
        <div class="form-group">
            <div class="table-responsive">
                <table id="tablePadre" class="table table-lp table-striped table-hover left-align-text">
                    <thead>
                        <tr>
                            <th class="text-left">Jefe</th>
                            <th class="text-left">Encuesta</th>
                            <th class="center">Plan</th>
                            <th class="center">Real</th>
                            <th class="center">%Avance</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


#{set 'scripts'}
<script type="text/javascript" src="@{'/public/javascripts/libs/jquery-treetable/jquery.treetable_1.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/store/store.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/filters.js'}"></script>

<script type="text/javascript">
    var filters       = new Filters(1, true);    
    var tableProgress = $("#tablePadre");
    
    $(function() {
        $("#structureDate").change(function() {
            Liverpool.loading('show');
            
            filters.fillLevel1(function () {
                getInitialRows();
            });
        });
        
        $('#export').on('click', function(event) {
            exportTableToCSV.apply(this, [tableProgress, 'Avance.csv']);
        });
        
        Liverpool.loading('show');
        filters.fillLevel1(function () {
            var level = filters.getLastLevelSelected() === '' ? 
                            '50092262' : $("#level" + filters.getLastLevelSelected()).val();
                            
            getInitialRows(level);
        });
    });

    function getInitialRows(level) {        
        level = level || '50092262';
        
        $.ajax({
            url: '@{progress}',
            data: {
                userId: level,
                date: $('#structureDate').val()
            },
            success: function (html) {
                $('#tablePadre tbody').html(html);
                setTreeTable();
                Liverpool.loading('hide');
                
                if (html.length === 0) {
                    swal("Mensaje", "No hay datos disponibles para los filtros seleccionados", "warning");
                }
            }
        });
    }
    
    function setTreeTable() {
        tableProgress.treetable('destroy');
        
        tableProgress.treetable({
            expandable: true,
            onNodeCollapse: function() {
              var node = this;
              tableProgress.treetable("unloadBranch", node);
            },
            onNodeExpand: function() {
              var node = this;
              Liverpool.loading('show');
              
              $.ajax({
                async: false,
                url: '@{progress}',
                data: {
                    userId: node.id,
                    date: $('#structureDate').val()
                }
              }).done(function(html) {
                var rows = $(html).filter("tr");                
                tableProgress.treetable("loadBranch", node, rows);
                Liverpool.loading('hide');
              });
            }
        });
    }
    
    function searchNextLevel(element) {
        var level      = Number($(element).data('level'));
        var nextLevel  = level + 1;
        var department = $(element).val();

        filters.clearFilters(nextLevel);

        if(department === "-1") {
            if(level > 1) {
                var $prevSelect = $("#level" + (level - 1));

                if($prevSelect) {
                    $prevSelect.trigger('change');
                }
            }

            return;  
        }
        
        Liverpool.loading('show');
        filters.fillLevel(
            department,
            $('#structureDate').val(),
            nextLevel,
            function () {
                getInitialRows(department);
            }
        );
    }
    
    function exportTableToCSV($table, filename) {
        var $rows = $table.find('tr:has(td),tr:has(th)'),
            tmpColDelim = String.fromCharCode(11),
            tmpRowDelim = String.fromCharCode(0),
            colDelim = '","',
            rowDelim = '"\r\n"',
            csv = '"' + $rows.map(function(i, row) {
                var $row = $(row),
                    $cols = $row.find('td,th');
                return $cols.map(function(j, col) {
                    var $col = $(col),
                        text = $col.text();
                    return text.replace(/"/g, '""'); // escape quotes

                }).get().join(tmpColDelim);
            }).get().join(tmpRowDelim)
            .split(tmpRowDelim).join(rowDelim)
            .split(tmpColDelim).join(colDelim) + '"',
            // Data URI
            csvData = 'data:application/csv;charset=utf-8,%EF%BB%BF' + encodeURIComponent(csv);
        if (window.navigator.msSaveBlob) { // IE 10+
            //alert('IE' + csv);
            window.navigator.msSaveOrOpenBlob(new Blob([csv], {
                type: "text/plain;charset=utf-8;"
            }), "csvname.csv")
        } else {
            $(this).attr({
                'download': filename,
                'href': csvData,
                'target': '_blank'
            });
        }
    }
</script>
#{/set}