#{list items: progress, as: 'row'}
<tr data-tt-id="${row[8]}" data-tt-parent-id="${userId}" data-tt-branch="true">
    <td>${row[1]}</td>
    <td>${row[2]}</td>
    <td class="text-center">${row[3]}</td>
    <td class="text-center">${row[4]}</td>
    <td class="text-center">${row[5]}</td>
</tr>
#{/list}

#{if error != null && error == true }
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        ERROR!! Al cargar la información.
    </div>
#{/if}