<div class="modal-dialog modal-md">
    <div class="modal-content">
        <form id="survey-factors-form" action="@{Factors.saveSubFactor()}" method="post">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span id="modal-title" class="modal-title">
                    Agregar Sub Factor
                </span>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="inner-message"></div>
                
                <div class="row">                    
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">
                                Factor
                            </label>
                            <select id="subfactor-factor-id" class="form-control input-sm required" name="subfactor.factor.id">
                                <option value="">Seleccionar Factor</option>
                                #{list items: factors, as: 'factor'}
                                <option value="${factor.id}" ${factor.id == subfactor?.factor?.id ? 'selected' : ''}>${factor.description}</option> 
                                #{/list}                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Descripción
                            </label>
                            <input type="text" id="factor-description" class="form-control input-sm required" name="subfactor.description" value="${subfactor?.description}" />
                        </div>
                    </div>
                </div>
                
                <div class="hidden">
                    <input type="hidden" id="factor-id" name="subfactor.id" value="${subfactor?.id}" />
                </div>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="submit" class="btn btn-green" id="save">Aceptar</button>
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </form>
    </div>
</div>