<div class="modal-dialog modal-md">
    <div class="modal-content">
        <form id="survey-factors-form" action="@{Factors.saveFactor()}" method="post">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span id="modal-title" class="modal-title">
                    Agregar Factor
                </span>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="inner-message"></div>
                
                <div class="row">                    
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">
                                Descripción
                            </label>
                            <input type="text" id="factor-description" class="form-control input-sm required" name="factor.description" value="${factor?.description}" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Puntos
                            </label>
                            <input type="text" id="factor-points" class="form-control input-sm number required" name="factor.points" value="${factor?.points}" />
                        </div>
                    </div>
                </div>
                
                <div class="hidden">
                    <input type="hidden" id="survey-id" name="factor.survey.id" value="${surveyId}" />
                    <input type="hidden" id="factor-id" name="factor.id" value="${factor?.id}" />
                    <input type="hidden" name="oldValue" value="${factor?.points}" />
                </div>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="submit" class="btn btn-green" id="save">Aceptar</button>
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </form>
    </div>
</div>