#{extends 'Layout/default.html' /}
#{set title: 'Ranking' /}
#{set location: 'Ranking' /}

<div class="row form-horizontal">
    <div class="col-xs-12 col-sm-3">
        <div class="form-group">
            <div class="col-xs-3">
                <label class="normal-lbl">Fecha de Estructura</label>
            </div>
            <div class="col-xs-9">
                <select class="form-control" id="structureDate">
                    #{list items: structureDates, as: 'date'}
                    <option value="${date}">${date}</option>
                    #{/list}
                </select>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="form-group">
            <div class="col-xs-3">
                <label class="normal-lbl text-right">Área</label>
            </div>
            <div class="col-xs-9">
                <select class="form-control" id="select-stores">
                    <option value="warehouse">Almacenes</option>
                    <option value="cellar">Centros de distribución (Bodegas)</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="separator"></div>

<div class="row row form-horizontal">
    <div class="col-xs-12 col-sm-3">
        <div class="form-group">
            <button class="btn btn-primary col-xs-9" id="d-excel" title="Exportar">
                <span class="glyphicon glyphicon-download-alt"></span> Exportar
            </button>
        </div>
    </div>
</div>

<div class="row mt-20">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table id="table-area" class="table table-lp table-striped">
                <thead>
                    <tr>
                        <th class="center">
                            Ubicación
                        </th>
                        <th class="center">Organización</th>
                        <th class="center">Desarrollo y crecimiento</th>
                        <th class="center">Clientes</th>
                        <th class="center">Trabajo en equipo</th>
                        <th class="center">Liderazgo</th>
                        <th class="center">Clima</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

#{set 'scripts'}
<script type="text/javascript">
    var oTable = null;
    
    function insertFinalRow(tableId) {
        var $tbody = $(tableId + " tbody");

        $tbody.append(
            "<tr>" +
                "<td>" +
                    "TOTAL" +
                "</td>" +
                "<td class='colored-td'>" +
                    Math.floor(Table.getAverageFromTableColumn(tableId, 2)) +
                "</td>" +
                "<td class='colored-td'>" +
                    Math.floor(Table.getAverageFromTableColumn(tableId, 3)) +
                "</td>" +
                "<td class='colored-td'>" +
                    Math.floor(Table.getAverageFromTableColumn(tableId, 4)) +
                "</td>" +
                "<td class='colored-td'>" +
                    Math.floor(Table.getAverageFromTableColumn(tableId, 5)) +
                "</td>" +
                "<td class='colored-td'>" +
                    Math.floor(Table.getAverageFromTableColumn(tableId, 6)) +
                "</td>" +
            "</tr>"
        );
    }

    function fillTable(data) {
        var table = "#table-area";

        $(table + " tbody").empty();
        
        if(data && data.length === 0) {
            swal("Mensaje", "No hay datos disponibles para los filtros seleccionados", "warning");
            return;
        }

        for(var i = 0; data && i < data.length; i++) {
            var e = data[i];

            $(table + " tbody").append(
                "<tr>" +
                    "<td>" +
                        e[0] +
                    "</td>" +
                    "<td class='colored-td text-center'>" +
                        (e[1] ? Number(e[1]).toFixed(2) : '-') +
                    "</td>" +
                    "<td class='colored-td text-center'>" +
                        (e[2] ? Number(e[2]).toFixed(2) : '-') +
                    "</td>" +
                    "<td class='colored-td text-center'>" +
                        (e[3] ? Number(e[3]).toFixed(2) : '-') +
                    "</td>" +
                    "<td class='colored-td text-center'>" +
                        (e[4] ? Number(e[4]).toFixed(2) : '-') +
                    "</td>" +
                    "<td class='colored-td text-center'>" +
                        (e[5] ? Number(e[5]).toFixed(2) : '-') +
                    "</td>" +
                    "<td class='colored-td text-center'>" +
                        (e[6] ? Number(e[6]).toFixed(2) : '-') +
                    "</td>" +
                "</tr>"
            );
        }
        
        Table.applyBlueShades(table);
        setDataTable();
        
        // Deprecated
        //if(data && data.length > 0) {
        //    insertFinalRow(table);
        //}
    }
    
    function loadTable(type, date) {
        Liverpool.loading("show");
        $.ajax({
            url: "@{getRankingByOption()}",
            data: {
                "option": type,
                "date": date
            },
            type:'GET',
            cache: false
        }).done(function(data, textStatus, jqXHR) {
            if (oTable !== null) {
                $('#table-area').DataTable().destroy();
            }
        
            fillTable(data, false);                                
            Liverpool.loading("hide");
        }).fail(function(jqXHR, textStatus, errorThrown) {
            Liverpool.loading("hide");
        });
    }
    
    function setDataTable() {
        oTable = $('#table-area').dataTable({
            "iDisplayLength": 20,
            "bFilter": false,
            "bLengthChange": false,
            "bAutoWidth": false,
            "destroy": true,
            "bSort": true,
            "bInfo": false,
            "oLanguage": {
                "sZeroRecords": "Ningún Registro",
                "sInfo": "Mostrando resultados de _START_ al _END_ de _TOTAL_ totales",
                "sInfoEmpty": "0 resultados",
                 "sPaginatePrevious": "Previous page",
                 "sProcessing": "Cargando...",
                 "oPaginate": {
                    "sFirst":    "<<",
                    "sLast":     ">>",
                    "sNext":     ">",
                    "sPrevious": "<"
                }
            },
            "pagingType": "full_numbers",            
            "columnDefs": [{
                "targets": 0,
                "orderable": false
            }],
            "order": [[1, "desc" ]]
        });
    }

    $(document).ready(function() {
        $("#structureDate").change(function() {
            loadTable($("#select-stores").val(), $(this).val());
        });

        $("#select-stores").change(function() {
            loadTable($(this).val(), $("#structureDate").val());
        });

        $('#d-excel').click(function () {
            var option = $('#select-stores').val();
            var date   = $('#structureDate').val();

            var url = baseUrl + 'ranking/export?option=' + option + '&date=' + date;

            window.location.href = url;
        });
        
        loadTable($("#select-stores").val(), $("#structureDate").val());
    });
</script>
#{/set}