#{extends 'Layout/default.html' /}
#{set title: 'Clima' /}
#{set location: 'Preguntas abiertas' /}

<div class="row">
    <div class="col-md-2">
        <label for="structureDate">Fecha de estructura</label>
        <select class="form-control" id="structureDate">
            #{list items: structureDates, as: 'date'}
            <option value="${date}">${date}</option>
            #{/list}
        </select>
    </div>
</div>


<div class="separator"></div>

<div class="row form-horizontal">
    <div id="select-levels-zone">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 1</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_1"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 2</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_2"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 3</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_3"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 4</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_4"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 5</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_5"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 6</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_6"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 7</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_7"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 8</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_8"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="separator"></div>

<div id="scores" class="row">
    <div class="col-md-12">
            <ul id="score-tabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#score-environment" aria-controls="score-environment" role="tab" data-toggle="tab">Calificación Clima</a></li>
                <li role="presentation"><a href="#score-direct" aria-controls="score-direct" role="tab" data-toggle="tab">Calificación Directa</a></li>        
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="score-environment">                    
                    <div class="table-responsive">
                        <table class="table-lp table resume-table">
                            <thead>
                                <tr>
                                    <th colspan="5">
                                        Calificación De Clima Organizacional
                                    </th>
                                </tr>
                                <tr>
                                    <th>Nivel</th>
                                    <th>Encuestas a realizar</th>
                                    <th>Encuestas realizadas</th>
                                    <th>% de encuestas</th>
                                    <th>Calificación de clima</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="enviroment-level">----</td>
                                    <td id="enviroment-surveys" class="text-center">0</td>
                                    <td id="enviroment-answered_surveys" class="text-center">0</td>
                                    <td id="enviroment-percentage_survey" class="text-center">0</td>
                                    <td id="enviroment-calificacion" class="text-center">0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive questions-list">
                        <table id="environment-open-questions-table" class="table-lp table table-striped resume-table">
                            <thead>
                                <tr>                    
                                    <th colspan="2">Preguntas</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            
                <div role="tabpanel" class="tab-pane fade" id="score-direct">
                    <div class="table-responsive">
                        <table class="table-lp table resume-table">
                            <thead>
                                <tr>
                                    <th colspan="5">
                                        Calificación Directa
                                    </th>
                                </tr>
                                <tr>
                                    <th>Nivel</th>
                                    <th>Encuestas a realizar</th>
                                    <th>Encuestas realizadas</th>
                                    <th>% de encuestas</th>
                                    <th>Calificación Directa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="direct-level">----</td>
                                    <td id="direct-surveys" class="text-center">0</td>
                                    <td id="direct-answered_surveys" class="text-center">0</td>
                                    <td id="direct-percentage_survey" class="text-center">0</td>
                                    <td id="direct-calificacion" class="text-center">0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive questions-list">
                        <table id="direct-open-questions-table" class="table-lp table table-striped resume-table">
                            <thead>
                                <tr>                    
                                    <th colspan="2">Preguntas</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>

<div id="modal-answers" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header tab-title">
                <button type="button" class="close btn-modal-close" data-dismiss="modal">&times;</button>
                <h4 class="nomargin">Respuestas</h4>
            </div>
            <div class="modal-body no-padding">
                <!-- Table -->
                <div class="table-responsive">
                    <table id="answers-table" class="table table-lp table-striped left-align-text">
                        <thead class="tb-white-head">
                            <tr>
                                <th></th>
                                <th>Respuestas</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>                    
                </div>
            </div>
            <div class="modal-footer text-center">
                <button title="Exportar" type="button" id="export" class="btn btn-green">
                    <img src="@{'/public/assets/img/icon-save.png'}">
                </button>
                <button title="Cerrar" type="button" class="btn btn-red" data-dismiss="modal">
                    <img src="@{'/public/assets/img/icon-close.png'}">
                </button>
                
                <input type="hidden" id="user-id" value="" />
                <input type="hidden" id="question" value="" />
                <input type="hidden" id="direct" value="" />
            </div>
        </div>
    </div>
</div>

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/store/store.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/filters.js'}"></script>

<script type="text/javascript" >
var isAdmin      = ${session.get("isAdmin")};
var sessionLevel = ${session.get("level")};
var filters      = new Filters(sessionLevel, isAdmin);

$(document).ready(function() {
    $("#structureDate").change(function() {
        Liverpool.loading('show');
        filters.fillLevel1(function () {
            loadInitialData();
        });
    });
    
    Liverpool.loading('show');
    
    filters.fillLevel1(function () {
        loadInitialData();
    });
});

function loadInitialData() {
    Liverpool.loading('show');
    
    filters.fillLoggedUser();
    filters.fillSpecialPermissions();
        
    var $level         = $("#level" + getLastLevelSelected());
    var rootLevel      = isAdmin && getLastLevelSelected() === '' ? 50092262 : $level.val();
    var nextLevel      = isAdmin && getLastLevelSelected() === '' ? 1 : getLastLevelSelected() + 1;
    
    loadResumeTable(rootLevel);
    getOpenQuestions(rootLevel, nextLevel, 'admin');
}

function getOpenQuestions(rootLevel, nextLevel, isAdminFirstRequest) {
    var dependants   = [];
    var childOptions = $("#level" + nextLevel + " option");
    var firstRequest = typeof isAdminFirstRequest !== 'undefined' && isAdmin;

    dependants.push(rootLevel);
    
    for (var i = 1; i < childOptions.length; i++) {
        if ((childOptions[i].getAttribute('data-surveys') > 2 && 
            childOptions[i].getAttribute('data-answered') > 2) || 
            isAdmin
        ) {
            dependants.push(childOptions[i].value);
        }       
    }

    $.ajax({
        url: "@{getOpenQuestions()}",
        type:'POST',
        data: {
            userId: rootLevel,
            structureDate: $("#structureDate option:selected").val(),
            firstRequest: firstRequest
        },
        success: function (data) {
            if ($.isEmptyObject(data)) {
                $('.questions-list').hide();
                return false;
            }
            
            var html    = '';
            var surveys = '';
            
            $.each(data, function (question, surveysRelated) {
                surveys = surveysRelated.join(',');
                
                html += '<tr>' +
                        '   <td>' +
                                question +
                        '   </td>' +
                        '   <td>' +
                        '       <button class="btn btn-primary fa fa-chevron-right" data-question="' + question + '" data-surveys="' + surveys + '">' +
                        '           Ver respuestas' +
                        '       </button>' +
                        '   </td>' +
                        '</tr>';
            });
            
            $('.questions-list').show();
            $('#environment-open-questions-table > tbody').html(html);
            $('#direct-open-questions-table > tbody').html(html);
        },
        beforeSend: function () {
            var load = '<tr>' +
                     '   <td colspan="2" class="text-center">' +
                     '       <img src="public/assets/img/loading.gif" alt="Cargando" style="width: 32px; height: 32px;" />' +
                     '   </td>' +
                     '</tr>';
            
            $('#direct-open-questions-table > tbody').html(load);
            $('#environment-open-questions-table > tbody').html(load);            
        },
        complete: function () {
            
        }
    });
}

function exportReport(exportUrl) {
    var level     = getLastLevelSelected();
    
    if (level === '') {
        swal({
            title: "",
            text: "Debe seleccionar al menos un nivel",
            type: "info"
        });
        return;
    }

    var queryString = '?level=' + $('#level' + level).val() + '&structureDate=' + $('#structureDate').val();
    location.href = exportUrl + queryString;
}

function loadResumeTable(level) {
    var data = {
        level: level,
        structureDate: $("#structureDate option:selected").val()
    };
    
    $.ajax({
        url: "@{ResultMatrix.getResume()}",
        type: 'get',
        data: data,
        success: function (data) {
            populateResumeTable(data[0], 'direct', level);
            populateResumeTable(data[1], 'enviroment', level);
            displayTables(data);
        },
        complete: function () {
            Liverpool.loading('hide');
        }
    });
}

function populateResumeTable(data, table, rootLevel) {
    var level = isAdmin && rootLevel === 50092262 ? 
                    "Liverpool" : 
                    getColumnLevelContent(table);
    
    $("#" + table + "-level").text(level);
    $("#" + table + "-surveys").text(data.surveys);
    $("#" + table + "-answered_surveys").text(data.answers);
    $("#" + table + "-percentage_survey").text(data.percentage);
    $("#" + table + "-calificacion").text(data.score);
}

function getColumnLevelContent(tableType) {
    var $option = $("#level" + getLastLevelSelected() + " option:selected" );
    
    return tableType === 'direct' ? $option.text() : $option.data('department');
}

function displayTables(data) {
    // Display/hide direct score table
    var displayDirect = showDirectScoreTable() && showTable(data[0]);

    if (displayDirect) {
        $('a[href="#score-direct"]').show();
    } else {
        $('a[href="#score-direct"]').hide();
        $('#score-tabs a[href="#score-environment"]').tab('show')
    }

    // Display/hide tree score table
    var displayTree = showTable(data[1]);

    if (displayTree) {
        $('#scores').show();
    } else {
        $('#scores').hide();        
        swal("Mensaje", "No hay datos disponibles para los filtros seleccionados", "warning");
    }
}

function showDirectScoreTable() {
    return !(isAdmin && (getLastLevelSelected() === 8 || getLastLevelSelected() == ''));
}

function showTable(data) {
    return data.surveys > 2 && data.answers > 2 || isAdmin;
}

function searchNextLevel(element) {    
    var level      = Number(element.getAttribute("data-level"));
    var nextLevel  = level + 1;
    var department = element.options[element.options.selectedIndex].value;

    for (var i = nextLevel; i < 9; i++) {
        var opt = document.createElement("option");
        opt.text = "Seleccione una opción";
        opt.value = "-1";
        $("#level"+i).html('');
        $("#level"+i).append(opt);
    }

    if (department == "-1") {
        if(level > 1) {
            var selectPrevLevel = $("#level" + (level - 1));    
            
            if(selectPrevLevel.length) {
                selectPrevLevel.change();
            } else {
                $('#direct-score').hide();
                $('#tree-score').hide();
                $('#questions-list').addClass('hide');      
                swal("Mensaje", "No hay datos disponibles para los filtros seleccionados", "warning");
            }
            
            return;  
        }
        
        if (level === 1) {
            Liverpool.loading('show');
            loadInitialData();
            return;
        }
    }
    
    Liverpool.loading('show');
    
    filters.fillLevel(
        department,
        $('#structureDate').val(),
        nextLevel,
        function () {
            loadResumeTable(department);
            getOpenQuestions(department, nextLevel);
        }
    );
}

function getLastLevelSelected() {
    var lastLevel = '';

    for (var level = 8; level > 0; level--) {
        if ($('#level' + level).val() !== '-1') {
            lastLevel = level;
            break;
        }
    }

    return lastLevel;
}

function resetSelectBoxes() {
    for (var level = 8; level > 0; level--) {
        $('#level' + level).val('-1');
    }
}

(function() {
        var oTable   = null;
        
        var bindEvents = function() {
            $('#environment-open-questions-table').on('click', 'button', function () {                
                getAnswers(
                    '@{questionAnswers()}',
                    getLastLevelSelected(),
                    $(this).data('surveys'),
                    $(this).data('question'),
                    false
                );
            });
            
            $('#direct-open-questions-table').on('click', 'button', function () {                
                getAnswers(
                    '@{questionAnswersDirect()}',
                    getLastLevelSelected(),
                    $(this).data('surveys'),
                    $(this).data('question'),
                    true
                );
            });
            
            $('#export').click(function(e) {
                var url      = '@{exportAnswers()}';
                var userId   = $('#user-id').val();
                var question = $('#question').val();
                var direct   = $('#direct').val();
                var date     = $("#structureDate").val();
                
                window.location.href = url + '?question=' + encodeURIComponent(question) +
                                       '&userId=' + userId +
                                       '&structureDate=' + date +
                                       '&direct=' + direct;
            });
            
            
            $('.modal').on('hidden.bs.modal', function(e) {
                if (oTable !== null) {
                    oTable.fnDestroy();
                }
                
                $('#answers-table tbody').html('');
            });
        };
        
        var getAnswers =  function (url, level, surveys, question, direct) {
            var selected = $("#level" + level + " option:selected").val();
            var root     = isAdmin && (!selected || selected === '-1')  ? 50092262 : selected;
            
            $('#question').val(question);
            $('#user-id').val(root);
            $('#direct').val(direct);

            setTable(
                url + '?surveys=' + surveys +
                '&question=' + encodeURIComponent(question) +
                '&userId=' + root +
                '&structureDate=' + $("#structureDate").val()
                ,
                question
            );
        }
        
        var nl2br = function (str, is_xhtml) {
            var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';

            return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
        };
        
        var setTable = function(url, question) {            
            oTable = $('#answers-table').dataTable({
                "iDisplayLength": 10,
                "bFilter": false,
                "bLengthChange": false,
                "bAutoWidth": false,
                "bDestroy": true,
                "bSort": false,
                "bInfo": false,
                "oLanguage": {
                    "sZeroRecords": "Ningún Registro",
                    "sInfo": "Mostrando respuestas de _START_ al _END_ de _TOTAL_ totales",
                    "sInfoEmpty": "0 Respuestas",
                     "sPaginatePrevious": "Previous page",
                     "sProcessing": "Cargando...",
                     "oPaginate": {
                        "sFirst":    "<<",
                        "sLast":     ">>",
                        "sNext":     ">",
                        "sPrevious": "<"
                    }
                },
                "fnCreatedRow": function(nRow, aData, iDataIndex) {
                    $('td:eq(0)', nRow).html(aData[2]);
                    $('td:eq(1)', nRow).html(nl2br(aData[0])).addClass('text-center');
                },
                "bProcessing": true,
                "bServerSide": true,
                "bStateSave" : false,
                "sAjaxSource": url,
                "pagingType": "full_numbers"
            });
            
            $('#modal-answers .modal-header h4').html(question);            
            $('#modal-answers').modal('show');
        };
        
        bindEvents();        
    }
)();
</script>
#{/set}