<div class="modal-dialog modal-md">
    <div class="modal-content">
    <form id="add-csi-survey-form" action="@{csi.SurveysCSI.add}" method="post">	
        
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span id="modal-title" class="modal-title">
                    Crear Encuesta
                </span>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="inner-message"></div>
                <div class="row">
                	<div class="form-group">
				        <div class="col-xs-12">
				            <label class="normal-lbl">Nombre de la encuesta</label>
				        </div>
				    </div>
                </div>
			    <div class="row">
				    <div class="form-group">
				        <div class="col-xs-12">
				            <input class="form-control input-sm required" name="nameSurvey" maxlength="200" >
				        </div>
				    </div>
				 </div>
				 <div class="row">
				    <div class="form-group">
				        <div class="col-xs-12">
				            <label class="normal-lbl">Periodo</label>
				        </div>
				    </div>
				 </div>
				 <div class="row">
				    <div class="form-group">
				        <div class="col-xs-6">
				            <select class="form-control input-sm required" name="month">
				                <option>Seleccionar mes</option>
				                <option value="01">Enero</option>
				                <option value="02">Febrero</option>
				                <option value="03">Marzo</option>
				                <option value="04">Abril</option>
				                <option value="05">Mayo</option>
				                <option value="06">Junio</option>
				                <option value="07">Julio</option>
				                <option value="08">Agosto</option>
				                <option value="09">Septiembre</option>
				                <option value="10">Octubre</option>
				                <option value="11">Noviembre</option>
				                <option value="12">Diciembre</option>
				            </select>
				        </div>
				        <div class="col-xs-6">
				            <select class="form-control input-sm required" name="year">
				                <option>Seleccionar año</option>
				                 #{list items: years, as: 'year'}
				                	 <option value="${year}">${year}</option>
				                 #{/list}
				            </select>
				        </div>
				    </div>
				 </div> 
				 <div class="row">
				    <div class="form-group">
				        <div class="col-xs-12">
				            <label class="normal-lbl">Vigencia</label>
				        </div>
				    </div>
				 </div>
				 <div class="row">
				    <div class="form-group">
				        <div class="col-xs-6">
				            <input class="form-control date-input input-sm required" name="validityFrom"/>			            
				        </div>
				        <div class="col-xs-6">
				            <input class="form-control date-input input-sm required" name="validityTo"/>			            
				        </div>
				    </div>
				  </div>
				  <div class="row">
				    <div class="form-group">
				        <div class="col-xs-6">
				            <label class="normal-lbl">Meta:</label>
				            <input class="form-control input-sm required" name="goal"/>
				        </div>				     
				        <div class="col-xs-6">
				            <label class="normal-lbl">Tipo de encuesta:</label>
				            <select class="form-control input-sm required" name="surveyType" id="surveyType">
				                <option>Seleccionar tipo</option>
				                 #{list items: surveyTypes, as: 'type'}
				                	 <option value="${type.id}">${type.desc}</option>
				                 #{/list}
				            </select>
				        </div>
				     </div>
				 </div>	
				 <div class="row">			 
				     <div class="form-group" id="div-area" style="display:none">
				        <div class="col-xs-6">
				            <label class="normal-lbl">Área:</label>
				            <input class="form-control input-sm" maxlength="50" name="area"/>
				        </div>
					</div>
				</div>
						    
	      	<div class="modal-footer" id="modal-footer">
	      		<div class="col-xs-12" style="margin: 10px; padding-left: 2px;">
	                <button type="submit" class="btn btn-green" id="save">Crear</button>
	                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cancelar</button>
	            </div>
            </div> 
     	</form> 
     </div>
</div>

<script type="text/javascript">

	$(document).ready(function() {	
		$('#surveyType').change(function(e){
       		var valueSelected = this.value;       		
       		if(valueSelected ==  4) {
       			$('#div-area').show();
       		} else {
       			$('#div-area').css('display', 'none');
       		}
       	});	
	}); 

</script>
