<div class="modal-dialog modal-md">
    <div class="modal-content">
        <form id="survey-delete-form" enctype="multipart/form-data" method="POST">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span id="modal-title" class="modal-title">
                    Eliminar Encuesta
                </span>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="inner-message"></div>
                <div class="form-group text-center">
                    <h3 >¿Esta seguro de eliminar la encuesta? </h3>                    
                </div>                
                <input type="hidden" id="id" name="id" value="" />
                
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="submit" class="btn btn-green" id="save">Eliminar</button>
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    
    $(document).ready(function() {    
    	$('#id').val(idSurvey);
    	
    	$(function(){
            $('#survey-delete-form').on('submit', function(e){
                e.preventDefault();  
                var data = new FormData(this);                
                 $.ajax({    	
			        url: '@{csi.SurveysCSI.delete()}',
			        data: data,
			        type: 'POST',
			        contentType: false,
			        cache: false,
			        processData: false,
			        success: function (response) {			        	
			            if (response.error) {
			                Liverpool.setMessage($('.inner-message'), response.message, 'danger');
			            } else {
			            	Liverpool.setMessage($('.inner-message'), 'La encuesta fue eliminada exitosamente!', 'success');			            	   			            	                 			                
			                $('#mdl-delete').modal('hide'); 
			                location.reload();                                          
			            }
			        },
			        beforeSend: function () {
			        	Liverpool.loading("show");
			            $('button', $(this)).attr('disabled', 'disabled');
			        },
			        complete: function () {
			        	Liverpool.loading("hide");
			            $('button', $(this)).removeAttr('disabled');
			        },
			        error: function () {
			            Liverpool.setMessage($('.inner-message'), 'La encuesta no pudo ser actualizada. Por favor, intente nuevamente.', 'warning');
			        }
			    });
             });
         });
    });
    
    
    
</script>
     