<div class="modal-dialog modal-md">
    <div class="modal-content">
    		<div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span id="modal-title" class="modal-title">
                    Crear Encuesta
                </span>
            </div>					           
            <div class="modal-body" id="modal-body">
            <form id="edit-csi-survey-form" method="POST">
	            <div class="inner-message"></div>
	            <div class="row">
	            	<div class="form-group">
				        <div class="col-xs-12">
				            <label class="normal-lbl">Nombre de la encuesta</label>
				        </div>
				    </div>
	            </div>	
			    <div class="row">
				    <div class="form-group">
				        <div class="col-xs-12">
				            <input class="form-control required" id="name" name="name">
				        </div>
				    </div>
				</div>
				<div class="row">
				    <div class="form-group">
				        <div class="col-xs-12">
				            <label class="normal-lbl">Periodo</label>
				        </div>
				    </div>
			    </div>
			    <div class="row">
				    <div class="form-group">
				        <div class="col-xs-6">
				            <select class="form-control required" name="month" id="month">
				                <option>Seleccionar mes</option>
				                <option value="01">Enero</option>
				                <option value="02">Febrero</option>
				                <option value="03">Marzo</option>
				                <option value="04">Abril</option>
				                <option value="05">Mayo</option>
				                <option value="06">Junio</option>
				                <option value="07">Julio</option>
				                <option value="08">Agosto</option>
				                <option value="09">Septiembre</option>
				                <option value="10">Octubre</option>
				                <option value="11">Noviembre</option>
				                <option value="12">Diciembre</option>
				            </select>
				        </div>
				        <div class="col-xs-6">
				            <select class="form-control required" name="year" id="year">
				                <option>Seleccionar año</option>
				                 #{list items: years, as: 'year'}
				                	 <option value="${year}">${year}</option>
				                 #{/list}
				            </select>
				        </div>
				    </div>
				</div>
				<div class="row">
				    <div class="form-group">
				        <div class="col-xs-12">
				            <label class="normal-lbl">Vigencia</label>
				        </div>
				    </div>
				 </div>
				 <div class="row">
				    <div class="form-group">
				        <div class="col-xs-6">
				            <input class="form-control date-input required" name="initDate" id="initDate"/>
				        </div>
				        <div class="col-xs-6">
				            <input class="form-control date-input required" name="endDate" id="endDate"/>
				        </div>
				    </div>
				 </div>
				 <div class="row">
				    <div class="form-group">
				        <div class="col-xs-6">
				            <label class="normal-lbl">Meta:</label>
				            <input class="form-control required" name="goal" id="goal"/>
				        </div>
				        <div class="col-xs-6">
				            <label class="normal-lbl">Tipo de encuesta:</label>
				            <select class="form-control input-sm required" name="surveyType" id="surveyType">
				                <option>Seleccionar tipo</option>
				                 #{list items: surveyTypes, as: 'type'}
				                	 <option value="${type.id}">${type.desc}</option>
				                 #{/list}
				            </select>
				        </div>
				     </div> 
				 </div>
				 <div class="row">			 
				     <div class="form-group" id="div-area" style="display:none">
				        <div class="col-xs-6">
				            <label class="normal-lbl">Área:</label>
				            <input class="form-control input-sm" maxlength="50" name="area" id="area"/>
				        </div>
					</div>
				 </div>
			     <input type="hidden" name="idSurvey" value="" id="idSurvey">
			 </form> 			
		</div>					    
     	<div class="modal-footer" id="modal-footer">
      		<div class="col-xs-12" style="margin: 10px; padding-left: 2px;">
                <button type="submit" class="btn btn-green" id="update">Actualizar</button>
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
		</div>
	</div>
</div> 
			 
<script type="text/javascript" src="@{'/public/assets/js/liverpool/bootstrap-filestyle.min.js'}"></script>
<script type="text/javascript">
    $(document).ready(function() {
    		
    	$('#surveyType').change(function(e){
       		var valueSelected = this.value;       		
       		if(valueSelected ==  4) {
       			$('#div-area').show();
       		} else {
       			$('#div-area').css('display', 'none');
       		}
       	});	
    	    	
	    $.ajax({
	        type: 'POST',
	        url: '@{csi.SurveysCSI.getSurveyById}',	       
	        async:false,
	        data: {
	            id: idSurvey
	        },
	        success: function(data) {	        	
	            $('#name').val(data['name']);
	            $('#month').val(data['month']);
	            $('#year').val(data['year']);
	            $('#initDate').val(getFormattedDate(new Date(data['initDate'])));
	            $('#endDate').val(getFormattedDate(new Date(data['endDate'])));
	            $('#surveyType').val(data['surveyType']);	            
	            $('#goal').val(data['goal']); 
	            $('#idSurvey').val(data['id']);
	            	          
	            if(data['surveyType'] == 4) {	            	
	            	$('#area').val(data['area']);
	            	$('#div-area').show();
	            }
	                      
	        }
	
	    });

        $(".date-input").datepicker({
            format: "dd/mm/yyyy",
            language: 'es',
            todayHighlight: true,
            autoclose: true
        });
	
        $('#update').click( function() {
	        if(validateEditSurvey()) {
			     $('#edit-csi-survey-form').submit();
			  }
		});
        
        $(function(){
            $('#edit-csi-survey-form').on('submit', function(e){
                e.preventDefault();  
                var data = new FormData(this);                
                 $.ajax({    	
			        url: '@{csi.SurveysCSI.edit()}',
			        data: data,
			        type: 'POST',
			        contentType: false,
			        cache: false,
			        processData: false,
			        success: function (response) {			        	
			            if (response.error) {
			                Liverpool.setMessage($('.inner-message'), response.message, 'danger');
			            } else {   			            	                 			                
			                $('#mdl-edit').modal('hide'); 
			                location.reload();                                          
			            }
			        },
			        beforeSend: function () {
			        	Liverpool.loading("show");
			            $('button', $(this)).attr('disabled', 'disabled');
			        },
			        complete: function () {
			        	Liverpool.loading("hide");
			            $('button', $(this)).removeAttr('disabled');
			        },
			        error: function () {
			            Liverpool.setMessage($('.inner-message'), 'La encuesta no pudo ser actualizada. Por favor, intente nuevamente.', 'warning');
			        }
			    });
             });
         });
        
    });
</script>
