#{extends 'Layout/default.html' /}
#{set title: 'Encuestas' /}
#{set location: 'CSI / Encuestas' /}

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />
<style type="text/css">
    .liverpool-table th {
        background-color: #306898 !important;
        border-radius: 0 !important;
        color: #FFF !important;
        height: 25px !important;
    }
</style>
#{/set}

<div class="form-horizontal form-surveys">
    <div class="row">
        <div class="form-group">
            <div class="col-xs-2">
                <label class="large-lbl">Encuestas</label>
            </div>
            <div class="col-xs-10">
                <button id="add-csi-survey-btn" class="btn btn-success pull-right">
                    <span class="glyphicon glyphicon-plus"></span> Agregar
                </button>                
                <button id="cross-eval-btn" class="btn btn-info pull-right">
                    <span class="glyphicon glyphicon-download-alt"></span> Layout Cruces
                </button>
                
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="row">
        <div id="table-surveys-div" class="form-group">
            <div class="col-xs-12">
                <table id="table-surveys" class="liverpool-table">
                    <thead>
                        <tr>
                            <th style="font-size: 14px;">Nombre</th>
                            <th style="font-size: 14px;">Fecha de creación</th>
                            <th style="font-size: 14px;">Fecha última modificación</th>
                            <th style="font-size: 14px;">Autor última modificación</th>
                            <th style="font-size: 14px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    	#{include 'csi/SurveysCSI/surveyTable.html'/}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="mdl-add-edit" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade"></div>
<div id="mdl-edit" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade"></div>
<div id="mdl-delete" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade"></div>
<div id="mdl-upload" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade"></div>

<!--script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script-->
<script type="text/javascript" src="${play.Play.ctxPath}/static/assets/js/liverpool/csi/csi-filters.js"></script>
<script type="text/javascript" src="${play.Play.ctxPath}/static/assets/js/liverpool/csi/csi-surveys.js"></script>

<script type="text/javascript">
	function updateInformationWithDateFilters(){
		actualizarFiltersCSI();
	}
	function actualizarFiltersCSI(){
     $.ajax({    	
        url: '@{csi.SurveysCSI.surveytable()}',
        type: 'GET',//'POST',
        contentType: false,
        cache: false,
        processData: false,
        success: function (response) {	
        	//alert('surveytable:'+response);
        
        	$("#table-surveys tbody").html(response);//.promise().done(function (e){});
        	
        },
        beforeSend: function () {
        	Liverpool.loading("show");
        },
        complete: function () {
        	
        	Liverpool.loading("hide");
        },
        error: function () {
            Liverpool.setMessage($('.inner-message'), 'La encuestas no pudieron ser actualizar. Por favor, intente nuevamente.', 'warning');
        }
    });
		
	}
	
	
    $("#nav-environment").hide();
    $("#side-bar-nps").show();
    $("#nav-csi").fadeIn(200);
    var dummyData = [];
    var surveysTable = null;
    $(document).ready(function() { 
    
    	$('#cross-eval-btn').click(function() {
	         location.href = '@{csi.SurveysCSI.downloadCrossEvalLayout()}';
		});
		   
    	 surveysTable = $('#table-surveys').DataTable({
	    "oLanguage": {
	    "sZeroRecords": "Ningún Registro",
	            "sInfo": "Mostrando del _START_ al _END_ de _TOTAL_",
	            "sInfoEmpty": "0 Eventos",
	            "sPaginatePrevious": "Previous page",
	            "sProcessing": "Cargando...",
	            "sLengthMenu": "Mostrar _MENU_ registros",
	            "sSearch": "Buscar",
	            /*"searching": true,
	            "columns": [
					{ "searchable": true },
					{ "searchable": true },
					{ "searchable": true },
					{ "searchable": true },
					null
	            ],*/
	            "oPaginate": {
	            "sFirst":    "<<",
	                    "sLast":     ">>",
	                    "sNext":     ">",
	                    "sPrevious": "<"
	            }
	    	}
	    });
	    $("#table-surveys_paginate").css("padding", 0);
	    $("#table-surveys_info").css("font-size", 12);
	    $("#table-surveys_length").css("font-size", 12);
	    $("#table-surveys_filter").css("font-size", 12);
	    $("#table-surveys_length select").css({
	    paddingTop: "0",
	            paddingBottom: "0",
	            height: "32px",
	            fontSize: "12px"
	    });		
		oTable = surveysTable;
    
    	$("body").attr("data-controller", "csi.SurveysCSI");
    
    });
    
</script>