#{list items:surveys, as:'survey' }
<tr>
    <td style='font-size: 14px;'>
        <label class='radio-inline'>
            <input type='radio' name='rs'> ${survey?.name}
        </label>
    </td>
    <td style='font-size: 14px;'>${survey?.creationDate} </td>
    <td style='font-size: 14px;'>${survey?.modificationDate} </td>
    <td style='font-size: 14px;'>${survey?.modifiedBy?.username}</td>
    <td class="text-right">
        <button class='btn btn-warning' onclick='loadEditModal(${survey?.id});'>
            <span class='glyphicon glyphicon-pencil'></span>
        </button>
        <a href="@{csi.SurveysGenerator.sections(survey.id)}" class="btn btn-sm btn-green" title="Preguntas">
            <i class="glyphicon glyphicon-th-list link-glyp"></i>
        </a>
        <button class='btn btn-info' onclick="loadUploadModal(${survey?.id});">
            <span class='glyphicon glyphicon-upload'></span>
        </button>
        <button class='btn btn-danger' onclick="invokeRefuse(${survey?.id});">
            <span class='glyphicon glyphicon-trash'></span>
        </button>
    </td>
</tr>
#{/list}


