<option value="">Selecciona una Opción</option>
#{list items:surveys, as:'survey' }
   <!-- <option id="menu-survey-filter-a-${survey?.id}" onclick="javascript:filtersAPI.applyFilterEncuesta(${survey?.id});">${survey?.name}</option> -->
   <option id="${survey?.id}" >${survey?.name}</option>
#{/list}
