<div class="modal-dialog modal-md">
    <div class="modal-content">
    		<div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span id="modal-title" class="modal-title">
                    Carga de resultados
                </span>
            </div>					           
            <div class="modal-body" id="modal-body">
            <div class="inner-message"></div>            
			 <form id="survey-upload-form"  method="POST" enctype="multipart/form-data">
			 	<div class="row">
		            <div class="form-group">            
		            	<div class="col-md-12" style="margin: 10px; padding-left: 2px; font-size: 14px">
				            <label class="radio-inline"><input type="radio" checked value="1" name="typeload">Cruces</label>
				            <label class="radio-inline"><input type="radio" name="typeload" value="2">Resultados</label>
				        </div>
			        </div>
			     </div>
			     <div class="row">
		            <div class="form-group">
		            	<div class="col-md-12" style="margin: 10px; padding-left: 2px;">			    
					    	<input type="file" id="csiFile" name="csiFile"  class="filestyle" data-buttonName="btn-primary" data-buttonText="Seleccionar Archivo" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
					    	<input type="hidden" name="idUploadSurvey" value="" id="idUploadSurvey">
						</div>
						<div class="col-md-12" style="margin: 10px; padding-left: 2px;">
					    	<input type="submit" onclick="return validateUpload();" class="btn btn-primary" value="Cargar..." />
					    </div>
					</div>
			 	</div>
			</form>           
	            
		    <div class="form-group">
		        <div class="col-xs-12" style="margin: 10px; padding-left: 2px;">
		            <table class="liverpool-table" id="table-evaluations" style="display:none">
		                <thead>
		                    <tr>
		                        <th></th>
		                        <th></th>
		                    </tr>
		                </thead>
		                <tbody></tbody>
		            </table>
		        </div>
		    </div>
		    <div class="form-group">
		        <div class="col-xs-12">
		            <label class="normal-lbl" id="total-personas-lbl" style="display:none">Personas a participar: </label>
		        </div>
		    </div>
		</div>					    
     	<div class="modal-footer" id="modal-footer">
      		<div class="col-xs-12" style="margin: 10px; padding-left: 2px;">                
                <button id="cerrar" class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
		</div>
	</div>
</div> 
			 
<script type="text/javascript" src="@{'/public/assets/js/liverpool/bootstrap-filestyle.min.js'}"></script>
<script type="text/javascript">
    $(document).ready(function() {
    	
    	ut.init("table-evaluations", {
            tableStyling: false,
            disableSearch: true,
            pageSize: 5
        })
        
        var TYPELOAD_HEADERS = {
        	'1':['Evaluador','Evaluado'],
        	'2':['Evaluado','Resultado']};
    	
    	$('#idUploadSurvey').val(idSurvey); 
    	
        $(function(){
            $('#survey-upload-form').on('submit', function(e){
                e.preventDefault();                
                var data = new FormData(this);
                console.log(data);
                $.ajax({
                    url: '@{csi.FileController.uploadFile()}', //this is the submit URL
                    type: 'POST', //or POST
                    processData: false,
                    contentType: false,
                    cache: false,
                    data: data,
                    success: function(data){
	                    var typeload = data['loadtype'];
	                    var idResponse = data['idResponse'];
	                    if(typeload == '1' && idResponse == 200) {
	                    	// se limpian los encabezados y los datos
	                    	$("#table-evaluations").show();
	                    	$("#table-evaluations tbody").empty();
	                    	$("#table-evaluations thead").empty();
	                    	                   		
	                   		var cargaRows = data['cargaRows'];
	                   		
	               			$("#total-personas-lbl").append(cargaRows.length);
	               			$("#total-personas-lbl").show();                   		
	                   		
	                   		// se ponen los nuevos encbezados
	                   		$("#table-evaluations thead").append(
	                             "<tr>" +
	                                 "<th>"+TYPELOAD_HEADERS[typeload][1]+"</th>" +
	                                 "<th>"+TYPELOAD_HEADERS[typeload][0]+"</th>" +
	                             "</tr>"
	                         );
	                   		// se ponen los nuevos datos
	                    	 for(var i = 0; i < cargaRows.length; i++) {
	                             $("#table-evaluations tbody").append(
	                                 "<tr>" +
	                                     "<td>"+cargaRows[i]['key']+"</td>" +
	                                     "<td>"+cargaRows[i]['value']+"</td>" +
	                                 "</tr>"
	                             );
	                         }
	                   		// actualizamos la presentación de la tabla
	                    	 ut.refresh("table-evaluations");
	                    	 $('#survey-upload-form').trigger('reset');
	                    	 if(idResponse == 200) {
	                    		 $("#cerrar").removeClass("btn");
	                    		 $("#cerrar").removeClass("btn-red");
	                    		 $("#cerrar").addClass("btn btn-green");
	                    		 $("#cerrar").text("Aceptar");
	                    		Liverpool.setMessage($('.inner-message'), 'El cruce de evaluaciones inició su procesamiento en segundo plano, cuando el proceso termine, le será notificado vía correo electrónico.', 'success');
	                    	}
	                    } else {
	                    	$("#total-personas-lbl").hide();
	                    	
	                    	if(idResponse != 200) {
	                    		Liverpool.setMessage($('.inner-message'), 'Ocurrió un error al realizar la carga, por favor intente nuevamente.', 'warning');
	                    	}
	                    	
	                    	if(idResponse == 500) {
	                    		Liverpool.setMessage($('.inner-message'), data['errorMessage'], 'warning');
	                    	}
	                    	
	                    	if(typeload == '2' && idResponse == 200) {
	                    		 $("#cerrar").removeClass("btn");
	                    		 $("#cerrar").removeClass("btn-red");
	                    		 $("#cerrar").addClass("btn btn-green");
	                    		 $("#cerrar").text("Aceptar");
	                    		Liverpool.setMessage($('.inner-message'), 'La carga de resultados inició su procesamiento en segundo plano, cuando el proceso termine, le será notificado vía correo electrónico.', 'success');
	                    	}
	                    	
	                    }
                    },
                     beforeSend: function() {
                		Liverpool.loading("show");
            		},
            		complete: function () {
                		Liverpool.loading("hide");
                		Liverpool.scrollTo($('.message'));
            		}
                });
            });
        });
        
    });
</script>
