#{extends 'Layout/default.html' /}
#{set title: 'Clima' /}
#{set location: 'Debilidades y Fortalezas' /}

#{set 'styles'}
<style media="screen">
    .debilidades th{
        background-color: #585858 !important;
    }

    .fortalezas th{
        background-color: #118c0e !important;
    }
</style>
#{/set}
<div class="row form-horizontal">
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            <div class="col-xs-3">
                <label class="normal-lbl">Tipo de Reporte</label>
            </div>
            <div class="col-xs-9">
                <select class="form-control" id="tipoReporte">
                    <option value="fortalezas">Fortalezas</option>
                    <option value="debilidades">Debilidades</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            <div class="col-xs-3">
                <label class="normal-lbl">Fecha de Estructura</label>
            </div>
            <div class="col-xs-9">
                <select class="form-control" id="structureDate">
                    #{list items: structureDates, as: 'date'}
                    <option value="${date}">${date}</option>
                    #{/list}
                </select>
            </div>
        </div>
    </div>
</div>

<div class="separator"></div>

<div id="normal_filter">
    <div class="row form-horizontal">
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="normal-lbl">Nivel 1</label>
                </div>
                <div class="col-xs-9" id="div_select_level_1"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="normal-lbl">Nivel 2</label>
                </div>
                <div class="col-xs-9" id="div_select_level_2"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="normal-lbl">Nivel 3</label>
                </div>
                <div class="col-xs-9" id="div_select_level_3"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="normal-lbl">Nivel 4</label>
                </div>
                <div class="col-xs-9" id="div_select_level_4"></div>
            </div>
        </div>
    </div>
    <div class="row form-horizontal">
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="normal-lbl">Nivel 5</label>
                </div>
                <div class="col-xs-9" id="div_select_level_5"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="normal-lbl">Nivel 6</label>
                </div>
                <div class="col-xs-9" id="div_select_level_6"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="normal-lbl">Nivel 7</label>
                </div>
                <div class="col-xs-9" id="div_select_level_7"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="normal-lbl">Nivel 8</label>
                </div>
                <div class="col-xs-9" id="div_select_level_8"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label class="control-label block">&nbsp</label>
            <button title="Exportar" type="button" id="export" class="btn btn-block btn-primary">
                <img src="@{'/public/assets/img/icon-save.png'}">
            </button>
        </div>
    </div>
</div>

<div id="special_filter" style="display: none;">
    <div class="row form-horizontal">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="normal-lbl">Estructura de </label>
                </div>
                <div class="col-xs-8" id="div_select_special">
                    <select id="selectSpecial" class="form-control">
                        <option value="-1">Seleccione una opción</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <label class="control-label block">&nbsp</label>
            <button id="special_search" class="btn btn-block btn-primary"><i class="fa fa-search"></i></button>
        </div>
        <div class="col-md-1">
            <label class="control-label block">&nbsp</label>
            <button type="button" id="special_export" class="btn btn-block btn-primary">
                <img src="@{'/public/assets/img/icon-save.png'}">
            </button>
        </div>
    </div>
</div>

<div class="separator"></div>

<div id="scores" class="row">
    <div class="col-md-12">
        <ul id="score-tabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#score-environment" aria-controls="score-environment" role="tab" data-toggle="tab">Calificación Clima</a></li>
            <li role="presentation"><a href="#score-direct" aria-controls="score-direct" role="tab" data-toggle="tab">Calificación Directa</a></li>        
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="score-environment">
                <div class="table-responsive">
                    <table class="table-lp table resume-table">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    Calificación De Clima Organizacional
                                </th>
                            </tr>
                            <tr>
                                <th>Nivel</th>
                                <th>Encuestas a realizar</th>
                                <th>Encuestas realizadas</th>
                                <th>% de encuestas</th>
                                <th>Calificación de clima</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="enviroment-level">----</td>
                                <td id="enviroment-surveys" class="text-center">0</td>
                                <td id="enviroment-answered_surveys" class="text-center">0</td>
                                <td id="enviroment-percentage_survey" class="text-center">0</td>
                                <td id="enviroment-calificacion" class="text-center">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive questions-list">
                    <table id="table_fortalezas" class="table table-lp table-striped table-hover sw-table-tree">
                        <thead>
                            <tr>
                                <th class="title"></th>
                                <th>Subfactor</th>
                                <th>Factor</th>
                                <th>Calificación</th>
                            </tr>
                        </thead>
                        <tbody id="data-tree"></tbody>
                    </table>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="score-direct">
                <div class="table-responsive">
                    <table class="table-lp table resume-table">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    Calificación Directa
                                </th>
                            </tr>
                            <tr>
                                <th>Nivel</th>
                                <th>Encuestas a realizar</th>
                                <th>Encuestas realizadas</th>
                                <th>% de encuestas</th>
                                <th>Calificación Directa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="direct-level">----</td>
                                <td id="direct-surveys" class="text-center">0</td>
                                <td id="direct-answered_surveys" class="text-center">0</td>
                                <td id="direct-percentage_survey" class="text-center">0</td>
                                <td id="direct-calificacion" class="text-center">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-lp table-striped table-hover sw-table-direct">
                        <thead>
                            <tr>
                                <th class="title"></th>
                                <th>Subfactor</th>
                                <th>Factor</th>
                                <th>Calificación</th>
                            </tr>
                        </thead>
                        <tbody id="data-direct"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

#{set 'scripts'}
<script src="@{'/public/javascripts/bootstrap-switch.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/store/store.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/filters.js'}"></script>

<script type="text/javascript">
var level              = 1;
var sessionLevel       = ${session.get("level")};
var isAdmin            = ${session.get("isAdmin")};
var filters            = new Filters(sessionLevel, isAdmin);

$(document).ready(function() {
    $("#structureDate").change(function() {
        Liverpool.loading('show');
        filters.fillLevel1(function () {        
            loadData();
        });
    });
    
    Liverpool.loading('show');    
    filters.fillLevel1(function () {        
        loadData();
    });
});

function getSelectedUserId() {
    var userId = $('#level' + getLastLevelSelected()).val();

    if (userId === '-1' && isAdmin) {
        return $('#level1 option:last-child').val();
    }

    return userId;
}

function loadData() {
    filters.fillLoggedUser();
    filters.fillSpecialPermissions();
        
    var userDepartment = isAdmin && getLastLevelSelected() === '' ? 
                            50092262 : $("#level" + getLastLevelSelected()).val();
    
    loadResumeTable(userDepartment);
    loadTableStrength(
        $("#tipoReporte option:selected").val(),
        $("#structureDate option:selected").val(),
        userDepartment
    );
}

function getLevels(department, level, cb) {
    $.ajax({
        url: "@{ResultMatrix.getLevels()}",
        type:'get',
        data: {
            department: department,
            "date": $("#structureDate").val()
        },
        success: function (data) {
            var $select = $('#level' + nextLevel);
            var $option = {};

            filters.clearFilter($select);
            for (var i = 0; i < data.length; i++) {                    
                $option = $('<option />');

                $option
                    .val(data[i][1])
                    .text(data[i][0])
                    .attr('data-department', data[i][2])
                    .attr('data-username', data[i][3])
                    .attr('data-surveys', data[i][4])
                    .attr('data-answered', data[i][5]);

                $select.append($option);
            };
            
            if (cb) {
                cb();
            }
        },
        beforeSend: function () {
            Liverpool.loading('show');
        }
    });
}

function searchNextLevel(element) {
    level          = Number($(element).data('level'));
    var nextLevel  = level + 1;
    var department = $(element).val();

    filters.clearFilters(nextLevel);

    if(department == "-1") {
        if(level > 1) {
            var selectPrevLevel = $("#level" + (level - 1));
            if(selectPrevLevel.length) {
                selectPrevLevel.change();
            } else {
                cleanResumeTable('direct');
                cleanResumeTable('tree');
                cleanTableStrength(); 
            }
        }else{
            cleanResumeTable('direct');
            cleanResumeTable('tree');
            cleanTableStrength();             
        }
        return;  
    }
    
    Liverpool.loading('show');
    
    filters.fillLevel(
        department,
        $('#structureDate').val(),
        nextLevel,
        function () {
            loadResumeTable(department);
            loadTableStrength(
                $("#tipoReporte option:selected").val(),
                $("#structureDate option:selected").val(),
                $("#level" + getLastLevelSelected() ).val() 
            );
        }
    );
}


function loadResumeTable(level) {
    var data = {
        level: level,
        structureDate: $("#structureDate option:selected").val()
    }

    $.ajax({
        url: "@{ResultMatrix.getResume()}",
        type: 'get',
        data: data,
        success: function (data) {
            populateResumeTable(data[0], 'direct', level);
            populateResumeTable(data[1], 'enviroment', level);
            displayTables(data);
        }
    });
}

function populateResumeTable(data, table, level) {
    var level = isAdmin && level === 50092262 ? "Liverpool" : getColumnLevelContent(table);

    $('#' + table + '-level').text(level);
    $('#' + table + '-surveys').text(data.surveys);
    $('#' + table + '-answered_surveys').text(data.answers);
    $('#' + table + '-percentage_survey').text(data.percentage);
    $('#' + table + '-calificacion').text(data.score);
}

function getColumnLevelContent(tableType) {
    var $option = $("#level" + getLastLevelSelected() + " option:selected" );
    
    return tableType === 'direct' ? $option.text() : $option.data('department');
}

function cleanResumeTable(table) {          
    $("#" + table + "_surveys").text(0);
    $("#" + table + "_answered_surveys").text(0);
    $("#" + table + "_percentage_survey").text(0);
    $("#" + table + "_calificacion").text(0);
}

function displayTables(data) {
    // Display/hide direct score table
    var displayDirect = showDirectScoreTable() && showTable(data[0]);

    if (displayDirect) {
        $('a[href="#score-direct"]').show();
    } else {
        $('a[href="#score-direct"]').hide();
        $('#score-tabs a[href="#score-environment"]').tab('show')
    }

    // Display/hide tree score table
    var displayTree = showTable(data[1]);

    if (displayTree) {
        $('#scores').show();
    } else {
        $('#scores').hide();        
        swal("Mensaje", "No hay datos disponibles para los filtros seleccionados", "warning");
    }
}
    
function showDirectScoreTable() {
    return !(isAdmin && (getLastLevelSelected() === 8 || getLastLevelSelected() == ''));
}

function showTable(data) {
    return data.surveys > 2 && data.answers > 2 || isAdmin;
}

function cleanTableStrength(table){
    $('.sw-table-' + table + ' tbody').html("");
    
    if ($('.sw-table-' + table).hasClass("fortalezas")) {
        $('.sw-table-' + table).removeClass("fortalezas");
    } else if ($('.sw-table-' + table).hasClass("debilidades")) {
        $('.sw-table-' + table).removeClass("debilidades");
    }
    
    $('.sw-table-' + table + '.title').text("Preguntas / Respuestas");
}

function loadTableStrength(reporte, structureDate, level){
    $.ajax({
        url: "@{getFortalezas()}",
        type:'get',
        data: {
            level: level,
            reporte: reporte,
            structureDate: structureDate
        },
        success: function (data) {
            if(data[0] && data[0].length == 0) {
                swal("Mensaje", "No hay datos disponibles para los filtros seleccionados", "warning");
                cleanTableStrength();
                return;
            }
            
            // Fill tables
            fillTable(reporte, 'tree', data[0]);
            fillTable(reporte, 'direct', data[1]);
        },
        complete: function () {
            Liverpool.loading('hide');
        }
    });
}

function fillTable(type, table, data) {
    $('#data-' + table + ' tr').remove();
    
    $('.sw-table-' + table + ' .title').text("");
    
    if (type == "debilidades") {
        $('.sw-table-' + table).removeClass('fortalezas');
        $('.sw-table-' + table).addClass('debilidades');
        $('.sw-table-' + table + ' .title').append('Debilidades Preguntas / Respuestas');
    } else {
        $('.sw-table-' + table).removeClass('debilidades');
        $('.sw-table-' + table).addClass('fortalezas');
        $('.sw-table-' + table + ' .title').append('Fortalezas Preguntas / Respuestas');
    }

    for (var i = 0; i < data.length; i++) {
        var tr = document.createElement("tr");

        var td = document.createElement("td");
        td.textContent = data[i].question;
        tr.append(td);

        td = document.createElement("td");
        td.textContent = data[i].subfactor;
        tr.append(td);

        td = document.createElement("td");
        td.textContent = data[i].factor;
        tr.append(td);

        td = document.createElement("td");
        td.textContent = Number(data[i].score).toFixed(2);
        td.setAttribute("class", "text-center");
        tr.append(td);

        $("#data-" + table).append(tr);
    }
}

$("#tipoReporte").change(function(){
     Liverpool.loading('show');
     
    var reporte       = $("#tipoReporte option:selected").val();
    var structureDate = $("#structureDate option:selected").val();

    if ($("#level" + getLastLevelSelected()).val() == undefined && isAdmin) {
        level = 50092262;
    } else {
        level=$("#level" + getLastLevelSelected() ).val();   
    }
     
    loadTableStrength(reporte, structureDate, level);
});

$("#export").click(function() {
    var reporte = $("#tipoReporte option:selected").val();
    var structureDate = $("#structureDate option:selected").val();
    var level = "";

    if ($("#level" + getLastLevelSelected()).val() == undefined && isAdmin) {
        level = 50092262;
    } else {
        for (var i = 1; i < 9; i++) {
            var levelSelected = $("#level"+i +" option:selected").val();
            if (levelSelected != "-1") {
                level = levelSelected;
            }
        }
    }
    var param = "?reporte=" + reporte + "&structureDate=" + structureDate + "&level=" + level;
    location.href = '@{Fortalezas.export()}' + param;
});

function getLastLevelSelected() {
    var lastLevel = '';

    for (var level = 8; level > 0; level--) {
        if ($('#level' + level).val() !== '-1') {
            lastLevel = level;
            break;
        }
    }
    return lastLevel;
}
</script>
#{/set}