.liverpool-table {
    table-layout: fixed;
}

.liverpool-table th:first-child {
    background-color: #FFF;
    color: #444;
    font-size: 14px;
}

.liverpool-table th:not(:first-child) {
    font-size: 14px;
    height: 40px;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.liverpool-table th:not(:first-child):hover {
    background-color: #397CB5;
}

.liverpool-table td {
    height: 40px;
}

.block-label {
    width: 100%;
    height: 38px;
    background-color: #F7F7F7;
    color: #919191;
    padding: 10px;
    font-size: 12px;
    border-top: 1px solid #EEEEEE;
}

.content {
    margin-top: 0;
}


.results-table {
    width: 100%;
    table-layout: fixed;
}

.results-table td {
    font-size: 14px;
	border-bottom: 1px solid #D4EAFD;
	padding: 10px;
}

.results-table th {
    background-color: #306898;
    color: #FFF;
    height: 32px;
    font-size: 12px;
	width: 100%;
	table-layout: fixed;
	padding: 10px;
}

.results-table th:first-child {
    width: 30px;
}

.results-table th:nth-child(2) {
    width: 180px;
}

.results-table-comments {
	table-layout: fixed;
}


.results-table-comments td {
	font-size: 14px;
	border-bottom: 1px solid #D4EAFD;
}

.results-table-comments th {
	background-color: #306898;
	color: #FFF;
	height: 32px;
	font-size: 12px;
}

.results-table-comments th:first-child {
	width: 30px;
}

.results-table th:nth-child(2) {
	width: 180px;
}


.label-qual {
    border-radius: 4px;
    margin: 6px;
    height: 28px;
    /*
    color: #FFF;
    */
    background-color: transparent;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part-area {
    width: 100%;
    margin-left: 15px;
    align-self: center;
}

.center-column {
    float: none;
    margin: 0 auto;
}

.detractor {
    /*background-color: #FF630D;*/
    color: #FF630D;
}

.neutral {
    /*background-color: #CEB500;*/
    color: #CEB500;
}

.promoter {
    /*background-color: #39B54A;*/
    color: #39B54A;
}

.view-btn {
    cursor: pointer;
    text-align: center;
}

.btn-side-nps {
    margin-left: 20px;
    width: 170px;
}

.btn-side-nps span {
    font-size: 12px;
}

.menu-side-nps {
    top: -1px;
    margin-left: 192px;
    position: fixed !important;
}

.menu-side-nps li:first-child {
    margin: 10px;
}

.btn-default {
    background-color: #EEEEEE;
}

.arrow-nps {
    margin-top: 2px;
}

.livepool-table .checkbox {

}

.rot90 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    left: 30px;
    margin-top: 200px;
    width: 15px;
    position: absolute;
}

#side-bar-nps {
    margin-top: 10px;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 95%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

#mdl-edit .modal-header, #mdl-delete .modal-header, #mdl-upload .modal-header  {
    background-color: #306898;
    color: #fff;
    font-size: 14px;
}



.blue {
    color: blue;
}