/* Square blue:
*/
.fwt-main-wrapper {
	font-family: "Sans-serif", Times, serif;
	font-size: 12px;
	overflow: hidden;
}

.fwt-tabs-container {
	width: 100%;
	display: inline-flex;
}

.fwt-tab {
	height: 100%;
	padding: 6px;
	cursor: pointer;
	background-color: #FFFFFF;
	color: #000000;
	border-top: 3px solid #428BCA;
	display: flex;
	align-items: center; /* align vertical */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.fwt-tab:hover {
	background-color: #CCCCCC;
}

.fwt-tab-active-up {
	background-color: #428BCA;
	border-top: 3px solid #428BCA;
	color: #FFFFFF;
}

.fwt-tab-active-up:hover {
	background-color: #428BCA;
}

.fwt-frame {
	padding: 4px;
}

/* Animations:
*/

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.fwt-fade-in {
  opacity: 0;
  animation: fadeIn .3s ease-in 1 forwards;
}

.fwt-fade-out {
  opacity: 1;
  animation: fadeOut .3s ease-in 1 forwards;
}

.fwt-is-paused {
  animation-play-state: paused;
}
