html {
    height: 100%;
    font-size: 100%;
}

body {
    color: #565656;
    font-family: Arial;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.gray {
    background: #f9f9f9;
}

.gray .content {
    background: none;
}

a:link, a:visited {
    text-decoration: none;
    outline: none;
    color: #2e2e32;
}

a:hover, a:active {
    outline: none;
    text-decoration: none;
    color: #999999;
}

#main-wrapper {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}
.main-content-wrapper {
    margin-right: 10px;
    padding: 0 20px;
    position: relative;
}
.main-content-wrapper #main-content {
    padding: 15px 15px 0 15px;
    width: 100%;
}
.main-content-wrapper #main-content .h1 {
    margin: 0;
    padding: 0px 10px 40px 10px;
    float: left;
    line-height: 10px;
    font-weight: 300;
    font-size: 1.5em;
}
.main-content-toggle-left {
    margin-left: 0;
}
.main-content-toggle-right {
    margin-right: 240px;
}
.pageheader {
    padding: 15px;
    border-bottom: 1px solid #dce0e6;
    border-top: 1px solid #eee;
    background: #F6F8F8;
    position: relative;
}
.pageheader h2 {
    font-weight: 300;
    margin: 0;
}
.pageheader .description {
    margin: 0;
    margin-top: 5px;
    color: #999;
}
.pageheader .breadcrumb-wrapper {
    position: absolute;
    top: 13px;
    right: 25px;
}
.pageheader .breadcrumb-wrapper .label {
    color: #999;
    text-transform: uppercase;
    font-size: 0.688em;
    font-weight: normal;
    display: inline-block;
}
.pageheader .breadcrumb {
    background: none;
    display: inline-block;
    padding: 0;
}
.pageheader .breadcrumb li {
    font-size: 0.75em;
}
.pageheader .breadcrumb li.active {
    color: #333;
}
.pageheader .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #515050;
    font-family: FontAwesome;
    content: "\f105";
}

.panel-header {
    position: fixed;
    background-color: #FFF;
    width: 100%;
    top: -2px;
    border-bottom: 1px solid #306898;
}

.fixed-side-bar {
    position: fixed;
    width: 180px;
    z-index: 1000;
    margin-top: 2px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-t-4 {
    margin-top: 4px;
}

@media (max-width: 767px) {
    .main-content-wrapper {
        margin-left: 0;
    }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
    /* Main Content */
    #main-content .h1 {
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 660px) {
    .main-content-toggle-left {
        margin-left: 660px;
    }
}

/*******************************************************************************
Header
*******************************************************************************/
#header {
    background: #fff;
    border-radius: 0;
    height: 80px;
    margin-bottom: 0;
    padding-right: 20px;
    z-index: 1001;
}

#header .brand {  
    height: 80px;
    float: left;
    padding-left: 20px;
    padding-top: 25px;
    text-align: center;
    width: 170px;
}

#header .brand img {
    width: 100%;
    height: auto;
}

#header.navbar {
    margin-bottom: 0;
}

.navbar-right {
    margin-top: 25px;
}

.navbar-right .profile {
    padding: 5px 15px 5px 15px;;
}

.navbar-right .profile:first-child {
    border-right: 1px solid #d6d6d6;
}

.profile .meta {
    text-align: right;
}

.profile .meta .text {
    color: #306898;
    display: block;
    font-size: 14px;
}

.profile .meta .text > span {
    font-weight: bold;
}

.profile .meta .link {
    color: #003465;
    display: block;
    font-size: 12px;
}

.profile .meta .link > a {
    cursor: pointer;
}

.nav > .notifications {
    padding-top: 10px;
}

.nav > .notifications > a:hover,
.nav > .notifications > a:focus {
    background: none;
}

.notifications .dropdown-menu {
    margin-top: 15px;
    padding: 0;
    width: 220px;
}

.notifications .dropdown-menu .heading {
    background: #338bca;
    color: #fff;
    padding: 10px;    
}

.notifications .dropdown-menu .heading h5 {
    margin: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
/*******************************************************************************
Sidebar
*******************************************************************************/
.sidebar-left {
    background: #306898;
}

.sidebar-left a {
    color: #fff;
}

.sidebar-left .nav-pills {
    margin-left: 0px;
    margin-right: 0px;
}

.sidebar-left .profile-image {
    background: url(../img/bg-profile-image.jpg) no-repeat;
    height: 165px;
    padding-top: 20px;
}

.sidebar-left .profile-image .image {
    background: url(../img/frame-image-profile.png) no-repeat;
    display: block;
    height: 85px;
    padding: 9px 8px;
    overflow: hidden;
    margin: 0 auto;
    width: 85px;
}

.sidebar-left .profile-image .image img {
    border-radius: 100%;
    width: 68px;
    height: auto;
}

.sidebar-left .user-name {
    color: #003f74;
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}

.sidebar .nav a {
    font-weight: normal;
}

.sidebar-left .nav > li {
    border-radius: 0;
}

.sidebar .nav-pills > li > a {
    padding-left: 40px;
}

.sidebar-left .nav > li > a {
    border-radius: 0;
    color: #fff;
    font-size: 11px;
    position: relative;
}

.sidebar-left .nav > li > a > i.fa {
    left: 10px;
    position: absolute;
    top: 11px;
}

.sidebar-left .nav > li > a > span {
    color: #b8d010;
    float: right;
}

.sidebar-left .nav > li > a:hover, .sidebar-left .nav > li > a:focus {
    background: #83acdb;
}

.sidebar-left .nav .open > a,
.sidebar-left .nav .open > a:hover,
.sidebar-left .nav .open > a:focus {
    background: #83acdb;
}

.sidebar-left .nav-dropdown {
    border-radius: 0;
}

.sidebar-left .nav-dropdown.open ul {
    background: #2b80c4;
}

.sidebar .nav > li > .nav-sub > li > a {
    font-size: 11px;
    padding-left: 42px;
    position: relative;
}

.sidebar .nav > li > .nav-sub > li > a > i.fa {
    left: 15px;
    font-size: 1.3em;
    position: absolute;
    top: 8px;
}

.sidebar .nav > li > .nav-sub > li > a.active {
    background: #A3C8E5;
    font-weight: bold;
}
/*******************************************************************************
Reactive List
*******************************************************************************/
ul[dnd-list], ul[dnd-list] > li {
    position: relative;
}
.dropzone ul[dnd-list] {
    margin: 0;
    min-height: 42px;
    padding-left: 0;
}
.dropzone li {
    display: block;
}
.dropzone .dndDragging {
    opacity: 0.7;
}
.dropzone .dndDraggingSource {
    display: none;
}
.dropzone .dndPlaceholder {
    background-color: #ddd !important;
    border-radius: 4px;
    display: block;
    height: 100px;
    position: relative;
    width: 100px;
}
.dropzone .reactive-list {
    min-height: 120px !important;
}
.dropzone .reactive-list > li {
    float: left;
}
.dropzone .container-element {
    margin: 10px;
}

/*******************************************************************************
Main contents
*******************************************************************************/
#toast-container > div {
    opacity: 1;
}

#toast-container > div.ng-enter,
#toast-container > div.ng-leave
{ 
    -webkit-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 

.breadcrumb-wrapper {
    padding: 30px 30px 0 30px;
}

.breadcrumb {
    background: none;
    font-size: 12px;
    text-transform: uppercase;
}

.breadcrumb > li > a {
    color: #55565a;       

}

.breadcrumb > li.active {
    color: #55565a;
    font-weight: bold;
}

.page-header {
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.page-header h1 {
    color: #008dcd;
    font-family: 'BrandonBlack';
    font-size: 28px;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}

.form-control {
    border: 1px solid #d3d1d1;
}

.form-group > label {
    color: #2782c3;
    font-weight: normal;
}

.content {
    background: #fff;
    border-radius: 4px;
    margin-top: 30px;
    padding: 20px;
}

.content > .row {
    margin: 0;
}

.actions {
    margin-bottom: 30px;
}
/*******************************************************************************
Tables
*******************************************************************************/
.table > thead > tr > th {
    
}

.table-lp > thead > tr > th {
    background-color: #306898;
    border-bottom-color: #fff;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.table-lp > tbody > tr > td {
    font-size: 12px;
}

.table-lp .control > .form-control {
    margin: 0 auto;
    width: 80%;
}

.flat-table {
    width: 100%;
}

.flat-table td, .flat-table th {
    border: 1px solid #BBBBBB;
    padding: 5px;
}

.table-responsive {
    border-radius: 4px !important;
}

.left-align-text > thead > tr > th,
.left-align-text > tbody > tr > td {
    text-align: left;
}

.left-align-text .actions {
    text-align: center;
}

.pagination > li > a {
    font-size: 12px;
}

table.centered-table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table.resume-circle-table {
    width: 200px;
    table-layout: fixed;
}

table.resume-circle-table td {
    text-align: center;
}

table.resume-circle-table td.quant {
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    font-weight: bold;
    padding: 3px;
}

table.resume-circle-table td.cell-green {
    height: 6px;
    background-color: #4D9311;
}

table.resume-circle-table td.cell-yellow {
    height: 6px;
    background-color: #EBBD3F;
}

table.resume-circle-table td.cell-orange {
    height: 6px;
    background-color: #D36900;
}

table.resume-circle-table td.text-label {
    font-size: 11px;
}

table.percent-circle-table {
    font-size: 45px;
    color: #4A910D;
    font-weight: bold;
}

.table-liv-small {
    border-radius: 4px;
    width: 220px;
    border-spacing: 0;
}

.table-liv-small tbody,
.table-liv-small thead tr {
    display: block;
}

.table-liv-small tbody {
    width: 220px;
}

.table-liv-small th {
    background-color: #306898;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 220px;
}

.table-liv-small td {
    width: 100%;
    padding: 2px;
    height: 22px;
    font-size: 12px;
} 

.table-liv-small th {
    padding: 4px;
    font-size: 11px;
}

.table-liv-small tr:nth-child(even) {
    background-color: #F4F7F9;
}

.liverpool-table {
    font-size: 12px;
    width: 100%;
}

.liverpool-table th {
    font-size: 12px;
    font-weight: bold;
    background-color: #306898;
    padding: 5px;
    text-align: center;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.liverpool-table tbody tr {
    background-color: #F0F0F0;
    height: 28px;
}

.liverpool-table tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}

.liverpool-table tbody tr td {
    padding: 5px;
}

.resume-table > thead > tr > th {
    font-size: 13px;
}

.resume-table > thead > tr:not(:first-child) > th {
    background-color: #f4f7f9;
    color: #555;
    font-size: 12px;
    vertical-align: middle;
}

.resume-table tbody tr td {
    font-weight: bold;
}

.perm-table {
    max-height: 300px;
    min-height: 300px;
    overflow-x: none;
    overflow-y: auto;
}

.perm-table table {
    border: 1px solid #DDD;
}

.header-out {
    background-color: #306898;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    padding: 4px;
}

/*******************************************************************************
Misc
*******************************************************************************/
.separator {
    border: 1px solid #83acdb;
    margin: 25px 0 25px;
}

.mt-20 {
    margin-top: 20px !important;
}

.block {
    display: block;
}

span.main-circle-lbl {
    font-size: 40px;
    font-weight: bold;
    color: #4A910D;
}

span.span-percent-circle {
    font-size: 18px;
}
/*******************************************************************************
Charts
*******************************************************************************/
.charts {
    margin-top: 20px !important;
}

.chart-title {
    border-bottom: 1px solid #d2d2d3;
    color: #336797;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
/*******************************************************************************
Modals
*******************************************************************************/
#mdl-add-edit .modal-header {
    background-color: #306898;
    color: #fff;
    font-size: 14px;
}

#mdl-add-edit .modal-footer .btn, .btn-lp {
    width: 100px;
}

#mdl-add-edit .modal-footer .btn.btn-default {
    background: #ddd;
    color: #555;
}

#mdl-add-edit label {
    font-size: 12px;
    font-weight: bold;
}

/*******************************************************************************
Surveys
*******************************************************************************/
fieldset legend {
    border-color: #83acdb;
    color: #55565a;
    font-size: 15px;
    font-weight: bold;
}

legend a {
    color: #306898 !important;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}

.survey-information > li {
    font-size: 12px;
}

.survey-information > li > span {
    color: #306898;
    font-weight: bold;
}
/*******************************************************************************
Forms/Modal
*******************************************************************************/
.btn {
    margin-left: 3px;
    margin-right: 3px;
    border: 0;
}

.btn-green {
    background-color: #79d77d;
    color: #fff;
}

.btn-green:hover {
    background-color: #68c36c;
    color: #fff !important;
}

.btn-blue {
    background-color: #306898;
    color: #fff !important;
}

.btn-blue:hover {
    background-color: #285b86;
}

.btn-red {
    background-color: #ff616c;
    color: #fff !important;
}

.btn-red:hover {
    background-color: #e6535d;
}
    
select.form-control {
    border: 1px solid #dbd7d9;
    height: 34px;
    font-size: 14px;
    font-weight: normal;
    -moz-appearance: none;
    -webkit-appearance:none;
    background: #fff url("../img/angle_down.png") 98% 15px no-repeat;
    padding-right: 32px;
}

select.form-control::-ms-expand {
    display: none;
}

.blue-title {
    color: #306898 !important;
    font-size: 14px;
    font-weight: bold !important;
}

.white-box {
    background-color: #ffffff;
    box-shadow: 0px 1px 0.13em rgba(0,0,0,0.2);
    border-radius: 4px;
    margin-top: 40px;
    padding: 40px;
}

.btn-modal-close{
    position: absolute;
    top: 10px;
    right: 13px;
    z-index: 9;
}

/*******************************************************************************
Modal
*******************************************************************************/
.modal-header {    
    background-color: #306898;
    padding: 13px 15px;
    position: relative;
}

.modal-header .close {
    top: 20px;
}

.modal-content .no-padding {
    padding: 0;
}

.modal-footer {
    margin-top: 10px;
    text-align: center;
}

.tab-title h4{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.table-lp .tb-white-head tr th{
    color: #306898;
    font-size: 14px;
    border-bottom: 1px solid #e6eef8;
    background: #ffffff;
}

.table-lp tbody tr td{
    border-top: 0;
    font-size: 14px;
}

.table-striped > tbody > tr:nth-of-type(2n+1){
    background-color: #f4f7f9;
}

table.pagination-back-table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    table-layout: fixed;
}

table.pagination-back-table td {
    text-align: center;
    cursor: default;
}

table.pagination-back-table td.page-indicator {
    background-color: #337AB7;
    border-radius: 4px;
    color: #FFF;
    padding-left: 4px;
    padding-right: 4px;
}

table.pagination-back-table td.move-page {
    color: #999;
    width: 30px;
}

table.pagination-back-table td.move-page:hover {
    cursor: pointer;
    color: #337AB7;
}

/*******************************************************************************
Pagination
*******************************************************************************/
.pagination {
    display: inline-block;
    margin: 0;
}

.pagination li {
    display: inline-block;
}

.pagination li:first-child {
    margin-right: 7px;
}

.pagination li:last-child {
    margin-left: 7px;
}

.pagination li a {
    padding: 0px 1px;
    margin: 0px 1px;
    border: 0;
    border-radius: 50%;
    min-width: 22px;
    height: 22px;
    line-height: 24px;
    text-align: center;
}

.pagination li a:hover {
    background-color: transparent;
}

.pagination .active a {
    padding-right: 1px;
    background-color: #83acdb !important;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"] {
    clear: both;
    float: none;
    width: 100%;
}

div.dataTables_wrapper div.dataTables_paginate {
    padding: 20px;
    text-align: center;
}

.actions .glyphicon {
    font-size: 15px;
}

.page-heading {
    font-size: 20px;
    font-weight: normal;
    margin-top: 0;
}

.input-daterange input {
    text-align: left;
}

label.error {
    color: coral;
    font-size: 11px;
    font-weight: normal;
}

a.btn {
    color: #fff !important;
    font-size: 15px;
}

.table-pagination {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.table-pagination td {
    text-align: center;
    font-weight: bold;
}

.table-pagination span.arrow {
    cursor: pointer;
}

.pink-table,
.purple-table,
.history-results-table {
    width: 100%;
    font-size: 12px;
}

.pink-table td,
.purple-table td {
    padding: 8px;
}

.pink-table tbody tr:nth-child(even),
.purple-table tbody tr:nth-child(even),
.history-results-table tbody tr:nth-child(even) {
    background-color: #F2F6F8;
}

.pink-table th,
.purple-table th {
    padding: 8px;
}

.pink-table thead .head-table th {
    background-color: #F58A3A;
    color: #FFFFFF;
}

.purple-table thead .head-table th {
    background-color: #83417E;
    color: #FFFFFF;
}

.sub-head-table {
    background-color: #D9E9F0;
}
legend {
    padding-bottom: 5px;
}

.mce-path {
    display: none;
}

.mce-tooltip {
    position: fixed !important;
}

.mce-panel.mce-floatpanel.mce-menu {
    position: fixed !important;
}

.mce-edit-area p {
    padding: 0;
    margin: 2px 0;
}
/*******************************************************************************
Email template preview
*******************************************************************************/
#preview-iframe {
    height: 100%;
    min-height: 500px !important;
    overflow-y: hidden;
    width: 100%
}

.row-highlight td {
    background-color: #3A7EB8;
    color: #FFFFFF;
}

.wait-span {
    font-style: italic;
    font-weight: bold;
}

.percent-indicator span, .percent-indicator div {
    display: inline-block;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.dot-red {
    background-color: #FF0000;
}

.dot-yellow {
    background-color: #FFFF44;
}

.dot-orange {
    background-color: #EC971F;
}

.dot-green {
    background-color: #5CB85C;
}

.dot-blue {
    background-color: #337AB7;
}

.horiz {
    display: inline-block;
}

/*******************************************************************************
Loading
*******************************************************************************/
#mdl-loading .modal-dialog {
    max-width: 200px;
    width: auto;
}

#mdl-loading .modal-dialog > .modal-content > .modal-body {
    text-align: center;
}

#mdl-loading.modal {
  text-align: center;
  padding: 0!important;
}

#mdl-loading.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

#mdl-loading .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#mdl-loading  ::-moz-selection { background: transparent; }
#mdl-loading  ::selection { background: transparent; }

.btn-fit {
    width: 100%;
}

td.blue-highlight {
    background-color: #337AB7;
    color: #FFFFFF;
}

td.low-percent {
    background-color: red;
}

label.large-lbl {
    font-size: 16px;
}

label.normal-lbl {
    font-size: 12px;
}

label.small-lbl {
    font-size: 10px;
}

.icon-plan {
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-left: 7px;
    margin-right: 7px;
}

.graph-icon {
    cursor: pointer;
    color: #337AB7;
}

.loading-div {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    display: none;
}

.loading-sign {
    position: fixed;
    width: 100%;
    height: 120px;
    z-index: 5001;
    top: calc(50% - 120px);
}

.loading-sign td {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

.icon-loading  {
    width: 64px;
    height: 64px;
}

.tools-action-plan {
    display: inline-block;
}

.tools-action-plan input {
    border-radius: 4px;
    padding: 5px;
    height: 32px;
}

.tools-action-plan span.glyphicon-info-sign {
    color: #337AB7;
    font-size: 22px;
    top: 6px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.liv-error {
    -webkit-box-shadow: 0px 0px 6px 1px rgba(255,0,0,1);
    -moz-box-shadow: 0px 0px 6px 1px rgba(255,0,0,1);
    box-shadow: 0px 0px 6px 1px rgba(255,0,0,1);
}

/*******************************************************************************
Survey generator
*******************************************************************************/
textarea {
    resize: vertical;
}

div.dataTables_filter {
    margin-bottom: 10px;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
    max-width: 300px;
    width: 100%;
}

.tab-pane {
    padding: 20px 10px;
}

.nav-tabs > li > a {
    font-size: 14px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover   {
    border-radius: 0;
    border-top: 3px solid #306898;
    font-weight: bold;
}

.mt-10 {
    margin-top: 10px;
}

td.separator {
    border: none;
}


.timepicker td {
    text-align: center;
}

.timepicker .form-control {
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
}

.timepicker td .form-control {
    border-radius: 4px !important;
    float: none;
    margin: 0 auto;
    width: 60px;
}

.bootstrap-timepicker-widget table td a:hover {
    background: none;
    border: none;
}

/* Change password:
*/

#change-pass-btn {
    background: none;
    border-color: transparent;
}

input.error, input.error:focus {
    border-color: #843534;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
    color: #e32;
}

div.error {
    color: #e32;
    font-size: 11px;
}


#table_matriz td, #table_matriz th,
#matrix-direct-table td, #matrix-direct-table th {
    font-size: 12px;
}

#table_matriz tr td:first-child {
    width: 300px;
}

#department_matrix th:not(:first-child) {
    text-align: center;
}

.total-score td {
    font-weight: bold;
}

.branch {
    cursor: pointer;
}

#modal-answers .modal-header h4 {
    padding-right: 60px;
}

#modal-answers table tr > td {
    padding-left: 15px;
    padding-right: 15px;
}

.hide {
    display: none !important;
}

#div_table_matriz .nav-tabs > li.active > a,
#div_table_matriz .nav-tabs > li.active > a:focus,
#div_table_matriz .nav-tabs > li.active > a:hover {
    border-radius: 6px 6px 0 0;
}

.main-sign-home col-xs-12 {
    text-align: center;
}

.col-separator {
    background: #fff;
    border: none !important;
    width: 10px;
}

.col-results {
    border-radius: 4px 4px 0 0;
    color: #fff;    
}

.col-results.env {
    background-color: #F58A3A;
}

.col-results.leads {
    background-color: #83417E;
}

#form-capture input.error,
#form-capture textarea.error,
#form-capture select.error {
    box-shadow: 0px 0px 6px 1px rgba(255,0,0,1);
}

.roles-area {
    min-height: 270px;
    max-height: 270px;
    overflow-x: none;
    overflow-y: scroll;
}

/*
 * Duplicates
 */
.remove-dependant {
    display: block;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background: red;
    float: right;
    line-height: 24px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.employees {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #d3d1d1;
    border-radius: 4px;
    padding: 5px;
}

.employees ul > li {
    padding: 5px;
}

.export-tables {
    margin: 10px;
}