body {
	background-color: #F7F7F8;
}

body .content {
	background-color: #F7F7F8;
}

table.c-table {
	width: 100%;
	height: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

table#right-table {
	min-width: 50% !important;
}

.wide-td {
    min-width: 120px;
}

.row-pointer {
	cursor: pointer;
}

#timeline-div .timeline-item {
	display: inline-block;
	padding-right: 5px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

#timeline-div .timeline-item:hover {
	color: #306898;
}

.fixed-group {
    left: 276px;
    top: 52px;
}

.accumulated-mini-table {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 110px;
}

.accumulated-mini-table td {
    text-align: center;
    background-color: #FFF !important;
}

#ranking-table_wrapper {
	font-size: 14px !important;
}

#stores-table_length {
	margin-left: 100px;
}

div.white-row {
	background-color: #FFF;
	border-radius: 4px;
	border: 1px solid transparent;
}

.fix-center {
	 position: absolute !important;
    left: 385px !important;
    top: 22px !important;
}

.div-tables table {
	margin-top: 36px !important;
}

div.div-complaints {
	min-height: 100px;
	max-height: 100px;
	border-right: 1px solid #000000;
	margin-right: 4px;
}

.t-centered {
	margin-left: auto;
	margin-right: auto;
}

/* Nav tabs:
*/

.high-nps .nav-tabs > li > a,
.low-nps .nav-tabs > li > a {
    padding-top: 4px; 
    padding-bottom: 4px;
}

.high-nps .nav-tabs > li > a {
	border-radius: 0;
	border-top: 3px solid #008800;
	border-left: none;
	border-right: none;
}

.high-nps .nav-tabs > li.active > a {
	border-left: none;
	border-right: none;
	border-top: 3px solid #008800;
	color: #FFFFFF;
	background-color: #008800;
}

.high-nps .nav-tabs > li.active > a:hover {
	border-right: none;
	border-left: none;
	border-top: 3px solid #008800;
	color: #FFFFFF;
	background-color: #008800;
}

.low-nps .nav-tabs > li > a {
    padding-top: 4px; 
    padding-bottom: 4px;
}

.low-nps .nav-tabs > li > a {
	border-radius: 0;
	border-top: 3px solid #D36900;
	border-left: none;
	border-right: none;
}

.low-nps .nav-tabs > li.active > a {
	border-left: none;
	border-right: none;
	border-top: 3px solid #D36900;
	color: #FFFFFF;
	background-color: #D36900;
}

.low-nps .nav-tabs > li.active > a:hover {
	border-right: none;
	border-left: none;
	border-top: 3px solid #D36900;
	color: #FFFFFF;
	background-color: #D36900;
}

.low-nps .tab-pane,
.high-nps .tab-pane {
	padding: 0;
}

.filters-nps {
	display: none;
}

.btn-side-nps {
	margin-left: 20px;
	width: 170px;
}

.arrow-nps {
	font-size: 11px;
}

.menu-side-nps {
	margin-left: 195px;
	top: -2px;
}

.nps-date-tabs {
	width: 300px;
	height: auto;
}

.li-nps-menu, .managers-li {
	padding: 8px;
	padding-right: 16px;
}

.li-nps-menu .panel-heading,
.li-nps-menu .panel-heading label,
.managers-li .panel-heading,
.managers-li .panel-heading label {
	cursor: pointer;
	color: #FFF;
}

#returnState {
	bottom: 35px;
}

#ranking-table_length {
	margin-left: 140px;
}

.btn-default {
	background-color: #EEEEEE;
}

/* Tables highest and lowest:
*/

#right-table_wrapper select {
	height: 30px;
	padding: 4px;
	padding-top: 0;
	margin-right: 4px;
}

#right-table tbody td {
	text-align: center;
}

#right-table tbody tr {
	height: 25px;
}

.highest-table,
.lowest-table {
	font-size: 12px;
	width: 100%;
}

.highest-table th,
.lowest-table th {
	font-size: 12px;
	font-weight: bold;
	background-color: #306898;
	padding: 5px;
	text-align: center;
	border-right: 1px solid #FFFFFF;
	color: #FFFFFF;
}

.highest-table tbody tr,
.lowest-table tbody tr {
	background-color: #F0F0F0;
	height: 28px;
}

.highest-table tbody tr:nth-child(even),
.lowest-table tbody tr:nth-child(even) {
	background-color: #FFFFFF;
}

.highest-table tbody tr td,
.lowest-table tbody tr td {
	padding: 5px;
}

.high-nps li, .low-nps li {
	width: 33.3%;
	text-align: center;
}

.nps-table {
	font-size: 12px;
	width: 100%;
	height: 82px;
	background-color: #FFFFFF;
}

.nps-table td {
	padding: 8px;
}

.nps-table .progress {
	margin-bottom: 0;
}

.left-cell {
	width: 100px;
	text-align: right;
	padding-right: 10px;
}

/* Numbers:
*/

span.big {
	font-size: 18px;
}

span.score {
	display: inline-block;

}

span.green-score {
	color: #2AC231;
}

span.amber-score {
	color: #EBBD3F;
}

span.orange-score {
	color: #D36900;
}

span.red-score {
        color: #F84848;
}

span.yellow-score {
    color : #FCB025;
}

/* Make '=' symbol from a rotated pause symbol:
*/

span.equals {
	-webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}

/* Bars:
*/

.progress-bar-warning {
	background-color: #D36900;
}

.progress-bar-success {
	background-color: #4A910D;	
}

/* Panels:
*/

.small-panel {
	font-size: 10px;
	height: 25px;
	padding: 4px 4px 4px 4px;
	text-align: center;
}

.small-body {
	font-size: 12px;
	text-align: center;
	padding: 6px 6px 6px 6px;
}

/* Sidebar:
*/

@media (min-width: 768px) {
	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}

	.sidebar-nav .navbar ul {
		float: none;
		background-color: #306898;
		color: #FFFFFF;
	}

	.sidebar-nav .navbar ul:not {
		display: block;
	}

	.sidebar-nav .navbar li {
		float: none;
		display: block;
	}

	.sidebar-nav .navbar li a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

.menu-level-two {
	left: 167px;
	top: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: #306898;
	color: #FFFFFF;
}

.menu-lbl {
	text-align: center;
	padding: 5px;
}

.navbar-default {
	border: none;
}

.pull-right {
	margin-top: 4px;
}

/* Evaluations:
*/

.play-record {
	font-size: 18px;
	text-align: center;
	cursor: pointer;
}

.sub-row {
	background-color: #EFF6F7;
	padding: 10px;
}

.label-div {
	text-align: center;
	color: #FFF;
	font-size: 11px;
	font-weight: bold;
	border-radius: 4px;
	width: 18%;
	height: 24px;
	padding: 4px;
}

.label-div-yellow {
	background-color: #EBC969;
}

.label-div-orange {
	background-color: #F0AD4E;
}

.label-div-green {
	background-color: #5CB85C;	
}

.label-div-red {
	background-color: #D9534F	
}

.details-container .curtain {
	margin: 8px;
}

.filters-nps .nav li {
	width: 180px;
}

.nav-sub li:hover {
	background-color: #83ACDB;
}

.custom-drop {
	height: auto;
}

.custom-drop li {
	padding: 4px;
}

.custom-drop .row {
	margin: 4px;
}

.dropdown-zone {
	height: auto;
	top: -200px;
}

.dropdown-managers {
	height: auto;
	top: -250px;
}

.dropdown-section {
	height: auto;
	top: -300px;	
}

.btn-long {
	width: 100%;
}

.blue-border {
	width: 95%;
	border: 1px solid #306898;
	border-radius: 4px;
	margin-left: 14px;
	margin-top: 5px;
	padding-top: 8px;
}

.align-vertical {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.hide {
	display: none;
}

.line {
	display: flex;
	align-items: center;
}

.detail-row-evaluation {
	min-height: 100px;
	max-height: 100px;
	border-radius: 4px;
	border: 1px solid #306898;
	padding: 8px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.main-form {
	top: -20px;
}

.li-nps-menu .panel-group, .managers-li .panel-group {
	margin: 8px;
}

.li-nps-menu .panel-group .panel-body,
.managers-li .panel-group .panel-body {
	padding: 0px;
}

.group-level-1 > div.panel > div.panel-heading {
	height: 30px;
	background-color: #306898;
	padding: 4px;
}

.group-level-2 > div.panel > div.panel-heading {
	height: 30px;
	background-color: #3D85C2;
	padding: 4px;
}

.group-level-3 > div.panel > div.panel-heading {
	height: 30px;
	background-color: #489CE4;
	padding: 4px;
}

.small-input {
	padding: 2px;
	margin: 2px;
	font-size: 11px;
	height: 25px;
}

.col-tracing,
.col-challenges {
	margin: 4px;
	padding: 4px;
	height: 200px;
	border-radius: 4px;
	border: 1px solid #306898;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

#row-panels .panel-container {
	padding: 4px;
	padding-left: 1px;
	padding-right: 1px;
}

#row-panels .panel {
	margin: 4px;
	margin-left: 1px;
	margin-right: 1px;
}

.panel-chall .panel-heading {
	background-color: #5CB85C;
	color: #FFF;
	font-weight: bold;
}

.panel-tracing .panel-heading {
	background-color: #F0AD4E;
	color: #FFF;
	font-weight: bold;
}

.panel-chall .panel-body,
.panel-tracing .panel-body {
	padding: 8px;
}

.content {
	margin-top: 0;
}

.lbl-medium {
	font-size: 11px;
	margin: 4px;
	border-radius: 8px;
	background-color: transparent;
	color: #555;
	font-weight: lighter;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box; 
}

.lbl-opaque {
	background-color: #FFF;
}

.chat-zone {
	min-height: 90px;
	max-height: 90px;
	margin-top: 4px;
	padding: 4px;
	border-radius: 4px;
	border: 1px solid #DDDDDD;
	overflow-y: scroll;
	overflow-x: hidden;
}

.chat-zone hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.input-msg {
	margin: 4px;
	margin-left: 0;
	height: 25px;
	font-size: 12px;
	padding: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	width: 100% !important;
	border: 1px solid #337AB7;
	border-radius: 4px;
}

.map-google {
	margin: 8px;
	width: 800px;
	height: auto;
	border: 1px solid #306898;
}

td.fixed-row > div {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

td.fixed-row {
	height: 30px;
}

.file-nps-row {
    padding-top: 14px;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.white {
    background-color: #FFF;
    padding-top: 8px;
    border-radius: 4px;
}

.fixedfileinput {
    position: absolute;
    z-index: 1000;
    opacity: 0;
}

.div-zone {
	max-height: 340px;
	overflow-x: none;
	overflow-y: auto;
}

.inline-radio {
	font-size: 12px;
}

.inline-radio input {
	margin-top: 1px;
}

.span-see {
    font-size: 22px;
    cursor: pointer;
}

/*
hide audio download buttons:;
*/

audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

/* Width:
*/

.w-0   { max-width: 0;     min-width: 0 }
.w-10  { max-width: 10px;  min-width: 10px }
.w-20  { max-width: 20px;  min-width: 20px }
.w-30  { max-width: 30px;  min-width: 30px }
.w-60  { max-width: 60px;  min-width: 60px }
.w-80  { max-width: 80px;  min-width: 80px }
.w-100 { max-width: 100px; min-width: 100px }
.w-150 { max-width: 150px; min-width: 150px }
.w-200 { max-width: 200px; min-width: 200px }
.w-300 { max-width: 300px; min-width: 300px }
.w-400 { max-width: 400px; min-width: 400px }
.w-500 { max-width: 500px; min-width: 500px }
.w-600 { max-width: 600px; min-width: 600px }
.w-700 { max-width: 700px; min-width: 700px }
.w-800 { max-width: 800px; min-width: 800px }
.w-900 { max-width: 900px; min-width: 900px }

/* Height:
*/

.h-0   { max-height: 0;     min-height: 0 }
.h-10  { max-height: 10px;  min-height: 10px }
.h-20  { max-height: 20px;  min-height: 20px }
.h-30  { max-height: 30px;  min-height: 30px }
.h-60  { max-height: 60px;  min-height: 60px }
.h-80  { max-height: 80px;  min-height: 80px }
.h-100 { max-height: 100px; min-height: 100px }
.h-150 { max-height: 150px; min-height: 150px }
.h-200 { max-height: 200px; min-height: 200px }
.h-300 { max-height: 300px; min-height: 300px }
.h-400 { max-height: 400px; min-height: 400px }
.h-500 { max-height: 500px; min-height: 500px }
.h-600 { max-height: 600px; min-height: 600px }
.h-700 { max-height: 700px; min-height: 700px }
.h-800 { max-height: 800px; min-height: 800px }
.h-900 { max-height: 900px; min-height: 900px }

/* Padding:
*/

.p-0  { padding:  0;   }
.p-2  { padding:  2px; }
.p-4  { padding:  4px; }
.p-8  { padding:  8px; }
.p-12 { padding: 12px; }

/* Margin:
*/

.m-0  { margin:  0;   }
.m-2  { margin:  2px; }
.m-4  { margin:  4px; }
.m-8  { margin:  8px; }
.m-12 { margin: 12px; }

.m-l-0 { margin-left:   0 !important; }
.m-r-0 { margin-right:  0 !important; }
.m-t-0 { margin-top:    0 !important; }
.m-b-0 { margin-bottom: 0 !important; }

.pos-abs {
	position: absolute;
}
