/* 
    Created on : 16/08/2016, 10:37:37 AM
    Author     : Jorge
*/

html, body {
  height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: #f8f8f9;
    color: #565656;
    font-family: Arial;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

#main-wrapper {
    min-height: 100%;
    margin-bottom: -40px;
    padding-bottom: 40px; 
}

footer {
    background: #fff;
    color: #403f3f;
    font-size: 11px;
    height: 40px;
    padding-top: 12px;
    text-align: center;
}

footer .liverpool {
    color: #306898;
    text-decoration: none;
}

.content {
    background: none;
    margin-top: 0;
}

.main-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-right .profile:first-child {
    border-right: none;
}

.survey-heading {
    color: #598ab9;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    text-align: center;
}

.survey-heading img {
    margin: 0 10px 5px 0;
}

.survey-type {
    color: #306898;
    font-size: 14px;
    text-align: center;
}

.survey-information p, .initial-information p {
    color: #4f4f4f;
    font-size: 12px;
    margin-bottom: 15px;
    text-align: justify;
}

.survey-information p strong, .initial-information p strong {
    color: #306898;
}

.initial-information {
    margin-bottom: 25px;
}

.initial-information p strong {
    font-size: 15px;
}

p.text-start {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

.rating {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(219, 219, 220, 0.75);
    margin: 30px 0 30px;
    padding: 35px 0 35px;
    text-align: center;
    vertical-align: top;
}

.rating > li {
    border-right: 1px solid #dee7ef;
    display: inline-block;
    height: 100px;
    padding: 0 10px 0 10px;
    text-align: center;
    width: 160px;
}

.rating > li:last-child {
    border-right: none;
}

.rating > li > span {
    color: #306898;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    height: 30px;
    overflow: hidden;
    margin-top: 5px;
    width: 100%;
}

.survey-actions {
    border-top: 1px solid #83acdb;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}

.btn-survey, a.btn-survey {
    background: #306898;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-survey.focus, .btn-survey:focus, .btn-survey:hover {
    color: #fff;
}

#title-progress {
    height: 60px;
    position: relative;
}

h2 {
    color: #306898;
    font-weight: bold;
    font-size: 15px;
    line-height: 40px;
    margin-top: 0;
    text-transform: uppercase;
}

h2 img {
    margin: 0 10px 5px;
}

#survey-progress {
    top: 0;
    right: 0;
    position: absolute;
    width: 140px;
}

#survey-progress .current-progress {
    color: #4f4f4f;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

#survey-progress .progress {
    border: 1px solid #fff;
    border-radius: 6px;    
    height: 14px;
}

#survey-progress .progress-bar {
    background-color: #90d94e;
    box-shadow: none;
}


@media (max-width: 768px) and (max-width: 1023px) {
    #title-progress {
        clear: both;
        height: auto;
    }
    
    #survey-progress {
        display: block;
        float: right;
        margin-top: 20px;
        position: relative;
    }
}

@media (max-width: 767px) {
    h2 {
        line-height: normal;
    }
    
    #title-progress {
        height: auto;
    }
    
    #survey-progress {
        display: block;
        margin-top: 20px;
        position: relative;
        width: 100%;;
    }
    
    .person-evaluated {
        display: block;
    }
    
    .rating > li {
        border-right: none;
        width: 60px;
        height: auto;
        padding: 0 5px;
    }
    
    .rating > li > img {
        width: 100%;
        height: auto;
    }

    .rating > li:last-child {
        border-right: none;
    }

    .rating > li > span {
        font-size: 9px;
        line-height: 10px;
        height: 30px;
        overflow: hidden;
    }
}

.questions-wrapper {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(219, 219, 220, 0.75);
    padding: 10px 20px 10px 20px;
}

.question {
    color: #4f4f4f;
    font-size: 13px;
    margin-top: 15px;
}

.choices {
    color: #306898;
    font-size: 12px;
    margin-top: 5px;
}

.question-number {
    color: #306898;
    font-weight: bold;
}

input[type=text], textarea {
    background: #edf3fa !important;
    border: none !important;
    resize: vertical;
}

label.error {
    color: coral;
    font-size: 11px;
    font-weight: normal;
}

.faces-table {
    border: 1px solid #e6e6e7;
    margin: 15px 0 15px 0;
}

input[type=radio], input[type=checkbox] {
    cursor: pointer;
    position: relative;
}

.radio-inline, .checkbox-inline {
    padding-left: 30px;
    position: relative;
}

.radio-inline > input[type=radio], .checkbox-inline > input[type=checkbox] {
    visibility: hidden;
}

.checkbox-inline {
    margin-bottom: 5px;
}

input[type=radio] + span, input[type=checkbox] + span  {
    border-radius: 10px;
    background: #f5f5f5;
    border: 2px solid #e2e2e2;;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 2px;
}

input[type=checkbox] + span {
    border-radius: 1px;
}

input[type=radio]:checked + span, input[type=checkbox]:checked + span {
    background: #823F7C;
    border-color: #97bae1;
}

.faces-table .row {
    margin: 0;
}

.faces-table [class^="col-"] {
    padding: 0;
}

.row .cell {
    float: left;
    text-align: center;
    width: 20%;
}

.cell > img {
    margin: 5px auto 5px;
    width: 36px;
}

.cell > span {
    color: #306898;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 13px;
    overflow: hidden;
    height: 30px;
    min-width: 90px;
}

.faces-heading {
    background: #83acdb;
    border-bottom: 1px solid #83acdb;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    height: 80px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
}

.faces-options {
    background: #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    height: 80px;
}

.faces-questions > .row {
    border-top: 1px solid #e6eef8;
    font-size: 13px;
}

.faces-questions > .row:first-child {
    border-top: none;
}

.face-question-answers .row {
    padding: 8px 0 8px 0;
}

.face-question {
    padding: 8px !important;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .rating > li {
        width: 140px;
    }
    
    .cell > span {
        color: #306898;
        display: block;
        font-size: 10px;
        font-weight: normal;
        height: 30px;
        line-height: 10px;
        min-width: 100%;
        overflow: hidden;
    }
}

@media (max-width: 639px) {
    .faces-options {
        padding: 0;
    }
    
    .face-question-answers {
        padding: 0;
    }
    
    .face-question-answers .radio-inline, .face-question-answers .checkbox-inline {
        padding-left: 0;
    }
    
    .face-question-answers input[type="radio"], .face-question-answers input[type="checkbox"] {
        margin-left: 0;
    }
    
    .face-question-answers .row {
        padding-left: 0;
        padding-right: 0;
    }
    
    .cell > span {
        color: #306898;
        display: block;
        font-size: 9px;
        font-weight: normal;
        line-height: 10px;
        overflow: hidden;
        height: 50px;
        min-width: 100%;
        overflow: hidden;
    }
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    position: relative;
}

.nps-options-table > thead > tr > th {
    border-bottom: none;
    padding-bottom: 0;
}

.nps-options-table > thead > tr > th > img {
    height: auto;
    width: 40px;
}

.nps-options-table tr > td {
    border-top: none !important;
    width: 9.09%;
}

.nps-options-table tr > td > p {
    font-size: 12px;
    font-weight: bold;
}

.nps-options-table tr > td > p.red-range {
    color: #E7350E;
}

.nps-options-table tr > td > p.yellow-range {
    color: #FCA10F;
}

.nps-options-table tr > td > p.green-range {
    color: green;
}
