<div id="side-bar-nps">
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12 text-center">
                <label style="color: #FFF;">
                    Filtrar por:
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="dropdown dropdown-date">
                <button class="btn btn-primary dropdown-toggle btn-side-nps" type="button">
                    Fechas <span class="glyphicon glyphicon-menu-right pull-right arrow-nps"></span>
                </button>
                <ul  id="menu-filter-date-lst"  class="dropdown-menu menu-side-nps">
                    <li class="li-nps-menu">
                        <div id="tabs-dates">
                            <div data-tab-title="Trimestral">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="normal-lbl">Año:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input class="form-control date-input" id="date-year" value="${session.get(session.id + '-filter-date-quarter-year')?: ''}">
                                        </div>
                                    </div>
                                </div>
                                <div class="btns-trim">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-3"	>
                                                <button class="btn btn-xs btn-primary btn-long" id="filter-date-quarter-Q1" onclick="javascript:filtersAPI.changeQuarter('Q1')">
                                                    Ene - Mar
                                                </button>
                                            </div>
                                            <div class="col-xs-3">
                                                <button class="btn btn-xs btn-default btn-long" id="filter-date-quarter-Q2" onclick="javascript:filtersAPI.changeQuarter('Q2')">
                                                    Abr - Jun
                                                </button>
                                            </div>
                                            <div class="col-xs-3">
                                                <button class="btn btn-xs btn-default btn-long" id="filter-date-quarter-Q3" onclick="javascript:filtersAPI.changeQuarter('Q3')">
                                                    Jul - Sep
                                                </button>
                                            </div>
                                            <div class="col-xs-3">
                                                <button class="btn btn-xs btn-default btn-long" id="filter-date-quarter-Q4" onclick="javascript:filtersAPI.changeQuarter('Q4')">
                                                    Oct - Dic
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-tab-title="Mensual">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="normal-lbl">Año y mes:</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input class="form-control date-input" id="date-and-month"  value="${session.get(session.id + '-filter-date-monthly-month')?: ''}">
                                    </div>
                                </div>
                            </div>
                            <div data-tab-title="Periodo">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label class="normal-lbl">Del:</label>
                                        <input type="text" class="form-control date-input" id="date-from" value="${session.get(session.id + '-filter-date-period-from')?: ''}">
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="normal-lbl">Al:</label>
                                        <input type="text" class="form-control date-input" id="date-to" value="${session.get(session.id + '-filter-date-period-to')?: ''}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <button class="btn btn-success pull-right" id="apply-date" >Aplicar</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row" id="btn-group-bar" style="display: none;">
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle btn-side-nps" type="button">
                    Grupos <span class="glyphicon glyphicon-menu-right pull-right arrow-nps"></span>
                </button>
                <ul class="dropdown-menu menu-side-nps w-500" style="height: auto;">
                    <li class="li-nps-menu">
                        <div class="row" id="row-groups"></div>

                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row" id="btn-groups" style="display: none;">
        <div class="form-group">
            <div class="dropdown dropdown-groups">
                <button class="btn btn-primary dropdown-toggle btn-side-nps" type="button">
                    Grupos <span class="glyphicon glyphicon-menu-right pull-right arrow-nps"></span>
                </button>
                <ul class="dropdown-menu menu-side-nps special-menu" id="groups-nps">
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="row zone-row" id="btn-zone-bar" style="display: none;">
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle btn-side-nps" type="button">
                    Comparativa <span class="glyphicon glyphicon-menu-right pull-right arrow-nps"></span>
                </button>
                <ul class="dropdown-menu menu-side-nps w-800 dropdown-zone">
                    <li class="li-nps-menu">
                        <div class="row" id="row-zones"></div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-success pull-right" id="apply-zone">Aplicar</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row managers-row" style="display: none;">
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle btn-side-nps" type="button">
                    Gerentes y Jefes <span class="glyphicon glyphicon-menu-right pull-right arrow-nps"></span>
                </button>
                <ul class="dropdown-menu menu-side-nps w-800 h-400 dropdown-managers">
                    <li class="li-nps-menu">
                        <div class="div-zone">
                            <div class="panel-group group-level-1" id="boss-level-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-success pull-right" id="apply-managers">Aplicar</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row section-row" id="btn-section" style="display: none;">
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle btn-side-nps" type="button">
                    Sección <span class="glyphicon glyphicon-menu-right pull-right arrow-nps"></span>
                </button>
                <ul class="dropdown-menu menu-side-nps w-800 h-400 dropdown-section">
                    <li class="li-nps-menu">
                        <div class="div-zone">
                            <div class="panel-group group-level-1" id="section-level-1">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-success pull-right" id="apply-section">Aplicar</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!--    <div class="row" id="btn-groups">
        <div class="form-group">
<<<<<<< HEAD
            <div class="dropdown surveys-name-dropdown">
                <button class="btn btn-primary dropdown-toggle btn-side-nps" type="button">
                    Encuestas <span class="glyphicon glyphicon-menu-right pull-right arrow-nps"></span>
=======
            <div class="dropdown dropdown-groups">
                <button class="btn btn-primary dropdown-toggle btn-side-nps" type="button" data-toggle="dropdown">
                Grupos <span class="glyphicon glyphicon-menu-right pull-right arrow-nps"></span>
>>>>>>> refs/remotes/origin/testing
                </button>
                <ul class="dropdown-menu menu-side-nps">
                  <li class="dropdown-submenu">
                    <a class="test" tabindex="-1" href="#">Almacén <span class="glyphicon glyphicon-menu-right"></span></a>
                    <ul class="dropdown-menu">
                      <li><a tabindex="-1" href="#">Tienda</a></li>
                      <li><a tabindex="-1" href="#">Duty Free</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="test" tabindex="-1" href="#">Logística <span class="glyphicon glyphicon-menu-right"></span></a>
                    <ul class="dropdown-menu">
                      <li><a tabindex="-1" href="#">Bodega</a></li>
                    </ul>
                  </li>
                </ul>
                
                <ul class="dropdown-menu menu-side-nps w-200" style="height: auto;">
                    <li><a href="#">Logística</a></li>
                    <li><a href="#">Almacén</a></li>
                    <li><a href="#">Tienda</a></li>
                    <li><a href="#">Duty Free</a></li>
                </ul>
                
            </div>
        </div>
    </div>-->
	#{if session.get('place') == 'csi'}
	    <div class="row" id="btn-surveys-name" style="display: none;">
	        <div class="form-group">
	            <div class="dropdown surveys-name-dropdown" id="btn-encuestas">
	            	<button id="clean-filter-surveys"    class="btn btn-primary dropdown-toggle btn-side-nps" type="button" onclick="javascript:filtersAPI.cleanySurveyFilter();">X (Limpiar Encuestas)</button>
	                <button id="menu-filter-survey-name-btn" class="btn btn-primary dropdown-toggle btn-side-nps" type="button" data-toggle="dropdown">
	                Encuestas <span class="glyphicon glyphicon-menu-right pull-right arrow-nps"></span>
	                </button>
	                <ul id="menu-filter-survey-name-lst" class="dropdown-menu menu-side-nps w-500" style="height: auto;">
	                 	#{include 'CSI/surveyscsi/surveylist.html'/}
	                </ul>
	            </div>
	        </div>
	    </div>
    #{/if}
</div>