<div class="panel-header">
    <div class="brand">
        <img src="@{'/public/assets/img/logo.png'}" alt="Liverpool" />
        <button id="toggle-left" class="sidebar-toggle visible-xs">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <ul class="nav navbar-nav navbar-left">
        <li class="breadcrumb-wrapper hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@{Application.index()}"><i class="fa fa-home"></i> Inicio</a>
                </li>
                <li class="active">#{get 'location' /}</li>
            </ol>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right m-r-20">
        <li class="dropdown profile hidden-xs">
            <span class="meta">
                <span class="text m-t-4">Bienvenido <span>${session.get("displayName")}</span></span>
            </span>
        </li>
        <li class="dropdown profile hidden-xs">
           <!--  <span class="meta">
                <span class="link">
                    <a href="@{Secure.logout()}">
                        <i class="fa fa-times"></i> Cerrar
                    </a>
                </span>
            </span> -->
            <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="glyphicon glyphicon-cog"></button>
        <ul class="dropdown-menu" style="margin-right: 20px;">
          <li><a href="@{Secure.logout()}">Cerrar Sesión</a></li>
          <li><a href="@{ChangePassword.updatePsw()}">Cambiar Contraseña</a></li>
          
        </ul>
      </div>
        </li>
    </ul>
</div>