<div class="fixed-side-bar">
    <nav id="nav-csi">
        <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
            <!-- Start Enviroment -->
            <li id="menu-start-csi" class="nav-dropdown">
                <a href="@{Application.csi()}" title="Inicio">
                    <i class="fa fa-2x">
                        <span class="glyphicon glyphicon-star"></span>
                    </i> Inicio
                </a>
                <ul class="nav-sub">
                    
                </ul>
            </li>
			#{secure.check "csiusuarios"}
            <li id="menu-users-csi" class="nav-dropdown">
                <a href="@{Users.users()}" title="Usuarios">
                    <i class="fa fa-2x">
                        <span class="glyphicon glyphicon-user"></span>
                    </i> Usuarios
                </a>
            </li>
			#{/secure.check}

			#{secure.check "csiencuestas"}
			<li id="menu-surveys-csi" class="nav-dropdown">
                <a href="@{csi.SurveysCSI.surveys()}" title="Encuestas">
                    <i class="fa fa-2x">
                        <span class="glyphicon glyphicon-check"></span>
                    </i> Encuestas
                </a>
                <ul class="nav-sub"></ul>
            </li>
			#{/secure.check}
            <!--li id="menu-reports-csi" class="nav-dropdown">
                <a href="@{csi.ResultsCSI.results()}" title="Reporte CSI">
                    <i class="fa fa-2x">
                        <span class="glyphicon glyphicon-list-alt"></span>
                    </i> Reporte CSI
                </a>
            </li-->
			#{secure.check "csiedicion"}
            <li id="menu-edit-csi" class="nav-dropdown">
                <a href="#" title="Reporte CSI">
                    <i class="fa fa-2x fa-pencil"></i> Edición
                </a>
                <ul class="nav-sub">
                   
                    <li>
                        <a href="@{EmailCSI.emailMonitor()}"><i class="fa fa-2x fa-envelope"></i>Monitor de Correos</a>
                    </li>
                   
                    <li>
                        <a href="@{EmailCSI.emailTemplate()}?place=CSI"><i class="fa fa-2x fa-envelope"></i>Plantillas de Correo</a>
                    </li>                   
                    <li>
                        <a href="@{EmailCSI.emailSending()}"><i class="fa fa-2x fa-envelope"></i>Envío de Correos</a>
                    </li>
                   
                    <li>
                        <a title="Permisos" href="@{RolesCSI.roles()}"><i class="fa fa-2x fa-lock"></i>Permisos</a>
                    </li>                   
                    <li>
                        <a href="@{csi.StructureCSI.structureQuery()}"><i class="fa fa-2x fa-cubes"></i>Consulta de estructura</a>
                    </li>
                </ul>
            </li>
            #{/secure.check}
        </ul>
    </nav>
	#{if session.get('place') != 'csi'}
		#{common/filtersNPSAndCSI /}        	
    #{/if}
</div>