<div class="fixed-side-bar">
    <nav id="nav-environment">
        <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
            <!-- Start Enviroment -->
            <li id="menu-enviroment" class="nav-dropdown">
                #{secure.check "resultados clima"}
                <a href="#" title="Resultados">
                    <i class="fa fa-2x fa-signal"></i> Resultados Clima O.
                </a>
                <ul class="nav-sub">
                    #{secure.check "clima"}
                    <li>
                        <a href="@{DashboardEnviroment.index()}" title="Clima">
                            <i class="fa fa-2x fa-cloud"></i> Clima
                        </a>
                    </li>
                    #{/secure.check}

                    #{secure.check "matrizResultados"}
                    <li>
                        <a href="@{ResultMatrix.index()}" title="Matriz de Resultados">
                            <i class="fa fa-2x fa-th"></i> Matriz de Resultados
                        </a>
                    </li>
                    #{/secure.check}

                    #{secure.check "fortalezas"}
                    <li>
                        <a href="@{Fortalezas.index()}" title="Debilidades/Fortalezas">
                            <i class="fa fa-2x fa-list-ul"></i> Debilidades/Fortalezas
                        </a>
                    </li>
                    #{/secure.check}


                    #{secure.check "preguntas/abiertas"}
                    <li>
                        <a href="@{OpenQuestions.index()}" title="Preguntas Abiertas">

                            <i class="fa fa-2x fa-question"></i> Preguntas Abiertas
                        </a>
                    </li>
                    #{/secure.check}

                    #{secure.check "historico"}
                    <li>
                        <a href="@{History.index()}" title="Histórico">
                            <i class="fa fa-2x fa-history"></i> Histórico
                        </a>
                    </li>
                    #{/secure.check}

                    #{secure.check "analisis"}
                    <li>
                        <a href="@{HorizontalAnalysis.index()}" title="Analisis Horizontal">
                            <i class="fa fa-2x fa-list-alt"></i> Analisis Horizontal
                        </a>
                    </li>
                    #{/secure.check}

                    #{secure.check "ranking"}
                    <li>
                        <a href="@{Ranking.index()}" title="Ranking">
                            <i class="fa fa-2x fa-line-chart"></i> Ranking
                        </a>
                    </li>
                    #{/secure.check}

                    #{secure.check "results/list"}
                    <li>
                        <a href="@{Results.list()}" title="Avance">
                            <i class="fa fa-2x fa-line-chart"></i> Avance
                        </a>
                    </li>
                    #{/secure.check}
                    
                    #{secure.check "searchresults/index"}
                    <li>
                        <a title="Búsqueda de Resultados" href="@{SearchResults.index()}"><i class="fa fa-2x fa-search"></i>Búsqueda Resultados</a>
                    </li>
                    #{/secure.check}

                </ul>
                #{/secure.check}
            </li>
            <!-- End Enviroment -->

            <!--Plan block-->
            <li id="menu-plan" class="nav-dropdown">
                #{secure.check "plan de accion"}
                <a href="@{ActionPlan.index()}" title="Plan de acción">
                    <i class="fa fa-2x fa-paper-plane"></i> Plan de acción
                </a>
                #{/secure.check}
            </li>
            <!-- End Plan -->

            <!--Start Tracking-->
            <li id="menu-tracking" class="nav-dropdown">
                #{secure.check "resultados de seguimiento"}
                <a href="#" title="Resultados de Seguimiento">
                    <i class="fa fa-2x fa-list-alt"></i> Resultado de Seguimiento
                </a>
                <ul class="nav-sub">
                    #{secure.check "clima"}
                    <li>
                        <a title="Clima" href="@{DashboardEnviroment.index()}?df=1"><i class="fa fa-2x fa-cloud"></i>Clima</a>
                    </li>
                    #{/secure.check}

                    #{secure.check "matrizresultados"}
                    <li>
                        <a title="Matriz de resultados" href="@{ResultMatrix.index()}?df=1"><i class="fa fa-2x fa-th"></i>Matriz de resultados</a>
                    </li>
                    #{/secure.check}

                    #{secure.check "resdebilidades/fortalezas"}
                    <li>
                        <a href="@{Fortalezas.index()}?df=1" title="Debilidades/Fortalezas">
                            <i class="fa fa-2x fa-list-ul"></i> Debilidades/Fortalezas
                        </a>
                    </li>
                    #{/secure.check}

                    #{secure.check "respuestaabierta"}
                    <li>
                        <a title="Preguntas Abiertas" href="@{OpenQuestions.index()}?df=1"><i class="fa fa-2x fa-question"></i>Preguntas Abiertas</a>
                    </li>
                    #{/secure.check}

                </ul>
                #{/secure.check}
            </li>
            <!-- End Tracking -->

            <!-- Start Edit -->
            <li id="menu-edit" class="nav-dropdown">
                #{secure.check "edicion"}
                <a href="#" title="Edición">
                    <i class="fa fa-2x fa-pencil"></i> Edición
                </a>
                <ul class="nav-sub">
                    <!--
                    #{secure.check "busqueda"}
                    <li>
                        <a href="#" title="Búsqueda">
                            <i class="fa fa-2x fa-search"></i> Búsqueda
                        </a>
                    </li>
                    #{/secure.check}
                    -->
                    #{secure.check "enviocorreo"}
                    <li>
                        <a title="Envío de Correos" href="@{SendSurvey.index()}"><i class="fa fa-2x fa-envelope"></i>Envío de Correos</a>
                    </li>
                    #{/secure.check}

                    #{secure.check "monitorcorreo"}
                    <li>
                        <a title="Monitor de Correos" href="@{EmailMonitor.index()}"><i class="fa fa-2x fa-envelope"></i>Monitor de Correos</a>
                    </li>
                    #{/secure.check}

                    #{secure.check "plantillacorreo"}
                    <li>
                        <a title="Plantillas de Correos" href="@{EmailTemplates.index()}"><i class="fa fa-2x fa-envelope"></i>Plantillas de Correo</a>
                    </li>
                    #{/secure.check}

                    #{secure.check "encuensta"}
                    <li>
                        <a href="@{SurveysGenerator.index()}" title="Encuestas">
                            <i class="fa fa-2x fa-check"></i> Encuestas
                        </a>
                    </li>
                    #{/secure.check}

                    #{secure.check "seguridad/roles"}
                        <li>
                            <a title="Permisos" href="@{Seguridad.roles()}"><i class="fa fa-2x fa-lock"></i>Permisos</a>
                        </li>
                    #{/secure.check}

                    #{secure.check "seguridad/usuarios"}
                        <li>
                            <a title="Usuarios" href="@{Seguridad.usuarios()}"><i class="fa fa-users"></i>Usuarios</a>
                        </li>
                    #{/secure.check}

                    #{secure.check "estructura"}
                    <li>
                        <a title="Consulta de Estructura" href="@{Structure.getStructure()}"><i class="fa fa-2x fa-cubes"></i>Consulta de Estructura</a>
                    </li>
                    #{/secure.check}
                    #{secure.check "duplicatesvacancies/index"}
                    <li>
                        <a title="Duplicados y Vacantes" href="@{DuplicatesVacancies.index()}"><i class="fa fa-2x fa-files-o"></i>Duplicados y Vacantes</a>
                    </li>
                    #{/secure.check}
                    #{secure.check "estructura"}
                    <li>
                        <a title="Fotos de Estructura" href="@{StructureSnapshots.index()}"><i class="fa fa-2x fa-cubes"></i>Fotos de Estructura</a>
                    </li>
                    #{/secure.check}                    
                    </ul>
                #{/secure.check}
            </li>
            <!-- End Edit -->
            
            <!-- Start Catalogues -->
            <li id="menu-catalogs" class="nav-dropdown">
                #{secure.check "edicion"}
                <a href="#" title="Edición">
                    <i class="fa fa-2x fa-cog"></i> Catálogos y Parámetros
                </a>
                <ul class="nav-sub">
                    #{secure.check "goals/paramgoals"}
                    <li>
                        <a title="Parametrización metas" href="@{Goals.paramGoals()}"><i class="fa fa-2x fa-dot-circle-o"></i>Parametrización metas</a>
                    </li>
                    #{/secure.check}                    
                    #{secure.check "stores/index"}
                    <li>
                        <a title="Tiendas" href="@{Stores.index()}"><i class="fa fa-2x fa-building"></i>Catálogo de Tiendas</a>
                    </li>
                    #{/secure.check}
                </ul>
                #{/secure.check}
            </li>
        </ul>
    </nav>
</div>
