<div class="fixed-side-bar">
    <nav id="nav-nps">
        <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
            <!-- Start Enviroment -->
            <li id="menu-start" class="nav-dropdown">
                #{secure.check "home"}
                    <a href="@{Application.nps()}" title="Resultados">
                        <i class="fa fa-2x">
                            <span class="glyphicon glyphicon-star"></span>
                        </i> Ranking
                    </a>
                #{/secure.check}
                <!--
                <ul class="nav-sub"></ul>
                -->
            </li>

            #{secure.check "administracion"}
            <li id="menu-nps" class="nav-dropdown">
                
                <a href="#" title="Resultados">
                    <i class="fa fa-2x">
                        <span class="glyphicon glyphicon-cog"></span>
                    </i> Administración
                </a>
                <ul class="nav-sub">
                    <li style="display: none;">
                        <a href="@{SurveyGenNPS.index()}"><i class="fa fa-2x"></i>Generador de encuestas</a>
                    </li>
                    <li style="display: none;">
                        <a href="#"><i class="fa fa-2x"></i>Administrador de catálogos</a>
                    </li>
                    <li style="display: none;">
                        <a href="#"><i class="fa fa-2x"></i>Administrador de proveedores</a>
                    </li>
                    <li>
                        <a href="@{UserAdminNPS.index()}"><i class="fa fa-2x"></i>Administración de usuarios</a>
                    </li>
                    <li style="display: none;">
                        <a href="@{EmailSendingNPS.index()}"><i class="fa fa-2x"></i>Envío de Correos</a>
                    </li>
                    <li style="display: none;">
                        <a href="@{EmailNPS.emailMonitor()}"><i class="fa fa-2x"></i>Monitor de Correos</a>
                    </li>
                    <li style="display: none;">
                        <a href="@{EmailNPS.emailTemplate()}"><i class="fa fa-2x"></i>Plantilla de email</a>
                    </li>
                    <li style="display: none;">
                        <a href="@{ErrorAndTaskMonitor.index()}"><i class="fa fa-2x"></i>Panel de errores y monitor de procesos</a>
                    </li>
                    <li>
                        <a href="@{FileLoadNPS.index()}"><i class="fa fa-2x"></i>Carga de archivos</a>
                    </li>
                </ul>
                
            </li>
            #{/secure.check}
            #{secure.check "evaluaciones"}
            <li id="menu-eval" class="nav-dropdown">                 
                    <a href="#" title="Resultados">
                        <i class="fa fa-2x">
                            <span class="glyphicon glyphicon-check"></span>
                        </i> Evaluaciones
                    </a>
                    <ul class="nav-sub">                        
                        <li>
                            <a href="@{Evaluations.index()}"><i class="fa fa-2x"></i>Detalle de evaluaciones</a>
                        </li>                        
                    </ul>               
            </li>
            #{/secure.check}
            <li id="menu-reports" class="nav-dropdown">
                 #{secure.check "reportes"}
                    <a href="#" title="Resultados">
                        <i class="fa fa-2x">
                            <span class="glyphicon glyphicon-duplicate"></span>
                        </i> Reportes
                    </a>
                    <ul class="nav-sub">
                        <li style="display: none;">
                            <a href="@{StructureRanking.index()}"><i class="fa fa-2x"></i>Ranking por Estructura</a>
                        </li>
                        
                        <li>
                            <a href="@{HistoryReport.index()}"><i class="fa fa-2x"></i>Histórico</a>
                        </li>
                        
                        <!--
                        <li style="display: none;">
                            <a href="#"><i class="fa fa-2x"></i>Ejecutivo</a>
                        </li>
                        -->
                        <li style="display: none;">
                            <a href="@{NPS.goalsAndContact()}"><i class="fa fa-2x"></i>Metas y contactación</a>
                        </li>
                        <li style="display: none;">
                            <a href="@{GoalsParam.index()}"><i class="fa fa-2x"></i>Parametrización de Metas</a>
                        </li>
                        <li style="display: none;">
                            <a href="@{NPS.openQuestionsCategorization()}"><i class="fa fa-2x"></i>Categorización de preguntas abiertas</a>
                        </li>
                        
                            <li>
                                <a href="@{Tracing.index()}"><i class="fa fa-2x"></i>Seguimiento</a>
                            </li>
                        
                    </ul>
                 #{/secure.check}
            </li>
        </ul>
    </nav>

    #{common/filtersNPSAndCSI /}
</div>
