<div class='loading-div'>
    <table class='loading-sign'>
        <tbody>
            <tr>
                <td><img class='icon-loading' alt='loading icon' src="@{'/public/assets/img/livLoading.gif'}"></td>
            </tr>
            <tr>
                <td id='loading-sign-msg'>Un momento por favor</td>
            </tr>
        </tbody>
    </table>
</div>
