#{extends 'Layout/default.html' /}
#{set title: 'Administrador de Tareas' /}
#{set location: 'Administración / Administrador de Tareas' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />

<div class="form-horizontal">
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <label class="normal-lbl pull-right">Tipo de archivo</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <select class="form-control">
                    <option value="-1">Seleccione una opción</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <label class="normal-lbl pull-right">Extensión</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <select class="form-control">
                    <option value="-1">Seleccione una opción</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <label class="normal-lbl pull-right">Proveedor</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <select class="form-control">
                    <option value="-1">Seleccione una opción</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3"></div>
            <div class="col-xs-12 col-sm-3 col-md-3"></div>
        </div>
    </div>
    <div class="row file-nps-row">
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <label class="normal-lbl pull-right">Nombre del archivo</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <select class="form-control">
                    <option value="-1">Seleccione una opción</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1">
                <button class="btn btn-success btn-long">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1">
                <button class="btn btn-danger btn-long">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 col-md-3"></div>
            <div class="col-xs-12 col-sm-9 col-md-9">
                <input class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <label class="normal-lbl pull-right">Ruta</label>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
                <input class="form-control">
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3"></div>
            <div class="col-xs-12 col-sm-3 col-md-3"></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <label class="normal-lbl pull-right">Lista de correos confirmación</label>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
                <textarea class="form-control" rows="5"></textarea>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3"></div>
            <div class="col-xs-12 col-sm-3 col-md-3"></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <label class="normal-lbl pull-right">Lista de correos error</label>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
                <textarea class="form-control" rows="5"></textarea>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3"></div>
            <div class="col-xs-12 col-sm-3 col-md-3"></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <button class="btn btn-danger pull-right">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button class="btn btn-success pull-right">
                    <span class="glyphicon glyphicon-lock"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <table id="table-orders" class="liverpool-table">
                    <thead>
                        <tr>
                            <th>Orden</th>
                            <th>Tipo de archivo</th>
                            <th>Nombre</th>
                            <th>Proveedor</th>
                            <th>Fecha última</th>
                            <th>Autor última</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        for(var i = 0; i < 35; i++) {
            $("#table-orders tbody").append(
                "<tr>" +
                    "<td>" +
                        (i + 1) +
                    "</td>" +
                    "<td>" +
                        "Archivo de " + (Math.random() > 0.5 ? "Marcación" : "Resultados") +
                    "</td>" +
                    "<td>" +
                        "XX23042017.txt" +
                    "</td>" +
                    "<td>" +
                        "Call center" + (i + 1) +
                    "</td>" +
                    "<td>" +
                        Liverpool.strDate() +
                    "</td>" +
                    "<td>" +
                        Liverpool.strDate() +
                    "</td>" +
                "</tr>"
            );
        }

        ut.init("table-orders", {
            tableStyling: false,
            pageSize: 10,
            disableSearch: true
        })
    });
</script>