#{extends 'Layout/default.html' /}
#{set title: 'Consulta de Estructura' /}
#{set location: 'CSI / Consulta de Estructura' /}

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />
<style type="text/css">
    .liverpool-table th {
        background-color: #306898 !important;
        border-radius: 0 !important;
        color: #FFF !important;
        height: 25px !important;
    }
</style>
#{/set}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />
<form id="filter-form">
	<div class="form-horizontal">
		<input type="hidden" name="iSortCol_0" id="iSortCol_0" value="">
		<div class="row">
	        <div class="col-xs-12 col-sm-4">
	            <div class="form-group">
	                <div class="col-xs-3">
	                    <label class="normal-lbl">Fecha de Estructura</label>
	                </div>
	                <div class="col-xs-9">
	                    <select id="structureDate" name="structureDate" class="form-control"></select>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-4">
	            <div class="form-group">
	                <div class="col-xs-3">
	                    <label class="normal-lbl">Número de empleado</label>
	                </div>
	                <div class="col-xs-9">
	                    <input type="number" name="userNumber" id="userNumber" class="form-control input-sm"
	                    onkeyup="filterRemove(this);">
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-4">
	            <div class="form-group">
	                <div class="col-xs-3">
	                    <label class="normal-lbl">Usuario</label>
	                </div>
	                <div class="col-xs-9">
	                    <input type="text" id="userName" name="userName" class="form-control input-sm" maxlength="50"
	                    onkeyup="filterRemove(this);">
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-12 col-sm-4">
	            <div class="form-group">
	                <div class="col-xs-3">
	                    <label class="normal-lbl">Ubicación</label>
	                </div>
	                <div class="col-xs-9" id="div_select_location">	                	
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-4">
	            <div class="form-group">
	                <div class="col-xs-3">
	                    <label class="normal-lbl">Sección</label>
	                </div>
	                <div class="col-xs-9" id="div_select_section">	                	
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-4">
	            <div class="form-group">
	                <div class="col-xs-3">
	                    <label class="normal-lbl">Nombre</label>
	                </div>
	                <div class="col-xs-9">
	                    <input type="text" id="employeeName" name="employeeName" class="form-control input-sm" maxlength="50"
	                    onkeyup="filterRemove(this);">
	                </div>
	            </div>
	        </div>
	    </div>
	    
	
	    <!--div class="separator"></div>
	
	    <div class="row">
	    	<div class="col-xs-12 col-sm-12">
	    		<label class="normal-lbl">Departamentos por nivel</label>
	    	</div>
	        <div class="col-xs-12 col-sm-3" id="level-1">
	            <div class="form-group">
	                <div class="col-xs-3">
	                    <label class="normal-lbl">Nivel 1</label>
	                </div>
	                <div class="col-xs-9" id="div_select_level_1">	                	
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-3" id="level-2">
	            <div class="form-group">
	                <div class="col-xs-3">
	                    <label class="normal-lbl">Nivel 2</label>
	                </div>
	                <div class="col-xs-9" id="div_select_level_2">
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-3" id="level-3">
	            <div class="form-group">
	                <div class="col-xs-3">
	                    <label class="normal-lbl">Nivel 3</label>
	                </div>
	                <div class="col-xs-9" id="div_select_level_3">
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-3" id="level-4">
	            <div class="form-group">
	                <div class="col-xs-3">
	                    <label class="normal-lbl">Nivel 4</label>
	                </div>
	                <div class="col-xs-9" id="div_select_level_4">
	                </div>
	            </div>
	        </div>
	    </div>
	
	    <div class="row">
	        <div class="col-xs-12 col-sm-3" id="level-5">
	            <div class="form-group">
	                <div class="col-xs-3">
	                    <label class="normal-lbl">Nivel 5</label>
	                </div>
	                <div class="col-xs-9" id="div_select_level_5">
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-3" id="level-6">
	            <div class="form-group">
	                <div class="col-xs-3">
	                    <label class="normal-lbl">Nivel 6</label>
	                </div>
	                <div class="col-xs-9" id="div_select_level_6">
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-3" id="level-7">
	            <div class="form-group">
	                <div class="col-xs-3">
	                    <label class="normal-lbl">Nivel 7</label>
	                </div>
	                <div class="col-xs-9" id="div_select_level_7">
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-3" id="level-8">
	            <div class="form-group">
	                <div class="col-xs-3">
	                    <label class="normal-lbl">Nivel 8</label>
	                </div>
	                <div class="col-xs-9" id="div_select_level_8">
	                </div>
	            </div>
	        </div>
	    </div-->
	    
	    <div class="row">
        <div class="col-xs-12 col-sm-3 pull-left">
            <div class="col-xs-6">
                <button id="search" class="btn btn-block btn-primary"><i class="fa fa-search"></i></button>
            </div>
            <div class="col-xs-6">
                <button title="Exportar" type="button" id="export" class="btn btn-block btn-primary">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <span class="glyphicon glyphicon-download-alt"></span>
                </button>
            </div>
        </div>
    </div>
    <br/>
	<div class="inner-message" id="message"></div>
	    <div class="separator"></div>
	    
</form>
	    <div class="row">
	    	<div class="col-xs-12">
	            <div class="form-group">
	                <table class="table table-lp table-striped" id="table-structure">
	                	<thead>
	                		<tr>
	                			<!--th onclick="setOrder(0)">#</th-->
	                			<th onclick="setOrder(1)">Ubicación</th>
	                			<th onclick="setOrder(2)"># Empleado</th>
	                			<th onclick="setOrder(3)">Usuario</th>
	                			<th onclick="setOrder(4)">Nombre</th>	      
	                			<th onclick="setOrder(5)">Puesto o Función</th>    
	                			<th onclick="setOrder(6)">Sección/Secciones</th>   			
	                		</tr>
	                	</thead>
	                	<tbody></tbody>
	                </table>
	            </div>
	        </div>
	    </div>

<!-- Modal Principal -->
<div id="modal-structure" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header tab-title">
                <button type="button" class="close btn-modal-close" data-dismiss="modal">&times;</button>
                <h4 class="nomargin">Información del Empleado</h4>
            </div>
            <div class="modal-body no-padding">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ubicación</label>
                        <div class="col-sm-5">
                        	<select id="location-select" class="form-control"></select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Sección</label>
                        <div class="col-sm-5">
                        	<select id="modalSection" multiple="multiple">
                        	</select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Número de Empleado</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalEmployeeNumber" disabled="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nombre de usuario</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalUserName" disabled="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nombre/s del Colaborador</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalFirstName" disabled="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Apellidos del Colaborador</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalLastName" disabled="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Correo Electrónico</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalEmail" maxlength="200" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Responsable / Jefe Directo</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalManager" disabled="">
                            <button type="button" id="btn_manager" class="btn btn-blue">
                                <img src="@{'/public/assets/img/icono_select.png'}"/>
                            </button>
                        </div>
                    </div>                   
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Función</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalFunction" disabled="">
                            <button type="button" id="btn_function" class="btn btn-blue">
                                <img src="@{'/public/assets/img/icono_select.png'}"/>
                            </button>
                        </div>
                    </div>                   
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" id="btn_structure_guardar" class="btn btn-green">
                    <img src="@{'/public/assets/img/icono_guardar.png'}">
                </button>
                <button type="button" class="btn btn-red" data-dismiss="modal"  >
                    <img src="@{'/public/assets/img/icon-close.png'}">
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Cambio de manager -->
<div id="modal-manager" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header tab-title">
                <button type="button" class="close btn-modal-close" data-dismiss="modal">&times;</button>
                <h4 class="nomargin">Asignación de Responsable / Jefe Directo</h4>
            </div>
            <div class="modal-body no-padding">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Número de Empleado</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="modalManagerNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Usuario</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalManagerName">
                        </div>
                    </div>
                    <div class="form-group" id="alert-user" style="display: none;">
                        <div class="col-sm-offset-3 col-sm-5">
                            <div class="alert alert-warning" id="msg-alert-user"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" id="btn_validate_mamager" class="btn btn-green">Validar</button>
                <button type="button" id="btn_change_mamager" class="btn btn-green" disabled="">
                    <img src="@{'/public/assets/img/icono_validar.png'}" alt="" />
                </button>
                <button type="button" class="btn btn-red" data-dismiss="modal">
                    <img src="@{'/public/assets/img/icon-close.png'}">
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modal cambio de Function -->
<div id="modal-function" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header tab-title">
                <button type="button" class="close btn-modal-close" data-dismiss="modal">&times;</button>
                <h4 class="nomargin">Asignación de Función</h4>
            </div>
            <div class="modal-body no-padding">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Función</label>
                        <div class="col-sm-5">
                            <select id="function-select" class="form-control" onchange="activa(this);"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" id="btn_change_function" class="btn btn-green" >
                    <img src="@{'/public/assets/img/icono_validar.png'}" alt="" />
                </button>
                <button type="button" class="btn btn-red" data-dismiss="modal">
                    <img src="@{'/public/assets/img/icon-close.png'}">
                </button>
            </div>
        </div>
    </div>
</div>

#{set 'scripts'}
<script type="text/javascript" src="${play.Play.ctxPath}/static/assets/js/liverpool/csi/csi-structures.js"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/bootstrap-multiselect.js'}"></script>
<link rel="stylesheet" href="@{'/public/assets/css/bootstrap-multiselect.css'}" type="text/css"/>
#{/set}