#{extends 'Layout/default.html' /}
#{set title: 'Análisis Horizontal' /}
#{set location: 'Análisis Horizontal' /}

#{set 'styles'}
<style type="text/css">
    .ut-hidden-row {
        display: none !important;
    }
</style>
#{/set}

<div class="row">
    <div class="form-horizontal">
        <div class="col-xs-4 col-sm-2 col-sm-offset-6">
            <div class="form-group">
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-fit" id="btn-tabla"><span class="glyphicon glyphicon-th"></span> Tabla</button>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2">
            <div class="form-group">
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-fit" id="btn-charts"><span class="glyphicon glyphicon-object-align-bottom"></span> Gráfica</button>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2">
            <div class="form-group">
                <div class="col-xs-12">
                    <button title="Exportar" class="btn btn-primary btn-fit" id="d-excel"><span class="glyphicon glyphicon-download-alt"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="form-horizontal">
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <div class="col-xs-3">
                    <label>Puesto: </label>
                </div>
                <div class="col-xs-9">
                    <select id="select-position" class="form-control">
                        <option value="-1">TODOS</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 hidden">
            <div class="form-group">
                <div class="col-xs-3">
                    <label>Nivel: </label>
                </div>
                <div class="col-xs-9">
                    <select id="select-level" class="form-control">
                        <option value="-1">TODOS</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <div class="col-xs-3">
                    <label>Periodo: </label>
                </div>
                <div class="col-xs-9">
                    <select id="structureDate" class="form-control">
                        #{list items: structureDates, as: 'date'}
                        <option value="${date}">${date}</option>
                        #{/list}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div id="div-table">
    <div class="row">
        <div class="form-horizontal">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="table-responsive" style="border-radius: 4px;">
                            <table id="table-comparative" class="table table-lp table-striped">
                                <thead>
                                    <tr>
                                        <th>Nivel de consulta</th>
                                        <th>Calificación de Clima Laboral</th>
                                        <th>Calificación Liderazgo</th>
                                        <th>Encuestas realizadas</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="div-charts">
    <div id="div_charts" style="height: 300px; width: 100%"></div>
</div>

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highstock.js'}"></script>
<script type="text/javascript">
        var resultsChart = null;
        
        function setHC(categories, env, lead) {
            if (resultsChart !== null) {
                resultsChart.destroy();
            }
            
            var maxX = categories.length < 4 ? categories.length - 1 : 9;
            
            resultsChart = new Highcharts.Chart({
                chart: {
                    renderTo: 'div_charts',
                    type: 'column',
                    zoomType: 'y'
                },
                title: {
                    text: ''
                },
                yAxis: {                
                    title: {
                        text: ''
                    },
                    min: 0,
                    max: 100
                },
                xAxis: {
                    categories: categories,
                    crosshair: true,
                    min: 0,
                    max: maxX
                },
                series: [
                    {
                        name: 'Calificación de Clima Laboral',
                        data: env,
                        tooltip: {
                            pointFormatter: function () {
                                return '<tr><td style="color:' + this.series.color + ';padding:0">' + this.series.name + ': </td>' +
                                '<td style="padding:0"><b>' + this.y.toFixed(2) + '</b></td></tr>';
                            }
                        },
                        color: '#337AB7',
                        dataLabels: {
                            enabled: true,
                            rotation: 0,
                            color: '#000000',
                            align: 'center',
                            style: {
                                fontSize: '7px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    },
                    {
                        name: 'Calificación Liderazgo',
                        data: lead,
                        color: '#5CB85C',
                        dataLabels: {
                            enabled: true,
                            rotation: 0,
                            color: '#000000',
                            align: 'center',
                            style: {
                                fontSize: '7px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    }
                ],
                tooltip: {
                    headerFormat: '<span style="font-size:7px">{point.key}</span><table>',
                    pointFormat: 
                        '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                scrollbar: {
                    enabled: true,
                    barBorderRadius: 5,
                    barBorderWidth: 0,
                    buttonBorderWidth: 0,
                    buttonArrowColor: 'blue',
                    buttonBorderRadius: 7,
                    rifleColor: 'blue',
                    trackBackgroundColor: 'white',
                    trackBorderWidth: 1,
                    trackBorderColor: 'silver',
                    trackBorderRadius: 7
                }
            });
        }

	function createCharts() {
            var scoreEnv  = [];
            var scoreLead = [];
            var positions = [];
            
            $("#table-comparative tbody tr[row-type=liver-row]").each(function(i, v) {
                var $tr = $(v);
                
                scoreEnv.push(Number($("td:nth-child(2)", $tr).text()));                
                scoreLead.push(Number($("td:nth-child(3)", $tr).text()));
                
                positions.push($("td:nth-child(1)", $tr).text().replace('-', '<br />'));
            });
            
            setHC(positions, scoreEnv, scoreLead);
	}

	function insertRows(id, data) {
            $(id + " tbody").html("");

            for(var i = 0; data && i < data.length; i++) {
                var item = data[i];

                $(id +" tbody").append(
                    "<tr row-type='liver-row'>" +
                        "<td>" +
                            item[0] +
                        "</td>" +
                        "<td class='colored-td'>" +
                            (item[1] ? Number(item[1]).toFixed(2) : 0) +
                        "</td>" +
                        "<td class='colored-td'>" +
                            (item[2] ? Number(item[2]).toFixed(2) : 0) +
                        "</td>" +
                        "<td class='text-center'>" +
                            (item[3] || 0) +
                        "</td>" +
                    "</tr>"
                );						
            }

            if(data && data.length > 0) {
                insertFinalRow();
            } else {
                $(id +" tbody").append(
                    "<tr>" +
                        "<td colspan='4' style='text-align: center;'>" +
                                "No hay resultados" +
                        "</td>" +
                    "</tr>"
                );	
            }

            createCharts();
	}

	function insertFinalRow() {
            var totalWorkingEnvironment = Table.getAverageFromTableColumn("#table-comparative", 2);
            var totalLeadership = Table.getAverageFromTableColumn("#table-comparative", 3);
            var totalSurveys = Table.getTotalFromTableColumn("#table-comparative", 4);

            $("#table-comparative tbody").append(
                "<tr>" +
                    "<td>" +
                        "Calificación total" +
                    "</td>" +
                    "<td class='colored-td'>" +
                        totalWorkingEnvironment.toFixed(2) +
                    "</td>" +
                    "<td class='colored-td'>" +
                        totalLeadership.toFixed(2) +
                    "</td>" +
                    "<td class='text-center'>" +
                        totalSurveys +
                    "</td>" +
                "</tr>"
            );

            Table.applyBlueShades("#table-comparative");
	}
        
        function fillTable(url, data) {
            Liverpool.loading("show");
            
            $.ajax({
                url: url,
                type: "GET",
                data: data
            }).done(function(data, textStatus, jqXHR) {	
                Liverpool.loading('hide');
                
                insertRows("#table-comparative", data);
                Table.applyBlueShades("#table-comparative");                                
                ut.refresh("table-comparative");
                
                if(data && data.length == 0) {
                    swal("Mensaje", "No hay datos disponibles para los filtros seleccionados", "warning");
                }
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
                Liverpool.loading('hide');
            });
        }
        
	function getByDirectorOrDireccion(area, text) {
            fillTable("@{getByDirectorOrDireccion()}", {
                "area": area,
                "text": text,
                "date": $("#structureDate").val()
            });
	}
        
        function fillRegionCombo() {
            $("#select-region option[value='norte']").remove();
            $("#select-region option[value='sur']").attr("value", "nortesur")
            .html("Gerencia Centros Comerciales");
        }
        
        function fillDefaultTable() {
            Liverpool.loading('show');
            
            $.ajax({
                url: "@{getDefaultTable()}",
                type: "GET",
                data: {
                        "date": $("#structureDate").val()
                }
            }).done(function(data, textStatus, jqXHR) {
                Liverpool.loading('hide');
                
                if(data && data.length == 0) {
                    swal("Mensaje", "No hay datos disponibles para los filtros seleccionados", "warning");
                    return;
                }

                insertRows("#table-comparative", data);
                Table.applyBlueShades("#table-comparative");
                ut.refresh("table-comparative");               
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
                Liverpool.loading('hide');
            });
        }
        
        function fillSelectFromObject(selectId, data) {
            $("#" + selectId).html("<option value='-1'>TODOS</option>");
            
            for(var i = 0; i < data.length; i++) {
                var option = data[i];
                $("#select-position").append(
                    "<option value='" + option.value + "'>" +
                        option.name +
                    "</option>"
                );
            }
        }
        
        function fillSelectFromArray(selectId, data) {
            $("#" + selectId).html("<option value='-1'>TODOS</option>");
            
            for(var i = 0; data && i < data.length; i++) {
                var item = data[i];

                $("#select-level").append(
                    "<option value='" + item[0] + "'>" +
                        item[1] +
                    "</option>"
                );
            }
        }
        
        positionObjects = [
            {'name': 'Director Almacén', 'value': 'Director Almacén'},
            {'name': 'Gerente Almacén', 'value': 'Gerente Almacén'},
            {'name': 'Jefe Departamento', 'value': 'Jefe Departamento'},
            {'name': 'Jefe de Prevención', 'value': 'Jefe de Prevención'},
            {'name': 'Jefe Presentación Visual y Display', 'value': 'Jefe Presentación Visual y Display'},
            {'name': 'Jefe Recursos Humanos', 'value': 'Jefe Recursos Humanos'},
            {'name': 'Jefe Mantenimiento', 'value': 'Jefe Mantenimiento'},
            {'name': 'Jefe Administrativo', 'value': 'Jefe Administrativo'}
        ]
        
	managementOptions = [
            {"name": "Centros comerciales", "value": "malls"}
	];

	otherCaseOptions = [
            {"name": "Director operaciones", "value": "operMan"},
            {"name": "Director Almacén", "value": "storeMan"},
            {"name": "Gerente", "value": "manager"},
            {"name": "Jefatura", "value": "boss"}
	];

	levelOptions = [
            //{"name": "Administrador General", "value": "genMan"},
            //{"name": "Jefatura Administrativa", "value": "bossMan"},
            //{"name": "Jefatura Cobranza y Mercadotecnia", "value": "bossMarket"},
            {"name": "Jefatura Estacionamiento", "value": "bossParking"},
            {"name": "Jefatura Mantenimiento", "value": "bossUpkeep"},
            //{"name": "Jefatura Publicidad", "value": "bossAds"},
            //{"name": "Jefatura Seguridad", "value": "bossSecurity"}
	];

	$(document).ready(function() {
            //Init just once!
            ut.init("table-comparative", {
                disableSearch: true,
                tableStyling: false,
                pageSize: 20
            });
        
            $("#select-level").attr("disabled", "disabled");
            
            // Fill region combo:
            fillRegionCombo();
            
            // Fill position combo:
            fillSelectFromObject("select-position", positionObjects);
            
            // Fill default table:
            fillDefaultTable();

            $("#select-region").change(function() {                
                var zone = $("#select-region option:selected").val();
                var position = $("#select-position option:selected").val();
                var date = $("#structureDate option:selected").val();
                
                if (zone !== "-1") {
                    fillTable("@{getTable()}", {
                        "date": date,
                        "zone": zone,
                        "position": position
                    });
                } else {
                    fillDefaultTable();
                }
            });

            $("#select-position, #structureDate").change(function() {
                var position = $("#select-position option:selected").val();
                var date = $("#structureDate option:selected").val();
                
                fillTable("@{getTable()}", {
                    "date": date,
                    "position": position
                });
            });

            $("#select-level").change(function() {
                    var v = $(this).val();
                    var pos = $("#select-position").val();

                    if(pos == "operMan") {
                        // Fill table:
                        fillTable("@{getTableByArea()}", {
                            "area": v
                        });
                } else if(pos == "boss") {
                    if(v != "-1") {
                        var keys = {
                            "genMan": {
                                "par1": "",
                                "par2": "Administrador General Adcones"
                            },
                            "bossMan": {
                                "par1": "",
                                "par2": ""
                            },
                            "bossMarket": {
                                "par1": "",
                                "par2": "Jefe de Cobranza y Mercadotecnia"
                            },
                            "bossParking": {
                                "par1": "Jefatura Estacionamiento A",
                                "par2": "Jefe de Estacionamiento"
                            },
                            "bossUpkeep": {
                                "par1": "Jefatura Mantenimiento A",
                                "par2": "Jefe Mantenimiento"
                            },
                            "bossAds": {
                                "par1": "",
                                "par2": ""
                            },
                            "bossSecurity": {
                                "par1": "",
                                "par2": ""
                            },
                        };

                        var par1 = keys[v].par1;
                        var par2 = keys[v].par2;

                        if(!(par1.length == 0 || par2.length == 0)) {
                            // Fill table:
                            fillTable("@{getByBoss()}", {
                                "par1": par1,
                                "par2": par2
                            });
                        } else {
                            console.log("no parameters");
                        }
                    }
                } else {// Director Almacen or Gerente:

                }
            });

            $("#btn-charts").click(function() {
                $("#div-table").hide();
                $("#div-charts").show();
                resultsChart.reflow();
            });

            $("#btn-tabla").click(function() {
                $("#div-table").show();
                $("#div-charts").hide();
            }).click();

            $("#d-excel").click(function() {
                Table.exportToExcel("#table-comparative", "HorizontalAnalysis/exportTemplate.xls", "AnálisisHorizontal.xls");
            });
	});
</script>
#{/set}