#{extends 'Layout/default.html' /}
#{set title: 'Duplicados y Vacantes' /}
#{set location: 'Duplicados y Vacantes' /}

<div class="row">
    <div class="col-md-6">
        <h2 class="page-heading">Duplicados y Vacantes</h2>
    </div>
</div>

<hr />

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#duplicates" aria-controls="factors-subfactors" role="tab" data-toggle="tab">Duplicados</a></li>
    <li role="presentation"><a href="#vacancies" aria-controls="questions-list" role="tab" data-toggle="tab">Vacantes</a></li>        
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="duplicates">
        <div class="message-duplicate"></div>
        <div class="row">
            <div class="col-md-6">
                <form id="search-duplicate-form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                #{duplicates_vacancies/periods structureDates: structureDates, id: 'duplicate-period-table' /}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="duplicate-search-term">Buscar</label>
                                <input type="text" id="duplicate-search-term" class="form-control" placeholder="Número de empleado, nombre..." />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label block">&nbsp;</label>
                            <button type="submit" class="btn btn-info search"><i class="fa fa-search"></i></button>
                        </div>
                    </div>                    
                </form>
            </div>            
            <div class="col-md-6 text-right">
                <label class="control-label block">&nbsp;</label>
                <button id="add-duplicate" class="btn btn-green" title="Agregar"><i class="glyphicon glyphicon-plus"></i> Agregar Duplicado</button>
            </div>
        </div>

        <div class="separator"></div>

        <div class="table-responsive">
            <table id="duplicates-table" class="table table-lp left-align-text table-striped">
                <thead>
                    <tr>
                        <th>Núm. Empleado</th>
                        <th>Nombre</th>
                        <th>Ubicación</th>
                        <th>Puesto</th>
                        <th>Jefe</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="vacancies">
        <div class="message-vacant"></div>
        <div class="row">
            <div class="col-md-6">
                <form id="search-vacant-form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                #{duplicates_vacancies/periods structureDates: structureDates, id: 'vacant-period-table' /}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="vacant-search-term">Buscar</label>
                                <input type="text" id="vacant-search-term" class="form-control" placeholder="Nombre..." />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label block">&nbsp;</label>
                            <button type="submit" class="btn btn-info search"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>            
            <div class="col-md-6 text-right">
                <label class="control-label block">&nbsp;</label>
                <button id="add-vacant" class="btn btn-green" title="Agregar"><i class="glyphicon glyphicon-plus"></i> Agregar Vacante</button>
            </div>
        </div>

        <div class="separator"></div>

        <div class="table-responsive">
            <table id="vacancies-table" class="table table-lp left-align-text table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Ubicación</th>
                        <th>Puesto</th>
                        <th>Jefe</th>
                        <th>Correo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="duplicates-modal" class="modal-contents"></div>
<div id="vacancies-modal" class="modal-contents"></div>

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/jquery-ui/jquery-ui-1.10.0.custom.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/js/components/select2/select2.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/select2/select2-bootstrap3.css'}" />

<style>
    .ui-autocomplete {
        z-index: 10000 !important;
    }
    
    .sweet-alert input {
        display: none !important;
    }
</style>
#{/set}

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/jquery-ui/jquery-ui-1.10.3.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/select2/select2.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/select2/select2_locale_es.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/duplicates-vacancies.js'}"></script>
#{/set}