<div id="mdl-add-vacant" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="vacancies-form" action="@{DuplicatesVacancies.saveVacant()}" data-type="vacant">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <span class="modal-title" style="color: #fff;">
                        ${isEdit ? 'Editar' : 'Agregar'} Vacante
                    </span>
                </div>
                <div class="modal-body">
                    <div class="inner-message-vacant"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                #{if isEdit}
                                <input type="hidden" name="userId" value="${employee?.userId}" />
                                <input type="hidden" name="structureDateVacant" value="${employee?.structureDate?.format('MM/yyyy')}" />
                                #{/if}
                                
                                #{duplicates_vacancies/periods 
                                    structureDates: structureDates,
                                    id: 'vacant-period',
                                    name: 'structureDateVacant',
                                    selected: employee?.structureDate?.format('MM/yyyy'),
                                    edit: isEdit
                                /}
                            </div>

                            <div class="form-group">
                                #{duplicates_vacancies/functions functions: functions, id: 'vacant-function', name: 'function', selected: employee?.function /}
                            </div>

                            <div class="form-group">
                                #{duplicates_vacancies/stores stores: stores, id: 'vacant-location', name: 'location', selected: employee?.idStore /}
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    Puesto
                                </label>
                                <input type="text" id="vacant-position" name="position" class="form-control input-sm" value="${employee?.title}" />
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label">
                                    Jefe
                                </label>
                                <input type="text" 
                                    id="manager-name" 
                                    class="form-control input-sm"
                                    value="${manager != null ? manager?.firstName + ' ' + manager?.lastName : ''}"
                                />
                                <input type="hidden" name="managerUserId" id="manager-user-id" value="${manager?.userId}" />
                            </div>                    
                        </div>
                        <div class="col-md-6">
                            <div class="form-group clearfix">
                                <label class="control-label">
                                    Dependientes
                                </label>
                                <div>
                                    <div style="position: relative; width: 300px; float: left;">
                                        <input type="text" name="dependant" class="form-control input-sm dependant" id="ac-vacant" data-type="vacant" />
                                        <input type="hidden" id="vacant-id" value="" />
                                    </div>                                    
                                    <button type="button" class="btn btn-info pull-right add-dependant" data-type="vacant" disabled><i class="fa fa-plus"></i> Agregar</button>
                                </div>                                    
                            </div>

                            <div class="employees">
                                <ul id="vacant-dependants" class="list-unstyled">
                                    #{list items: dependants, as: 'dependant'}
                                    <li class="clearfix">
                                        ${dependant.firstName} ${dependant.lastName}
                                        <input type="hidden" name="dependants[]" value="${dependant.userId}" />
                                        <span class="remove-dependant"><i class="fa fa-times"></i></span>
                                    </li>
                                    #{/list}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="modal-footer">
                    <input type="hidden" name="actionVacant" value="${isEdit ? 'E' : 'I'}" />
                    <button type="submit" class="btn btn-green">${isEdit == true ? 'Aceptar' : 'Agregar'}</button>
                    <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cancelar</button>            
                </div>
            </form>
        </div>
    </div>
</div>