<tr>
    <td class="col-md-6">
        <input type="text" id="choice-text-${uuid}" class="form-control input-sm required" name="question.choices[${uuid}][choiceText]" />
    </td>
    <td>
        <input type="text" id="choice-value-${uuid}" class="form-control input-sm" name="question.choices[${uuid}][choiceNumericValue]" />
    </td>
    <td class="col-md-1 text-center">
        <button type="button" class="btn btn-red btn-sm delete-choice">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </td>
</tr>
