<div class="modal-dialog modal-md">
    <div class="modal-content">
        <form id="survey-create-form" action="@{save()}" enctype="multipart/form-data" method="POST">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span id="modal-title" class="modal-title">
                    Editar Encuesta
                </span>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="inner-message"></div>
                <div class="form-group">
                    <label class="control-label">
                        Nombre de la encuesta
                    </label>
                    <input type="text" id="name" name="survey.name" class="form-control input-sm required" value="${survey.name}" maxlength="200" />
                </div>
                
                #{if survey.surveyType == null}
                <div class="">
                    <div class="form-group">
                        <label class="control-label">
                            Periodo
                        </label>
                        <div class="row">
                            <div class="col-sm-6">
                                <select id="month" name="month" class="form-control input-sm required">
                                    <option value="">Seleccionar mes</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <select id="year" name="year" class="form-control input-sm required">
                                    <option value="">Seleccionar año</option>
                                    #{list items: years, as: 'year'}
                                    <option value="${year}">${year}</option>
                                    #{/list}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                #{/if}
                #{else}
                <div class="form-group">
                    <label class="control-label">
                        Periodo
                    </label>
                    <input type="text" class="form-control input-sm" value="${survey.surveyDate?.format('MM/YYYY')}" readonly="" />
                </div>
                #{/else}
                
                <div class="input-daterange">
                    <div class="form-group">
                        <label class="control-label">
                            Vigencia
                        </label>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" id="dateInitial" name="survey.dateInitial" class="form-control input-sm date-picker required" maxlength="10" value="${survey.dateInitial?.format('dd/MM/yyyy')}">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" id="dateEnd" name="survey.dateEnd" class="form-control input-sm date-picker required" maxlength="10" value="${survey.dateEnd?.format('dd/MM/yyyy')}">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                #{if survey.surveyType == null}
                <div class="form-group">
                    <label class="control-label">
                        Tipo de Encuesta
                    </label>
                    <select id="surveyType" name="survey.surveyType.id" class="form-control input-sm required" disabled>
                        <option value="">Seleccionar tipo de encuesta</option>
                        #{list items:surveyTypes, as:'type'}
                        <option value="${type.id}">${type.subType}</option>
                        #{/list}
                    </select>
                </div>
                #{/if}
                
                <div class="form-group">
                    <label class="control-label">
                        Encuesta para
                    </label>
                    <div class="structure form-control" style="min-height: 300px; max-height: 500px; overflow-y: auto;">
                        <div id="structureTree"></div>
                    </div>
                </div>
                
                <input type="hidden" id="id" name="survey.id" value="${survey.id}" />                
                <input type="hidden" id="userIds" name="userIds" value="" />
                <input type="hidden" id="deselectedUserIds" name="deselectedUserIds" value="" />
                
                #{if survey.surveyType != null}
                <input type="hidden" id="month" name="month" value="${month}" />
                <input type="hidden" id="year" name="year" value="${year}" />
                <input type="hidden" id="surveyType" value="${survey.surveyType?.id}" />
                #{/if}
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="submit" class="btn btn-green" id="save">Guardar</button>
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </form>
    </div>
</div>