<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="information-sections-form" action="@{saveSection()}" method="post">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span id="modal-title" class="modal-title">
                    Editar sección final
                </span>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="inner-message"></div>
                <div class="form-group">
                    <textarea class="form-control tiny required" name="survey.endSection">${survey.endSection}</textarea>
                </div>
                
                <input type="hidden" name="survey.id" value="${survey.id}" />
            </div>
            <div class="modal-footer" id="modal-footer" style="cursor: move;">
                <button type="submit" class="btn btn-green" id="save">Aceptar</button>
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </form>
    </div>
</div>