#{extends 'Layout/default.html' /}
#{set title: 'Encuestas' /}
#{set location: 'Encuestas' /}

#{if place == 'NPS' }
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
#{/if}

<div class="row">
    <div class="col-md-6">
        <h2 class="page-heading">Encuestas</h2>
    </div>
    <div class="col-md-6">                    
        <div class="export text-right">
            <button id="calculate" class="btn btn-primary" title="Calcular Calificaciones"><i class="fa fa-calculator "></i> Calcular Calificaciones</button>
            
            #{secure.check "surveysgenerator/export"}
            <button id="download" class="btn btn-info" title="Exportar"><i class="glyphicon glyphicon-download-alt"></i> Exportar</button>
            #{/secure.check}
            #{secure.check "surveysgenerator/copy"}
            <button id="copy" class="btn btn-warning" title="Copiar"><i class="glyphicon glyphicon-copy"></i> Copiar</button>
            #{/secure.check}            
            #{secure.check "surveysgenerator/addSurvey"}
            <button id="add" class="btn btn-green" title="Agregar"><i class="glyphicon glyphicon-plus"></i> Agregar</button>
            #{/secure.check}
        </div>
    </div>
</div>

<div class="separator"></div>
<div class="message"></div>

<div class="row mt-20">
    <div class="col-md-12" id="usuarios-list">
        <div class="table-responsive">
            <table class="table table-lp left-align-text table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Tipo de Encuesta</th>
                        <th>Fecha de Creación</th>
                        <th>Fecha Última Modificación</th>
                        <th>Autor Última Modificación</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="mdl-add-edit" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade"></div>

#{secure.check "surveysgenerator/editSurvey"}
<input type="hidden" id="edit-survey" value="true" />
#{/secure.check}
#{secure.check "surveysgenerator/deleteSurvey"}
<input type="hidden" id="delete-survey" value="true" />
#{/secure.check}

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/js/components/jstree/themes/default/style.min.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/timepicker/bootstrap-timepicker.min.css'}" />
#{/set}

#{set 'scripts'}
#{if place == 'NPS' }
<script type="text/javascript">
    var flagNPS = true;
</script>
#{/if}

<script type="text/javascript" src="@{'/public/assets/js/components/jstree/jstree.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/surveys-generator-index.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/timepicker/bootstrap-timepicker.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/task-scheduler.js'}"></script>
#{/set}
