#{list items:questions, as:'question'}
<tr data-id="">
    <td>${question.order}</td>
    <td>${question.questionType.name}</td>
    <td>${question.question}</td>
    <td>${question.weighing}</td>
    <td>${question.modificationDate?.format('dd/MM/yyyy')}</td>
    <td>${question.modifiedBy?.nombre}</td>
    <td>
        <button class="btn btn-warning edit" data-id="${question.id}"><i class="glyphicon glyphicon-pencil"></i></button>
        <button class="btn btn-red delte" data-id="${question.id}"><i class="glyphicon glyphicon-trash"></i></button>
    </td>
</tr>
#{/list}