#{extends 'Layout/preview.html' /}
#{set title: survey.name /}
#{set surveyType: 'Clima' /}

<div class="survey-wrapper">
    <div class="container">
        <div id="page-start">
            #{survey_preview/start welcome: survey.initialSection /}
        </div>
        
        <div id="title-progress" class="hidden">
            <h2 class="text-center">
                <img src="@{'/public/assets/img/icon-clima.png'}" alt="Clima Liverpool" />
                ${survey.name}
            </h2>
            <div id="survey-progress">
                <div class="current-progress">
                    Avance <span id="current-survey-password">0</span>%
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                </div>
            </div>
        </div>
        
        <form id="survey-form" class="pages">
            #{list items:questions, as:'pages'}            
            <div id="page-${pages_index}" class="page hidden">
                %{
                    nextPage    = questions.size() == pages_index ? 'end' : pages_index + 1;
                    nextText    = questions.size() == pages_index ? 'Terminar' : 'Continuar >';
                    prevPage    = pages_index == 1 ? 'start' : pages_index - 1;
                    counterBase = pages_index == 1 ? 0 : (pages_index - 1) * 10;
                    counterLastCount = 0;
                }%
                <div class="questions-wrapper">
                    #{if pages_index == 1}
                        #{survey_preview/initialInfo manager:manager /}                    
                    #{/if}
                    
                    #{list pages.keySet(), as:'type'}
                        %{
                            counterBase += type_index == 1 ? 0 : counterLastCount;
                            counterLastCount = pages.get(type).size();
                        }%
                        #{if type.equals("CARAS")}
                            #{survey_preview/faces questions: pages.get(type), current: pages_index, next: nextPage, counter: counterBase /}
                        #{/if}
                        #{if type.equals("SI / NO")}
                            #{survey_preview/yesno questions: pages.get(type), current: pages_index, next: nextPage, counter: counterBase /}
                        #{/if}
                        #{if type.equals("OPCIONES MULTIPLES")}
                            #{survey_preview/multiple questions: pages.get(type), current: pages_index, next: nextPage, counter: counterBase /}
                        #{/if}
                        #{if type.equals("ABIERTAS")}
                            #{survey_preview/open questions: pages.get(type), current: pages_index, next: nextPage, counter: counterBase /}
                        #{/if}
                    #{/list}
                </div>
                
                <div class="survey-actions">
                    <button type="button" class="btn btn-survey prev-page" data-current="${pages_index}" data-prev="${prevPage}">< Regresar</button>
                    <button type="button" class="btn btn-survey next-page" data-current="${pages_index}" data-next="${nextPage}">${nextText}</button>
                </div>
            </div>            
            #{/list}
            <div id="page-end" class="hidden">
                #{survey_preview/end end: survey.endSection /}
            </div>
        </form>
    </div>
</div>

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/liverpool/survey-preview.js'}"></script>
#{/set}