#{include 'SurveyCSI/survey.html' /}
#{common/waitscreen /}
#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/liverpool/csi-survey.js'}"></script>
<script type="text/javascript">
    new AnswerSurvey(false);
</script>
#{/set}