#{extends 'Layout/preview.html' /}
#{set title: survey.name /}
#{set surveyType: 'CSI' /}

<div class="survey-wrapper">
    <div class="container">
        <div id="page-start">
            #{csi/survey/start welcome: survey.initialSection, evaluated: evaluated /}
        </div>
        
        <div id="title-progress" class="hidden">
            <h2 class="text-center">
                <img src="@{'/public/assets/img/icon-clima.png'}" alt="Clima Liverpool" />
                ${survey.name}
            </h2>
            <div id="survey-progress">
                <div class="current-progress">
                    Avance <span id="current-survey-password">0</span>%
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                </div>
            </div>
        </div>
        
        <form id="survey-form" class="pages">
            #{list items:evaluated, as: 'person'}
            <div id="page-${person_index}" class="page hidden">
                %{
                    nextPage    = evaluated.size() == person_index ? 'end' : person_index + 1;
                    nextText    = evaluated.size() == person_index ? 'Terminar' : 'Continuar >';
                    prevPage    = person_index == 1 ? 'start' : person_index - 1;
                }%
                
                <div class="initial-information">
                    <p>
                        La persona a la que evaluas es: <strong>${person[1]} ${person[2]}</strong>
                    </p>
                </div>
                
                <div class="questions-wrapper">
                    #{list items:questions, as: 'pages'}
                        %{
                            counterBase = pages_index == 1 ? 0 : (pages_index - 1) * 10;
                            counterLastCount = 0;
                        }%
                        #{list pages.keySet(), as: 'type'}
                            %{
                                counterBase += type_index == 1 ? 0 : counterLastCount;
                                counterLastCount = pages.get(type).size();
                            }%
                            #{if type.equals("NUMERICA")}
                                #{csi/survey/numeric
                                    questions: pages.get(type),
                                    evaluatedId: person[0],
                                    counter: counterBase
                                /}
                            #{/if}
                            #{if type.equals("ABIERTAS")}
                                #{csi/survey/open
                                    questions: pages.get(type),
                                    evaluatedId: person[0],
                                    counter: counterBase
                                /}
                            #{/if}
                        #{/list}
                    #{/list}
                </div>
                
                <div class="survey-actions">
                    <button type="button" class="btn btn-survey prev-page ${person_index > 1 ? 'hidden' : ''}" data-current="${person_index}" data-prev="${prevPage}">< Inicio</button>
                    <button type="button" class="btn btn-survey next-page" data-current="${person_index}" data-next="${nextPage}">${nextText}</button>
                </div>
            </div>
            #{/list}
            <div id="page-end" class="hidden">
                #{csi/survey/end end: survey.endSection /}
            </div>
            <input type="hidden" id="survey-id" name="surveyId" value="${surveyId}" />
        </form>
    </div>
</div>