#{extends 'Layout/error.html' /}
#{set title:'Acceso no permitido' /}

<div class="row">
    <div class="col-sm-12">
        <div class="text-center well">
                <p style="color: #555555">
                    <i class="icon-remove"></i> Acceso denegado a la aplicación                   
                </p>
                <br />
                <button class="btn btn-custom" onclick="closeSession('@{Secure.logout()}');">Cerrar</button>
        </div>
    </div>
</div>