#{extends 'Layout/error.html' /}
#{set title:'Acceso no permitido' /}

<div class="row">
    <div class="col-sm-12">
        <div class="well text-center">
            <p style="color: #555555">
                <i class="icon-remove"></i> No cuenta con los permisos necesarios para efectuar la acción solicitada
            </p>
            <br />                
            <button class="btn btn-primary" onclick="history.back(-1)">Regresar</button>
        </div>
    </div>
</div>