#{extends 'Layout/error.html' /}
#{set title:'Página no encontrada' /}

<div class="row">
    <div class="col-sm-12">
        <div class="well text-center">
            <p style="color: #555555">
                <i class="icon-remove"></i> La página solicitada no fue encontrada. Por favor, verifique que la url sea la correcta.                   
            </p>
            <br />                
            <button class="btn btn-primary" onclick="history.back(-1)">Regresar</button>
        </div>
    </div>
</div>