#{if exception instanceof play.exceptions.PlayException}
    #{extends 'Layout/error.html' /}
    #{set title:'Error Interno' /}

    #{if play.mode.name() == 'DEV'}
        #{500 exception /}
    #{/if}
    #{else}
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <p style="color: #555555">
                    <i class="icon-remove"></i> 
                    Error interno del sistema. Si el problema persiste contacte al departamento de Sistemas.
                    <br />
                    <br />
                    Excepción: <strong><em>${exception.getMessage()}</em></strong>
                    <br />
                    ID del suceso/excepción: <strong><em>${exception.id}</em></strong>
                </p>                        
                <br />
                <div class="text-center">
                    <button class="btn btn-primary" onclick="history.back(-1)">Regresar</button>
                </div>
            </div>
        </div>
    </div>
    #{/else}
#{/if}