#{extends 'Layout/default.html' /}
#{set title: 'Parametrización de Metas' /}
#{set location: 'Parametrización de Metas' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/circle.css'}" />

<div class="form-horizontal">
    <div class="row">
        <div class="col-xs-8">
            <div class="form-group">
                <div class="bs-example">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#sectionA">Metas NPS</a></li>
                        <li><a data-toggle="tab" href="#sectionB">Metas Marcación</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="sectionA" class="tab-pane fade in active">
                            <div class="form-group">
                                <div class="col-xs-12 col-md-4">
                                    <label class="normal-lbl">Meta P1</label>
                                    <input type="text" class="form-control percent" placeholder="%">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-md-4">
                                    <label class="normal-lbl">Meta P2</label>
                                    <input type="text" class="form-control percent" placeholder="%">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-md-4">
                                    <button class="btn btn-primary btn-lg">
                                        <span class="glyphicon glyphicon-ok col-xs-12"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="sectionB" class="tab-pane fade">
                            <div class="form-group">
                                <div class="col-xs-12 col-md-6">
                                    <select class="form-control">
                                        <option value="-1">Seleccione una opción</option>
                                        <option value="1">Zona 1</option>
                                        <option value="2">Zona 2</option>
                                        <option value="3">Zona 3</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label class="normal-lbl pull-right">Meta</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <input type="text" class="form-control percent">
                                </div>
                                <div class="col-xs-12 col-md-1">
                                    <label class="normal-lbl">%</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-md-6">
                                    <select class="form-control">
                                        <option value="-1">Seleccione una opción</option>
                                        <option value="1">Área 1</option>
                                        <option value="2">Área 2</option>
                                        <option value="3">Área 3</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-2"></div>
                                <div class="col-xs-12 col-md-4">
                                    <button class="btn btn-primary btn-lg">
                                        <span class="glyphicon glyphicon-ok col-xs-12"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <table id="table-1" class="liverpool-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Zona</th>
                                            <th>Área</th>
                                            <th>Porcentaje</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts-more.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/solid-gauge.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/goalsParam.js'}"></script>

#{set 'scripts'}

#{/set}
