#{extends 'Layout/default.html' /}
#{set title: 'Matriz de Resultados' /}
#{set location: 'Matriz de Resultados' /}
<link href="@{'/public/stylesheets/jquery-treetable/jquery.treetable.css'}" rel="stylesheet" type="text/css" />
<link href="@{'/public/stylesheets/jquery-treetable/jquery.treetable.theme.default.css'}" rel="stylesheet" type="text/css" />

<script src="@{'/public/javascripts/libs/jquery-treetable/jquery.treetable.js'}"></script>

<style media="screen">
    .header_padre {
        background-color: #306898;
        color: #ffffff;
        -moz-border-top-left-radius: 25px;
        -moz-border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

</style>

<div class="row form-horizontal">
    <div id="select-levels-zone">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Fecha de estructura ${date}</label>
                    </div>
                    <div class="col-xs-9">
                        <select class="form-control" id="structureDate">
                            #{list items: structureDates, as: 'date'}
                            <option value="${date}">${date}</option>
                            #{/list}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="separator"></div>

<div class="row form-horizontal">
    <div id="select-levels-zone">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 1</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_1"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 2</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_2"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 3</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_3"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 4</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_4"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 5</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_5"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 6</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_6"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 7</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_7"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Nivel 8</label>
                    </div>
                    <div class="col-xs-9" id="div_select_level_8"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row form-horizontal">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 hidden">
        <div class="form-group">
            <button id="search" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="form-group">
            <a href="@{ExportResultMatrix.export()}" id="export" class="btn btn-block btn-primary" title="Exportar">
                <img src="@{'/public/assets/img/icon-save.png'}">
            </a>
        </div>
    </div>
</div>

<div class="separator"></div>

<div class="row">
    <div id="direct-score" style="display: none;">
        
    </div>
    <div id="tree-score">
        
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="div_table_matriz" class="table-responsive">
            <ul id="matrix-tabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#matrix-environment" aria-controls="matrix-environment" role="tab" data-toggle="tab">Calificación Clima</a></li>
                <li role="presentation"><a href="#matrix-direct" aria-controls="matrix-direct" role="tab" data-toggle="tab">Calificación Directa</a></li>        
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="matrix-environment">                    
                    <div class="table-responsive">
                        <table class="table-lp table resume-table">
                            <thead>
                                <tr>
                                    <th colspan="5">
                                        Calificación De Clima Organizacional
                                    </th>
                                </tr>
                                <tr>
                                    <th>Nivel</th>
                                    <th>Encuestas a realizar</th>
                                    <th>Encuestas realizadas</th>
                                    <th>% de encuestas</th>
                                    <th>Calificación de clima</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="enviroment-level">----</td>
                                    <td id="enviroment-surveys" class="text-center">0</td>
                                    <td id="enviroment-answered_surveys" class="text-center">0</td>
                                    <td id="enviroment-percentage_survey" class="text-center">0</td>
                                    <td id="enviroment-calificacion" class="text-center">0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="separator"></div>
                    <div class="table-responsive mre"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="matrix-direct">
                    <div class="table-responsive">
                        <table class="table-lp table resume-table">
                            <thead>
                                <tr>
                                    <th colspan="5">
                                        Calificación Directa
                                    </th>
                                </tr>
                                <tr>
                                    <th>Nivel</th>
                                    <th>Encuestas a realizar</th>
                                    <th>Encuestas realizadas</th>
                                    <th>% de encuestas</th>
                                    <th>Calificación Directa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="direct-level">----</td>
                                    <td id="direct-surveys" class="text-center">0</td>
                                    <td id="direct-answered_surveys" class="text-center">0</td>
                                    <td id="direct-percentage_survey" class="text-center">0</td>
                                    <td id="direct-calificacion" class="text-center">0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="separator"></div>
                    <div class="table-responsive mdr"></div>
                </div>
            </div>
        </div>
    </div>
</div>

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/store/store.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/filters.js'}"></script>

<script type="text/javascript" >
var department      = 0;
var departmentText  = "";
var departmentValue = "";
var looked          = false;
var isAdmin         = ${session.get("isAdmin")};
var sessionLevel    = ${session.get("level")};
var currentUserId   = '${session.get("userId")}';
var filters         = new Filters(sessionLevel, isAdmin);

$(document).ready(function() {
    $("#structureDate").change(function() {
        Liverpool.loading('show');
        filters.fillLevel1(function () {        
            loadInitialData();
        });
    });

    $('#export').click(function(e) {
        e.preventDefault();
        exportMatrix($(this).attr('href'));        
    });
    
    Liverpool.loading('show');
    filters.fillLevel1(function () {        
        loadInitialData();
    });
});

function loadInitialData() {
    filters.fillLoggedUser();
    filters.fillSpecialPermissions();
    
    var isDefault      = isAdmin && getLastLevelSelected() === '';    
    var $level         = $("#level" + getLastLevelSelected());
    var rootLevel      = isDefault ? 50092262 : $level.val();
    var levelTitle     = isDefault ? "Presidente Consejo Administración - " : $('option:selected', $level).text();
    var departmentName = isDefault ? "Liverpool" : $('option:selected', $level).data('department');
    var nextLevel      = isDefault ? 1 : getLastLevelSelected() + 1;
    
    onEndRequests(
        loadResumeTable(rootLevel),
        changeHeaders(levelTitle, nextLevel, rootLevel, departmentName), 
        generateDirectMatrix(rootLevel, departmentName)
    );
}

function exportMatrix(exportUrl) {
    var level = getLastLevelSelected();
    
    if (level === '') {
        swal({
            title: "",
            text: "Debe seleccionar al menos un nivel",
            type: "info"
        });
        return;
    }

    var queryString = '?level=' + $('#level' + level).val() + '&structureDate=' + $('#structureDate').val();
    location.href = exportUrl + queryString;
}

function loadResumeTable(level) {
    var data = {
        level: level,
        structureDate: $("#structureDate option:selected").val()
    }
    
    return $.ajax({
        url: "@{getResume()}",
        type: 'get',
        data: data,
        success: function (data) {
            populateResumeTable(data[0], 'direct', level);
            populateResumeTable(data[1], 'enviroment', level);
            displayTables(data);
        }
    });
}

function populateResumeTable(data, table, rootLevel) {
    var level = isAdmin && rootLevel === 50092262 ? 
                    "Liverpool" : 
                    getColumnLevelContent(table);
    
    $("#" + table + "-level").text(level);
    $("#" + table + "-surveys").text(data.surveys);
    $("#" + table + "-answered_surveys").text(data.answers);
    $("#" + table + "-percentage_survey").text(data.percentage);
    $("#" + table + "-calificacion").text(data.score);
}

function getColumnLevelContent(tableType) {
    var level   = getLastLevelSelected();
    var $option = $("#level" + getLastLevelSelected() + " option:selected" );
    
    if (level == '') {
        var userId = '';
        $option = $("select [value='" + currentUserId + "']" );
    }
    
    return tableType === 'direct' ? $option.text() : $option.data('department');
}

function displayTables(data) {
    // Display/hide direct score table
    var displayDirect = showDirectScoreTable() && showTable(data[0]);

    if (displayDirect) {
        $('a[href="#matrix-direct"]').show();
    } else {
        $('a[href="#matrix-direct"]').hide();
        $('#matrix-tabs a[href="#matrix-environment"]').tab('show')
    }

    // Display/hide tree score table
    var displayTree = showTable(data[1]);

    if (displayTree) {
        $('#div_table_matriz').show();
    } else {
        $('#div_table_matriz').hide();        
        swal("Mensaje", "No hay datos disponibles para los filtros seleccionados", "warning");
    }

    // Add column classes
    addColumnClass(displayDirect, displayTree);
}

function showDirectScoreTable() {
    return !(isAdmin && (getLastLevelSelected() === 8 || getLastLevelSelected() == ''));
}

function showTable(data) {
    return data.surveys > 2 && data.answers > 2 || isAdmin;
}

function addColumnClass(displayDirect, displayTree) {
    $('#direct-score').removeClass('col-md-6 col-md-12');
    $('#tree-score').removeClass('col-md-6 col-md-12')

    if (displayDirect && displayTree) {
        $('#tree-score').addClass('col-md-6');
        $('#direct-score').addClass('col-md-6');
    }

    if (displayDirect && !displayTree) {
        $('#direct-score').addClass('col-md-12');
    }

    if (!displayDirect && displayTree) {
        $('#tree-score').addClass('col-md-12');
    }
}

function searchNextLevel(element) {
    var $select    = $(element);
    var $option    = $('option:selected', $select);    
    var level      = Number($select.data('level'));
    var nextLevel  = level + 1;
    var department = $option.val();

    filters.clearFilters(nextLevel);

    if (department == "-1") {
        if(level > 1) {
            var selectPrevLevel = $("#level" + (level - 1));    
            
            if(selectPrevLevel.length && selectPrevLevel.val() != '-1') {
                selectPrevLevel.trigger('change');
            } else {
                $('#div_table_matriz').hide();        
                swal("Mensaje", "No hay datos disponibles para los filtros seleccionados", "warning");
            }
        }
        
        return;
    }
    
    Liverpool.loading('show');
    filters.fillLevel(
        department,
        $('#structureDate').val(),
        nextLevel,
        function () {
            var departmentText  = $option.text();
            var departmentName  = $option.data('department');
            var username        = $option.data('username');
            
            var req1 = loadResumeTable(department);
            var req2 = changeHeaders(departmentText, nextLevel, department, departmentName + ' - ' + username);
            var req3 = generateDirectMatrix(department, departmentText)
            
            onEndRequests(req1, req2, req3);
        }
    );
}

function changeHeaders(department, nextLevel, value, departmentName) {
    if (department != "-1") {
        $("#matrix-environment .mre table").remove();
        $("#matrix-environment .mre").append('<table id="table_matriz" class="table"><thead><tr id="department_matrix"><th>Matriz de resultados</th><tr><thead><tbody id="factors_matrix"></tbody><table>');

        //Padre
        var th = document.createElement("th");
        th.textContent = departmentName;
        th.className = "header_padre";

        $("#department_matrix").append(th);

        ///Hijos
        var childOptions   = $("#level" + nextLevel + " option");
        
        var departments    = [];
        
        departments.push(department + '-' + value);
        
        for (var i = 1; i < childOptions.length; i++) {
            if ((childOptions[i].getAttribute('data-surveys') > 2 && childOptions[i].getAttribute('data-answered') > 2) || isAdmin) {
                var thChild = document.createElement("th");
                departments.push(childOptions[i].textContent + "-" + childOptions[i].value);
                thChild.textContent = childOptions[i].textContent + " - " + childOptions[i].getAttribute('data-username');
                thChild.className = "header_child";
                $("#department_matrix").append(thChild);
            }
        }

        var departmentsValue = [];
        var departmentScore  = [];

        departmentsValue.push(value);
        
        for (var i = 1; i < childOptions.length; i++) {           
            departmentsValue.push(childOptions[i].value);           
        }
        
        return $.ajax({
            url: "@{getMatrixData()}",
            type:'POST',
            data: {
                departments: departmentsValue,
                structureDate: $("#structureDate option:selected").val()
            },
            success: function (data) {
                renderFactors(data[0], departments, departmentScore);
                renderSubfactors(data[1], departments, departmentScore);
                renderQuestions(data[2], departments, departmentScore);
                
                $('#table_matriz').treetable({
                    expandable: true,
                    clickableNodeNames: true
                });

                generateSumRow(departmentScore);
                changeColor('table_matriz');
            },
            beforeSend: function () {                
                var $td = $('<td />');
                
                $td.attr('colspan', childOptions.length + 1);
                $td.addClass('text-center');
                $td.html('<img src="public/assets/img/loading.gif" alt="Cargando" style="width: 32px; height: 32px;" />');
                
                var $tr = $('<tr />');
                $tr.attr('id', 'loading-row');
                $tr.append($td);
                
                $("#factors_matrix").html($tr);
            },
            complete: function () {
                $('#loading-row').fadeOut('fast').remove();
            }
        });
    }
    
    return null;
}

function generateDirectMatrix(userId, departmentName) {
    if (userId != "-1") {
        $("#matrix-direct .mdr table").remove();
        $("#matrix-direct .mdr").append(
            '<table id="matrix-direct-table" class="table">' +
            '   <thead>' +
            '       <tr id="matrix-direct-heading">' +
            '           <th>Matriz de resultados</th>' +
            '       <tr>' +
            '   <thead>' +
            '   <tbody id="factors-direct-matrix"></tbody>'  +
            '<table>'
        );
        
        var th = document.createElement("th");
        th.textContent = departmentName;
        th.className = "header_padre text-center";

        $("#matrix-direct-heading").append(th);
        
        return $.ajax({
            url: "@{getMatrixDataDirect()}",
            type:'POST',
            data: {
                userId: userId,
                structureDate: $("#structureDate option:selected").val()
            },
            success: function (data) {
                if (jQuery.isEmptyObject(data[0])) {
                    return false;
                }
                
                // Factors
                $.each(data[0], function (factor, score) {
                    generateRow(factor, score, factor.replace(/ /gi, ""), false)
                    
                    // Subfactors
                    var subfactors = data[1][factor] || [];
                    $.each(subfactors, function (idx, subfactor) {
                        subfactor = subfactor.split('|');
                        generateRow(subfactor[0], subfactor[1], subfactor[0].replace(/ /gi, ""), factor.replace(/ /gi, ""))
                        
                        // Questions
                        var questions = data[2][subfactor[0]] || [];
                        $.each(questions, function (idx, question) {
                            question = question.split('|');
                            generateRow(question[0], question[1], question[0].replace(/ /gi, ""), subfactor[0].replace(/ /gi, ""))
                        });
                    });
                });
                
                $('#matrix-direct-table').treetable({
                    expandable: true,
                    clickableNodeNames: true
                });
                
                changeColor('matrix-direct-table');
            },
            beforeSend: function () {                
                var $td = $('<td />');
                
                $td.attr('colspan', '2');
                $td.addClass('text-center');
                $td.html('<img src="public/assets/img/loading.gif" alt="Cargando" style="width: 32px; height: 32px;" />');
                
                var $tr = $('<tr />');
                $tr.attr('id', 'loading-row-direct');
                $tr.append($td);
                
                $("#matrix-direct-table tbody").html($tr);
            },
            complete: function () {
                $('#loading-row-direct').fadeOut('fast').remove();
            }
        });
    }
    
    return null;
}

function generateRow(text, score, id, parent) {
    var $tr;
    var $tdName;
    var $tdScore;
    
    score = parseFloat(score) > 0 ? Number(score).toFixed(2) : '-';
    
    $tr = $('<tr />');
    $tr.attr('data-tt-id', id);    
    
    if (parent) {
        $tr.attr('data-tt-parent-id', parent);
    }

    $tdName = $('<td />'), $tdScore = $('<td />');
    $tdName.text(text).addClass('col-sm-6');
    $tdScore.text(score).addClass('col-sm-6 text-center');
    
    $tr.append($tdName).append($tdScore);

    $("#matrix-direct-table > tbody").append($tr);
}

function generateSumRow(scores) {
    var tr = document.createElement("tr");
    tr.setAttribute("class", "total-score");
    td = document.createElement("td");
    td.textContent = 'CALIFICACIÓN DE CLIMA';
    tr.append(td);
    
    for (var y = 0; y < scores.length; y++) {
        td = document.createElement("td");
        td.textContent = parseFloat(scores[y]) > 0 ? Number(scores[y]).toFixed(2) : '-';
        td.setAttribute("class","text-center");
        tr.append(td);
    }
    
    $("#factors_matrix").prepend(tr);
}

function orderDepartments(order, departments) {
    var list = [];
    
    for (var i = 0; i < order.length; i++) {
        list[i] = {
            'score': 0,
            'department': order[i]
        };
    }
    
    for (var i = 0; i < departments.length; i++) {
        if (order.indexOf(departments[i].department) !== -1) {
            list[order.indexOf(departments[i].department)] = departments[i];
        }        
    }
    
    return list;
}

function changeColor(tableId) {
    $('#' + tableId + ' tr td').each(function(){
        var td = $(this);

        var val = td.html().trim();
        
        if(val.match(/^[0-9]+(\.[0-9]+)?$/g)) {
            td.css("text-align", "center");
            td.html(Number(val).toFixed(2));
            
            if(td.text() > 0 && td.text() < 71) {
                td.css({
                    'background-color': '#7030A0',
                    'color': '#fff'
                });
            } else if(td.text() >= 71 && td.text() < 76){
                td.css({
                    'background-color': '#DE0000',
                    'color': '#fff'
                });
            } else if(td.text() >= 76 && td.text() < 80){
                td.css('background-color', '#FFC000');
            } else if(td.text() >= 80 && td.text() < 85) {
                td.css('background-color', '#FFFF00');
            } else if(td.text() >= 85 && td.text() < 91) {
                td.css({
                    'background-color': '#00B050',
                    'color': '#fff'
                });
            } else if(td.text() >= 91 && td.text() < 96) {
                td.css({
                    'background-color': '#008000',
                    'color': '#fff'
                });
            } else if(td.text() >= 96) {
                td.css({
                    'background-color':'#0070C0',
                    'color': '#fff'
                });
            }
        }
    });
}

function getLastLevelSelected() {
    var lastLevel = '';

    for (var level = 8; level > 0; level--) {
        if ($('#level' + level).val() !== '-1') {
            lastLevel = level;
            break;
        }
    }

    return lastLevel;
}

function renderFactors(data, departments, departmentScore) {
    var i = 0;
    
    for (var factor in data) {
        if (data.hasOwnProperty(factor)) {
            i ++;

            var tr = document.createElement("tr");
            tr.id = factor.replace(/ /gi, "");
            tr.setAttribute("data-tt-id", i);
            var td = document.createElement("td");
            td.textContent = factor;
            tr.append(td);
            var departmentsList = orderDepartments(departments, data[factor]);
            
            for (var y = 0; y < departmentsList.length; y++) {
                td = document.createElement("td");
                var score = departmentsList[y].score;
                td.textContent = parseFloat(score) > 0 ? score : '-';
                td.setAttribute("class","text-center");
                tr.append(td);
                $("#factors_matrix").append(tr);
                
                if (departmentsList[y].score > 0) {
                    if (typeof departmentScore[y] == 'undefined') {
                        departmentScore[y] = {
                            'score': departmentsList[y].score,
                            'size': 1
                        };
                    } else {
                        departmentScore[y]['score'] += departmentsList[y].score;
                        departmentScore[y]['size'] += 1;
                    }
                }
            }
        }
    }
    
    // Calculate average
    for (var h = 0; h < departments.length; h++) {
        var score = departmentScore;
        
        if (score[h]) {
            departmentScore[h] = score[h]['score'] / score[h]['size'];
        } else {
            departmentScore[h] = 0;
        }
    }
}

function renderSubfactors(data, departments, departmentScore) {
    var count = 0;
    for (var subfactor in data) {
        if (data.hasOwnProperty(subfactor) && typeof data[subfactor][0].factor !== 'undefined') {
            var tr = document.createElement("tr");
            tr.id = subfactor.replace(/ /gi, "");
            var parentId = $("#"+data[subfactor][0].factor.replace(/ /gi, "")).attr("data-tt-id");
            tr.setAttribute("data-tt-id", subfactor.replace(/ /gi, ""));
            tr.setAttribute("data-tt-parent-id", parentId);
            td = document.createElement("td");
            td.textContent = data[subfactor][0].subFactor;
            tr.append(td);
            var departmentsList = orderDepartments(departments, data[subfactor]);
            for (var y = 0; y < departmentsList.length; y++) {
                td = document.createElement("td");
                var score =departmentsList[y].score;
                td.textContent = parseFloat(score) > 0 ? score : '-';
                td.setAttribute("class","text-center");
                tr.append(td);
            }
            $("#"+data[subfactor][0].factor.replace(/ /gi, "")).after(tr);
            count++;
        }
    }

    if (count == 0) {
        if(looked) {
            //if(level > 2) {
                swal("Mensaje", "No hay datos disponibles para los filtros seleccionados", "warning");
            //}
        } else {
            looked = true;
        }
    }
}

function renderQuestions(data, departments, departmentScore) {
    var count = 0;
    for (var question in data) {
        if (data.hasOwnProperty(question)) {
            var tr = document.createElement("tr");
            var parentId = $("#"+data[question][0].subFactor.replace(/ /gi, "")).attr("data-tt-id");
            tr.setAttribute("data-tt-id", question.replace(/ /gi, ""));
            tr.setAttribute("data-tt-parent-id", parentId);
            td = document.createElement("td");
            td.textContent = data[question][0].question;
            tr.append(td);
            var departmentsList = orderDepartments(departments, data[question]);
            for (var y = 0; y < departmentsList.length; y++) {
                td = document.createElement("td");
                var score =departmentsList[y].score;
                td.textContent = parseFloat(score) > 0 ? score : '-';
                td.setAttribute("class","text-center");
                tr.append(td);
            }
            $("#"+data[question][0].subFactor.replace(/ /gi, "")).after(tr);
        }
    }
}

function onEndRequests(req1, req2, req3) {
    $.when(req1, req2, req3).done(function() {
        Liverpool.loading('hide');
    });
}
</script>
#{/set}