#{extends 'Layout/default.html' /}
#{set title: 'Empleados sin evaluación' /}
#{set location: 'Empleados sin evaluación' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/circle.css'}" />

<div class="form-horizontal">
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12 col-md-4">
                <!--
                <input id="search-employee" type="text" class="form-control" placeholder="Buscar...">-->
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <button class="btn btn-success col-xs-4">
                    <span class="glyphicon glyphicon-download-alt"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12 col-md-12">
                <table id="table-employees" class="liverpool-table">
                    <thead>
                        <tr>
                            <th># Empleado</th>
                            <th>Nombre</th>
                            <th>Zona</th>
                            <th>Tienda</th>
                            <th>Área</th>
                            <th>Dirección</th>
                            <th>Gerencia</th>
                            <th>Sección</th>
                            <th>Última fecha de eval.</th>
                            <th>Restraso (días)</th>
                            <th>Depósito en base</th>
                            <th>P1</th>
                            <th>P2</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts-more.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/solid-gauge.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nonEvalEmployees.js'}"></script>

#{set 'scripts'}

#{/set}
