#{extends 'Layout/default.html' /}
#{set title: 'Reporte de Histórico' /}
#{set location: 'Reporte de Histórico' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/circle.css'}" />

<div class="form-horizontal main-form">
    <div class="row">
        <div class="form-group">
            <div class="col-xs-8">
                <label class="normal-lbl">
                    Información <span class="glyphicon glyphicon-chevron-right"></span>
                </label>
                <label id="regM" class="normal-lbl">Mensual <span class="glyphicon glyphicon-chevron-right"></span></label>
                <label class="normal-lbl">
                    <span id="range" style="color: #306898; font-weight: bold;">${session.get("month")} / ${session.get("year")}</span>
                </label>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="btn-group" style="z-index: 2; top: 10px;" role="group">
                    <button type="button" value="201" id="btn-serv" class="btn btn-xs btn-default">Servicio</button>
                    <button type="button" value="202" id="btn-recom" class="btn btn-xs btn-primary">Recomendación</button>
                </div>
                <div class="btn-group" style="margin-left: 21%; top: 10px;">
                    <button type="button" id="btn-mes" class="btn btn-xs btn-primary">Mes</button>
                    <button type="button" id="btn-trim" class="btn btn-xs btn-default">Trimestre</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group white-row">
            <div class="col-xs-12 col-md-4">
                <div id="main-chart" style="width: 300px;"></div>
                <div id="addText" style="position:absolute;"></div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div id="main-line-chart"></div>
                <div id="main-line-chart-trim"></div>
                <table class="liverpool-table accumulated-mini-table">
                    <thead>
                        <tr>
                            <th colspan="2">Acumulado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="lblPrevYear">2016</td>
                            <td id="lblCurrYear">2017</td>
                        </tr>
                        <tr>
                            <td id="acumPrevYear"><img style="width: 14px; height: auto;" class='icon-loading' alt='loading icon' src="@{'/public/assets/img/livLoading.gif'}"></td>
                            <td id="acumCurrYear"><img style="width: 14px; height: auto;" class='icon-loading' alt='loading icon' src="@{'/public/assets/img/livLoading.gif'}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div id="timeline-div"></div>
        </div>
    <div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12 col-md-4">
                <div id="input-places" class="input-group fixed-group" style="display: none;">
                    <span class="input-group-addon" id="basic-addon1">
                        <span class="glyphicon glyphicon-globe"></span>
                    </span>
                    <select id="places-select" class="form-control" aria-describedby="basic-addon1"></select>
                </div>
            </div>
        </div>
    <div>
    <div class="row">
        <div class="col-xs-12">
            <ul id="history-tabs" class="nav nav-tabs">
                <li id="li-histo" class="active"><a href="#tab1default" data-toggle="tab">Histórico</a></li>
                <li id="li-places" style="display: none;"><a href="#tab2default" data-toggle="tab">Ubicaciones</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1default">
                    <div class="col-xs-12 table-responsive" id="table-target"></div>
                </div>
                <div class="tab-pane fade" id="tab2default">
                    <div id="container-locations" class="table-responsive"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts-more.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/solid-gauge.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/calls_nps.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/historyReport.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps_utils.js'}"></script>

#{set 'scripts'}

#{/set}
