<label class="control-label">
    Función
</label>
<select id="${_id}" name="${_name}" class="form-control input-sm">
    <option value="">Seleccionar Función</option>
    #{list items: _functions, as: 'function'}
    <option value="${function.descriptionFunction}" ${function.descriptionFunction == _selected ? 'selected' : ''}>${function.descriptionFunction}</option>
    #{/list}
</select>