#{if _label != false}
<label class="control-label">
    Periodo
</label>
#{/if}
<select id="${_id}" name="${_name}" class="form-control input-sm" ${_edit ? 'disabled' : ''}>
    #{list items: _structureDates, as: 'date'}
    <option value="${date}" ${date == _selected ? 'selected' : ''}>${date}</option>
    #{/list}
</select>