<label class="control-label">
    Ubicación
</label>
<select id="${_id}" name="${_name}" class="form-control input-sm">
    <option value="">Seleccionar Ubicación</option>
    #{list items: _stores, as: 'store'}
    <option value="${store.idStore}" ${store.idStore == _selected ? 'selected' : ''}>${store.descriptionStore}</option>
    #{/list}
</select>