#{extends 'Layout/default.html' /}
#{set title: 'Fotos De Estructura' /}
#{set location: 'Fotos De Estructura' /}

<div class="row">
    <div class="col-md-6">
        <h2 class="page-heading">Fotos de Estructura</h2>
    </div>
    <div class="col-md-6">                    
        <div class="export text-right">   
            <button id="add" class="btn btn-green" title="Agregar"><i class="glyphicon glyphicon-plus"></i> Crear Foto</button>
        </div>
    </div>
</div>

<div class="separator"></div>
<div class="message"></div>

<div class="row mt-20">
    <div class="col-md-12" id="usuarios-list">
        <div class="table-responsive">
            <table class="table table-lp left-align-text table-striped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="mdl-add-edit" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade">
    <div class="modal-dialog modal-md">
    <div class="modal-content">
        <form id="snapshot-create-form" action="@{create()}" enctype="multipart/form-data" method="POST">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span id="modal-title" class="modal-title"></span>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="inner-message"></div>
                <div class="input-daterange date">
                    <div class="form-group">
                        <label class="control-label">
                            Periodo
                        </label>
                        <div id="add-period-wrapper" class="period-option hidden">
                            #{duplicates_vacancies/periods 
                                structureDates: structureDates,
                                id: 'add-period',
                                name: 'period',
                                label: false
                            /}
                        </div>
                        <div id="edit-period-wrapper" class="period-option row hidden">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" id="edit-period" name="period" class="form-control input-sm date-picker required" maxlength="10" data-date-format="mm/yyyy">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="submit" class="btn btn-green" id="save">Aceptar</button>
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
            <input type="hidden" name="originalPeriod" id="original-period" />
        </form>
    </div>
</div>
</div>

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/liverpool/snapshots.js'}"></script>
#{/set}