<div class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-12 col-md-6">
            <label class="normal-lbl pull-right">Número de empleado</label>
        </div>
        <div class="col-xs-12 col-md-6">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-md-6">
            <label class="normal-lbl pull-right">Usuario de aplicación</label>
        </div>
        <div class="col-xs-12 col-md-6">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-md-6">
            <label class="normal-lbl pull-right">Apellidos del colaborador</label>
        </div>
        <div class="col-xs-12 col-md-6">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-md-6">
            <label class="normal-lbl pull-right">Nombre/s del colaborador</label>
        </div>
        <div class="col-xs-12 col-md-6">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-md-6">
            <label class="normal-lbl pull-right">Zona</label>
        </div>
        <div class="col-xs-12 col-md-6">
            <select class="form-control">
                <option value="-1">Seleccione una opción</option>
                <option value="1">Zona 1</option>
                <option value="2">Zona 2</option>
                <option value="3">Zona 3</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-md-6">
            <label class="normal-lbl pull-right">Almacén</label>
        </div>
        <div class="col-xs-12 col-md-6">
            <select class="form-control">
                <option value="-1">Seleccione una opción</option>
                <option value="1">Almacén 1</option>
                <option value="2">Almacén 2</option>
                <option value="3">Almacén 3</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-md-6">
            <label class="normal-lbl pull-right">Gerente</label>
        </div>
        <div class="col-xs-12 col-md-6">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-md-6">
            <label class="normal-lbl pull-right">Jefe</label>
        </div>
        <div class="col-xs-12 col-md-4">
            <input type="text" class="form-control">
        </div>
        <div class="col-xs-12 col-md-2">
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-option-horizontal"></span>
            </button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-md-6">
            <label class="normal-lbl pull-right">Función</label>
        </div>
        <div class="col-xs-12 col-md-4">
            <select class="form-control">
                <option value="-1">Seleccione una opción</option>
                <option value="1">Función 1</option>
                <option value="2">Función 2</option>
                <option value="3">Función 3</option>
            </select>
        </div>
        <div class="col-xs-12 col-md-2">
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-option-horizontal"></span>
            </button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-md-6">
            <label class="normal-lbl pull-right">Sección</label>
        </div>
        <div class="col-xs-12 col-md-6">
            <input type="text" class="form-control">
        </div>
    </div>
</div>