#{extends 'Layout/default.html' /}
#{set title: 'Encuestas' /}
#{set location: 'Encuestas / Test' /}

<fieldset>
    <legend>
        Información
    </legend>
    <div class="information">
        <ul class="list-unstyled survey-information">
            <li>Nombre: <span>Test</span></li>
            <li>Enlace: <span>${ play.mvc.Http.Request.current().getBase() + "/survey/" }</span></li>
        </ul>
    </div>
</fieldset>

<fieldset class="mt-20">
    <legend>
        Sección inicial | <a href="@{Surveys.editSurveySection('initial')}" class="edit-section">Editar</a>
    </legend>
    <div id="initial-section">
        <p class="text-center">
            No se ha definido la sección inicial
        </p>
    </div>
</fieldset>

<fieldset class="mt-20">
    <legend>
        Preguntas | <a href="@{Surveys.editSurveySection('questions')}" class="edit-section">Agregar preguntas</a>
    </legend>
    <div class="questions">
        <div class="table-responsive">
            <table class="table table-lp left-align-text table-striped">
                <thead>
                    <tr>
                        <th>Pregunta</th>
                        <th>Tipo de pregunta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-id="">
                        <td>Comparado con otras empresas, estoy satisfecho con los beneficios.</td>
                        <td>Opción múltiple</td>
                    </tr>
                    <tr data-id="">
                        <td>Comparado con otras empresas, estoy satisfecho con los beneficios.</td>
                        <td>Opción múltiple</td>
                    </tr>
                    <tr data-id="">
                        <td>Comparado con otras empresas, estoy satisfecho con los beneficios.</td>
                        <td>Opción múltiple</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>

<fieldset class="mt-20">
    <legend>
        Sección final  | <a href="@{Surveys.editSurveySection('end')}" class="edit-section">Editar</a>
    </legend>
    <div id="end-section">
        <p class="text-center">
            No se ha definido la sección final
        </p>
    </div>
</fieldset>

<div id="mdl-add-edit" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade"></div>

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/simditor.css'}" />   
#{/set}

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/simditor/module.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/simditor/hotkeys.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/simditor/uploader.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/simditor/simditor.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/simditor/es_MX.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/surveys.js'}"></script>
#{/set}