#{extends 'Layout/default.html' /}
#{set title: 'Encuestas' /}
#{set location: 'Encuestas' /}

<div class="row"> 
    <div class="col-md-12">                    
        <div class="export text-right">
            #{secure.check "surveys/add"}
            <button id="add" class="btn btn-lp"><i class="icon-plus-sign"></i> Agregar</button>
            #{/secure.check}
        </div>
    </div>
</div>
<div class="separator"></div>

<div class="row mt-20">
    <div class="col-md-12" id="usuarios-list">
        <div class="table-responsive">
            <table class="table table-lp left-align-text table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Vigencia</th>
                        <th>Encuesta Para</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Test</td>
                        <td>Clima</td>
                        <td>15 de Septiempre de 2016</td>
                        <td>Tienda</td>
                        <td class="actions">
                            <a href="" class="btn btn-info btn-sm">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="mdl-add-edit" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form id="survey-create-form">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <span id="modal-title" class="modal-title">
                        Crear Encuesta
                    </span>
                </div>
                <div class="modal-body" id="modal-body">
                    <div class="inner-message"></div>
                    <div class="form-group">
                        <label class="control-label">
                            Nombre de la encuesta
                        </label>
                        <input type="text" id="survey_name" name="survey_name" class="form-control input-sm" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Vigencia
                        </label>
                        <div class="input-group">
                            <input type="text" id="validity" name="validity" class="form-control input-sm date-picker" maxlength="10" data-date-format="yyyy-mm-dd">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar-o"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Encuesta para
                        </label>
                        <select id="survey_for" name="survey_form" class="form-control input-sm">
                            <option value="Corporativo">Corporativo</option>
                            <option value="Tienda">Tienda</option>
                            <option value="Compras">Compras</option>
                            <option value="Clientes">Clientes y público en general</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Link
                        </label>
                        <input type="text" id="link" name="link" class="form-control input-sm date-picker" />
                    </div>
                </div>
                <div class="modal-footer" id="modal-footer" style="cursor: move;">
                    <button type="submit" class="btn btn-success" id="save">Crear</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/liverpool/surveys.js'}"></script>
#{/set}