<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="survey-create-form">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span id="modal-title" class="modal-title">
                    Editar sección inicial
                </span>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="inner-message"></div>
                <div class="form-group">
                    <label class="control-label">
                        Texto de inicio/bienvenida
                    </label>
                    <textarea class="form-control simditor"></textarea>
                </div>
            </div>
            <div class="modal-footer" id="modal-footer" style="cursor: move;">
                <button type="submit" class="btn btn-success" id="save">Aceptar</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </form>
    </div>
</div>