<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="survey-create-form">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <span id="modal-title" class="modal-title">
                    Agregar pregunta
                </span>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="inner-message"></div>
                <div class="form-group">
                    <label class="control-label">
                        Pregunta
                    </label>
                    <textarea class="form-control input-sm"></textarea>
                </div>
                
                <div class="form-group">
                    <label class="control-label">
                        Tipo de pregunta
                    </label>
                    <select id="question-type" class="form-control input-sm">
                        <option>Opción múltiple</option>
                        <option>Si/No</option>
                        <option>Checkbox</option>
                        <option>Pregunta abierta</option>
                    </select>
                </div>
                
                <div class="multiple-choice" data-hidden="yes-no|checkbox|text">
                    <div class="form-group">
                        <label class="control-label">
                            Respuesta obligatoria para esta pregunta
                        </label>
                        <br />
                        <label class="radio-inline"> <input type="radio" value="option1" id="inlineRadio1" name="inlineRadioOptions"> Si </label>
                        <label class="radio-inline"> <input type="radio" value="option1" id="inlineRadio1" name="inlineRadioOptions" checked> No </label>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">
                            Escribe cada respuesta en una línea separada
                        </label>
                        <textarea class="form-control input-sm" rows="5"></textarea>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer" id="modal-footer" style="cursor: move;">
                <button type="submit" class="btn btn-success" id="save">Aceptar</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </form>
    </div>
</div>