#{extends 'Layout/default.html' /}
#{set title: 'Consulta de Estructura' /}
#{set location: 'Consulta de Estructura' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/circle.css'}" />

<div class="form-horizontal">
    <div class="row">
        <div class="col-xs-8">
            <div class="form-group">
                <div class="col-xs-12 col-md-6">
                    <label class="normal-lbl pull-right">Número de empleado</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-md-6">
                    <label class="normal-lbl pull-right">Nombre de usuario de la aplicación</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>

            <hr>

            <div class="form-group">
                <div class="col-xs-12 col-md-4">
                    <select class="form-control">
                        <option value="-1">Seleccione una zona</option>
                        <option value="1">Zona 1</option>
                        <option value="2">Zona 2</option>
                        <option value="3">Zona 3</option>
                    </select>
                </div>
                <div class="col-xs-12 col-md-4">
                    <select class="form-control">
                        <option value="-1">Seleccione un Gerente</option>
                        <option value="1">Gerente 1</option>
                        <option value="2">Gerente 2</option>
                        <option value="3">Gerente 3</option>
                    </select>
                </div>
                <div class="col-xs-12 col-md-4">
                    <select class="form-control">
                        <option value="-1">Seleccione una sección</option>
                        <option value="1">Sección 1</option>
                        <option value="2">Sección 2</option>
                        <option value="3">Sección 3</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-md-4">
                    <select class="form-control">
                        <option value="-1">Seleccione un Almacén</option>
                        <option value="1">Almacén 1</option>
                        <option value="2">Almacén 2</option>
                        <option value="3">Almacén 3</option>
                    </select>
                </div>
                <div class="col-xs-12 col-md-4">
                    <select class="form-control">
                        <option value="-1">Seleccione un Jefe</option>
                        <option value="1">Jefe 1</option>
                        <option value="2">Jefe 2</option>
                        <option value="3">Jefe 3</option>
                    </select>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="col-xs-4">
                        <button class="btn btn-primary col-xs-12">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-success col-xs-12">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-danger col-xs-12">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table id="table-structure" class="liverpool-table">
                <thead>
                    <tr>
                        <th>Empleado</th>
                        <th>Usuario</th>
                        <th>Nombre/s</th>
                        <th>Apellidos</th>
                        <th>Función</th>
                        <th>Sección</th>
                        <th>Jefe</th>
                        <th>Gerente</th>
                        <th>Almacén</th>
                        <th>Zona</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts-more.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/solid-gauge.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/structureNPS.js'}"></script>

#{set 'scripts'}

#{/set}
