#{extends 'Layout/default.html' /}
#{set title: 'Parametrización de email' /}

<div class="row"> 
    <div class="col-xs-12 col-sm-6">
    	<div class="col-xs-3">
	    	<div class="form-group">
	        	<label>Para:</label>
	    	</div>
    	</div>
    	<div class="col-xs-9">
	    	<div class="form-group">
	        	<select id="emails-select" class="form-control"></select>
	    	</div>
    	</div>
    </div>
    <div class="col-xs-12 col-sm-6">
    	<div class="col-xs-12">
	    	<div class="form-group">
	        	<input type="text" class="form-control" id="other-email">
	    	</div>
    	</div>
    </div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="col-xs-3">
	    	<div class="form-group">
	        	<label>Asunto:</label>
	    	</div>
    	</div>
    	<div class="col-xs-9">
	    	<div class="form-group">
	        	<input type="text" class="form-control" id="subject">
	    	</div>
    	</div>
    </div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6">
    	<div class="col-xs-12">
    		<div class="col-xs-9">
		    	<div class="form-group">
		        	<div class="logo-liverpool"></div>
		    	</div>
    		</div>
    		<div class="col-xs-3">
		    	<div class="form-group">
		        	<span class="glyphicon glyphicon-pencil link-glyp" id="span-edit-logo"></span>
		        	<span class="glyphicon glyphicon-trash link-glyp" id="span-delete-logo"></span>
		    	</div>
    		</div>
    	</div>
    </div>
</div>

<div class="row"> 
    <div class="col-xs-12 col-sm-6">
    	<div class="col-xs-3">
	    	<div class="form-group">
	        	<label>Estimado:</label>
	    	</div>
    	</div>
    	<div class="col-xs-9">
	    	<div class="form-group">
	        	<input type="text" id="name-email" class="form-control" placeholder="Introducir texto...">
	    	</div>
    	</div>
    </div>
    <div class="col-xs-12 col-sm-6">
    	<div class="col-xs-12">
	    	<div class="form-group">
	        	<span class="glyphicon glyphicon-pencil link-glyp" id="span-edit-name"></span>
		        <span class="glyphicon glyphicon-trash link-glyp" id="span-delete-name"></span>
	    	</div>
    	</div>
    </div>
</div>

<div class="row"> 
    <div class="col-xs-12">
    	<div class="form-group">
    		<textarea rows="10" class="form-control" placeholder="Introducir texto..."></textarea>
    	</div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-5">
        <div class="form-group">
	        <button id="save-template" class="btn btn-primary btn-blue btn-block show-details" data-list="0">Guardar plantilla</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-sm-offset-2">
        <div class="form-group">
	        <button id="send-email" class="btn btn-primary btn-blue btn-block show-details" data-list="0">Enviar mail</button>
        </div>
    </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var emails = [
			"xxxxx@gmail.com",
			"yyyyy@gmail.com",
			"aaaaa@gmail.com",
			"bbbbb@live.com",
		];

		for(var i = 0; i < emails.length; i++) {
			var e = emails[i];
			$("#emails-select").append(
				"<option value='" + i + "'>" + e + "</option>"
			);
		}

		$("#emails-select").append(
			"<option value='-1'>Otro</option>"
		);

		$(".logo-liverpool").html(
			"<img alt='logo' src='@{'/public/images/liverpool-logo-email.png'}'>"
		);

		$("#other-email").attr("disabled", true);

		$("#emails-select").change(function() {
			var v = $(this).val();
			if(v === "-1") {
				$("#other-email").removeAttr("disabled");
			} else {
				$("#other-email").attr("disabled", true);
			}
		});
	});
</script>