<table style="width: 100%; border-collapse: collapse; font-family: Arial; font-size: 11px;">
    <thead>
        <tr>
            <th style="text-align: center; border: 1px solid #ccc; font-family: Arial;">Demográfico</th>
            <th style="text-align: center; border: 1px solid #ccc; font-family: Arial;">Usuario</th>
            <th style="text-align: center; border: 1px solid #ccc; font-family: Arial;">Contraseña</th>
            <th style="text-align: center; border: 1px solid #ccc; font-family: Arial;">Jefe a Evaluar</th>
            <th style="text-align: center; border: 1px solid #ccc; font-family: Arial;">Plan</th>
        </tr>
    </thead>
    <tbody>
        #{list items:employees, as:'employee'}
        <tr>
            <td style="text-align: left; border: 1px solid #ccc; font-family: Arial;">${employee?.getDepartment()}</td>
            <td style="text-align: center; border: 1px solid #ccc; font-family: Arial;">${employee?.getUserName()}</td>
            <td style="text-align: center; border: 1px solid #ccc; font-family: Arial;">${employee?.getPassword()}</td>
            <td style="text-align: left; border: 1px solid #ccc; font-family: Arial;">${employee?.getManager()}</td>
            <td style="text-align: left; border: 1px solid #ccc; font-family: Arial;">${employee?.getPlan()}</td>
        </tr>
        #{/list}
    </tbody>
</table>