#{extends 'Layout/default.html' /}
#{set title: 'Envío Manual de Email' /}

<div class="row"> 
    <div class="col-md-12 text-center">
        <div class="form-group">
            <label>Seleccione el tipo de encuesta a enviar</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 ">
        <div class="form-group text-right">
            <a class="btn btn-green"><i class="glyphicon glyphicon-plus"></i> Crear Nueva Encuesta</a>
        </div>
    </div>
</div>

<div class="row"> 
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-lp table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Encuesta</th>
                        <th>Editar Encuesta</th>
                        <th>En Cambios</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="row form-horizontal">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="col-sm-2">
                <label>Área:</label>
            </div>
            <div class="col-sm-10">
                <select class="form-control" id="area-emails">
                    #{list items: areas, as: 'area'}
                    <option value="${area}">${area}</option>
                    #{/list}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label>Nivel:</label>
            </div>
            <div class="col-sm-10">
                <select class="form-control" id="level-emails">
                    #{list items: levels, as: 'level'}
                    <option value="${level}">Nivel ${level}</option>
                    #{/list}
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
        <div class="form-group">
            <input type="text" id="search-emails" class="form-control" placeholder="Búsqueda">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group text-right">
            <button id="sent-emails" class="btn btn-green">Enviar Email</button>
        </div>
    </div>
</div>

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/jquery-ui/jquery-ui-1.10.0.custom.css'}" />   
#{/set}

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/jquery-ui/jquery-ui-1.10.3.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/email-parametrization-index.js'}"></script>
#{/set}