#{extends 'Layout/default.html' /}
#{set title: 'Envío manual de email' /}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">                
        <div class="form-group">
            <label>Encuestas:</label>
            <select id="surveys-select" class="form-control"></select>
        </div>
        <div class="form-group text-right">
            <button id="send-email" class="btn btn-primary btn-blue show-details">Enviar Encuesta</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $.ajax({
            url: "@{getSurveys()}",
            type: "GET",
            success: function (data, textStatus, jqXHR) {
                var rows = data;

                for (var i = 0; i < rows.length; i++) {
                    var row     = rows[i];
                    var $option = $('<option />');
                    
                    $option.val(row[0]);
                    $option.text(row[1]);
                    $option.attr('data-survey-type', row[2]);
                    
                    $("#surveys-select").append($option);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });

        $("#send-email").click(function () {
            var $btn   = $(this);
            var type   = $("#surveys-select option:selected").data("survey-type");
            var survey = $("#surveys-select").val();
            var url    = '';
            
            if (type === 2 || type === 3) {
                url = '@{sendEmailsCorporativos()}';
            } else if (type === 1) {
                url = "@{sendEmailsTienda()}";
            }

            $.ajax({
                url: url,
                data: {surveyId: survey, surveyType: type},
                type: "GET",
                success: function (data, textStatus, jqXHR) {
                    console.log("data", data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                },
                beforeSend: function () {
                    $btn.attr('disabled', 'disabled');
                },
                complete: function () {
                    $btn.removeAttr('disabled');
                }
            });
        });
    });
</script>
