  <div class="modal-dialog modal-lg">
      <div class="modal-content">
		<div class="modal-header tab-title">
			<button type="button" class="close btn-modal-close"
				data-dismiss="modal">&times;</button>
			<h4 class="nomargin" id="title-comments"></h4>
			<div class="col-xs-3">
				<select id="comment-type" class="form-control">
					<option value="0">Todos</option>
					<option value="2">Por pregunta</option>
					<option value="3">Detractor</option>
					<option value="4">Promotores</option>
					<option value="5">Pasivos</option>
					<option value="6">Por palabra clave</option>
				</select>
			</div>
			<div class="col-xs-3">
				<select id="questions-select" class="form-control"
					style="display: none"></select>
			</div>
		</div>
		<div class="row" id="comment-type-message" style="padding:20px"></div>
		<div class="modal-body no-padding"><br />
			<div class="row" style="margin:10px;">
				<div class='col-xs-1'></div>
				<div class='col-xs-4'>
					<input id="search" class="form-control" type="text"
						placeholder="Buscar" style="display: none" style="display:none">
				</div>
				<div class='col-xs-1'></div>
				<div class='col-xs-6'>
					<div class="form-group">
						<!--button class='btn btn-info btn-sm pull-right'
							onclick="printComment()">Imprimir</button-->
						<button class='btn btn-info btn-sm pull-right' id='copy'>Copiar</button>
						<button class='btn btn-primary btn-sm pull-right'
							id="download-comments" title='Descargar'>
							<span class='glyphicon glyphicon-download-alt'></span> Exportar
						</button>
					</div>
				</div>
			</div><br />
			<!-- Table -->
			<div class="row" style="margin:10px;">
	            <div class="col-xs-12">
					<table id="comments-table" class="results-table-comments">
						<thead>
							<tr>
								<th class="text-center" style="width: 120px;">#</th>
								<th class="text-center"style="width: 820px;">Comentarios</th>
							</tr>
						</thead>
						<tbody>
							#{list items: commentsCSI, as: 'comment'}
							<tr>
								<!-- <td>${comment[0]}</td>-->
								<td align="center" valign="middle">${comment_index}</td>
								<td>${comment[1]}</td>
							</tr>
							#{/list}
						</tbody>
					</table>
					<div id="graficaPorClave"
						style="height: 250px; margin: o auto; width: auto; text-align: center; display: none;">
					</div>
	            </div>
		    </div>
		</div>
		<div class="modal-footer text-center">
              <button title="Cerrar" type="button" class="btn btn-red" data-dismiss="modal"  >
                  <!-- <img src="@{'/public/assets/img/icon-close.png'}">-->
                  <span class='glyphicon glyphicon-remove'></span>
              </button>
         </div>
     </div>
 </div>
<script type="text/javascript" src="${play.Play.ctxPath}/static/assets/js/liverpool/csi/csi-comments.js"></script>