#{extends 'Layout/default.html' /}
#{set title: 'Reporte de impugnaciones' /}
#{set location: 'CSI / Reporte de impugnaciones' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/circle.css'}" />

<br />
<div class="form-horizontal main-form">
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12 col-md-3">
                <div class="col-xs-12">
                    <label class="normal-lbl">Zona:</label>
                </div>
                <div class="col-xs-12">
                    <select class="form-control" id="zone">
                            <option value="-1">Seleccione una opción</option>
                            #{list items: zones, as: 'zone'}
                            <option value="${zone}">Zona - ${zone}</option>
                            #{/list}
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="col-xs-12">
                    <label class="normal-lbl">Aréa</label>
                </div>
                <div class="col-xs-12">
                    <select class="form-control" id="area">
                            <option value="-1">Seleccione una opción</option>
                            #{list items: areas, as: 'area'}
                            <option value="${area.idArea}">${area.desc}</option>
                            #{/list}
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="col-xs-12">
                    <label class="normal-lbl">Práctica:</label>
                </div>
                <div class="col-xs-12">
                    <select class="form-control" id="practice">
                            <option value="-1">Seleccione una opción</option>
                            #{list items: practices, as: 'practice'}
                            <option value="${practice.practice}">${practice.desc}</option>
                            #{/list}
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="col-xs-12">
                    <label class="normal-lbl">&nbsp;</label>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-success col-xs-6">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div id="chart-zone"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <table id="table-challenges" class="highest-table">
                    <thead>
                        <tr>
                            <th>Medio</th>
                            <th>Zona</th>
                            <th>Impugnador</th>
                            <th>Cargo</th>
                            <th>Emp. Evaluado</th>
                            <th>No. Emp.</th>
                            <th>Preguta 1</th>
                            <th>Pregunta 2</th>
                            <th>Fecha evaluación</th>
                            <th>Fecha impugnación</th>
                            <th>Fecha Contestación</th>
                            <th>Fecha Replica</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts-more.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/solid-gauge.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/challenges.js'}"></script>

#{set 'scripts'}

#{/set}
