#{extends 'Layout/default.html' /}
#{set title: 'Consulta de Estructura' /}
#{set location: 'Consulta de Estructura' /}
<form id="filter-form">
    <div class="row form-horizontal">
        <div id="select-levels-zone">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="normal-lbl">Fecha de Estructura</label>
                        </div>
                        <div class="col-xs-9">
                            <select id="structureDate" name="structureDate" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="normal-lbl">Número de empleado</label>
                        </div>
                        <div class="col-xs-9">
                            <input type="number" name="userNumber" id="userNumber" class="form-control input-sm" onkeyup="filterRemove(this);">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="normal-lbl">Usuario</label>
                        </div>
                        <div class="col-xs-9">
                            <input type="text" id="userName" name="userName" class="form-control input-sm" maxlength="50" onkeyup="filterRemove(this);">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="normal-lbl">Ubicación</label>
                        </div>
                        <div class="col-xs-9" id=div_select_location>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="normal-lbl">Departamento</label>
                        </div>
                        <div class="col-xs-9" id="div_select_department">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="row form-horizontal">
        <div id="select-levels-zone">
            <div class="row">
                <div class="col-xs-12 col-sm-3" id="nivel-1">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="normal-lbl">Nivel 1</label>
                        </div>
                        <div class="col-xs-9" id="div_select_level_1"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3" id="nivel-2">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="normal-lbl">Nivel 2</label>
                        </div>
                        <div class="col-xs-9" id="div_select_level_2"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3" id="nivel-3">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="normal-lbl">Nivel 3</label>
                        </div>
                        <div class="col-xs-9" id="div_select_level_3"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3" id="nivel-4">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="normal-lbl">Nivel 4</label>
                        </div>
                        <div class="col-xs-9" id="div_select_level_4"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3" id="nivel-5">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="normal-lbl">Nivel 5</label>
                        </div>
                        <div class="col-xs-9" id="div_select_level_5"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3" id="nivel-6">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="normal-lbl">Nivel 6</label>
                        </div>
                        <div class="col-xs-9" id="div_select_level_6"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3" id="nivel-7">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="normal-lbl">Nivel 7</label>
                        </div>
                        <div class="col-xs-9" id="div_select_level_7"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3" id="nivel-8">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <label class="normal-lbl">Nivel 8</label>
                        </div>
                        <div class="col-xs-9" id="div_select_level_8"></div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 pull-left">
            <div class="col-xs-6">
                <button id="search" class="btn btn-block btn-primary"><i class="fa fa-search"></i></button>
            </div>
            <div class="col-xs-6">
                <button title="Exportar" type="button" id="export" class="btn btn-block btn-primary">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <span class="glyphicon glyphicon-download-alt"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="separator"></div>
</form>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="table_structure" class="table table-lp table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Empleado</th>
                        <th>Usuario</th>
                        <th>Nombre/s</th>
                        <th>Apellidos</th>
                        <th>Función</th>
                        <th>Departamento</th>
                        <th>Nivel</th>
                        <th>Responsable/Jefe</th>
                        <th>Reportes Directos</th>
                        <th>Reportes Directos Real</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal Principal -->
<div id="modal-structure" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header tab-title">
                <button type="button" class="close btn-modal-close" data-dismiss="modal">&times;</button>
                <h4 class="nomargin">Información del Empleado</h4>
            </div>
            <div class="modal-body no-padding">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Número de Empleado</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="modalUserNumber" disabled="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Usuario</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalUserName" disabled="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Apellidos del colaborador</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalLastName" disabled="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nombre/s del colaborador</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalFirstName" disabled="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Correo Electrónico</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalEmail" maxlength="200" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Responsable / Jefe Directo</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalManager" disabled="">
                            <button type="button" id="btn_manager" class="btn btn-blue">
                                <img src="@{'/public/assets/img/icono_select.png'}"/>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nivel</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="modalLevel" disabled="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Función</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalFunction" disabled="">
                            <button type="button" id="btn_function" class="btn btn-blue">
                                <img src="@{'/public/assets/img/icono_select.png'}"/>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Reportes directos</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="modalPlan">
                        </div>
                    </div>
                    <!--<div class="form-group">AUN NO DEFINEN SI SE VA USAR O NO
                        <div class="col-sm-5">
                            <button type="button" id="btn_surveys" class="btn btn-blue">
                                Encuestas
                            </button>
                        </div>
                    </div>-->
                    <input type="hidden" id="modalSurvey" value="" />
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" id="btn_structure_guardar" class="btn btn-green">
                    <img src="@{'/public/assets/img/icono_guardar.png'}">
                </button>
                <button type="button" class="btn btn-red" data-dismiss="modal">
                    <img src="@{'/public/assets/img/icon-close.png'}">
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Cambio de manager -->
<div id="modal-manager" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header tab-title">
                <button type="button" class="close btn-modal-close" data-dismiss="modal">&times;</button>
                <h4 class="nomargin">Asignación de Responsable / Jefe Directo</h4>
            </div>
            <div class="modal-body no-padding">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Número de Empleado</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="modalManagerNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Usuario</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="modalManagerName">
                        </div>
                    </div>
                    <div class="form-group" id="alert-user" style="display: none;">
                        <div class="col-sm-offset-3 col-sm-5">
                            <div class="alert alert-warning" id="msg-alert-user"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" id="btn_validate_mamager" class="btn btn-green">Validar</button>
                <button type="button" id="btn_change_mamager" class="btn btn-green" disabled="">
                    <img src="@{'/public/assets/img/icono_validar.png'}" alt="" />
                </button>
                <button type="button" class="btn btn-red" data-dismiss="modal">
                    <img src="@{'/public/assets/img/icon-close.png'}">
                </button>
            </div>
        </div>
    </div>
</div>
<!-- modal cambio de Function -->
<div id="modal-function" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header tab-title">
                <button type="button" class="close btn-modal-close" data-dismiss="modal">&times;</button>
                <h4 class="nomargin">Asignación de Función</h4>
            </div>
            <div class="modal-body no-padding">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Función</label>
                        <div class="col-sm-5">
                            <select id="function-select" class="form-control" onchange="activa(this);"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" id="btn_change_function" class="btn btn-green" >
                    <img src="@{'/public/assets/img/icono_validar.png'}" alt="" />
                </button>
                <button type="button" class="btn btn-red" data-dismiss="modal">
                    <img src="@{'/public/assets/img/icon-close.png'}">
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modal Encuestas -->
<div id="modal-surveys" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header tab-title">
                <button type="button" class="close btn-modal-close" data-dismiss="modal">&times;</button>
                <h4 class="nomargin">Encuestas</h4>
            </div>
            <div class="modal-body no-padding">
                <table class="table table-striped table-lp">
                    <thead>
                        <tr>
                            <th>Encuesta</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Usuario</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer text-center">
                <button type="button" id="btn_change_function" class="btn btn-green">
                    <img src="@{'/public/assets/img/icono_validar.png'}" alt="" />
                </button>
                <button type="button" class="btn btn-red" data-dismiss="modal">
                    <img src="@{'/public/assets/img/icon-close.png'}">
                </button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" >
    $(document).ready(function () {
        var oStructureTable;
        $("#userName").focus(function () {
            $("#userNumber").val('');
        });

        $("#userNumber").focus(function () {
            $("#userName").val('');
        });

        /*
         * Inicialización de la tabla
         */

        $.ajax({
            url: "@{getDatesStructures()}",
            type: 'get',
            async: false,
            success: function (data) {
                var selectLocation = $("#structureDate");
                for (var i = 0; i < data.length; i++) {
                    var opt = document.createElement("option");
                    opt.text = data[i];
                    opt.value = data[i];
                    selectLocation.append(opt);
                }
                ;
                $.fn.dataTable.ext.errMode = 'none';

                oStructureTable = $('#table_structure').dataTable({
                    "iDisplayLength": 10,
                    "bFilter": false,
                    "bLengthChange": false,
                    "bAutoWidth": false,
                    "bDestroy": true,
                    "bSort": false,
                    "oLanguage": {
                        "sZeroRecords": "Ningún Registro",
                        "sInfo": "Mostrando Eventos de _START_ al _END_ de _TOTAL_ totales",
                        "sInfoEmpty": "0 Eventos",
                        "sPaginatePrevious": "Previous page",
                        "sProcessing": "Cargando...",
                        "oPaginate": {
                            "sFirst": "<<",
                            "sLast": ">>",
                            "sNext": ">",
                            "sPrevious": "<"
                        }
                    },
                    "columnDefs": [{
                            "visible": false,
                            "searchable": false
                        }
                    ],
                    "bProcessing": true,
                    "bServerSide": true,
                    "bStateSave": false,
                    "sAjaxSource": "@{getStructureData()}",
                    "fnServerParams": function (aoData) {
                        var array = jQuery($('#filter-form')).serializeArray();
                        jQuery.each(array, function () {
                            aoData.push({'name': this.name, 'value': this.value});
                        });
                    },
                    "pagingType": "full_numbers",
                    "aaSorting": [[6, "ASC"]],
                    "createdRow": function (row, data, index) {
                        $(row).attr("data-userNumber", data[1]);
                        $(row).attr("data-lastName", data[4]);
                        $(row).attr("data-firstName", data[3]);
                        $(row).attr("data-manager", data[8]);
                        $(row).attr("data-level", data[7]);
                        $(row).attr("data-function", data[5]);
                        $(row).attr("data-plan", data[9]);
                        $(row).attr("data-survey", data[11]);
                        $(row).attr('onclick', "openModalStructure(this)");
                    },
                    "fnDrawCallback": function (oSettings) {
                        Liverpool.loading('hide');
                    }
                });
                //Filtrado

                $('#filter-form').submit(function () {
                    oStructureTable.fnPageChange(0);
                    return false;
                });

                getLocation();

                ////Select departments
                var selectDepartment = document.createElement("select");
                selectDepartment.setAttribute("class", "form-control");
                selectDepartment.setAttribute("onchange", "filterRemove(this);");
                selectDepartment.id = "selectDepartment";
                selectDepartment.name = "department";
                var opt = document.createElement("option");
                opt.text = "Seleccione una opción";
                opt.value = "-1";
                selectDepartment.add(opt);
                $("#div_select_department").append(selectDepartment);
            }
        });


//Se llena combo de Nivel 1
        getLevel1();

        //Se crean los demas combo
        for (var i = 2; i < 9; i++) {
            var selectLevel = document.createElement("select");
            selectLevel.name = "level" + i;
            selectLevel.id = "level" + i;
            selectLevel.setAttribute("class", "form-control");
            var opt = document.createElement("option");
            opt.text = "Seleccione una opción";
            opt.value = "-1";
            selectLevel.add(opt);
            selectLevel.setAttribute("onchange", "searchNextLevel(this)");
            selectLevel.setAttribute("data-level", i);
            $("#div_select_level_" + i).append(selectLevel);
        }


        $("#btn_manager").click(function () {

            $("#modalManagerNumber").val("");
            $("#modalManagerName").val("");
            $("#btn_change_mamager").attr("disabled", true);
            $("#modal-manager").modal("show");
        });

        $("#btn_function").click(function () {
            $("#btn_change_function").attr("disabled", true);
            $.ajax({
                url: "@{getFunction()}",
                type: 'get',
                async: false,
                success: function (data) {
                    var oldFunction = $("#modalFunction").val();
                    var functionSelect = $("#function-select");
                    for (var i = 0; i < data.length; i++) {
                        var opt = document.createElement("option");
                        opt.value = data[i];
                        opt.text = data[i];

                        if (oldFunction == data[i]) {
                            opt.selected = true;
                        }
                        functionSelect.append(opt);
                    }
                }
            });
            $("#modal-function").modal("show");
        });

        $("#btn_surveys").click(function () {
            $("#modal-surveys").modal("show");
        });

        $("#btn_validate_mamager").click(function () {
            var managerId = $("#modalManagerNumber").val().trim();
            var managerName = $("#modalManagerName").val().trim();
            $("#alert-user").hide();

            if (managerId.length == 0 && managerName.length == 0) {
                $("#msg-alert-user").html("Por favor especifíque al menos un campo");
                $("#alert-user").show(200);
            } else {
                Liverpool.loading("show");
                $.ajax({
                    url: "@{validateManager()}",
                    type: 'get',
                    async: false,
                    data: {
                        managerId: managerId,
                        managerName: managerName,
                        employeeNumber: $("#modalUserNumber").val()
                    },
                    success: function (data) {
                        if (data.length > 0) {
                            $("#modalManagerNumber").val(data[0][5]);
                            $("#modalManagerName").val(data[0][28]);
                            $("#btn_change_mamager").removeAttr("disabled");
                        } else {
                            $("#msg-alert-user").html("No se encontró a la persona especificada");
                            $("#btn_change_mamager").attr("disabled", "disabled");
                            $("#alert-user").show(200);
                        }
                        Liverpool.loading("hide");
                    },
                    error: function (data) {
                        Liverpool.loading("hide");
                    }
                });
            }
        });

//////CAmbio de Jefe
        $("#btn_change_mamager").click(function () {
            $("#alert-user").hide();
            swal({
                title: "Mensaje",
                text: "Al realizar esta acción se recalcularán todos los planes automáticamente." +
                        "\nCualquier cambio manual de Plan realizado anteriormente se perderá. ¿Desea continuar?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: true
            },
                    function () {
                        
                        var userId = $("#modalUserNumber").val();
                        var newManagerId = $("#modalManagerNumber").val();
                        var structureDate = $("#structureDate").val();
                        $.ajax({
                            url: "@{changeManager()}",
                            type: 'get',
                            async: false,
                            data: {
                                userId: userId,
                                newManagerId: newManagerId,
                                structureDate: structureDate
                            },
                            success: function (data) {

                                if (!data.error) {
                                    //recalcLevel();

                                    $("#modal-manager").modal("hide");
                                    $("#modal-structure").modal("hide");
                                    oStructureTable.fnPageChange(0);
                                } else {
                                    swal({
                                        title: "",
                                        text: data.message,
                                        type: "error"
                                    });
                                }
                            }
                        });
                    });
        });

        $("#table_structure tbody tr").css("cursor", "pointer");

        $('#structureDate').change(function () {
            Liverpool.loading("show");
            structureRemove();
            
            getLocation();
            getLevel1();
            oStructureTable.fnPageChange(0);
            
            return false;
        });
    });

    function activa(value) {
        $("#btn_change_function").removeAttr("disabled").after('');
    }

    function getLocation() {
        //Select location
        $.ajax({
            url: "@{getLocation()}",
            type: 'get',
            data: {
                
                date: $("#structureDate").val()
            },
            success: function (data) {
                var selectLocation = document.createElement("select");
                selectLocation.name = "location";
                selectLocation.id = "location";
                selectLocation.setAttribute("class", "form-control");
                selectLocation.setAttribute("onchange", "setDepartments(this);filterRemove(this);");
                var opt = document.createElement("option");
                opt.text = "Seleccione una opción";
                opt.value = "-1";
                selectLocation.add(opt);
                for (var i = 0; i < data.length; i++) {
                    opt = document.createElement("option");
                    opt.text = data[i];
                    opt.value = data[i];
                    selectLocation.add(opt, null);
                }
                ;
                $("#div_select_location").html(selectLocation);
            }
        });
    }

    function getLevel1() {
        $.ajax({
            url: "@{getLevels1()}",
            type: 'get',
            async: false,
            data: {
                level: 1,
                date: $("#structureDate").val()
            },
            success: function (data) {
                var selectLevel = document.createElement("select");
                selectLevel.name = "level1";
                selectLevel.id = "level1";
                selectLevel.setAttribute("class", "form-control");
                var opt = document.createElement("option");
                opt.text = "Seleccione una opción";
                opt.value = "-1";
                selectLevel.add(opt);
                selectLevel.setAttribute("onchange", "searchNextLevel(this);filterRemove(this);");
                selectLevel.setAttribute("data-level", 1);
                for (var i = 0; i < data.length; i++) {
                    opt = document.createElement("option");
                    opt.text = data[i][0];
                    opt.value = data[i][1];
                    selectLevel.add(opt, null);
                }
                ;
                $("#div_select_level_1").html(selectLevel);
            }
        });
    }

///Cambio de function
    $("#btn_change_function").click(function () {
        var newFunction = $("#function-select option:selected").val();
        var userId = $("#modalUserNumber").val();
        $.ajax({
            url: "@{changeFunction()}",
            type: 'get',
            async: false,
            data: {
                userId: userId,
                newFunction: newFunction
            },
            success: function (data) {
                if (data != 0) {
                    $("#modal-function").modal("hide");
                    $("#modal-structure").modal("hide");
                    //oStructureTable.fnPageChange(0);
                    swal("Mensage", "La función se actualizo con éxito", "success");
                    $('#search').click();
                }
            }
        });
    });

    function searchNextLevel(element) {
        level = Number(element.getAttribute("data-level"));
        nextLevel = level + 1;
        department = element.options[element.options.selectedIndex].value;
        for (var i = nextLevel; i < 9; i++) {
            var opt = document.createElement("option");
            opt.text = "Seleccione una opción";
            opt.value = "-1";
            $("#level" + i).html('');
            $("#level" + i).append(opt);
        }
        $.ajax({
            url: "@{getLevels()}",
            type: 'get',
            async: false,
            data: {
                "department": department,
                "date": $("#structureDate").val()
            },
            success: function (data) {
                var selectLevel = $("#level" + nextLevel);
                selectLevel.html('');
                var opt = document.createElement("option");
                opt.text = "Seleccione una opción";
                opt.value = "-1";
                selectLevel.append(opt);

                if (data.length <= 0) {
                    ocultarFiltros(level);
                }

                for (var i = 0; i < data.length; i++) {
                    opt = document.createElement("option");
                    opt.text = data[i][0];
                    opt.value = data[i][1];
                    selectLevel.append(opt);
                }
                ;
            }
        });
    }

    ocultarFiltros = function (level) {
        for (var i = level; i < 8; i++) {
            $("#nivel-" + i + 1).hide();
        }
    }

    $("#btn_structure_guardar").click(function () {


        var email = $("#modalEmail").val();

        if (email.trim() != "") {
            if (validarEmail(email)) {

                var plan = $("#modalPlan").val();
                var userId = $("#modalUserNumber").val();
                var sureveyId = $("#modalSurvey").val();
                var date = $('#structureDate').val();

                $.ajax({
                    url: "@{setPlanEmail()}",
                    type: 'get',
                    async: false,
                    data: {
                        email: email,
                        plan: plan,
                        idEmployee: userId,
                        idSurvey: sureveyId,
                        date: date
                    },
                    success: function (data) {
                        if (data != 0) {
                            location.reload();
                        }
                    }
                });
            } else {
                alert("Formato invalido");
            }
        } else {
            alert("El campo email es requerido");

        }

    });

    function recalcLevel() {
        var structureDate = $("#structureDate option:selected").val()
        $.ajax({
            url: "@{recalcLevel()}",
            type: 'get',
            async: false,
            data: {
                structureDate: structureDate
            },
            success: function (data) {

                return data;
            }
        });
    }

    function openModalStructure(data) {

        $("#modalUserNumber").val($(data).attr("data-userNumber"));
        $("#modalLastName").val($(data).attr("data-lastName"));
        $("#modalFirstName").val($(data).attr("data-firstName"));
        $("#modalManager").val($(data).attr("data-manager"));
        $("#modalLevel").val($(data).attr("data-level"));
        $("#modalFunction").val($(data).attr("data-function"));
        $("#modalPlan").val($(data).attr("data-plan"));
        $("#modalSurvey").val($(data).attr("data-survey"));

        $.ajax({
            url: "@{getInfoModal()}",
            type: 'get',
            async: false,
            data: {
                userId: $("#modalUserNumber").val()
            },
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#modalEmail").val(data[i][0]);
                    $("#modalUserName").val(data[i][1]);
                }
            }
        });

        $.ajax({
            url: "@{isStore()}",
            type: 'get',
            async: false,
            data: {
                userId: $("#modalUserNumber").val(),
                structureDate : $("#structureDate").val()
            },
            success: function (data) {
                $("#note").remove();
                if (parseInt(data) === 0) {
                    $("#modalPlan").attr("disabled", true);
                    $("#modalPlan").after("<small id= 'note'>Solo esta permitido cambiar el plan a los usuarios de Tienda</small>");
                } else {
                    $("#modalPlan").removeAttr("disabled").after('');
                }
            }
        });

        $("#modal-structure").modal("show");
    }

    function setDepartments() {

        $.ajax({
            url: "@{getDepartments()}",
            type: 'get',
            data: {
                location: $("#location option:selected").val()
            },
            success: function (data) {
                var selectDepartment = $("#selectDepartment");
                var opt = document.createElement("option");
                opt.text = "Seleccione una opción";
                opt.value = "-1";
                selectDepartment.html("");
                selectDepartment.append(opt);
                for (var i = 0; i < data.length; i++) {
                    opt = document.createElement("option");
                    opt.text = data[i];
                    opt.value = data[i];
                    selectDepartment.append(opt);
                }
                ;
            }
        });
    }

    $('#export').click(function () {
        var array = jQuery($('#filter-form')).serializeArray();
        var param = "?";
        jQuery.each(array, function () {
            param += this.name + "=" + this.value + "&";
        });
        param = param.substring(0, param.length - 1);
        location.href = '@{Structure.export()}' + param;
    });


    function validarEmail(valor) {
        var correcto = false;
        if (/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i.test(valor)) {
            correcto = true;
        }
        return correcto;
    }

    function structureRemove () {
        
        $("#userNumber").val("");
        $("#userName").val("");
        $("#location").val(-1);
        $("#selectDepartment").val(-1);
        
        for (var i = 1; i < 9; i++) {
            var opt = document.createElement("option");
            opt.text = "Seleccione una opción";
            opt.value = "-1";
            $("#level" + i).html('');
            $("#level" + i).append(opt);
        }
    }

    function filterRemove(value) {

        var element = value.getAttribute("name");

        if (element == "userNumber" ||
                element == "userName" ||
                element == "location" ||
                element == "department") {
            $("#level1").val(-1);
            searchNextLevel(document.getElementById("level1"));
        } else {
            $("#userNumber").val("");
            $("#userName").val("");
            $("#location").val(-1);
            $("#selectDepartment").val(-1);
        }
    }
</script>
