#{extends 'Layout/default.html' /}
#{set title: 'Envío correos' /}
#{set location: 'Envío correos' /}

#{if place == 'CSI' }
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />
#{/if}

<form id="send-form">
    <div class="row">
        <div class="col-md-3 col-sm-offset-3">
            <div class="form-group">
                <label class="blue-title" for="survey-type">Tipo de encuesta</label>
                <select id="survey-type" name="surveyType" class="form-control" autocomplete="off">
                    <option value="">Seleccionar tipo de encuesta</option>
                    #{list items:surveyTypes, as:'type'}
                    <option value="${type.id}">${type.subType}</option>
                    #{/list}
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="blue-title" for="q2">Encuesta</label>
                <select id="survey" name="surveyId" class="form-control" autocomplete="off">
                    <option value="">Seleccionar encuesta</option>
                </select>
            </div>
        </div>
    </div>

    <div id="employees-selection" class="row mt-20 hidden">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-group">
                <label>Empleados (Dejar vacío para enviar a todos)</label>
                <input type="hidden" id="employees" name="employees" class="form-control" />
            </div>
        </div>
    </div>

    <div id="stores-selection" class="row hidden">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-group">
                <label>Tipo de Tienda</label>
                <select id="store-type" name="storeTypes" class="form-control">
                    <option value="all">Todos</option>
                    <option value="Adcon">Adcon</option>
                    <option value="Boutique">Boutique</option>
                    <option value="Bodega">Bodega</option>
                    <option value="Zona">Almacenes</option>
                </select>
            </div>
            <div class="form-group">
                <label>Zona</label>
                <select id="zone" name="zones" class="form-control" disabled="disabled">
                    <option value="all">Todas</option>
                    #{list items: depots, as: 'depot'}
                    <option value="${depot}">Zona ${depot}</option>
                    #{/list}
                </select>
            </div>
            <div class="form-group">
                <label>Tienda (Dejar vacío para enviar a todas las tiendas)</label>
                <select id="store" name="stores[]" class="form-control" multiple>
                    <option value="all">Todas</option>
                </select>
            </div>
            <div class="form-group">
                <label>¿Enviar a Directores de Zona?</label>
                <div>
                    <label class="radio-inline"> <input type="radio" value="true" id="sent-to-directors-yes" name="sendToDirectors"> Si </label>
                    <label class="radio-inline"> <input type="radio" value="false" id="sent-to-directors-no" name="sendToDirectors" checked> No </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="form-group text-right">
                <button type="button" id="send-email" class="btn btn-primary btn-blue show-details">
                    <i class="fa fa fa-envelope"></i>
                    Enviar Encuesta
                </button>
            </div>
        </div>
    </div>
</form>

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/js/components/select2/select2-bootstrap.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/js/components/select2/select2.css'}" />   
#{/set}

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/select2/select2.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/select2/select2_locale_es.js'}"></script>

<script type="text/javascript">
    var EmailMonitor = function() {
        var oTable   = null;
        var listType = null;
        var survey   = 0;
        
        var bindEvents = function() {
            $('#survey-type').change(function() {
                var typeId = $(this).val();
                
                $('#employees-selection').addClass('hidden');
                $('#stores-selection').addClass('hidden');
                
                $.get('@{SendSurvey.getSurveys()}', {surveyTypeId: typeId}, function(data) {
                    $('#survey').html('<option value="">Seleccionar encuesta</option>');
                    var $option = null;
                    
                    $.each(data, function(idx, survey) {
                        $option = $('<option>');
                        $option.attr('value', survey[0]);
                        $option.attr('data-type', survey[2])
                        $option.text(survey[1]);
                        console.log(survey[1]);
                        
                        $('#survey').append($option);
                    });
                    
                    $('#send-date').html('');
                    $('#sent').html('');
                    $('#not-sent').html('');

                    $('#list-sent').addClass('hidden');            
                    $('#list-not-sent').addClass('hidden');
                });
            });
            
            $('#survey').change(function() {
               var type = parseInt($(this).val());
               
               if (type === 1) {
                   $('#employees-selection').addClass('hidden');
                   $('#stores-selection').removeClass('hidden');
               } else {
                   $('#employees-selection').removeClass('hidden');
                   $('#stores-selection').addClass('hidden');
               }
               
               $("#store").val('').trigger('change');
               $("#employees").select2('val', '');
            });
            
            $("#employees").select2({
                formatResult: format,
                minimumInputLength: 2,
                multiple: true,
                ajax: {
                    url: '@{SendSurvey.getSurveyEmployees()}',
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            search: term,
                            surveyId: $('#survey').val()
                        };
                    },
                    results: function (data, page) {
                        return { results: data.items };
                    },
                    cache: false
                }
            });
            
            $('#store-type').change(function () {
                var type = $(this).val();                
                
                if (type === 'Zona') {
                    $('#zone').removeAttr('disabled');
                } else {
                    $('#zone').val('all').attr('disabled', 'disabled');                    
                }
                
                var zone = $('#zone').val();
                
                search (type, zone);
            });
            
            $('#zone').change(function () {
                var zone = $(this).val();
                var type = $('#store-type').val();
                
                search(type, zone);
            });
            
            $('#send-email').click(function () {
                if ($('#survey').val() == '') {
                    swal({
                        title: "Aviso",
                        text: "Debe seleccionar la encuesta a enviar",
                        type: "warning"
                    });
                    
                    return false;
                }
                
                swal({
                    title: "Confirmar Envío",
                    text: "Una vez iniciado el envío no podrá ser cancelado.",
                    type: "info", 
                    showCancelButton: true,
                    cancelButtonText: "Cancelar",
                    confirmButtonText: "Continuar",
                    closeOnConfirm: true
                }, function() {
                    $('#send-form').submit();
                });
            });
            
            $('#send-form').submit(function (e) {
                e.preventDefault();
                
                $.ajax({
                    url: '@{SendSurvey.sendEmail()}',
                    data: $('#send-form').serialize(),
                    type: 'post',
                    dataType: 'json',
                    success: function (result) {
                        swal({
                            title: "",
                            text: result.message,
                            type: result.error ? "warning" : "success"
                        });
                    },
                    beforeSend: function () {
                        $('#send-email').attr('disabled', 'disabled');
			Liverpool.loading('show');
                    },
                    complete: function () {
                        $('#send-email').removeAttr('disabled');
			Liverpool.loading('hide');
                    }
                });
            });
            
            $("#store").select2();
            search($('#store-type').val(), $('#zone').val());
        };
        
        var search = function (type, zone) {
            $("#store").val('').trigger('change');
            
            $.ajax({
                url: '@{SendSurvey.getStores()}',
                data: {
                    type: type,
                    zone: zone
                },
                dataType: 'json',
                success: function (stores) {
                    $('#store').html('<option value="all">Todas</option>');
                    var $option = null;

                    $.each(stores, function(idx, store) {
                        $option = $('<option>');
                        $option.attr('value', store.idStore);
                        $option.text(store.descriptionStore);

                        $('#store').append($option);
                    });
                },
                beforeSend: function () {
                    Liverpool.loading('show');
                },
                complete: function () {
                    Liverpool.loading('hide');
                }
            });
        }
        
        var format =  function (state) {
            if (!state.id) return state.text;
            return state.text;
        }
        
        bindEvents();        
    }();
</script>
#{/set}

#{if place == 'CSI' }
<!--<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>-->
<script type="text/javascript">
    $(document).ready(function() {
        $("#side-bar-nps").hide();
    });
</script>
#{/if}