#{extends 'Layout/default.html' /}
#{set title: 'Email' /}
#{set location: 'Email' /}

<form action="@{sendMail()}" method="POST">
	Destino : <input type="text" name="destino"><br>
	Asunto : <input type="text" name="asunto"><br>
	Mensaje : <textarea name="mensaje"></textarea><br><br>
	<input type="submit" value="Enviar correo">
</form>
