#{extends 'Layout/default.html' /}
#{set title: 'Clima' /}
#{set location: 'Dashboard Clima ' /}
<div class="row form-horizontal">
    <div id="select-levels-zone">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="normal-lbl">Fecha de estructura</label>
                    </div>
                    <div class="col-xs-9">
                        <select class="form-control" id="structureDate">
                            #{list items: structureDates, as: 'date'}
                            <option value="${date}">${date}</option>
                            #{/list}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="separator"></div>

<div id="result-enviroment">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <table class="centered-table">
                <tbody>
                    <tr>
                        <td>
                            <div id="circle-average" class="c100 p0 big pull-right">
                                <span id="span-average">0%</span>
                                <div class="slice"><div class="bar"></div>
                                <div class="fill"></div></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="main-sign-home col-xs-12 col-md-3">
            <p class="rised" style="font-size: 20px; font-weight: bold; padding-top: 50px;">
                Calificación de<br />Clima Organizacional<br />
                <span id="e-year"></span>
            </p>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="col-xs-12">
                <table class="table-liv-small pull-left" id="table-goals">
                    <thead>
                        <tr>
                            <th class="btn-th" colspan="2" id="th-btn-goals">Tabla de calificaciones clima</th>
                        </tr>
                    </thead>
                    <tbody class="scroll-goals">
                        <tr>
                            <td colspan="2" class="text-center">
                                <img src="@{'/public/assets/img/loading.gif'}" class="wait-table">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="row charts" id="chartsDiv"></div>
    <div class="separator"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive" style="border-radius: 4px;">
            <table class="table table-lp table-striped">
                <thead>
                    <tr>
                        <th class="col-md-3">Nivel 1</th>
                        <th class="col-md-3">Nivel 2</th>
                        <th class="col-md-3">Nivel 3</th>
                        <th class="col-md-3">Nivel 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="control">
                           <div class="col-md-11" id="div_select_level_1"></div>
                        </td>
                        <td class="control">
                            <div class="col-md-11 " id="div_select_level_2"></div>
                        </td>
                        <td class="control">
                            <div class="col-md-11" id="div_select_level_3"></div>
                        </td>
                        <td class="control">
                            <div class="col-md-11" id="div_select_level_4"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-lp table-striped">
                <thead>
                    <tr>
                        <th class="col-sm-3">Nivel 5</th>
                        <th class="col-sm-3">Nivel 6</th>
                        <th class="col-sm-3">Nivel 7</th>
                        <th class="col-sm-3">Nivel 8</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="control">
                            <div class="col-md-11" id="div_select_level_5"></div>
                        </td>
                        <td class="control">
                            <div class="col-md-11" id="div_select_level_6"></div>
                        </td>
                        <td class="control">
                            <div class="col-md-11" id="div_select_level_7"></div>
                        </td>
                        <td class="control">
                            <div class="col-md-11" id="div_select_level_8"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="separator"></div>

<div class="row">
    <div id="direct-score" style="display: none;">
        <div class="table-responsive" style="border-radius: 4px;">
            <table class="table table-lp resume-table">
                <thead>
                    <tr>
                        <th colspan="4">
                            Calificación Directa
                        </th>
                    </tr>
                    <tr>
                        <th class="col-sm-3">Encuestas a realizar</th>
                        <th class="col-sm-3">Encuestas realizadas</th>
                        <th class="col-sm-3">% Encuesta</th>
                        <th class="col-sm-3">Calificación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center" id="direct_surveys">   
                        </td>
                        <td class="text-center" id="direct_answered_surveys">
                        </td>
                        <td class="text-center" id="direct_percentage_survey">
                        </td>
                        <td class="text-center" id="direct_calificacion">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="tree-score" style="display: none;">
        <div class="table-responsive" style="border-radius: 4px;">
            <table class="table table-lp resume-table">
                <thead>
                    <tr>
                        <th colspan="4">
                            Calificación De Clima Organizacional
                        </th>
                    </tr>
                    <tr>
                        <th class="col-sm-3">Encuestas a realizar</th>
                        <th class="col-sm-3">Encuestas realizadas</th>
                        <th class="col-sm-3">% Encuesta</th>
                        <th class="col-sm-3">Calificación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center" id="tree_surveys">   
                        </td>
                        <td class="text-center" id="tree_answered_surveys">
                        </td>
                        <td class="text-center" id="tree_percentage_survey">
                        </td>
                        <td class="text-center" id="tree_calificacion">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/circle.css'}" />
#{/set}

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/chartjs/Chart.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/chartjs/chartnew.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/home_enviroment.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/notifications.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/store/store.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/filters.js'}"></script>

<script type="text/javascript">
    Liverpool.loading('show');
    var generalAverage = 0;
    var sessionLevel   = ${session.get("level")};
    var isAdmin        = ${session.get("isAdmin")};
    var filters        = new Filters(sessionLevel, isAdmin);
    
    $(function() {
        $("#structureDate").change(function() {
            var val = $(this).val();
            var year = val.split("/")[1] || "";

            filters.fillLevel1(function () {
                Liverpool.loading("show");
                loadInitialData();
            });
        });
        
        $("#table-goals").css("margin-top", "35px");
        
        $(".scroll-goals").css({
            maxHeight: "120px",
            overflowX: "hidden",
            overflowY: "auto"
        })

        $(".table-liv-small .wait-table").css({
            width: "30px",
            height: "30px",
        });
        
        filters.fillLevel1(function () {
            loadInitialData();
        });
    });
    
    function loadInitialData() {
        filters.fillLoggedUser();
        filters.fillSpecialPermissions();

        var value = isAdmin && getLastLevelSelected() === '' ?  
                        50092262 : $("#level" + getLastLevelSelected()).val();
                        
        var name  = isAdmin && getLastLevelSelected() === '' ? 
                        "Presidente Consejo Administración" : 
                        $("#level" + getLastLevelSelected() + " option:selected").text()

        loadResumeTable(value);        
        charts(name, getLastLevelSelected() + 1, value);

        refreshGoalsTable();
    };

    function refreshGoalsTable(year) {
        // Fill goals table:        
        $.ajax({
            url: "@{Goals.getGoals()}",
            type: "POST",
            data: {
                year: year || ($("#structureDate").val().split("/")[1] || "")
            }
        }).done(function(data, textStatus, jqXHR) {
            $(".table-liv-small tbody").html("");
            for(var i = 0; i < data.length; i++) {
                var e = data[i];

                $(".table-liv-small tbody").append(
                    "<tr>" +
                        "<td>" +
                            e.description +
                        "</td>" +
                        "<td>" +
                            e.maxValue +
                        "</td>" +
                    "</tr>"
                );
            }
        });
    }

    function searchNextLevel(element) {
        level = Number(element.getAttribute("data-level"));
        nextLevel = level + 1;
        department = element.options[element.options.selectedIndex].value;
        
        for (var i = nextLevel; i < 9; i++) {
            var opt = document.createElement("option");
            opt.text = "Seleccione una opción";
            opt.value = "-1";
            $("#level"+i).html('');
            $("#level"+i).append(opt);
        }
        
        if(department == "-1") {// "Seleccione una opción":
            if(level > 1) {
                var selectPrevLevel = $("#level" + (level - 1));
                
                if(selectPrevLevel.length && selectPrevLevel.val() != '-1') {
                    selectPrevLevel.change();
                } else {
                    removeGeneralAverage();
                    cleanCharts();
                    cleanResumeTable('direct');
                    cleanResumeTable('tree');
                }
            }else{
                removeGeneralAverage();
                cleanCharts();
                cleanResumeTable('direct');
                cleanResumeTable('tree');
            }
            
            $("#search").click();  
            return;  
        }
        
        Liverpool.loading('show');
        
        filters.fillLevel(
            department,
            $('#structureDate').val(),
            nextLevel,
            function () {
                departmentText  = element.options[element.options.selectedIndex].textContent;
                departmentValue = element.options[element.options.selectedIndex].value;
                
                loadResumeTable(departmentValue);
                charts(departmentText, nextLevel, departmentValue);
            }
        );
    }
    
    function loadResumeTable(level) {
        var data = {
            level: level,
            structureDate: $("#structureDate option:selected").val()
        }

        $.ajax({
            url: "@{getResume()}",
            type: 'get',
            data: data,
            success: function (data) {
                populateResumeTable(data[0], 'direct');
                populateResumeTable(data[1], 'tree');
                displayTables(data);
                Liverpool.loading('hide');
            }
        });
    }

    function populateResumeTable(data, table) {          
        $("#" + table + "_surveys").text(data.surveys);
        $("#" + table + "_answered_surveys").text(data.answers);
        $("#" + table + "_percentage_survey").text(data.percentage);
        $("#" + table + "_calificacion").text(data.score);
    }
    function cleanResumeTable(table) {          
        $("#" + table + "_surveys").text(0);
        $("#" + table + "_answered_surveys").text(0);
        $("#" + table + "_percentage_survey").text(0);
        $("#" + table + "_calificacion").text(0);
    }
    
    function displayTables(data) {
        $('#direct-score').hide();
        $('#tree-score').hide();
        
        // Display/hide direct score table
        var displayDirect = showDirectScoreTable() && showTable(data[0]);
        
        if (displayDirect) {
            $('#direct-score').show();
        }
        
        // Display/hide tree score table
        var displayTree = showTable(data[1]);
        
        if (displayTree) {
            $('#tree-score').show();
            $("#result-enviroment").fadeIn();
        } else {
            $("#result-enviroment").fadeOut();
            swal("Mensaje", "No hay datos disponibles para los filtros seleccionados", "warning");
        }
        
        // Add column classes
        addColumnClass(displayDirect, displayTree);
        $('#e-year').html($('#structureDate option:selected').val().split('/')[1]);
    }
    
    function showDirectScoreTable() {
        return !(isAdmin && (getLastLevelSelected() === 8 || getLastLevelSelected() == ''));
    }

    function showTable(data) {
        return (data.surveys > 2 && data.answers > 2) || isAdmin;
    }
    
    function addColumnClass(displayDirect, displayTree) {
        $('#direct-score').removeClass('col-md-6 col-md-12');
        $('#tree-score').removeClass('col-md-6 col-md-12')
        
        if (displayDirect && displayTree) {
            $('#tree-score').addClass('col-md-6');
            $('#direct-score').addClass('col-md-6');
        }
        
        if (displayDirect && !displayTree) {
            $('#direct-score').addClass('col-md-12');
        }
        
        if (!displayDirect && displayTree) {
            $('#tree-score').addClass('col-md-12');
        }
    }

    function charts(department, nextLevel, value) { 
        if (value != "-1") {
            // Dashboard Data
            $.ajax({
                url: "@{getDashboardData()}",
                type:'POST',
                data: {
                    departments: value,
                    structureDate: $("#structureDate").val()
                },
                success: function (data) {
                    renderFactors(data[0], data[1], department, value);
                }
            });
        }
    }
    
    function renderFactors(dataFactors, dataSubfactors, department, currentLevel) {
        removeGeneralAverage();
        
        var namesCharts = [];
        var percent     = {};
        var i           = 0;
        var sum         = 0;
        
        for(var factor in dataFactors){
            if(dataFactors.hasOwnProperty(factor) && factor !== "null") {                
                percent[factor] = chartHeaders(dataFactors[factor], factor, department + '-' + currentLevel);
                
                if (percent[factor] != 0) {
                   namesCharts.push(factor);
                   
                   i++;
                }
            }
        }
        
        namesCharts.sort();
        
        //initialize number of graphs
        createCharts(namesCharts, percent);
        
        setTimeout(function () {
            jQuery.each(percent, function(factor, score) {
                sum += score;
            });            

            generalAverage = Math.round(sum / i);

            if (jQuery.isNumeric(generalAverage)) {
              $("#circle-average").addClass("p"+generalAverage);
              $("#span-average").text(generalAverage+"%");                       
            } else {
              $("#circle-average").addClass("p0");
              $("#span-average").text("0%");
            }
            
            renderSubfactors(dataSubfactors, department, namesCharts, currentLevel);
        }, 750);
    }
    
    function renderSubfactors(data, department, namesCharts, currentLevel) {
        if(jQuery.isEmptyObject(data)){
            $("#circle-average").removeClass("p"+generalAverage);
            $("#circle-average").addClass("p0");
            $("#span-average").text("0%");
            $("#chartsDiv").empty();
            
            if(getLastLevelSelected() > 1){
                 swal("Mensaje", "No hay datos disponibles para los filtros seleccionados", "warning");
            }
         } else {
            var count = 0;
            
            for (var subfactor in data) {
                if (data.hasOwnProperty(subfactor) && subfactor !== "null") {
                    fillChart(data[subfactor], subfactor, namesCharts, department + '-' + currentLevel);
                }
            }
            
            showCharts();
         }
    }
    
    function removeGeneralAverage(){
        if($("#circle-average").hasClass("p0")){
            $("#circle-average").removeClass("p0");
            $("#span-average").text("0%");
        }else{
            $("#circle-average").removeClass("p"+generalAverage);
            $("#span-average").text("0%");
        }
    }
    
    function getLastLevelSelected() {
        var lastLevel = '';

        for (var level = 8; level > 0; level--) {
            if ($('#level' + level).val() !== '-1') {
                lastLevel = level;
                break;
            }
        }
        
        return lastLevel;
    }
</script>

#{/set}