#{extends 'Layout/default.html' /}
#{set title: 'Clima' /}
#{set location: 'Parametrización de calificaciones' /}

<div class="row form-group">
	<div class="col-xs-12 col-md-3 col-xs-offset-2">
		<label class="normal-lbl">Años disponibles: </label>
	</div>
	<div class="col-xs-12 col-md-5">
		<select class="form-control" id="year-to-see"></select>
	</div>
</div>

<br>

<div class="row" id="panel-parametrization" style="display: none;">
	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<div class="panel panel-primary">
			<div class="panel-heading">Parametrización de metas por año</div>
			<div class="panel-body">
				<div class="row form-group">
					<div class="col-xs-12 col-md-4">
						<label class="normal-lbl">Año a registrar o actualizar:</label>
						<input class="form-control" id="date-goals">
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-xs-12 col-sm-5'>
						<label class="normal-lbl">Descripción</label>
					</div>
					<div class='col-xs-12 col-sm-4'>
						<label class="normal-lbl">Meta</label>
					</div>
					<div class='col-xs-12 col-sm-2'>
						<label class="normal-lbl">Opciones</label>
					</div>
				</div>

				<div id="div-values"></div>
				<div id="div-ids"></div>
				<div class='row form-group'>
					<div class='col-xs-3'>
						<button class='btn btn-primary btn-add-goal'>
							<span class='glyphicon glyphicon-plus'></span> 
							Agregar
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<button class="btn btn-success pull-right" id="btn-apply">Aplicar</button>
		</div>
	</div>
</div>

<script type="text/javascript">
	var deletedOnes = [];
	var canSave = false;
	var canEdit = false;
	var canRemove = false;

	function goal(desc, val, id) {
		return "<div data-id-goal='" + (id || -1) + "'class='row form-group goal-unit'>" +
			"<div class='col-xs-12 col-sm-5'>" +
				"<input value='" + desc + "' class='form-control input-goal-desc has-error'>" +
			"</div>" +
			"<div class='col-xs-12 col-sm-4'>" +
				"<input value='" + val + "' class='form-control input-goal-val'>" +
			"</div>" +
			"<div class='col-xs-12 col-sm-2' style='margin-top: 6px;'>" +
				"<button class='btn btn-xs btn-danger btn-remove-goal'>" +
					"<span class='glyphicon glyphicon-remove'></span> " +
					"Borrar" +
				"</button>" +
			"</div>" +
		"</div>";
	}

	function fieldsState() {
        var state = "ok";
        var descriptions = [];

        $("#div-values > div.goal-unit").each(function() {
            var unit = $(this);
            descriptions.push($(".input-goal-desc", unit).val().trim());

            if($(".input-goal-desc", unit).val().trim().length == 0) {
                state = "empty";
            }

            if($(".input-goal-val", unit).val().trim().length == 0) {
                state = "empty";
            }
        });

        // Look for repeated descriptions:
        for(var i = 0; i < descriptions.length; i++) {
            for(var j = i + 1; j < descriptions.length; j++) {
                var e = descriptions[i];
                var e2 = descriptions[j];
                
                if(e.toLowerCase() == e2.toLowerCase()) {
                    state = "repeated";
                }
            }
        }

        return state;
    }

    function setPermissions() {
    	if(!canSave) {
			$("#btn-apply").attr("disabled", "disabled");
		}

		if(!canEdit) {
			$(".input-goal-desc, .input-goal-val").attr("disabled", "disabled");
			$(".btn-remove-goal").attr("disabled", "disabled");
			$(".btn-add-goal").attr("disabled", "disabled");
			$("#date-goals").attr("disabled", "disabled");
		}

		if(!canRemove) {
			$(".btn-remove-goal").attr("disabled", "disabled");
		}
    }

    function getGoalsArray() {
        var array = [];
        $("#div-values > div.goal-unit").each(function() {
            var unit = $(this);

            var goal = {
                id: unit.data("id-goal") || null,
                description: $(".input-goal-desc", unit).val().trim(),
                year: $("#date-goals").val(),
                maxValue: $(".input-goal-val", unit).val().trim(),
                minValue: $(".input-goal-val", unit).val().trim(),
                createdBy: "",
                modifiedBy: null,
                createdDate: Liverpool.strDate(),
                modifiedDate: Liverpool.strDate()
            };

            array.push(goal);
        });
        return array;
    }

	function getGoalsToEdit(year) {
		Liverpool.loading("show");

    	$.ajax({
	        url: baseUrl + "goals/getgoals",
	        type: 'GET',
	        data: {
	        	year: year
	        }
	    }).done(function(data, textStatus, jqXHR) {
	    	//console.log(JSON.stringify(data));
			$("#div-values").html("");
			for(var i = 0; i < data.length; i++) {
				var e = data[i];

				$("#div-values").append(goal(e.description, e.maxValue, e.id));
			}
			Str.matchCharByClass("input-goal-val", /^[0-9]+$/);

			$(".btn-add-goal").unbind("click").click(function() {
				$("#div-values").append(goal("", ""));
				Str.matchCharByClass("input-goal-val", /^[0-9]+$/);
				$(".btn-remove-goal").click(removeUnit);
				var body = $("#div-values")[0];
				body.scrollTop = body.scrollHeight;
			});

			$(".btn-remove-goal").click(removeUnit);

			if(data.length > 0) {
				$("#date-goals").val(data[0].year || "");
			}

			setPermissions();
	  		Liverpool.loading("hide");
			$("#panel-parametrization").fadeIn(200);
	    }).fail(function(jqXHR, textStatus, errorThrown) {
	    	console.log(errorThrown);
	    	Liverpool.loading("hide");
	    });   
	}

	function removeUnit() {
		var btn = $(this);
		swal({
			title: "Mensaje",
			text: "Confirma que desea eliminar el elemento seleccionado",
			type: "warning", 
			showCancelButton: true,
			cancelButtonText: "Cancelar",
			confirmButtonText: "Eliminar",
			closeOnConfirm: true
		}, function() {
			var div = btn.parent().parent();
			deletedOnes.push(div.data("id-goal") || -1);
			div.remove();
		});
	}

	$(document).ready(function() {
		// Permissions:
		#{secure.check "goals/savegoals"}
		canSave = true;
		#{/secure.check}

		#{secure.check "goals/editgoals"}
		canEdit = true;
		#{/secure.check}

		#{secure.check "goals/removegoals"}
		canRemove = true;
		#{/secure.check}

		$("#date-goals").datepicker({
			format: " yyyy", // Notice the Extra space at the beginning
			viewMode: "years", 
			minViewMode: "years",
			language: 'es',
			autoclose: true
		}).on('changeDate', function (ev) {
		    var registered = false;
		    var year = ev.date.getFullYear();

		    $("#year-to-see option").each(function(i, v) {
		    	if($(v).val() == year) {
		    		registered = true;
		    	}
		    });

		    if(registered) {
		    	getGoalsToEdit(year);
		    	$("#year-to-see").val(year);
		    } else {
		    	$(".input-goal-desc, .input-goal-val").val("");
		    	$(".goal-unit").attr("data-id-goal", "-1");
		    	$("#year-to-see").val("-1");
		    }
		});
		
		$("#div-values").css({
			"max-height": "270px",
			"overflow-y": "auto",
			"overflow-x": "hidden"
		});

		Liverpool.loading("show");
		$.ajax({
	        url: baseUrl + "goals/getgoalyears",
	        type: 'GET',
	    }).done(function(data, textStatus, jqXHR) {
	    	//console.log(data);

	    	//years available:
	    	$("#year-to-see").html("<option value='-1'>Seleccione una opción</option>");
	    	for(var i = 0; i < data.length; i++) {
	    		$("#year-to-see").append(
	    			"<option value='" + data[i] + "'>" + data[i] + "</option>"
	    		);
	    	}
	    	Liverpool.loading("hide");
	    	var lastYear = $("#year-to-see option:last-child").val()
	    	getGoalsToEdit(lastYear);
	    	$("#year-to-see").val(lastYear);
	    }).fail(function(jqXHR, textStatus, errorThrown) {
	    	console.log(errorThrown);
	    	Liverpool.loading("hide");
	    });

		$("#btn-apply").click(function() {

			if($("#date-goals").val().trim().length == 0) {
			    swal("Mensaje", "Debe seleccionar el campo Año", "warning");
			    return;
			}

			if($(".goal-unit").length == 0) {
			    swal("Mensaje", "Debe agregar al menos una descripción", "warning");
			    return;
			}

			var state = fieldsState();

			if(state == "empty") {
			    swal("Mensaje", "Favor de completar todos los campos", "warning");
			    return;
			} else if(state == "repeated") {
			    swal("Mensaje", "Las descripciones deben ser únicas, favor de verificar", "warning");
			    return;
			}

			var goalsJSON = JSON.stringify(getGoalsArray());
			var idsJSON = JSON.stringify(deletedOnes);

			//console.log(goalsJSON);
			//console.log(idsJSON);

			Liverpool.loading("show");
			$.ajax({
			    url: "@{Goals.removeGoals()}",
			    type: "POST",
			    data: {
			        idsJSON: idsJSON
			    }
			}).done(function(data, textStatus, jqXHR) {
			    //console.log(data);

			    $.ajax({
			        url: "@{Goals.saveGoals()}",
			        type: "POST",
			        data: {
			            goalsJSON: goalsJSON,
			            year: $("#date-goals").val().trim()
			        }
			    }).done(function(data, textStatus, jqXHR) {
			        //console.log("repeated: " + data);
			        var response = JSON.parse(data);

			        if(response.repeated) {
			            var text = "";
			            for(var i = 0; i < response.repeated.length; i++) {
			                var e = response.repeated[i];

			                text += e.description + " - " + e.maxValue + "\n"; 
			            }
			            swal("Mensaje", "Las siguientes metas ya se encuentran registradas\n" +
			                "para el año seleccionado, por favor veriqfique:\n" +
			                text, "warning");
			        } else if(response.ok) {
			            swal("Mensaje", "Datos guardados correctamente", "success");
			            var year = response.year;

			            Liverpool.loading("show");
						$.ajax({
					        url: baseUrl + "goals/getgoalyears",
					        type: 'GET',
					    }).done(function(data, textStatus, jqXHR) {
					    	//console.log(data);

					    	//years available:
					    	$("#year-to-see").html("<option value='-1'>Seleccione una opción</option>");
					    	for(var i = 0; i < data.length; i++) {
					    		$("#year-to-see").append(
					    			"<option value='" + data[i] + "'>" + data[i] + "</option>"
					    		);
					    	}

					    	if(response.allErased) {
					    		$("#date-goals").val("");
					    		$("#year-to-see").val("-1");
					    	} else {
					    		$("#date-goals").val(year);
					    		$("#year-to-see").val(year);	
					    	}
					    	Liverpool.loading("hide");
					    }).fail(function(jqXHR, textStatus, errorThrown) {
					    	console.log(errorThrown);
					    	Liverpool.loading("hide");
					    });
			        }
			        Liverpool.loading("hide");
			    }).fail(function(jqXHR, textStatus, errorThrown) {
			        console.log(errorThrown);
			        Liverpool.loading("hide");
			    });

			}).fail(function(jqXHR, textStatus, errorThrown) {
			    console.log(errorThrown);
			});
			/*
			*/
		});

		$("#year-to-see").change(function() {
			var v = $(this).val();

			if(v != "-1") {
				getGoalsToEdit(v);
			} else {
				$("#panel-parametrization").fadeOut(200);
			}
		});
	});
</script>
