#{extends 'Layout/default.html' /}
#{set title: 'Monitor de Correos' /}
#{set location: 'Monitor de Correos' /}
#{set bodyClass: 'gray' /}

#{if place == 'CSI' }
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />
#{/if}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label class="blue-title" for="q2">Encuesta</label>
            <select id="survey" name="survey_id" class="form-control">
                <option value="">Seleccionar encuesta</option>
                #{list items: surveys, as: 'survey'}
                <option value="${survey.id}">${survey.name}</option>
                #{/list}
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 bq-ficha white-box">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-5 col-md-3 text-right">
                <label class="blue-title">Fecha de envío</label>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-5">
                <div id="send-date" class="form-control"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3"></div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-5 col-md-3 text-right">
                <label class="blue-title">Correos enviados</label>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-5">
                <div id="sent" class="form-control"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <button id="list-sent" class="btn btn-primary btn-blue btn-block show-details hidden" data-list="1">Detalles</button>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-5 col-md-3 text-right">
                <label class="blue-title">Correos no enviados</label>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-5">
                <div id="not-sent" class="form-control"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <button id="list-not-sent" class="btn btn-primary btn-blue btn-block show-details_no hidden" data-list="0">Detalles</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-emails" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header tab-title">
                <button type="button" class="close btn-modal-close" data-dismiss="modal">&times;</button>
                <h4 class="nomargin">Correos Enviados</h4>
            </div>
            <div class="modal-body no-padding">
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-lp table-striped left-align-text">
                        <thead class="tb-white-head">
                            <tr>
                                <th class="col-sm-2">Num. de Empleado</th>
                                <th class="col-sm-2">Nombre</th>
                                <th class="col-sm-3">Correo</th>
                                <th class="col-sm-1">Función</th>
                                <th class="col-sm-2">Mensaje de error</th>
                                <th class="col-sm-2">Fecha</th>
                            </tr>
                        </thead>
                    </table>                    
                </div>
            </div>
            <div class="modal-footer text-center">
                <button title="Exportar" type="button" id="export" class="btn btn-green">
                    <img src="@{'/public/assets/img/icon-save.png'}">
                </button>
                <button title="Actualizar" type="button" id="reload" class="btn btn-blue">
                    <img src="@{'/public/assets/img/icon-reload.png'}">
                </button>
                <button title="Cerrar" type="button" class="btn btn-red" data-dismiss="modal">
                    <img src="@{'/public/assets/img/icon-close.png'}">
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var EmailMonitor = function() {
        var oTable   = null;
        var listType = null;
        
        var bindEvents = function() {            
            $('#survey').change(function() {
                var survey = $(this).val();
                
                $.get('@{EmailMonitor.survey()}', {surveyId: survey}, function(data) {
                    displaySendSummary(data);
                });
            });
            
            $('.show-details').click(function() {
                $("h4.nomargin").html("Correos enviados");
                listType = $(this).data('list');
                var detailUrl = '@{EmailMonitor.detail()}' + '?surveyId=' + $('#survey').val() + '&type=' + listType;
                setTable(detailUrl);
            });

            $('.show-details_no').click(function() {
                $("h4.nomargin").html("Correos no enviados");
                listType = $(this).data('list');
                var detailUrl = '@{EmailMonitor.detail()}' + '?surveyId=' + $('#survey').val() + '&type=' + listType;
                setTable(detailUrl);
            });
            
            $('#reload').click(function() {
                oTable.api().ajax.reload();
            });
            
            $('#export').click(function() {
                location.href = '@{EmailMonitor.export()}' + '?surveyId=' + $('#survey').val() + '&type=' + listType;
            });
        };
        
        var displaySendSummary = function(summary) {
            var date    = summary.date || '';
            var sent    = summary.sent || '0';
            var notSent = summary.notSent || '0';
            
            $('#send-date').html(date);
            $('#sent').html(sent);
            $('#not-sent').html(notSent);
            
            $('#list-sent').removeClass('hidden');            
            $('#list-not-sent').removeClass('hidden');
        };
        
        var setTable = function(url) {
            oTable = $('.table-lp').dataTable({
                "iDisplayLength": 5,
                "bFilter": false,
                "bLengthChange": false,
                "bAutoWidth": false,
                "bDestroy": true,
                "bSort": false,
                "bInfo": false,
                "oLanguage": {
                    "sZeroRecords": "Ningún Registro",
                    "sInfo": "Mostrando Eventos de _START_ al _END_ de _TOTAL_ totales",
                    "sInfoEmpty": "0 Eventos",
                     "sPaginatePrevious": "Previous page",
                     "sProcessing": "Cargando...",
                     "oPaginate": {
                        "sFirst":    "<<",
                        "sLast":     ">>",
                        "sNext":     ">",
                        "sPrevious": "<"
                    }
                },
                "fnCreatedRow": function(nRow, aData, iDataIndex) {
                },
                "bProcessing": true,
                "bServerSide": true,
                "bStateSave" : false,
                "sAjaxSource": url,
                "pagingType": "full_numbers"
            });
            
            $('#modal-emails').modal('show');
        };
        
        bindEvents();        
    }();
</script>

#{if place == 'CSI' }
<script type="text/javascript">
    $(document).ready(function() {
        $("#side-bar-nps").hide();

        $("#survey-type").val("5");
        $("#survey-type").change();
    });
</script>

<script type="text/javascript" src="${play.Play.ctxPath}/static/assets/js/liverpool/csi/csi-filters.js"></script>
#{/if}