#{extends 'Layout/default.html' /}
#{set title: 'Parametrización de email' /}
#{set location: 'Plantillas de Correo' /}

<div class="row"> 
    <div class="col-md-12 text-center">
        <div class="form-group">
            <label>Plantillas de Correo Electrónico</label>
        </div>
    </div>
</div>

<div class="row"> 
    <div class="col-md-12">
        <div class="form-group text-right">
            <a href="@{EmailCSI.edit()}" class="btn btn-green" title="Agregar">
                <i class="glyphicon glyphicon-plus"></i> Nueva plantilla
            </a>
        </div>
    </div>
</div>

<div class="">
    #{if flash.success}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${flash.success}
    </div>
    #{/if}
    #{if flash.error || error}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${error ?: flash.error.nl2br()}
    </div>
    #{/if}
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-lp table-striped" data-edit="@{EmailCSI.edit()}" data-preview="@{EmailCSI.preview()}" data-source="@{EmailCSI.list()}">
                <thead>
                    <tr>
                        <th>Plantilla</th>
                        <th>Encuesta</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div id="mdl-preview" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header tab-title">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="nomargin">Vista Previa</h4>
            </div>
            <div class="modal-body">
                <iframe id="preview-iframe" frameborder="0" sandbox="allow-scripts" src=""></iframe>
            </div>
            <div class="modal-footer text-right">
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            </div>
        </div>
    </div>
</div>

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />
#{/set}

#{set 'scripts'}
    <script type="text/javascript" src="@{'/public/assets/js/liverpool/csi-email-templates-index.js'}"></script>
    
    <script type="text/javascript" src="${play.Play.ctxPath}/static/assets/js/liverpool/csi/csi-filters.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#side-bar-nps").hide();
        });
    </script>
#{/set}