#{extends 'Layout/default.html' /}
#{set title: 'Envío correos' /}
#{set location: 'Envío correos' /}

<form id="send-form">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-group">
                <label class="blue-title" for="survey">Encuesta</label>
                <select id="survey" name="surveyId" class="form-control">
                    <option value="">Seleccionar encuesta</option>
                    #{list items: surveys, as: 'survey'}
                    <option value="${survey.id}">${survey.name}</option>
                    #{/list}
                </select>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-group">
                <label class="blue-title" for="template">Plantilla</label>
                <select id="template" name="templateId" class="form-control">
                    <option value="">Seleccionar plantilla</option>
                    #{list items: templates, as: 'template'}
                    <option value="${template.id}">${template.subject}</option>
                    #{/list}
                </select>
            </div>
        </div>
    </div>

    <div id="employees-selection" class="row mt-20 hidden">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-group">
                <label>Empleados (Dejar vacío para enviar a todos)</label>
                <input type="hidden" id="employees" name="employees" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="form-group text-right">
                <button type="button" id="send-email" class="btn btn-primary btn-blue show-details">
                    <i class="fa fa fa-envelope"></i>
                    Enviar Encuesta
                </button>
            </div>
        </div>
    </div>
</form>

#{set 'styles'}
    #{if place == 'CSI' }
    <link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />
    #{/if}
    <link rel="stylesheet" type="text/css" href="@{'/public/assets/js/components/select2/select2-bootstrap.css'}" />
    <link rel="stylesheet" type="text/css" href="@{'/public/assets/js/components/select2/select2.css'}" />   
#{/set}

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/select2/select2.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/select2/select2_locale_es.js'}"></script>

<script type="text/javascript">
    var EmailMonitor = function() {        
        var bindEvents = function() {            
            $('#survey').change(function() {
               var id = parseInt($(this).val());
               
               if (id === '') {
                   $('#employees-selection').addClass('hidden');
               } else {
                   $('#employees-selection').removeClass('hidden');
               }
               
               $("#employees").select2('val', '');
            });
            
            $("#employees").select2({
                formatResult: format,
                minimumInputLength: 3,
                multiple: true,
                ajax: {
                    url: '@{SendSurveyCSI.getSurveyEmployees()}',
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            search: term,
                            surveyId: $('#survey').val()
                        };
                    },
                    results: function (data, page) {
                        return { results: data.items };
                    },
                    cache: false
                }
            });
            
            $('#send-email').click(function () {
                if ($('#survey').val() == '') {
                    swal({
                        title: 'Aviso',
                        text: 'Debe seleccionar la encuesta a enviar',
                        type: 'warning'
                    });
                    
                    return false;
                }
                
                if ($('#template').val() == '') {
                    swal({
                        title: 'Aviso',
                        text: 'Debe seleccionar la plantilla',
                        type: 'warning'
                    });
                    
                    return false;
                }
                
                swal({
                    title: 'Confirmar Envío',
                    text: 'Una vez iniciado el envío no podrá ser cancelado.',
                    type: 'info', 
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Continuar',
                    closeOnConfirm: true
                }, function() {
                    $('#send-form').submit();
                });
            });
            
            $('#send-form').submit(function (e) {
                e.preventDefault();
                
                $.ajax({
                    url: '@{SendSurveyCSI.sendEmail()}',
                    data: $('#send-form').serialize(),
                    type: 'post',
                    dataType: 'json',
                    success: function (result) {
                        swal({
                            title: '',
                            text: result.message,
                            type: result.error ? 'warning' : 'success'
                        });
                    },
                    beforeSend: function () {
                        $('#send-email').attr('disabled', 'disabled');
			Liverpool.loading('show');
                    },
                    complete: function () {
                        $('#send-email').removeAttr('disabled');
			Liverpool.loading('hide');
                    },
                    error: function () {
                        swal({
                            title: '',
                            text: 'La encuesta no pudo ser enviada. Por favor, intente nuevamente.',
                            type: 'warning'
                        });
                    }
                });
            });
            
            $("#store").select2();
        };
        
        var format =  function (state) {
            if (!state.id) return state.text;
            return state.text;
        }
        
        bindEvents();        
    }();
</script>
#{/set}

#{if place == 'CSI' }
<script type="text/javascript" src="${play.Play.ctxPath}/static/assets/js/liverpool/csi/csi-filters.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#side-bar-nps").hide();
    });
</script>
#{/if}