<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tracking-tab" aria-controls="tracking-tab" role="tab" data-toggle="tab">Seguimiento</a></li>
    <li role="presentation"><a href="#stores-tab" aria-controls="stores-tab" role="tab" data-toggle="tab">Ubicaciones</a></li>
    <li role="presentation"><a href="#managers-tab" aria-controls="managers-tab" role="tab" data-toggle="tab">Gerentes</a></li>        
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="tracking-tab">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="liverpool-table text-center table-tracking">
                        <thead>
                            <tr>
                                <th>Zonas</th>
                                <th>Total de Evaluaciones</th>
                                <th>Evaluaciones Promotoras</th>
                                <th>%</th>
                                <th>Evaluaciones Neutras/Detractoras</th>
                                <th>%</th>
                                <th>Abiertas</th>
                                <th>%</th>
                                <th>En Seguimiento</th>
                                <th>%</th>
                                <th>Finalizadas</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            #{list items: results, as: 'result'}
                            <tr data-id="${result[0]}" data-level-name="${result[1]}" data-target="zone" data-filter="{'groupId': ${groupId}, 'businessId': ${businessId}, 'zoneId': '${result[0]}'}">
                                <td class="td-text-left">${result[0]}</td> <!-- Name -->
                                <td>${result[1]}</td>  <!-- Total de Evaluaciones -->
                                <td class="data-promoters">${result[2]}</td>  <!-- Evaluaciones Promotoras -->
                                <td>${result[3]?.format('##0')}%</td>  <!-- % -->
                                <td class="data-detractors">${result[4]}</td>  <!-- Evaluaciones Neutras/Detractoras -->
                                <td>${result[5]?.format('##0')}%</td>  <!-- % Neutras/Detractoras -->
                                <td class="data-open">${result[7]}</td>  <!-- Abiertas -->
                                <td>${result[8]?.format('##0')}%</td>  <!-- % Abiertas -->
                                <td class="data-process">${result[9]}</td>  <!-- En Seguimiento -->
                                <td>${result[10]?.format('##0')}%</td>  <!-- % Seguimiento -->
                                <td class="data-finished">${result[11]}</td>  <!-- Finalizadas -->
                                <td>${result[12]?.format('##0')}%</td>  <!-- % Finalizadas -->
                            </tr>
                            #{/list}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="stores-tab">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="detail-stores" class="liverpool-table text-center">
                        <thead>
                            <tr>
                                <th>Tienda</th>
                                <th>Total de Evaluaciones</th>
                                <th>Evaluaciones Promotoras</th>
                                <th>%</th>
                                <th>Evaluaciones Neutras/Detractoras</th>
                                <th>%</th>
                                <th>Abiertas</th>
                                <th>%</th>
                                <th>En Seguimiento</th>
                                <th>%</th>
                                <th>Finalizadas</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            #{list items: details.get('stores'), as: 'store'}
                            <tr>
                                <td class="td-text-left">${store[1]}</td> <!-- Name -->
                                <td>${store[2]}</td>  <!-- Total de Evaluaciones -->
                                <td>${store[3]}</td>  <!-- Evaluaciones Promotoras -->
                                <td>${store[4]?.format('##0')}%</td>  <!-- % -->
                                <td>${store[5]}</td>  <!-- Evaluaciones Neutras/Detractoras -->
                                <td>${store[6]?.format('##0')}%</td>  <!-- % Neutras/Detractoras -->
                                <td>${store[8]}</td>  <!-- Abiertas -->
                                <td>${store[9]?.format('##0')}%</td>  <!-- % Abiertas -->
                                <td>${store[10]}</td>  <!-- En Seguimiento -->
                                <td>${store[11]?.format('##0')}%</td>  <!-- % Seguimiento -->
                                <td>${store[12]}</td>  <!-- Finalizadas -->
                                <td>${store[13]?.format('##0')}%</td>  <!-- % Finalizadas -->
                            </tr>
                            #{/list}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
    <div role="tabpanel" class="tab-pane fade" id="managers-tab">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="detail-managers" class="liverpool-table text-center">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Total de Evaluaciones</th>
                                <th>Evaluaciones Promotoras</th>
                                <th>%</th>
                                <th>Evaluaciones Neutras/Detractoras</th>
                                <th>%</th>
                                <th>Abiertas</th>
                                <th>%</th>
                                <th>En Seguimiento</th>
                                <th>%</th>
                                <th>Finalizadas</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            #{list items: details.get('managers'), as: 'manager'}
                            <tr>
                                <td class="td-text-left">${manager[1]}</td> <!-- Name -->
                                <td>${manager[2]}</td>  <!-- Total de Evaluaciones -->
                                <td>${manager[3]}</td>  <!-- Evaluaciones Promotoras -->
                                <td>${manager[4]?.format('##0')}%</td>  <!-- % -->
                                <td>${manager[5]}</td>  <!-- Evaluaciones Neutras/Detractoras -->
                                <td>${manager[6]?.format('##0')}%</td>  <!-- % Neutras/Detractoras -->
                                <td>${manager[8]}</td>  <!-- Abiertas -->
                                <td>${manager[9]?.format('##0')}%</td>  <!-- % Abiertas -->
                                <td>${manager[10]}</td>  <!-- En Seguimiento -->
                                <td>${manager[11]?.format('##0')}%</td>  <!-- % Seguimiento -->
                                <td>${manager[12]}</td>  <!-- Finalizadas -->
                                <td>${manager[13]?.format('##0')}%</td>  <!-- % Finalizadas -->
                            </tr>
                            #{/list}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

