<div class="table-responsive">
    <table class="liverpool-table text-center table-tracking">
        <thead>
            <tr>
                <th>Grupos</th>
                <th>Total de Evaluaciones</th>
                <th>Evaluaciones Promotoras</th>
                <th>%</th>
                <th>Evaluaciones Neutras/Detractoras</th>
                <th>%</th>
                <th>Abiertas</th>
                <th>%</th>
                <th>En Seguimiento</th>
                <th>%</th>
                <th>Finalizadas</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            #{list items: results, as: 'result'}
            <tr data-id="${result[0]}" data-level-name="${result[1]}" data-target="group" data-persist="true" data-filter="{'groupId': ${result[0]}}">
                <td class="td-text-left">${result[1]}</td> <!-- Name -->
                <td>${result[2]}</td>  <!-- Total de Evaluaciones -->
                <td class="data-promoters">${result[3]}</td>  <!-- Evaluaciones Promotoras -->
                <td>${result[4]?.format('##0')}%</td>  <!-- % Promotoras -->
                <td class="data-detractors">${result[5]}</td>  <!-- Evaluaciones Neutras/Detractoras -->
                <td>${result[6]?.format('##0')}%</td>  <!-- % Neutras/Detractoras -->
                <td class="data-open">${result[8]}</td>  <!-- Abiertas -->
                <td>${result[9]?.format('##0')}%</td>  <!-- % Abiertas -->
                <td class="data-process">${result[10]}</td>  <!-- En Seguimiento -->
                <td>${result[11]?.format('##0')}%</td>  <!-- % Seguimiento -->
                <td class="data-finished">${result[12]}</td>  <!-- Finalizadas -->
                <td>${result[13]?.format('##0')}%</td>  <!-- % Finalizadas -->
            </tr>
            #{/list}
        </tbody>
    </table>
</div>
