#{extends 'Layout/default.html' /}
#{set title: 'Reporte de seguimiento' /}
#{set location: 'Reporte de seguimiento' /}

#{set 'styles'}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/circle.css'}" />

<style type="text/css">
    .table-tracking [data-target] {
        cursor: pointer;
    }
    
    .filter-breadcrumb li {
        color: #2e2e32;
        font-size: 12px;
        font-weight: bold;
        text-transform: capitalize !important;
    }
    
    .filter-breadcrumb {
        padding-left: 0;
    }
    
    .filter-breadcrumb > li + li:before {
        content: '';
        padding: 0 0 0 3px;
    }
    
    .filter-breadcrumb li:not(:last-child) {
        cursor: pointer;
    }
    
    .filter-breadcrumb li:last-child {
        color: #306898;
    }
    
    #breadcrumb-dates li {
        cursor: default;
    }
    
    .graphs {
        margin-bottom: 10px;
        padding: 5px;
    }
    
    .td-text-left {
        text-align: left !important;
    }
    
    #current-level {
        font-weight: bold;
        margin-bottom: 10px;
    }
</style>
#{/set}

<div class="row">
    <div class="col-sm-12">
        <ul id="breadcrumb-dates" class="list-unstyled breadcrumb filter-breadcrumb">
            <li>Información</li>
            <li class="period-name"><span class="glyphicon glyphicon-chevron-right"></span></li>
            <li class="period-date"><span class="glyphicon glyphicon-chevron-right"></span></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 id="current-level" class="text-center"></h4>
    </div>
</div>

<div class="row graphs">
    <div class="col-sm-6">
        <h4 class="text-center">Evaluaciones</h4>
        <div id="graph-detractors-promoters" style="width: 100%; height: 300px; margin-bottom: 20px;">
            
        </div>
    </div>
    <div class="col-sm-6">
        <h4 class="text-center">Estatus de seguimiento de evaluaciones Detractoras</h4>
        <div id="graph-status" style="width: 100%; height: 300px; margin-bottom: 20px;">
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <ul id="levels-breadcrumb" class="list-unstyled breadcrumb filter-breadcrumb">
        </ul>
    </div>
</div>

<div class="row" style="margin-bottom: 30px;">
    <div class="col-sm-12">
        <div id="table-data"></div>
    </div>
</div>

<div class="form-horizontal main-form hidden">
    <div class="row row-table">
        <div class="form-group">
            <div class="col-xs-12">
                <table id="table-tracing" class="liverpool-table text-center">
                    <thead>
                        <tr>
                            <th>Zona</th>
                            <th>Promotoras</th>
                            <th>Detractoras/Pasivas</th>
                            <th>Total</th>
                            <th>%</th>
                            <th>% Detractoras/Pasivas</th>
                            <th>Seguimiento</th>
                            <th>%</th>
                            <th>No contactado</th>
                            <th># Gerentes</th>
                            <th>Cerradas</th>
                            <th>Gráfica</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row row-charts">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <button id="back-to-table" class="btn btn-info">Volver a tabla</button>
                </div>
            </div>
        </div>
        <div class="form-group white-row">
            <div class="col-xs-12">
                <div class="col-xs-12 col-md-4 text-center">
                    <div id="chart-prom-det"></div>
                </div>
                <div class="col-xs-12 col-md-4 text-center">
                    <div id="chart-tracing"></div>
                </div>
                <div class="col-xs-12 col-md-4 text-center">
                    <div id="chart-status"></div>
                </div>
            </div>
        </div>
    </div>
</div>

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts-more.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/solid-gauge.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/tracking.js'}"></script>
#{/set}
