<table class="liverpool-table text-center table-tracking">
    <thead>
        <tr>
            <th>Ubicación</th>
            <th>Promotoras</th>
            <th>Detractoras/Pasivas</th>
            <th>Total</th>
            <th>%</th>
            <th>% Detractoras/Pasivas</th>
            <th>Seguimiento</th>
            <th>%</th>
            <th>No contactado</th>
            <th># Gerentes</th>
            <th>Cerradas</th>
        </tr>
    </thead>
    <tbody>
        <tr data-id="1">
            <td>Zona 1</td>
            <td>2</td>
            <td>4</td>
            <td>6</td>
            <td>33.33</td>
            <td>66.67</td>
            <td>32</td>
            <td>4</td>
            <td>4</td>
            <td>2</td>
            <td>7</td>
        </tr>
        <tr data-id="2">
            <td>Zona 2</td>
            <td>22</td>
            <td>35</td>
            <td>6</td>
            <td>33.33</td>
            <td>66.67</td>
            <td>9</td>
            <td>4</td>
            <td>4</td>
            <td>8</td>
            <td>10</td>
        </tr>
    </tbody>
</table>
