<div class="table-responsive">
    <table class="liverpool-table text-center table-tracking">
        <thead>
            <tr>
                <th>Jefe</th>
                <th>Promotoras</th>
                <th>Detractoras/Pasivas</th>
                <th>Total</th>
                <th>%</th>
                <th>% Detractoras/Pasivas</th>
                <th>Seguimiento</th>
                <th>%</th>
                <th>No contactado</th>
                <th># Gerentes</th>
                <th>Cerradas</th>
            </tr>
        </thead>
        <tbody>
            <tbody>
            #{list items: results, as: 'result'}
            <tr data-id="${result[0]}">
                <td>${result[1]}</td> <!-- Tienda -->
                <td class="data-promoters">${result[3]}</td> <!--  Promotoras -->
                <td class="data-detractors">${result[5]}</td> <!--  Detractoras/Pasivas -->
                <td>${result[2]}</td> <!-- Total -->
                <td>${result[4]?.format('##0')}%</td> <!-- % -->
                <td>${result[6]?.format('##0')}%</td> <!-- % Detractoras/Pasivas -->
                <td class="data-open">${result[8]}</td> <!-- Abiertas -->
                <td class="data-process">${result[7]}</td> <!-- Seguimiento -->
                <td>${result[11]?.format('##0')}%</td> <!-- % Seguimiento -->
                <td class="data-finished">${result[12]}</td> <!-- Cerradas -->
            </tr>
            #{/list}
        </tbody>
        </tbody>
    </table>
</div>
