#{extends 'Layout/default.html' /}
#{set title: 'Bitácora de Eventos' /}

<!--Contenedor de mensajes-->
<div id="message-container">
    #{if flash.success}
    <div class="crudFlash flashSuccess">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${flash.success}
    </div>
    #{/if}
    #{if flash.error || error}
    <div class="crudFlash flashError">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${error ?: flash.error.nl2br()}
    </div>
    #{/if}
</div>

<form id="filter-form"  class="row"> 
    <div class="col-md-2">
        <label>Usuario</label>
        <input id="batteryPartNumber" name="user" class="form-control input-sm" type="text" maxlength="10" />                    
    </div>

    <div class="col-md-2">
        <label>Fecha Inicial</label>
        <div class="input-group">
            <input id="start-date" name="startDate" class="form-control input-sm date-picker" type="text" maxlength="10" data-date-format="yyyy-mm-dd">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>

    <div class="col-md-2">
        <label>Fecha Final</label>
        <div class="input-group">
            <input id="end-date" name="endDate" class="form-control input-sm date-picker" type="text" maxlength="10" data-date-format="yyyy-mm-dd">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>

    <div class="col-md-1">
        <label class="control-label block">&nbsp</label>
        <button id="search" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
    </div>
</form>

<div class="separator"></div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-lp table-striped">
                <thead>
                    <tr>
                        <th class="center">Usuario</th>
                        <th class="center">Evento</th>
                        <th class="center">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="center"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        /*
         * Inicialización de la tabla
         */
        var oLogTable = $('.table-lp').dataTable({
            "iDisplayLength": 5,
            "bFilter": false,
            "bLengthChange": false,
            "bAutoWidth": false,
            "bDestroy": true,
            "bSort": true,
            "oLanguage": {
                "sZeroRecords": "Ningún Registro",
                "sInfo": "Mostrando Eventos de _START_ al _END_ de _TOTAL_ totales",
                "sInfoEmpty": "0 Eventos",
                 "sPaginatePrevious": "Previous page",
                 "sProcessing": "Cargando...",
                 "oPaginate": {
                    "sFirst":    "<<",
                    "sLast":     ">>",
                    "sNext":     ">",
                    "sPrevious": "<"
                }
            },
            "bProcessing": true,
            "bServerSide": true,
            "bStateSave" : false,
            "sAjaxSource": "@{getLogs()}",
            "fnServerParams": function ( aoData ) {
                var array = jQuery($('#filter-form')).serializeArray();
                jQuery.each(array, function() {
                    aoData.push({'name': this.name, 'value': this.value});
                });
            },
            "pagingType": "full_numbers",
            "aaSorting": [[ 2, "desc" ]]
        });

         /*
          * Filtrado
          */
        $('#filter-form').submit(function(){
            oLogTable.fnPageChange(0);
            return false;
        });
        
        /*
         * Calendarios
         */
        $('#start-date').datepicker({
            language: 'es',
            autoclose: true
        }).on('changeDate', function(selected){            
            var startDate = new Date(selected.date.valueOf());            
            $('#end-date').datepicker('setStartDate', startDate);
        });
        
        $('#end-date').datepicker({
            language: 'es',
            autoclose: true
        });
    });
</script>