#{extends 'Layout/default.html' /}
#{set title: 'NPS' /}
#{set location: 'NPS' /}
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/circle.css'}" />

<style type="text/css">
    .table-g {
        border-right: 10px solid #F7F7F8;
    }
</style>

<div class="form-horizontal main-form">
    <div class="row" style="height: 0">
        <div class="col-xs-12">
            <div style="margin-left: 10px;" class="row">
                <div class="form-group">
                    <div class="col-xs-8">
                        <label class="normal-lbl">
                            Información <span class="glyphicon glyphicon-chevron-right"></span>
                        </label>
                        <label id="regM" class="normal-lbl">Mensual <span class="glyphicon glyphicon-chevron-right"></span></label>
                        <label class="normal-lbl">
                            <span id="range" style="color: #306898; font-weight: bold;">${session.get("month")} / ${session.get("year")}</span>
                        </label>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row white-row" style="top: -20px;">
        <div class="col-xs-12 col-sm-3">
            <div class="form-group"><div class="col-xs-12">
                    <div class="btn-group" style="z-index: 2; top: 10px;" role="group">
                        <button type="button" value="201" id="btn-serv" class="btn btn-xs btn-default">Servicio</button>
                        <button type="button" value="202" id="btn-recom" class="btn btn-xs btn-primary">Recomendación</button>
                    </div>
                </div>
                <div id="main-chart" style="width: 300px;"></div>
                <div id="addText" style="position:absolute; left:0px; top:0px;"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9" id="hNps">
            <div class="col-xs-12">
                <div class="btn-group" style="z-index: 2; top: 10px;" role="group">
                    <button type="button" id="btn-mes" class="btn btn-xs btn-primary">Mes</button>
                    <button type="button" id="btn-trim" class="btn btn-xs btn-default">Trimestre</button>
                </div>
            </div>
            <div id="main-line-chart" style="width: 100%;"></div>
            <div id="main-line-chart-trim" style="width: 100%;"></div>
        </div>
        <div class="col-xs-12 col-sm-4 text-center" id="loading-top-tables" style="display: none">
            <img class='icon-loading' alt='loading icon' src="@{'/public/assets/img/livLoading.gif'}">
        </div>
        <div class="col-xs-12 col-sm-4" id="tNps" style="display: none">
            <div class="row">
                <div class="col-xs-6">
                    <label class="normal-lbl">5 Más Altos NPS</label>
                </div>
                <div class="col-xs-6">
                    <label class="normal-lbl">5 Más Bajos NPS</label>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-6 high-nps" >
                    <ul class="nav nav-tabs" id="high-nps">
                        <li title="Almacenes" class="active"><a href="#menu1" data-toggle="tab">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        <li title="Secciones"><a href="#menu2" data-toggle="tab">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                        </li>
                        <li title="Gerentes"><a href="#menu3" data-toggle="tab">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="menu1" class="tab-pane fade in active">
                            <table class="highest-table">
                                <tbody></tbody>
                            </table>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <table class="highest-table">
                                <tbody></tbody>
                            </table>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <table class="highest-table">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 low-nps">
                    <ul class="nav nav-tabs" id="low-nps">
                        <li title="Almacenes" class="active"><a href="#menu4" data-toggle="tab">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        <li title="Secciones"><a href="#menu5" data-toggle="tab">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                        </li>
                        <li title="Gerentes"><a href="#menu6" data-toggle="tab">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="menu4" class="tab-pane fade in active">
                            <table class="lowest-table">
                                <tbody></tbody>
                            </table>
                        </div>
                        <div id="menu5" class="tab-pane fade">
                            <table class="lowest-table">
                                <tbody></tbody>
                            </table>
                        </div>
                        <div id="menu6" class="tab-pane fade">
                            <table class="lowest-table">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="participation-chart" style="height: 100px;"></div>
                    <div class="row">
                        <div class="col-xs-9 col-xs-offset-3" style="top: -10px;">
                            <div class="col-xs-6">
                                <label class="normal-lbl" id="mj">

                                </label>
                            </div>
                            <div class="col-xs-6 text-right">
                                <label class="normal-lbl" id="mn">

                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>


    <div style="margin-left: 10px;" class="row">
        <div class="form-group">
            <div class="col-xs-12" id="npsT">
                <label class="normal-lbl">
                    <!--
                    <span style="color: #306898;" class="glyphicon glyphicon-chevron-left"></span>
                    -->
                    <span style="color: #306898; font-weight: bold;">Compañia</span>
                </label>
                <!--<label class="normal-lbl">Zona 1B > </label>-->
                <!--                <label class="normal-lbl">
                                    <span style="color: #306898; font-weight: bold;">L. Satélite, L. Interlomas</span>
                                </label>-->
            </div>
        </div>
    </div>

    <div class="row" id="groups-t-nps" style="display: none;">
    </div>
    <div class="row" id="groups-t-nps-loading" style="display: none;">
        <div class="col-xs-12">
            <img class='icon-loading' alt='loading icon' src="@{'/public/assets/img/livLoading.gif'}">
        </div>
    </div>
    
    <div class="row groups-table-nps" style="display: none">
        <div class="text-right">
            <button class="btn btn-sm btn-success export-tables" data-container="groups-table-nps"><i class="fa fa-files-o"></i> Exportar</button>
        </div>
        <div class="col-xs-12">
            <table id="groups-right-table" class="highest-table">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="row business-table-nps" style="display: none">
        <div class="text-right">
            <button class="btn btn-sm btn-success export-tables" data-container="business-table-nps"><i class="fa fa-files-o"></i> Exportar</button>
        </div>
        <div class="col-xs-12">
            <table id="business-right-table" class="highest-table">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row return-nps" style="display: none;">
        <div class="col-xs-3" id="returnState">
            <button class="btn btn-link pos-abs pull-right" onclick="reset()">Regresar</button>
        </div>
    </div>    
    <div class="row select-nps" style="display: none;">
        <div class="col-xs-3">
            <div class="input-group pull fix-center">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-globe"></span>
                </span>
                <select class="form-control input-filter" onchange="filterSelect()" id="select-nps"></select>
            </div>
        </div>
    </div>
    <br>
    <div class="div-tables">
        <div class="row table-nps" style="display: none">
            <div class="text-right">
                <button class="btn btn-sm btn-success export-tables" data-container="table-nps"><i class="fa fa-files-o"></i> Exportar</button>
            </div>
            <div class="col-xs-12">
                <table id="right-table" class="highest-table">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="row table-nps-ranking" style="display: none">
            <div class="text-right">
                <button class="btn btn-sm btn-success export-tables" data-container="table-nps-ranking"><i class="fa fa-files-o"></i> Exportar</button>
            </div>
            <div class="col-xs-12">
                <table id="ranking-table" class="highest-table">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="row table-nps-store" style="display: none;">
            <div class="text-right">
                <button class="btn btn-sm btn-success export-tables" data-container="table-nps-store"><i class="fa fa-files-o"></i> Exportar</button>
            </div>
            <div class="col-xs-12">
                <table id="stores-table" class="highest-table">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row table-nps-manager" style="display: none;">
            <div class="text-right">
                <button class="btn btn-sm btn-success export-tables" data-container="table-nps-manager"><i class="fa fa-files-o"></i> Exportar</button>
            </div>
            <div class="col-xs-12">
                <table id="manager-table" class="highest-table">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row table-nps-chief" style="display: none;">
            <div class="text-right">
                <button class="btn btn-sm btn-success export-tables" data-container="table-nps-chief"><i class="fa fa-files-o"></i> Exportar</button>
            </div>
            <div class="col-xs-12">
                <table id="chief-table" class="highest-table">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row table-nps-section" style="display: none;">
            <div class="text-right">
                <button class="btn btn-sm btn-success export-tables" data-container="table-nps-section"><i class="fa fa-files-o"></i> Exportar</button>
            </div>
            <div class="col-xs-12">
                <table id="section-table" class="highest-table">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row table-nps-seller" style="display: none;">
            <div class="text-right">
                <button class="btn btn-sm btn-success export-tables" data-container="table-nps-seller"><i class="fa fa-files-o"></i> Exportar</button>
            </div>
            <div class="col-xs-12">
                <table id="seller-table" class="highest-table">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="row load-nps">
        <div class="col-xs-12">
            <img class='icon-loading' alt='loading icon' src="@{'/public/assets/img/livLoading.gif'}">
        </div>
    </div>

    <div class="row" style="display: none;">
        <div class="col-xs-5 text-center">
            <label class="">NPS por dirección:</label>
        </div>
    </div>

    <div class="row" style="display: none;">
        <div class="col-xs-5">
            <table id="second-table" class="highest-table">
                <thead>
                    <tr>
                        <th>Dirección</th>
                        <th>NPS Total</th>
                        <th style="border-right: 10px solid #F7F7F8;">Tendencia</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <div id="complaints-chart" style="width: 100%; height: 230px;"></div>
            </div>
        </div>
    </div>
    <a name="page-bottom"></a>
</div>

#{set 'scripts'}
<script type="text/javascript" src="@{'/public/assets/js/components/liveQuery/jquery.livequery.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts-more.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/solid-gauge.js'}"></script>  
<script type="text/javascript" src="@{'/public/assets/js/liverpool/calls_nps.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/fill_operations_nps.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps_utils.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/storeDetails.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/managerDetails.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/chiefDetails.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/sectionDetails.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/sellerDetails.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/jquery2excel/jquery.table2excel.js'}"></script>

<script type="text/javascript">
    $('.export-tables').click(function () {
        var filename = $('#npsT label:last-child span').text();
        
        $('.' + $(this).data('container') + ' table').table2excel({
            exclude: '.excludeThisClass',
            name: 'NPS',
            sheetName: 'NPS',
            filename: 'NPS-' + $.trim(filename.replace('|', '')),
            fileext: '.xlsx'
        });
    });
</script>
#{/set}
