#{extends 'Layout/default.html' /}
#{set title: 'CSI' /}
#{set location: 'CSI' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/csi.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
<link href="@{'/public/stylesheets/jquery-treetable/jquery.treetable.css'}" rel="stylesheet" type="text/css" />
<link href="@{'/public/stylesheets/jquery-treetable/jquery.treetable.theme.default.css'}" rel="stylesheet" type="text/css" />
<script src="@{'/public/javascripts/libs/jquery-treetable/jquery.treetable.js'}"></script>

<div class="form-horizontal">
	<div class="row">
		<div class="form-group">
			<div class="col-xs-12" id="csi-header">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group">
			<div class="col-xs-5">
				<div id="circle-graph"></div>
				<div id="addText" style="position:absolute; left:0px; top:0px;"></div>
				<div class="row" style="margin-top:20px; padding-top:10px;">
					<div class="col-xs-9 col-xs-offset-2">
						<div id="participation-chart">
							<div class="panel panel-primary">
								<div class="panel-body">
									<!--div class="row">
										<div class="col-xs-12 text-center">
											<label class="normal-lbl">Fórmula:</label>
										</div>
									</div-->
									<div class="row">
										<div class="col-xs-11" style="text-align:center;">
											<label class="normal-lbl">NPS = %Promotores - %Detractores</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-7">
				<div id="lines-graph" style="width: 100%;"></div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-4">
			<label class="normal-lbl">Tipo de encuesta:</label>
            <select class="form-control input-sm required" name="surveyType" id="csi-type">
                <option>Seleccionar tipo</option>
                 #{list items: surveyTypes, as: 'type'}
                	 <option value="${type.id}">${type.desc}</option>
                 #{/list}
            </select>
            <div>
            	<br>
            	#{secure.check "reportecsi/download"}            	
            	<div class="form-group">
					<button class="btn btn-info" id="btnDownloadBD">
						<span class="glyphicon glyphicon-download-alt"></span>
						Descargar BD
					</button>
				</div>
				#{/secure.check}
            </div>
		</div>
        <div class="col-xs-3" id="btn-surveys-name" style="display: none;">
	        <div class="form-group">
	            <div class="dropdown surveys-name-dropdown" id="btn-encuestas">

	                <label class="blue-title" for="menu-filter-survey-name-lst">Encuestas</label>
	                <select id="menu-filter-survey-name-lst" class="form-control">
	                </select>
	                <div class="row">
	                	<button id="clean-filter-surveys" class="btn btn-primary dropdown-toggle btn-side-nps" type="button" onclick="javascript:filtersAPI.cleanySurveyFilter();">X (Limpiar Encuestas)</button>
	                </div>
	            </div>
	        </div>
	    </div>
		<div class="col-xs-5" id="menu-date-filter">
            <label class="blue-title" for="menu-filter-date-lst">Fechas</label>     
                <ul  id="menu-filter-date-lst">
                    <li class="li-nps-menu">
                        <div id="tabs-dates">
                            <div data-tab-title="Trimestral" style="padding: 0px 20px 0px 20px">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label class="normal-lbl">Año:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input class="form-control date-input" id="date-year" value="${session.get(session.id + '-filter-date-quarter-year')?: ''}">
                                        </div>
                                    </div>
                                </div>
                                <div class="btns-trim">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-3"	>
                                                <button class="btn btn-xs btn-primary btn-long" id="filter-date-quarter-Q1" onclick="javascript:filtersAPI.changeQuarter('Q1')">
                                                    Ene - Mar
                                                </button>
                                            </div>
                                            <div class="col-xs-3">
                                                <button class="btn btn-xs btn-default btn-long" id="filter-date-quarter-Q2" onclick="javascript:filtersAPI.changeQuarter('Q2')">
                                                    Abr - Jun
                                                </button>
                                            </div>
                                            <div class="col-xs-3">
                                                <button class="btn btn-xs btn-default btn-long" id="filter-date-quarter-Q3" onclick="javascript:filtersAPI.changeQuarter('Q3')">
                                                    Jul - Sep
                                                </button>
                                            </div>
                                            <div class="col-xs-3">
                                                <button class="btn btn-xs btn-default btn-long" id="filter-date-quarter-Q4" onclick="javascript:filtersAPI.changeQuarter('Q4')">
                                                    Oct - Dic
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-tab-title="Mensual">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="normal-lbl">Año y mes:</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input class="form-control date-input" id="date-and-month"  value="${session.get(session.id + '-filter-date-monthly-month')?: ''}">
                                    </div>
                                </div>
                            </div>
                            <div data-tab-title="Periodo">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label class="normal-lbl">Del:</label>
                                        <input type="text" class="form-control date-input" id="date-from" value="${session.get(session.id + '-filter-date-period-from')?: ''}">
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="normal-lbl">Al:</label>
                                        <input type="text" class="form-control date-input" id="date-to" value="${session.get(session.id + '-filter-date-period-to')?: ''}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <button class="btn btn-success pull-right" id="apply-date" >Aplicar Filtro</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            <div class="row">
            	<button id="clean-filter-dates"  class="btn btn-primary dropdown-toggle btn-side-nps" type="button" onclick="javascript:filtersAPI.cleanDateFilter();">X (Limpiar Fechas)</button>
            </div>
        </div>
	</div>
	
	<!--div class="row">
		<div class="form-group">
			<div class="col-xs-7">
				<label class="normal-lbl pull-right">Evaluados</label>
			</div>
		</div>
	</div>

	<div class="rot90">
		<label class="normal-lbl pull-right">Evaluadores</label>
	</div-->
	
	<div class="row">
		<div class="form-group">
			<div class="col-xs-3" id="select-corp-adress">
				<label class="blue-title" for="csi-corp-address">Dirección Corporativa</label>
                <select id="csi-corp-address" name="csicorpaddress" class="form-control" autocomplete="off">
                    <option value="">Selecciona una Opción</option>
                </select>	
			</div>
			<div class="col-xs-2" id="select-adress">
				<label class="blue-title" for="csi-address">Dirección</label>
                <select id="csi-address" name="csiaddress" class="form-control" autocomplete="off">
                    <option value="">Selecciona una Opción</option>
                </select>	
			</div>
			<div class="col-xs-2" id="select-world">
				<label class="blue-title" for="csi-world">Gerencia / Mundo</label>
                <select id="csi-world" name="csiworld" class="form-control" autocomplete="off">
                    <option value="">Selecciona una Opción</option>
                </select>	
			</div>
			<div class="col-xs-3" id="select-section">
				<label class="blue-title" for="csi-section">Comprador / Coordinador</label>
                <select id="csi-section" name="csisection" class="form-control" autocomplete="off">
                    <option value="">Selecciona una Opción</option>
                </select>	
			</div>
			<div class="col-xs-2" id="select-area">
				<label class="blue-title" for="csi-area">Evaluado</label>
                <select id="csi-area" name="csiarea" class="form-control" autocomplete="off">
                    <option value="">Selecciona una Opción</option>
                </select>	
			</div>	
		</div>
	</div>

	<div class="separator"></div>

	<div class="row" id="principal-table">
		<div class="form-group">
			<div class="col-xs-12">
				<table id="table-results" class="results-table">
					<thead>
						<tr>
							<th>&nbsp;&nbsp;#</th>
							<th>Área evaluada</th>
							<th>Calificación CSI</th>
							<th>Zona 1A</th>
							<th>Zona 1B</th>
							<th>Zona 2</th>
							<th>Zona 3</th>
							<th>Zona 4</th>
							<th>Zona 5</th>
							<th>Zona 6</th>
							<th>Zona 7</th>
							<th>Zona 8</th>
							<th>Zona Boutiques</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="separator"></div>
	
	<div class="row">
		<div class="form-group">
			<div class='col-xs-12'> 
				<button class='btn btn-info pull-right' onclick="printResults()">Imprimir</button>
				<button class='btn btn-info pull-right' id='copy'>Copiar</button>
				<button class='btn btn-primary pull-right' id="download" title='Descargar'>
					<span class='glyphicon glyphicon-download-alt'></span>  Descargar
				</button>
			</div>
		</div>
	</div>
	
	<div class="row" id="table-general">
		<div class="form-group">
			<div class="col-xs-12">
				<table id="table-results-detail" class="results-table">
					<thead>
						<tr>
							<th>&nbsp;&nbsp;#</th>
							<th id="result-header">Gerencia / Mundo</th>
							<th>Calificación CSI</th>
							<th>Detractrores</th>
							<th>Neutros</th>
 							<th>Promotores</th> 
<!-- 							<th>P1 Servicio</th> -->
<!-- 							<th>P2 Recomendación</th> -->
<!-- 							<th>P3 Comentarios</th> -->
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row" id="corp-areas">
		<div class="form-group">
			<div class="col-xs-12">
				<table class="liverpool-table" id="corp-areas-table">
					<thead>
						<tr>
							<th>Áreas</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div id="mdl-comments" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade"></div>
<!--
-->
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts-more.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/solid-gauge.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/tables.js'}"></script>
<script type="text/javascript" src="${play.Play.ctxPath}/static/assets/js/liverpool/csi/csi-graph.js"></script>
<script type="text/javascript" src="${play.Play.ctxPath}/static/assets/js/liverpool/csi/csi-filters.js"></script>
<script type="text/javascript" src="${play.Play.ctxPath}/static/assets/js/liverpool/csi/csi-results.js"></script>
<script type="text/javascript" src="${play.Play.ctxPath}/static/assets/js/liverpool/csi/csi-comments.js"></script>