<div class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-12">
            <label class="normal-lbl">Número de empleado</label>
            <input required type="text" class="form-control" id="employee-number">
        </div>
    </div>
    <div class="inner-message" id="message"></div>
</div>