#{extends 'Layout/default.html' /}
#{set title: 'Envío de Correos' /}
#{set location: 'Envío de Correos' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/circle.css'}" />

<div class="form-horizontal">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="form-group">
                <div class="col-xs-12 col-md-12">
                    <button class="btn btn-success" id ="uploadLayout">
                        <span class="glyphicon glyphicon-upload"></span> Cargar Layout
                    </button>
                    <button class="btn btn-primary" id ="downloadLayout">
                        <span class="glyphicon glyphicon-download"></span> Descargar Layout
                    </button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Navegar</button>
                        </span>
                    </div>
                </div>
            </div>

            <hr>

            <div class="form-group">
                <div class="col-xs-12 col-md-8">
                    <select class="form-control">
                        <option value="-1">Seleccione una opción</option>
                        <option value="1">Encuesta 1</option>
                        <option value="2">Encuesta 2</option>
                        <option value="3">Encuesta 3</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-md-4">
                    <label class="normal-lbl">De:</label>
                    <input type="text" class="form-control" id="date-from-email-nps">
                </div>
                <div class="col-xs-12 col-md-4">
                    <label class="normal-lbl">Hasta:</label>
                    <input type="text" class="form-control" id="date-to-email-nps">
                </div>
            </div>

            <hr>

            <div class="form-group">
                <div class="col-xs-12 col-md-12">                    
                    <button class="btn btn-primary" id="email-sales">
                        <span class="glyphicon glyphicon-envelope"></span> Email Vendedores
                    </button>
                    <button class="btn btn-primary" id="email-chief">
                        <span class="glyphicon glyphicon-envelope"></span> Email Jefes
                    </button>
                    <button class="btn btn-primary" id="email-manager">
                        <span class="glyphicon glyphicon-envelope"></span> Email Gerentes
                    </button>
                    <button class="btn btn-primary" id="email-director">
                        <span class="glyphicon glyphicon-envelope"></span> Email Directores
                    </button>                    
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-md-12">
                	<button class="btn btn-primary" id="email-zone-boss">
                        <span class="glyphicon glyphicon-envelope"></span> Email Zonal
                    </button>
                    <button class="btn btn-primary" id="email-operations">
                        <span class="glyphicon glyphicon-envelope"></span> Email Operaciones
                    </button> 
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mdl-upload-layout" aria-hidden="true" role="dialog" data-backdrop="static" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
	        <div class="modal-header">
	            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
	            <span id="modal-title" class="modal-title">
	                Cargar Layout
	            </span>
	        </div>
	        <form id="mail-create-form" method="POST" enctype="multipart/form-data">
		        <div class="modal-body" id="modal-body">
		            <div class="inner-message"></div>    
	        		<div class="form-group">
	       				<div class="col-md-12" style="margin: 10px; padding-left: 2px;">			    
		    				<input type="file" id="npsFile" name="npsFile"  class="filestyle" data-buttonName="btn-primary" data-buttonText="Seleccionar Archivo" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
						</div>
					</div>
		   		</div>
		        <div class="modal-footer" id="modal-footer" style="cursor: move;">
		        	<input type="submit" onclick="return validateUpload();" class="btn btn-success" value="Aceptar" />
		          	<!-- <button type="submit" class="btn btn-success" id="save">Aceptar</button> -->
		            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
		        </div>
			</form>
        </div>
    </div>
</div>

<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts-more.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/solid-gauge.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/emailSendingNPS.js'}"></script> 
<script type="text/javascript" src="@{'/public/assets/js/liverpool/bootstrap-filestyle.min.js'}"></script>
<script type="text/javascript">

$(document).ready(function() {
	$('#downloadLayout').click(function () {
		location.href = '@{EmailSendingNPS.downloadLayout()}'
	});
	
	$('#email-sales').click(function () {
	
		 $.ajax({    	
	        url: '@{EmailSendingNPS.sendMailSalesMan()}',
	        type: 'POST',//'POST',
	        contentType: false,
	        cache: false,
	        processData: false,
	        success: function (response) {	
	        
	        	console.log('response: ' + response);	
	        	
	        },
	        beforeSend: function () {
	        	Liverpool.loading("show");
	        },
	        complete: function () {
	        	
	        	Liverpool.loading("hide");
	        }
	        
	    });
	
	});
	
	$('#email-chief').click(function () {
	
		 $.ajax({    	
	        url: '@{EmailSendingNPS.sendMailHeadEvaluated()}',
	        type: 'POST',//'POST',
	        contentType: false,
	        cache: false,
	        processData: false,
	        success: function (response) {	
	        
	        	console.log('response: ' + response);	
	        	
	        },
	        beforeSend: function () {
	        	Liverpool.loading("show");
	        },
	        complete: function () {
	        	
	        	Liverpool.loading("hide");
	        }
	        
	    });
	
	});
	
	$('#email-manager').click(function () {
	
		 $.ajax({    	
	        url: '@{EmailSendingNPS.sendMailManager()}',
	        type: 'POST',//'POST',
	        contentType: false,
	        cache: false,
	        processData: false,
	        success: function (response) {	
	        
	        	console.log('response: ' + response);	
	        	
	        },
	        beforeSend: function () {
	        	Liverpool.loading("show");
	        },
	        complete: function () {
	        	
	        	Liverpool.loading("hide");
	        }
	        
	    });
	
	});
	
	$('#email-director').click(function () {
	
		 $.ajax({    	
	        url: '@{EmailSendingNPS.sendMailDirector()}',
	        type: 'POST',//'POST',
	        contentType: false,
	        cache: false,
	        processData: false,
	        success: function (response) {	
	        
	        	console.log('response: ' + response);	
	        	
	        },
	        beforeSend: function () {
	        	Liverpool.loading("show");
	        },
	        complete: function () {
	        	
	        	Liverpool.loading("hide");
	        }
	        
	    });
	
	});
	
	$('#email-zone-boss').click(function () {
	
		 $.ajax({    	
	        url: '@{EmailSendingNPS.sendMailZoneBoss()}',
	        type: 'POST',//'POST',
	        contentType: false,
	        cache: false,
	        processData: false,
	        success: function (response) {	
	        
	        	console.log('response: ' + response);	
	        	
	        },
	        beforeSend: function () {
	        	Liverpool.loading("show");
	        },
	        complete: function () {
	        	
	        	Liverpool.loading("hide");
	        }
	        
	    });
	
	});
	
	$('#email-operations').click(function () {
	
		 $.ajax({    	
	        url: '@{EmailSendingNPS.sendMailOperations()}',
	        type: 'POST',//'POST',
	        contentType: false,
	        cache: false,
	        processData: false,
	        success: function (response) {	
	        
	        	console.log('response: ' + response);	
	        	
	        },
	        beforeSend: function () {
	        	Liverpool.loading("show");
	        },
	        complete: function () {
	        	
	        	Liverpool.loading("hide");
	        }
	        
	    });
	
	});
		
});


</script>
