#{extends 'Layout/default.html' /}
#{set title: 'Metas y contactación' /}
#{set location: 'Metas y contactación' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />

<div class="form-horizontal">
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="col-xs-2">
                    <select class="form-control">
                        <option>Áreas</option>
                        <option>Área 1 </option>
                        <option>Área 2</option>
                        <option>Área 3</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-primary col-xs-12" id="btn-graph">Gráfica</button>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-success col-xs-12">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="charts-row">
        <div class="form-group">
            <div class="col-xs-5">
                <div id="donut-chart"></div>
            </div>
            <div class="col-xs-7">
                <div id="bars-chart"></div>
            </div>
        </div>
    </div>

    <div class="row" id="table-row">
        <div class="form-group">
            <div class="col-xs-12">
                <table id="table-zones" class="liverpool-table" style="table-layout: fixed;">
                    <thead>
                        <tr>
                            <th rowspan="2">Zona</th>
                            <th colspan="4">Ventas</th>
                            <th colspan="4">Seguros</th>
                            <th colspan="4">Restaurante</th>
                        </tr>
                        <tr>
                            <th>Meta</th>
                            <th>Recibidos</th>
                            <th>Efectivas</th>
                            <th>% de Efectivas</th>
                            <th>Meta</th>
                            <th>Recibidos</th>
                            <th>Efectivas</th>
                            <th>% de Efectivas</th>
                            <th>Meta</th>
                            <th>Recibidos</th>
                            <th>Efectivas</th>
                            <th>% de Efectivas</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts-more.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/solid-gauge.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#nav-environment").hide();
        $("#nav-nps").show();
        $("#side-bar-nps").show();

        var showingGraph = false;

        var zones = [];

        for(var i = 0; i < 32; i++) {
            zones.push({
                name: "Zona " + (i + 1),
                goalSale: Math.floor(Math.random() * 300) + 50,
                receivedSale: Math.floor(Math.random() * 500) + 50,
                effectiveSale: Math.floor(Math.random() * 500) + 50,
                effectivePercentageSale: Math.floor(Math.random() * 50) + 50,
                goalInsurance: Math.floor(Math.random() * 300) + 50,
                receivedInsurance: Math.floor(Math.random() * 500) + 50,
                effectiveInsurance: Math.floor(Math.random() * 500) + 50,
                effectivePercentageInsurance: Math.floor(Math.random() * 50) + 50,
                goalRestaurant: Math.floor(Math.random() * 300) + 50,
                receivedRestaurant: Math.floor(Math.random() * 500) + 50,
                effectiveRestaurant: Math.floor(Math.random() * 500) + 50,
                effectivePercentageRestaurant: Math.floor(Math.random() * 50) + 50
            });
        }

        for(var i = 0; i < zones.length; i++) {
            var z = zones[i];

            $("#table-zones tbody").append(
                "<tr>" +
                    "<td>" +
                        z.name +
                    "</td>" +
                    "<td>" +
                        z.goalSale +
                    "</td>" +
                    "<td>" +
                        z.receivedSale +
                    "</td>" +
                    "<td>" +
                        z.effectiveSale +
                    "</td>" +
                    "<td>" +
                        z.effectivePercentageSale + "%" +
                    "</td>" +
                    "<td>" +
                        z.goalInsurance +
                    "</td>" +
                    "<td>" +
                        z.receivedInsurance +
                    "</td>" +
                    "<td>" +
                        z.effectiveInsurance +
                    "</td>" +
                    "<td>" +
                        z.effectivePercentageInsurance + "%" +
                    "</td>" +
                    "<td>" +
                        z.goalRestaurant +
                    "</td>" +
                    "<td>" +
                        z.receivedRestaurant +
                    "</td>" +
                    "<td>" +
                        z.effectiveRestaurant +
                    "</td>" +
                    "<td>" +
                        z.effectivePercentageRestaurant + "%" +
                    "</td>" +
                "</tr>"
            );
        }

        ut.init("table-zones", {
            tableStyling: false,
            disableSearch: true,
            pageSize: 10
        })

        // Donut chart:
        Highcharts.chart('donut-chart', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Avance Nacional'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            legend: {
                align: "right",
                verticalAlign: "middle",
                layout: "vertical"
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: "{point.percentage:.0f}%"
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: "pie",
                innerSize: "50%",
                size: "60%",
                name: 'Brands',
                colorByPoint: true,
                data: [{
                    name: 'Recibidos',
                    y: 25
                }, {
                    name: 'Meta',
                    y: 20
                }, {
                    name: 'Efectivas',
                    y: 55
                }]
            }]
        });

        Highcharts.chart('bars-chart', {
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: ''
            },
            xAxis: [{
                categories: ["1A", "1B", "2", "3", "4", "5", "6", "7", "8"],
                crosshair: true
            }],
            yAxis: [{ // Primary yAxis
                min: 0,
                max: 300,
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                title: {
                    text: 'Registros / Muestra',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                }
            }, { // Secondary yAxis
                min: 0,
                max: 300,
                title: {
                    text: 'Encuestas / Registros'
                },
                labels: {
                    format: '{value} mm'
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            legend: {
                enabled: true
            },
            series: [{
                name: 'Registros Recibidos / Muestra Requerida',
                type: 'column',
                yAxis: 1,
                data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
                tooltip: {
                    valueSuffix: ''
                }

            }, {
                name: 'Encuestas / Registros Recibidos',
                type: 'spline',
                data: [49.9, 71.5, 43.4, 129.2, 144.0, 176.0, 70.6, 148.5, 216.4, 194.1, 95.6, 54.4],
                tooltip: {
                    valueSuffix: ''
                }
            }]
        });

        $("#charts-row").hide();

        $("#btn-graph").click(function() {
            var btn = $(this);

            if(showingGraph) {
                showingGraph = false
                btn.html("Gráfica");

                $("#charts-row").hide();
                $("#table-row").fadeIn(100);
            } else {
                showingGraph = true
                btn.html("Volver a tabla");

                $("#table-row").hide();
                $("#charts-row").fadeIn(100);
            }
        });
    });
</script>