#{extends 'Layout/default.html' /}
#{set title: 'Categorización General' /}
#{set location: 'Categorización General' /}

<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/nps.css'}" />

<div class="row">
	<div class="form-group">
        <div class="col-xs-12">
    		<div class="col-xs-12 col-md-4">
    			<div class="col-xs-3">
    				<label class="normal-lbl">Tipo:</label>
    			</div>
    			<div class="col-xs-9">
                	<select class="form-control">
                		<option>Seleccione una opción</option>
                		<option>Quejas</option>
                		<option>Felicitacione</option>
                        <option>Sugerencias</option>
                	</select>
    			</div>
            </div>
            <div class="col-xs-12 col-md-4">
    			<div class="col-xs-3">
    				<label class="normal-lbl">Área:</label>
    			</div>
    			<div class="col-xs-9">
                	<select class="form-control">
                		<option>Seleccione una opción</option>
                		<option>Area 1</option>
                		<option>Area 2</option>
                		<option>Area 3</option>
                	</select>
    			</div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="col-xs-3">
                    <label class="normal-lbl">Práctica:</label>
                </div>
                <div class="col-xs-9">
                    <select class="form-control" id="select-practice">
                        <option value="-1">Seleccione una opción</option>
                        <option>Opción 1</option>
                        <option>Opción 2</option>
                        <option>Opción 3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="form-group">
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-5">
                <div class="col-xs-6">
                    <button id="btn-show-general" class="btn btn-primary">Categorización General</button>
                </div>
                <div class="col-xs-6">
                    <button id="btn-show-complaints" class="btn btn-primary">Quejas</button>
                </div>
            </div>
            <div class="col-xs-12 col-md-2">
            </div>
            <div class="col-xs-12 col-md-5" id="div-sub-practice" style="display: none;">
                <div class="col-xs-5">
                    <label class="normal-lbl pull-right">Sub-práctica:</label>
                </div>
                <div class="col-xs-7">
                    <select class="form-control">
                        <option>Seleccione una opción</option>
                        <option>Opción 1</option>
                        <option>Opción 2</option>
                        <option>Opción 3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
	<div class="form-group">
		<div class="col-xs-12">
			<label class="normal-lbl pull-right">Encuestas efectivas: 49540</label>
		</div>
	</div>
</div>

<br>

<div id="div-pie-general" style="display: none;">
	<div class="row">
		<button class="btn btn-info btn-back-to-table" style="margin-left: 13px; margin-bottom: 10px;">Volver a tabla</button>
	</div>
	<div class="row">
		<div class="col-xs-12" id="pie-general"></div>
	</div>
</div>

<div id="div-pie-complaints" style="display: none;">
	<div class="row">
		<button class="btn btn-info btn-back-to-table" style="margin-left: 13px; margin-bottom: 12px;">Volver a tabla</button>
	</div>
	<div class="row">
		<div class="col-xs-12" id="pie-complaints"></div>
	</div>
</div>

<div id="div-questinos-table">
	<div class="row">
		<div class="form-group">
            <div class="col-xs-12">
    			<div class="col-xs-12">
    				<table class="liverpool-table" id=questions-table>
    					<thead>
    						<tr>
    							<th>Tipo</th>
    							<th>Zona</th>
    							<th>Área</th>
    							<th>Sección</th>
    						</tr>
    					</thead>
    					<tbody></tbody>
    				</table>
    			</div>
            </div>
		</div>
	</div>
</div>

<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/highcharts-more.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/components/highcharts/solid-gauge.js'}"></script>
<script type="text/javascript" src="@{'/public/assets/js/liverpool/nps-filters.js'}"></script>
<script type="text/javascript">
	var types = [
		"Queja",
		"Sugerencia",
		"Felicitación"
	];

	$(document).ready(function() {
		$("#nav-environment").hide();
		$("#nav-nps").show();
		$("#side-bar-nps").show();

		for(var i = 0; i < 14; i++) {
			$("#questions-table tbody").append(
				"<tr>" +
					"<td>" +
						types[Math.floor(Math.random() * types.length)] +
					"</td>" +
					"<td>" +
						"Zona" + (i + 1) +
					"</td>" +
					"<td>" +
						"Área" + (i + 1) +
					"</td>" +
					"<td>" +
						"Sección" + (i + 1) +
					"</td>" +
				"</tr>"
			);
		}

		ut.init("questions-table", {
			disableSearch: true,
			tableStyling: false,
			pageSize: 3
		});

		var pieGeneral = Highcharts.chart('pie-general', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Categorización General'
            },
            tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b>'
            },
            legend: {
            	align: "left",
            	layout: "vertical",
            	verticalAlign: "center",
                labelFormat: "{name}: {percentage}%"
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}',
	                    style: {
	                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
	                    }
	               	},
                    showInLegend: true
                }
            },
            series: [{
                name: 'Categoría',
                colorByPoint: true,
                data: [{
                    name: 'Sin comentarios',
                    y: 20
                },{
                    name: 'Quejas',
                    y: 20
                },{
                    name: 'Felicitación',
                    y: 10
                },{
                    name: 'Sugerencias',
                    y: 50
                },]
            }]
        });

        var pieComplaints = Highcharts.chart('pie-complaints', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Quejas'
            },
            tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.percentage:.1f} %',
	                    style: {
	                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
	                    }
	               	},
                    showInLegend: true
                }
            },
            legend: {
            	align: "left",
            	layout: "vertical",
            	verticalAlign: "center"
            },
            series: [{
                name: 'Categoría',
                colorByPoint: true,
                data: [{
                    name: 'Capacitación del personal',
                    y: 5
                },{
                    name: 'Conocimiento del personal',
                    y: 2
                },{
                    name: 'Error en la entrega',
                    y: 6
                },{
                    name: 'Falta de personal',
                    y: 5
                },{
                    name: 'Navegabilidad',
                    y: 2
                },{
                    name: 'Notificaciones',
                    y: 10
                },{
                    name: 'Otros',
                    y: 15
                },{
                    name: 'Proceso',
                    y: 5
                },{
                    name: 'Promociones y forma de pago',
                    y: 30
                },{
                    name: 'Servicio del asesor',
                    y: 10
                },{
                    name: 'Tiempo de espera de arribo de mercancía',
                    y: 4
                },{
                    name: 'Tiempo de espera en el módulo',
                    y: 4
                },{
                    name: 'Unicación del módulo',
                    y: 2
                }]
            }]
        });

        $("#btn-show-general").click(function() {
        	$("#div-questinos-table").hide();
        	$("#div-pie-complaints").hide();

        	$("#div-pie-general").fadeIn(200);
        });

        $("#btn-show-complaints").click(function() {
        	$("#div-questinos-table").hide();
        	$("#div-pie-general").hide();
        	
        	$("#div-pie-complaints").fadeIn(200);
        });

        $(".btn-back-to-table").click(function() {
        	$("#div-pie-complaints").hide();
        	$("#div-pie-general").hide();

        	$("#div-questinos-table").fadeIn(200);
        });

        $("#select-practice").change(function() {
            var v = $(this).val();

            if(v == -1) {
                $("#div-sub-practice").fadeOut(200);
            } else {
                $("#div-sub-practice").fadeIn(200);
            }
        });
	});
</script>